<div class=' py-3 main-popup' style='width: 300px'>
  <div class='h4'>
    Thêm loại trứng
  </div>
  <form [formGroup]='formGroup' class='mt-2' (submit)='onSubmit()'>
    <div class='form-group'>
      <div class='row'>
        <div class='col-sm'>
          <label for='eggType'>Loại trứng<span class='star'>*</span></label>
          <mat-select class='form-control' id='eggType' formControlName='eggType'
                      [ngClass]="{ 'is-invalid': submitted && checkValid.eggType.errors }">
            <mat-option *ngFor='let item of eggType$ | async' [value]='item?.id'>
              {{item?.name}}
            </mat-option>
          </mat-select>
          <div *ngIf='submitted && checkValid.eggType.errors?.required' class='invalid-feedback'>
            <div>Chưa chọn loại trứng</div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm'>
          <label for='amount'>Số lượng trứng<span class='star'>*</span></label>
          <input type='number' class='form-control' id='amount' formControlName='amount'
                 [ngClass]="{ 'is-invalid': submitted && checkValid.amount.errors }">
          <div *ngIf='submitted && checkValid.amount.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập số lượng trứng</div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm'>
        <label for='createdAt'>Ngày tạo<span class='star'>*</span>
        </label>
        <input type='date' class='form-control' id='createdAt' formControlName='createdAt'
               [ngClass]="{ 'is-invalid': submitted && checkValid.createdAt.errors }">
        <div *ngIf='submitted && checkValid.createdAt.errors?.required' class='invalid-feedback'>
          <div>Chưa chọn ngày</div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm'>
        <label for='createdAt'>Đơn vị<span class='star'>*</span>
        </label>
        <input class='form-control' type='search' matInput formControlName='branch' [matAutocomplete]='branch'
               #branchInput>
        <mat-autocomplete #branch='matAutocomplete'>
          <mat-option *ngFor='let branch of branches$ | async'
                      [value]='!branch.id ? branchInput.value : branch.name'
                      (onSelectionChange)='onSelectBranch(branch)'>
            {{branch.name}}
          </mat-option>
        </mat-autocomplete>
        <div *ngIf='submitted && checkValid.branch.errors?.required' class='invalid-feedback'>
          <div>Chưa chọn đơn vị</div>
        </div>
      </div>
    </div>
    <div class='footer-popup row ml-2 mt-3'>
      <button class='btn btn-cancel mr-3' mat-dialog-close>Hủy</button>
      <button type='submit' class='btn btn-ok '>Lưu</button>
    </div>
  </form>
</div>
