<div class='px-3 pt-1 grid_on header  shadow-sm'>
  <div class=' py-2'>
    <div class='row'>
      <div class='d-flex col-md-7 col-xm-12 '>
        <div class='col-md-4   d-flex align-items-center'>
          <div class='col-md-1 col-xm-1  d-flex align-items-center justify-content-center'>
            <img src='/assets/icon/warehouse-layout/grid-3x3-gap-fill.svg' alt='app'>
          </div>
          <span class='col-md-11 col-xm-11 app-name font-xl font-weight-bold'>Kho hàng</span>
        </div>
      </div>
      <div class=' col-md-5 col-xm-12   d-flex justify-content-end'>
        <button class="mr-2" mat-button [matMenuTriggerFor]="menu">
          <img height='20px btn' src='/assets/icon/warehouse-layout/gear.svg' alt='gear'>
          Thiết lập
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['he-thong/quan-ly-tai-khoan']">Quản lý tài khoản</button>
          <button mat-menu-item>Quản lý nhà cung cấp</button>
          <button mat-menu-item>Quản lý chi nhánh</button>
        </mat-menu>
        <button type='button' data-toggle='tooltip' data-placement='bottom' title='Facebook'
                class='col-md-1 col-xm-2 mr-2 btn d-flex align-items-center justify-content-center'>
          <a href='https://www.facebook.com/GatachonlocMinhDuBinhDinh' target='_blank'>
            <img height='20px btn' src='/assets/icon/warehouse-layout/facebook.svg' alt='facebook'></a>
        </button>
        <button *ngIf='role === roleEnum.ADMIN' (click)='signUp()' type='button' data-toggle='tooltip'
                data-placement='bottom' title='Tạo tài khoản'
                class='col-md-1 col-xm-2 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='./assets/icon/warehouse-layout/person-plus.svg' alt='create'>
        </button>
        <button (click)='logout()' type='button' data-toggle='tooltip' data-placement='bottom' title='Đăng xuất'
                class='col-md-1 col-xm-2 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='./assets/icon/warehouse-layout/box-arrow-right.svg' alt='setting'>
        </button>
      </div>
    </div>
  </div>
  <div class=' mt-2 ml-2 row hide-on-mobile '>
    <button class='ml-2' *ngFor='let item of menuWarehouse' routerLink='{{item.href}}' routerLinkActive='active'
            mat-button>
      <img class='m-1' src='{{item.icon}}' alt='{{item.state}}'>
      {{item.name}}
    </button>
  </div>
</div>
<div style='margin: 100px 0 0; overflow: auto'>
  <router-outlet>
  </router-outlet>
</div>
<app-footer class='footer'>
  <span><a href='https://dratech-solutions.com/' target='_blank'>Dratech Solutions</a> &copy; 2021.</span>
  <span class='ml-auto'>Powered by <a href='https://dratech-solutions.com/' target='_blank'>Công ty TNHH giải pháp phần
      mềm Dratech</a></span>
</app-footer>
