<div class='main-profile'>
  <button (click)='add()' class='btn btn-primary'>Thêm nhân viên</button>
  <div class='header-profile mt-3 animated fadeIn'>
    <div class='border-start title-header default'>
      <div class='title-profile'>Mã nhân Viên</div>
      <input class='form-control input-profile ' type='search' placeholder='PN10001'>
    </div>
    <div class='border-start title-header name'>
      <div class='title-profile'>Tên nhân viên</div>
      <input class='form-control input-profile ' type='search' placeholder='Trần Gia Hiệu'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày sinh</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header gender'>
      <div class='title-profile'>Giới tính</div>
      <select class='select' matNativeControl required>
        <option value='MALE'>Nam</option>
        <option value='FEMALE'>Nữ</option>
        <option value='OTHER'>Khác</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày vào làm</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Loại lương</div>
      <select class='select' matNativeControl required>
        <option value='MALE'>Lương cố định</option>
        <option value='FEMALE'>Lương không cố định</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Số điện thoại</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Đơn vị</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Bộ phận</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Chức vụ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>CMND / CCCD</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header address'>
      <div class='title-profile'>Địa chỉ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header note'>
      <div class='title-profile'>Chú thích</div>
      <input class='form-control input-profile ' type='search'>
    </div>
  </div>
  <div class='outer  animated fadeIn'
       infiniteScroll
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='100'
       [scrollWindow]='false'
       (scrolled)='onScroll()'
       *ngIf='(employees$| async) as employees' >
    <div class='row-content' *ngFor='let employee of employees' (click)='readAndUpdate(employee)' (contextmenu)='child.onContextMenu($event, employee)'>
      <app-mouse-right #child (addEvent)='add()' (deleteEvent)='delete($event)'
                       (readAndUpdateEvent)='readAndUpdate($event)'></app-mouse-right>
      <div class='content-profile default pointer '> {{employee?.code}}</div>
      <div class='content-profile name  pointer'>{{employee?.firstName}} {{employee?.lastName}}</div>
      <div class='content-profile default pointer '> {{employee?.birthday|date:'dd/MM/yyyy'}}</div>
      <div class='content-profile gender pointer '> {{
        employee.gender === 'MALE' ? 'Nam' :
          employee.gender === 'FEMALE' ? 'Nữ' :
            'Khác'
        }}</div>
      <div class='content-profile default pointer '>{{employee?.workedAt|date: 'dd/MM/yyyy'}}</div>
      <div class='content-profile default pointer '>{{employee?.isFlatSalary ? 'Lương cố định' : 'Lương không cố định'}}</div>
      <div class='content-profile default pointer '>{{employee?.phone}}</div>
      <div class='content-profile default pointer '>{{employee?.position?.department?.branch?.name}}</div>
      <div class='content-profile default pointer '> {{employee?.position?.department?.name}}</div>
      <div class='content-profile default pointer '> {{employee?.position?.name}}</div>
      <div class='content-profile default pointer '> {{employee?.identify}} </div>
      <div class='content-profile address pointer '> {{employee?.address}}</div>
      <div class='content-profile note pointer '> {{employee?.note}}</div>
    </div>
  </div>
</div>


