<div class="p-2 d-flex">
  <div class="d-flex flex-column mt-2" style="width: 18%">
    <div class="p-2 border" style="height: 75vh; background: white; overflow-y: scroll">
      <nz-collapse>
        <nz-collapse-panel
          nzHeader='Tìm kiếm'
          nzActive='true'>
          <div [formGroup]='formGroup'>
            <input nz-input class='form-control' type='search' formControlName='search'>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
      <nz-collapse class="mt-2">
        <nz-collapse-panel
          [formGroup]="formGroup"
          nzHeader='Trạng thái'
          nzActive='true'>
          <nz-select style="width: 100%" formControlName="status">
            <nz-option *ngFor="let item of branchStatusConstant" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div class="mt-4 px-2" style="width: 82%">
      <div class="font-weight-bold font-xl ml-2">Chi nhánh</div>
    <div class="ml-2 mt-2" style="width:100% ; overflow: auto ; height: 70vh;">
      <div class="d-flex justify-content-between align-items-center">
        <div><span class="font-weight-bold">Tổng chi nhánh : {{(branches$|async)?.length}}</span></div>
        <button nz-button nzType="primary" (click)="onAdd()">Thêm chi nhánh</button>
      </div>
      <nz-table
        class="mt-1"
        [nzLoading]="loading$|async"
        [nzData]="(branches$|async) || []"
        nzShowPagination="false"
        [nzScroll]="{x:'', y:'50vh'}"
        nzSize="small"
      >
        <thead>
        <tr>
          <th nzWidth="60px">
            STT
          </th>
          <th>
            Tên chi nhánh
          </th>
          <th>
            Địa chỉ
          </th>
          <th>
            Điện thoại
          </th>
          <th>
            số lượng người dùng
          </th>
          <th>
            Trạng thái
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let branch of branches$|async;let i = index" class="pointer"
            (contextmenu)='child.onContextMenu($event,branch)'>
          <td>
            {{i + 1}}
          </td>
          <td>
            {{branch.name}}
          </td>
          <td>
            {{branch?.address | existpipe}}
          </td>
          <td>
            {{branch?.phone | existpipe }}
          </td>
          <td>
            Đang phát triển
          </td>
          <td>
            {{branch.status ? 'Đang hoạt động' : 'Ngưng hoạt động'}}
          </td>
        </tr>

        </tbody>
      </nz-table>
    </div>
  </div>

</div>
<style>
  table thead td {
    background: white;
  }

  table tbody th div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
</style>
<app-mouse-right #child
                 (onAdd)='onAdd()'
                 (onDel)='onDelete($event)'
                 (onUpdate)='onUpdate($event)'>
</app-mouse-right>
