<div class='main-profile'>
  <button (click)='addAndUpdate()' class='btn btn-primary'>Thêm nhân viên</button>
  <div class='header-profile mt-3 animated fadeIn'>
    <div class='border-start title-header default'>
      <div class='title-profile'>Mã nhân Viên</div>
      <input class='form-control input-profile ' type='search' placeholder='PN10001'>
    </div>
    <div class='border-start title-header name'>
      <div class='title-profile'>Tên nhân viên</div>
      <input class='form-control input-profile ' type='search' placeholder='Trần Gia Hiệu'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày sinh</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header gender'>
      <div class='title-profile'>Giới tính</div>
      <select class='select-gender' matNativeControl required>
        <option value='MALE'>Nam</option>
        <option value='FEMALE'>Nữ</option>
        <option value='OTHER'>Khác</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày vào làm</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Loại lương</div>
      <select class='select-gender' matNativeControl required>
        <option value='MALE'>Lương cố định</option>
        <option value='FEMALE'>Lương không cố định</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Số điện thoại</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Đơn vị</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Bộ phận</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Chức vụ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>CMND / CCCD</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Bằng cấp</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header address'>
      <div class='title-profile'>Địa chỉ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header note'>
      <div class='title-profile'>Chú thích</div>
      <input class='form-control input-profile ' type='search'>
    </div>

  </div>
  <div class='outer  animated fadeIn'
       infiniteScroll
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='100'
       [scrollWindow]='false'
       (scrolled)='onScroll()'
       *ngIf='(employees$| async) as employees'>
    <div class='row-content' *ngFor='let employee of employees' (contextmenu)='onContextMenu($event,employee)'>
      <div class='content-profile default '> {{employee.id}} </div>
      <div class='content-profile name '> {{employee.name}}</div>
      <div class='content-profile default '> {{employee.birthday|date:'dd/MM/yyyy'}}</div>
      <div class='content-profile gender '> {{
        employee.gender === 'MALE' ? 'Nam' :
          employee.gender === 'FEMALE' ? 'Nữ' :
            'Khác'
        }}</div>
      <div class='content-profile default '>{{employee.workedAt|date: 'dd/MM/yyyy'}}</div>
      <div class='content-profile default '>{{employee.isFlatSalary ? 'Lương cố định' : 'Lương không cố định'}}</div>
      <div class='content-profile default '>{{employee.phone}}</div>
      <div class='content-profile default '>{{employee.branch}}</div>
      <div class='content-profile default '> {{employee.department}}</div>
      <div class='content-profile default '> {{employee.position}}</div>
      <div class='content-profile default '> {{employee.identify}} </div>
      <div class='content-profile default '>
        {{employee.certificate !== null ? employee.certificate : 'Chưa có thông tin'}}
      </div>
      <div class='content-profile address '> {{employee.address}}</div>
      <div class='content-profile note '> {{employee.note}}</div>
    </div>
  </div>

</div>

<div style='visibility: hidden; position: fixed'
     [style.left]='contextMenuPosition.x'
     [style.top]='contextMenuPosition.y'
     [matMenuTriggerFor]='contextMenu'>
</div>
<mat-menu #contextMenu='matMenu'>
  <ng-template matMenuContent let-item='item'>
    <button mat-menu-item (click)='addAndUpdate()'>Thêm</button>
    <button mat-menu-item (click)='delete(item.id)'>Xóa</button>
    <button mat-menu-item (click)='addAndUpdate(item , true)'>sửa</button>
  </ng-template>
</mat-menu>

