
<div class='main-customer container' style='overflow-x: hidden'>
  <div class='row h3 ml-3 mt-3'>Danh sách hàng hóa</div>
  <div class='main-profile'>
    <button (click)='add()' class='btn btn-primary'>Thêm Hàng hóa</button>
    <div class='header-profile mt-3 animated fadeIn'>
      <div class='border-start title-header default'>
        <div class='title-profile'>Mã hang hóa</div>
        <input class='form-control input-profile ' type='search'>
      </div>
      <div class='border-start title-header address'>
        <div class='title-profile'>Tên Hàng hóa</div>
        <input class='form-control input-profile ' type='search' placeholder='Trần Gia Hiệu'>
      </div>

      <div class='border-start title-header default'>
        <div class='title-profile'>Đơn vị</div>
        <select  class='select d-flex justify-content-center' matNativeControl required>
          <option value='KG' class='d-flex justify-content-center'>kg</option>
          <option value='CON'>con</option>
          <option value=''>mặc định</option>
        </select>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Giá</div>
        <input class='form-control input-profile ' type='number'>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>amount</div>
        <input class='form-control input-profile ' type='search'>
      </div>
    </div>
    <div class='outer   animated fadeIn'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='100'
         [scrollWindow]='false'
         (scrolled)='onScroll()'>
<!--         *ngIf='(commodity$| async) as commodities'>-->

      <div class='row-content' *ngFor='let commodity of commodities'
           (contextmenu)='child.onContextMenu($event,commodity)' (click)='detailCommodity()'>
        <app-mouse-right #child (addEvent)='add()'
                         (deleteEvent)='deleteCommodity($event)'
                         ></app-mouse-right>
        <div class='content-profile default pointer '>{{commodity?.code}} </div>
        <div class='content-profile address pointer '>{{commodity?.name}} </div>
        <div class='content-profile default pointer ' *ngIf='commodity.unit === commodityUnit.KG '>Kilogam</div>
        <div class='content-profile default pointer ' *ngIf='commodity.unit === commodityUnit.CON '>con</div>
        <div class='content-profile default pointer '>{{commodity?.price}} </div>
        <div class='content-profile default pointer '>{{commodity?.amount}} </div>

      </div>


    </div>
  </div>
</div>


