@import '~@coreui/coreui-pro/scss/coreui';

body {
  margin: 0 !important;
  background: white !important;
}

$spinkit-spinner-color: $body-color;
@import 'apps/hr/src/scss/variables';
@import '~spinkit/scss/spinkit.scss';
@import 'apps/hr/src/scss/custom-table';
@import 'apps/hr/src/scss/autocomplete';

@import 'apps/hr/src/scss/custom';
.chart .chart-legend {
  position: absolute;
  bottom: 0px;
  left: 10px;
  max-width: 520px;
  overflow: hidden;
}
