  <div class='font-lg font-weight-bold my-2'>
    Đã chọn: {{salariesSelected.length}}/{{totalSalaryBasic$|async}}
  </div>
  <div class='table-scroll mt-2 position-relative'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='10'
       [scrollWindow]='false'
       (scrolled)='onScroll()'
  >
    <table matSort (matSortChange)="sortPayroll()" [formGroup]='formGroup' class='main-table' style='width: 2000px;'>
      <thead>
      <tr>
        <th>
          <div mat-sort-header="{{sortEnum.STT}}" class='border-top text-center'>stt</div>
          <input type='text' disabled>
        </th>
        <th>
          <div class='border-top text-center'>Mã phiếu lương</div>
          <input type='search' (keypress)='checkInputNumber($event)' class='form-control text-center'
                 formControlName='code'>
        </th>
        <th style='width: 250px'>
          <div class='border-top text-center'>
            <div mat-sort-header="{{sortEnum.NAME}}" class='d-flex justify-content-center' style='height: 100%'>
              <span>Tên nhân viên</span>
              <mat-select style='width: 100px; margin-left: 3px ' formControlName='searchType'>
                <mat-option *ngFor='let item of searchTypeConstant' [value]='item.value'>{{item.name}}</mat-option>
              </mat-select>
            </div>
          </div>
          <input class='form-control text-center' placeholder='Nhập tên nhân viên' type='search' formControlName='name'>
        </th>
        <th style='width: 120px ; z-index: 3'>
          <div class='border-top border-bottom d-flex justify-content-center align-items-center p-1'>
            <span *ngIf='salariesSelected.length === 0' class='mr-2'>Chọn</span>
            <div *ngIf='salariesSelected.length > 0' class='w-100 d-flex justify-content-between'>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='updateMultipleSalaryBasic()'
                      class=' btn btn-primary d-flex justify-content-center align-items-center '>
                Sửa
              </button>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='deleteMultipleSalaryBasic()'
                      class=' btn btn-danger d-flex justify-content-center align-items-center '>
                Xóa
              </button>
            </div>

          </div>
          <mat-checkbox class='example-margin mt-2 mx-auto'
                        [checked]='isSelectSalary'
                        [indeterminate]='someCompleteSalary()'
                        (change)='setAllSalary($event.checked)'>
          </mat-checkbox>
        </th>
        <th style='width: 200px'>
          <div mat-sort-header="{{sortEnum.POSITION}}" class='title-profile'>Chức vụ</div>
          <nz-select
            nzShowSearch
            nzAllowClear
            style='width:100%'
            formControlName='position'
            nzPlaceHolder='Chọn chức vụ'
            [compareWith]="compareFN"
          >
            <nz-option
              *ngFor='let position of positions$|async'
              [nzLabel]='position.name'
              [nzValue]='position'
            >
            </nz-option>
          </nz-select>
        </th>
        <th style='width: 250px'>
          <div mat-sort-header="{{sortEnum.BRANCH}}" class='title-profile'>Đơn vị</div>
          <input class='form-control' type='search' matInput disabled>
        </th>
        <th style='width: 220px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Tháng</div>
          <input type='month' class='form-control' formControlName='createdAt'>
        </th>
        <th style='min-width: 300px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Loại lương cơ bản</div>
          <mat-select class='border-top' formControlName='title'>
            <mat-option *ngFor='let item of salaryBasic' [value]='item.value'> {{item.title}}</mat-option>
          </mat-select>
          <!--        <input class='form-control' type='text' matInput-->
          <!--               formControlName='title'>-->
          <!--        <mat-autocomplete #templateOvertime='matAutocomplete'>-->
          <!--          <mat-option *ngFor='let template of templateBasic$ | async' [value]='template.title'-->
          <!--                      (onSelectionChange)='onSelectTemplateBasic($event, template.title)'>-->
          <!--            {{template.title}}-->
          <!--          </mat-option>-->
          <!--        </mat-autocomplete>-->
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Đơn vị tính</div>
          <input type='text' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Thành tiền</div>
          <input type='text' disabled>
        </th>
      </tr>
      </thead>
      <tbody *ngIf='(payrollBasic$|async) as payrollsBasic'>
      <tr  *ngIf='!(loaded$|async) else payrollBasicTemp'>
        <th colSpan="100">
          <ngx-skeleton-loader count='18' appearance='line'></ngx-skeleton-loader>
        </th>
      </tr>
      <ng-template #payrollBasicTemp>
        <tr *ngFor='let payrollBasic of payrollsBasic; let i = index'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            <div>
              {{i + 1}}
            </div>
          </th>
          <th class='pointer'
              (click)='readPayroll(payrollBasic)'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            <div>
              {{payrollBasic.payrollId}}
            </div>
          </th>
          <th class='pointer'
              (click)='readPayroll(payrollBasic)'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            <div>
              {{payrollBasic.employee.lastName}}
            </div>
          </th>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            <div class=' d-flex align-items-center justify-content-center pointer '
                 *ngFor='let item of payrollBasic.salaries|filterTypeSalary:["BASIC_INSURANCE","BASIC"]'>
              <mat-checkbox
                style="margin-top: 5px"
                [checked]='selectSalary(item)'
                (change)='updateSelectSalary({salary: item, employee: payrollBasic.employee})'>
              </mat-checkbox>
            </div>
          </th>
          <th style='width: 200px' class='pointer'
              (click)='readPayroll(payrollBasic)'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            <div>
              {{payrollBasic.employee.position?.name}}
            </div>
          </th>
          <th style='width: 200px' class='pointer'
              (click)='readPayroll(payrollBasic)'>
            <div>
              {{payrollBasic.employee.branch?.name}}
            </div>
          </th>
          <th class='pointer' style='width: 220px;'>
            <div class=' d-flex align-items-center justify-content-center pointer '
                 *ngFor='let item of payrollBasic.salaries|filterTypeSalary:["BASIC_INSURANCE","BASIC"]'
                 (contextmenu)='child.onContextMenu($event,item)'
                 (click)='readPayroll(payrollBasic)'>
              {{this.createdAt|date:'yyyy-MM'}}
            </div>
          </th>
          <th class='pointer' style='min-width: 300px;'>
            <div class=' d-flex align-items-center justify-content-center pointer'
                 *ngFor='let item of payrollBasic.salaries|filterTypeSalary:["BASIC_INSURANCE","BASIC"]'
                 (contextmenu)='child.onContextMenu($event,item)'
                 (click)='readPayroll(payrollBasic)'>
              {{item.title}}  {{ item.allowance ? '+ ' + item.allowance.title : '' }}
            </div>
          </th>
          <th class='pointer'>
            <div class=' d-flex align-items-center justify-content-center pointer'
                 *ngFor='let item of payrollBasic.salaries|filterTypeSalary:["BASIC_INSURANCE","BASIC"]'
                 (contextmenu)='child.onContextMenu($event,item)'
                 (click)='readPayroll(payrollBasic)'>
              {{item?.times}}
              {{
              item.unit === "HOUR" ? "Giờ" : "Ngày"
              }}
            </div>
          </th>
          <th class='pointer'>
            <div class=' d-flex align-items-center justify-content-center pointer'
                 *ngFor='let item of payrollBasic.salaries|filterTypeSalary:["BASIC_INSURANCE","BASIC"]'
                 (contextmenu)='child.onContextMenu($event,item)'
                 (click)='readPayroll(payrollBasic)'>
              {{item?.price ? (item.price|number:'1.0-0') : 0}}VND
              {{ item.allowance ? '+ ' + (item.allowance.price |number:'1.0-0') + 'VND' : '' }}
            </div>
          </th>
        </tr>
        <tr *ngIf='!payrollsBasic || payrollsBasic.length === 0  ' style='height: 50vh'>
          <td colspan='11' class='text-center check-content font-weight-bold font-xl '>
            <span style='position: absolute ; top: 60%; left: 35%'> Hiện không có Phiếu tăng ca nào !</span>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>

<app-mouse-right
  #child
  (onAdd)='addSalaryBasic()'
  (onDetail)='readPayroll($event)'
  (onDel)='deleteSalaryBasic($event)'>
</app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll tbody th > div {
    height: 30px;
    line-height: 1;
  }

  .table-scroll th:nth-child(4) {
    position: -webkit-sticky;
    position: sticky;
    left: 420px;
    z-index: 2;
  }


  .table-scroll thead th:nth-child(3),
  .table-scroll thead th:nth-child(4) {
    z-index: 5;
  }


  @media screen and (min-width: 1500px) {
    .table-scroll th:nth-child(5) {
      position: -webkit-sticky;
      position: sticky;
      left: 540px;
      z-index: 2;
    }

    .table-scroll thead th:nth-child(5) {
      z-index: 5;
    }
  }

  .table-scroll tr:nth-child(odd) {
    background: white;
  }

  .table-scroll tr:nth-child(even) {
    background: #dddddd;
  }

  .table-scroll thead tr:nth-child(2) th {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }


</style>



