
.color-delete {
  color: #EB5757 !important;
}

.background-delete {
  background: #EB5757 !important;
}

.success {
  background: #B5EEBB;
}

.fail {
  background: #EEB5B5;
}

.attention {
  background: #EDEEB5;
}
.share-table {
  border: solid 1px #c8ced3;
}

.required {
  color: red;
}

.btn-border {
  border: solid 2px #5bc0de;
  color: #428bca;
}

.background-snackbar {
  background: #f0fff5;
}

.required-input {
  border: solid 1px red;
}
