<div >
  <div>
    <button class='btn btn-primary mt-2 mr-2' (click)='importRequisite()'>
      <img src='/assets/icon/warehouse-layout/arrow-bar-right.svg' alt='Nhập kho'>
      Nhập đồ dùng văn phòng
    </button>
    <button *ngIf='warehouseType === warehouseTypeEnum.REQUISITE' class='btn btn-primary mt-2' (click)='importRequisite()'>
      <img src='/assets/icon/warehouse-layout/arrow-bar-right.svg' alt='Xuất kho'>
      Xuất đồ dùng văn phòng
    </button>
    <table class='mt-2' style="width:100%">
      <tr>
        <th>Tên đồ dùng</th>
        <th>Số lượng</th>
        <th>giá</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>
</div>

