<div class='mx-auto' style='width: 98%'>
  <ngx-skeleton-loader *ngIf='!(poultryFoods$ | async)  ; else poultryFood'
                       count='18' appearance='line'></ngx-skeleton-loader>
  <ng-template #poultryFood>
    <div class='table-scroll mt-2 animated fadeIn'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='10'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
    >
      <table [formGroup]='formGroup' style='width: 2500px'>
        <thead>
        <tr>
          <th>
            <div class='border-top text-center'>stt</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Mã thực phẩm</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Tên thực phẩm</div>
            <input
              formControlName='name'
              class='form-control input-profile '
              type='search'>
          </th>
          <th>
            <div class='border-top text-center'>Nhà cung cấp</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Hạn sử dụng</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Giá</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Chiếc khấu</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Hóa đơn</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Đơn vị</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Số lượng</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Ngày nhập</div>
            <input disabled>
          </th>
        </tr>
        </thead>
        <tbody *ngIf='(poultryFoods$| async) as poultryFoods'>
        <tr *ngFor='let poultryFood of poultryFoods; let i = index'
            (contextmenu)='child.onContextMenu($event,poultryFood)'
            (click)='updatePoultryFood(poultryFood)'>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{i + 1}}
          </th>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{poultryFood?.code}}
          </th>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{poultryFood?.name}}
          </th>
          <th class='pointer'>
            {{poultryFood?.provider}}
          </th>
          <th class='pointer' *ngIf='poultryFood?.expire !== null'>
            {{poultryFood?.expire | date: 'dd/MM/yyyy'}}
          </th>
          <th class='pointer' *ngIf='poultryFood?.expire === null'>
            Đang cập nhật
          </th>
          <th class='pointer' style='color: #4dbd74'>
            {{poultryFood.price|number:'1.0'|notEmpty:'0'}} đ
          </th>
          <th class='pointer' *ngIf='poultryFood.discount' style='color: #4dbd74'>
            {{poultryFood.discount * 100}}%
          </th>
          <th class='pointer' *ngIf='!poultryFood.discount' style='color: #4dbd74'>
            0%
          </th>
          <th class='pointer'>
            {{poultryFood?.invoice}}
          </th>
          <th class='pointer'>
            {{poultryFood.unit}}
          </th>
          <th class='pointer'>
            {{poultryFood?.amount}}
          </th>
          <th class='pointer' *ngIf='poultryFood?.createdAt !== null'>
            {{poultryFood?.createdAt | date: 'dd/MM/yyyy'}}
          </th>
          <th class='pointer' *ngIf='poultryFood?.createdAt === null'>
            Đang cập nhật
          </th>
        </tr>
        <tr *ngIf='poultryFoods.length === 0'>
          <td colspan='20' style='height: 48vh'>
            <span class='d-block font-lg font-weight-bold'
                  style='position: absolute; top: 45%; left: 45%'>Chưa có loại thực phẩm nào!</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
<app-mouse-right #child
                 (addEvent)='importPoultryFood()'
                 (readEvent)='updatePoultryFood($event)'></app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3) {
    z-index: 5;
  }
</style>
