<div>
  <button (click)='addRoute()' class='btn border ml-3'>
    <img src='../../../../assets/icon/share/plus-lg.svg' alt='add'>
    <span class='h5' style='color:#20a8d8;'> Thêm tuyến đường</span>
  </button>
  <div class='col-12 animated fadeIn'>
    <form [formGroup]='formGroup' class='header-profile mt-3 '>
      <div class='border-start title-header col-3'>
        <div class='title-profile'>Tên Tuyến đường</div>
        <input [disabled]='true' class='form-control input-profile ' type='text' placeholder='Trần Gia Hiệu'>
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Ngày bắt đầu</div>
        <input [disabled]='true' class='form-control input-profile ' type='date'>
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Ngày Kết thúc</div>
        <input [disabled]='true' class='form-control input-profile ' type='date'>
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Tên Tài xế</div>
        <input [disabled]='true' class='form-control input-profile ' type='text' placeholder='Trần Gia Hiệu'>
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Biển số xe</div>
        <input [disabled]='true' class='form-control input-profile ' type='text' placeholder='77G1-55555'>
      </div>
      <div class='border-start title-header col-1  '>
        <div class='title-profile'>All</div>
        <mat-checkbox class='example-margin mt-2 ' style='margin-left: 40%'
                      [checked]='isSelectAll'
                      [indeterminate]="someComplete()"
                      (change)='setAll($event.checked)'>
        </mat-checkbox>
      </div>
    </form>
    <div class='outer '
         style='width: 101%; height: 50vh'
         infiniteScroll
         [alwaysCallback]='true'
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='10'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
    >
      <div class='row-content' *ngFor='let route of routes'>
        <div class='content-profile col-3 pointer '>{{route?.name}}</div>
        <div class='content-profile col-2 pointer ' *ngIf='route.startedAt !== null'>
          {{route?.startedAt|date:'dd/MM/yyyy'}}
        </div>
        <div class='content-profile col-2 pointer ' *ngIf='route.startedAt === null'>
          Chưa cập nhật
        </div>
        <div class='content-profile col-2 pointer ' *ngIf='route.endedAt !== null'>
          {{route?.endedAt|date:'dd/MM/yyyy'}}
        </div>
        <div class='content-profile col-2 pointer ' *ngIf='route.endedAt === null'>
          Chưa cập nhật
        </div>
        <div class='content-profile col-2 pointer' *ngIf='route.driver'>{{route?.driver}}</div>
        <div class='content-profile col-2 pointer' *ngIf='!route.driver'>{{route?.employee?.lastName}}</div>
        <div class='content-profile col-2 pointer '>{{route?.bsx}}</div>
        <div class='content-profile col-1  pointer'>
          <mat-checkbox class='checkID'
                        [checked]='route.isSelect ? route.isSelect: false'
                        [(ngModel)]='route.isSelect'
                        (ngModelChange)='updateAllSelect(route.id)'>
          </mat-checkbox>
        </div>
      </div>
      <div *ngIf='!routes || routes.length === 0 ' style='height: 150px'
           class=' d-flex justify-content-center align-content-center'>
        <div class='font-xl d-flex align-items-center'>
          Hiện chưa có tuyến đường nào!
        </div>
      </div>
    </div>
    <button *ngIf='data.type === "DIALOG"' (click)='closeDialog()' class='my-2 btn btn-primary'>xác nhận</button>
  </div>
</div>


