<div class='d-flex flex-column'>
  <div
    class='grid-container'
    style='max-height: 220px'
  >
    <div
      class='px-3 py-2 pointer'
      nz-popover
      [nzPopoverContent]='selectOption'
      *ngFor='let ui of ui$ | async'
      (nzPopoverVisibleChange)='
        $event && onPopoverVisibleChange($event, ui)
      '
    >
      {{ui.title}}
    </div>
  </div>
</div>

<ng-template #selectOption>
  <div>
    <div class='d-flex pointer'>
      <label
        nz-checkbox
        [nzChecked]="visible('visible')"
        (nzCheckedChange)="onChange('visible', $event)"
      ></label>
      <span class='ml-2'>Hiển thị</span>
    </div>
    <div class='d-flex pointer'>
      <label
        nz-checkbox
        [nzChecked]="visible('pinned')"
        (nzCheckedChange)="onChange('pinned', $event)"
      >
      </label>
      <span class='ml-2'>Ghim</span>
    </div>
  </div>
</ng-template>
<style>
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
</style>
