<div class='px-5 py-3 main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <div>
      <div class='Deductions'>
        <div class='row mb-5 title-popup'>
          <span>Tiền khấu trừ</span>
        </div>
        <div class='row title-item mb-2'>
          <span>Khoảng khấu trừ </span>
          <span class='star'>*</span>
        </div>
        <div class='row mb-3 ' *ngIf='!data.isUpdate'>
          <mat-select class='form-control'  [value]='selectedIndex' >
            <mat-option *ngFor='let item of titleAbsents; let i = index'
                        [value]='i'
                        (onSelectionChange)='onSelectAbsent(i)'
                        (click)='onSelectAbsent(i)'
            >{{item.title}}</mat-option>
          </mat-select>
        </div>
        <div *ngIf='data.isUpdate' class='row'>
          <div class='form-control ' style='background: #e4e7ea' > {{data.salary.title}}</div>
        </div>
      </div>
      <div>
        <div class=' row mb-2 mt-2' style='align-items: center'>
          <div class='col title-item'>
            <span>Ngày</span>
            <span class='star'>*</span>
            <div class='row mb-3 mt-1' [formGroup]='formGroup'>
              <input type='date' placeholder='06/05/1997' class='form-control' formControlName='datetime'
                [ngClass]="{ 'is-invalid': submitted && f.datetime.errors }">
              <div *ngIf='submitted && f.datetime.errors?.required' class='invalid-feedback'>
                <div>Chưa chọn ngày</div>
              </div>
            </div>
          </div>
          <div class='col' [formGroup]='formGroup'  *ngIf="selectedIndex == 0 ">
            <mat-checkbox formControlName='forgot' labelPosition='before' class='example-margin'
              style='font-size: 12px'>
              Quên giấy phép và bsc
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="titleAbsents[selectedIndex]?.type  === datetimeUnit.MINUTE||unitMinute ">
        <div class='row title-item mb-1'>
          <span>số giờ </span>
        </div>
        <div class='row mb-3' [formGroup]='formGroup'>
          <input class='form-control' type='number' formControlName='times'>
        </div>
      </div>
      <div *ngIf="titleAbsents[selectedIndex]?.type === datetimeUnit.MINUTE || unitMinute">
        <div class='row title-item mb-1'>
          <span>số phút</span>
        </div>
        <div class='row mb-3' [formGroup]='formGroup'>
          <input class='form-control' type='number' formControlName='minutes'>
        </div>
      </div>
      <div class='note'>
        <div class='row title-item mb-1'>
          <span>Chú thích</span>
          <div class='star'>*</div>
        </div>
        <div class='row mb-3' [formGroup]='formGroup'>
          <input class='form-control' placeholder='Nhập chú thích ' formControlName='note'>
        </div>
      </div>
    </div>
    <div class='footer-popup row '>
      <button class='btn btn-ok '>Lưu</button>
      <button type='button' class='btn  award' data-toggle='tooltip' data-placement='left' title='xóa'>
        ?
      </button>
    </div>
  </form>
</div>
