<div class="px-4" [formGroup]="formGroup">
  <div class="font-weight-bold font-xl">
    Lịch sử lương nhân viên {{ name$ | async }}
  </div>
  <div class="d-flex justify-content-between">
    <div class="mt-1">
      <div class="font-weight-bold">từ tháng đến tháng</div>
      <nz-range-picker
        nzMode="month"
        nzFormat="MM-yyyy"
        formControlName="rangeDay"
      ></nz-range-picker>
    </div>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="loading$ | async"
      (click)="onAdd()"
    >
      Thêm phiếu lương
    </button>
  </div>
  <div class="mt-2">
    <minhdu-fontend-table-payroll
      [payrolls]="(payrolls$ | async) || []"
      [formGroup]="formGroup"
      [scroll]="{ x: '5000px', y: '51vh' }"
      (onloadPayroll)="onLoadPayroll($event.isPagination)"
    >
    </minhdu-fontend-table-payroll>
  </div>
</div>
