<div class="px-4" [formGroup]="formGroup">
  <div class="font-weight-bold font-xl">Lịch sử lương nhân viên {{name$|async}}</div>
  <div class="mt-1">
    <div class="font-weight-bold"> từ tháng đến tháng</div>
    <nz-range-picker nzMode="month" nzFormat="MM-yyyy" formControlName="rangeDay"></nz-range-picker>
  </div>
  <div class="mt-2">
    <minhdu-fontend-table-payroll
      [payrolls]="(payrolls$|async)|| []"
      [formGroup]="formGroup"
      (onloadPayroll)="onLoadPayroll($event.isPagination)"
    >
    </minhdu-fontend-table-payroll>
  </div>
</div>
