<nz-table #columnTable [nzData]='[]' [nzScroll]="{ x: '1100px' }" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>Mã Đơn</th>
    <th>Tên Tên nhà cung cấp</th>
    <th>Chi nhánh</th>
    <th>Trạng thái</th>
    <th>Thanh toán</th>
    <th>Nhập kho</th>
    <th>Tổng tiền</th>
    <th>Nhân viên tạo</th>
    <th>Ngày hẹn giao</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let data of columnTable.data'>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</nz-table>
