.main-profile {
  padding: 1rem;
  width: 100%;
  overflow-x: auto;
}

.header-profile {
  display: flex;
}

.outer {
  flex-direction: column;
  max-height: 58vh;
  width: fit-content;
  overflow: auto;
}

.default {
  width: 150px;
  text-align: center;
  font-size: 13px;
}

.default > div {
  height: 35px;
  overflow: hidden;
  width: 150px;
}

.default > input {
  width: 150px;
}

.name {
  width: 250px;
  text-align: center;
}

.name > div {
  height: 35px;
  overflow: hidden;
  width: 250px;
}

.name > input {
  width: 250px;
}

.gender {
  width: 100px;
  text-align: center;
}

.gender > div {
  height: 35px;
  overflow: hidden;
  width: 100px;
}

.gender > input {
  width: 100px;
}

.address {
  width: 450px;
  text-align: center;
}

.address > div {
  height: 35px;
  overflow: hidden;
  width: 450px;
}

.address > input {
  width: 450px;
}

.note {
  width: 350px;
  text-align: center;
}

.note > div {
  height: 35px;
  overflow: hidden;
  width: 350px;
}

.note > input {
  width: 350px;
}

.title-header {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #9aaec1;
  border-right: solid 1px #9aaec1;
  border-bottom: solid 1px #9aaec1;

}

.border-start {
  border-left: solid 1px #9aaec1;
}

.title-profile {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #3C3B54;

}

.input-profile {
  border-radius: 0;
  text-align: center;
  height: 35px;
}

.select {
  font-size: 15px;
  border: none;
  text-align: center;
  height: 35px;
}

.select > option {
  font-size: 15px;
  border: none;
  text-align: center;
  height: 35px;
}


.content-profile {
  overflow-wrap: anywhere;
  font-weight: 400;
  color: #3C3B54;
}

.row-content {
  margin-top: 2px;
  display: flex;
  padding: 2px;
  height: fit-content;
  border-bottom: solid 1px #9aaec1;
}

.row-content:nth-child(even) {
  background-color: #dddddd;
}

.create-salary {
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  background: $base-color;
  padding: 6px 10px;
  border: solid 1px $base-color;
  border-radius: 4px;
}

.fixTableHead thead {
  background: white;
  position: sticky;
  top: -1px;
}

.fixTableHead {
  font-size: 12px;
  width: fit-content;
  overflow-y: auto;
  max-height: 63vh;
}

.fixTableHead > table {
  border-collapse: collapse;
  width: 100%;
}

.fixTableHead > table th {
  text-align: center;
  padding: 0;
}

.fixTableHead > table th > div {
  height: 35px;
  width: 100%;
}

.fixTableHead > table th > input {
  height: 35px;
  width: 100%;
}

//fixed Header and first column
.table-scroll {
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 63vh;
}

.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table-scroll th,
.table-scroll td {
  padding: 0;
  border: 1px solid #c8ced3;
  background: #fff;
  vertical-align: top;
  text-align: center;
}

.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table-scroll th:first-child {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  width: 150px;
}


.table-scroll thead th:first-child {
  z-index: 5;
}

.table-scroll > table th > div {
  height: 35px;
  width: 100%;
}

.table-scroll > table th > input {
  height: 35px;
  width: 100%;
}
