<div class='container mt-5'style='height: 85vh'>
  <div class=' h2'>kho thuốc</div>
  <div>
    <button class='btn btn-primary mt-2' (click)='importMedicine()'>
      <img src='../../../../../assets/icon/warehouse-layout/arrow-bar-right.svg' alt='Nhập kho'>
      Nhập thuốc
    </button>
    <table class='mt-2' style="width:100%">
      <tr>
        <th>Tên thuốc</th>
        <th>Số lượng</th>
        <th>giá</th>
      </tr>
      <tr (click)='detailMedicine()'>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>
</div>
