<div class="d-flex flex-column">
  <div class="grid-container" style="max-height: 220px" *ngIf='(ui$ | async) as ui'>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event, {stt: ui.stt })">STT
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{code: ui.code}  )">Mã hàng
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event, {name: ui.name })">Tên hàng
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{warehouseType: ui.warehouseType}  )">Loại kho
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{price: ui.price}  )">Đơn giá
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{amount: ui.amount}  )">Số lượng
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{totalCash: ui.totalCash}  )">Tổng tiền
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{barcode: ui.barcode}  )">Mã vạch
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{provider: ui.provider}  )">Nhà cung cấp
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{exp: ui.exp}  )">Hạn sử dụng
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{discount: ui.discount}  )">Chiếc khấu
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{unit: ui.unit}  )">Đơn vị
    </div>
    <div nz-popover [nzPopoverContent]="selectOption" class="px-3 py-2 pointer"
         (nzPopoverVisibleChange)="$event && onVisibleChange($event,{createdAt: ui.createdAt}  )">Ngày nhập kho
    </div>
  </div>
</div>


<ng-template #selectOption>
  <div>
    <div class="d-flex pointer">
      <input nz-input type="checkbox" [checked]="visible('visible')"
      (change)="onUpdateVisible()">
      <span class="ml-2">Hiển thị</span>
    </div>
    <div class="d-flex pointer">
      <input nz-input type="checkbox" [checked]="visible('pinned')" (change)="onUpdatePinned()">
      <span class="ml-2">Ghim</span>
    </div>
  </div>
</ng-template>
<style>
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
</style>
