<div class='container mt-5' style='height: 85vh'>
  <div class='col-12 d-flex align-items-center justify-content-between '>
    <div class=' h2'>Tổng kho vật tư </div>
    <div>
      <button class='btn btn-primary' mat-button [matMenuTriggerFor]="menu">
        <span class='h5'> Loại Hàng</span>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)='choseWareHouse(warehouseTypeEnum.MEDICINE)' mat-menu-item> thuốc</button>
        <button (click)='choseWareHouse(warehouseTypeEnum.POULTRY_FOOD)' mat-menu-item> thực phẩm</button>
        <button (click)='choseWareHouse(warehouseTypeEnum.APPLIANCES)'  mat-menu-item> thiết bị</button>
        <button (click)='choseWareHouse(warehouseTypeEnum.REQUISITE)'  mat-menu-item> văn phòng phẩm</button>
      </mat-menu>
    </div>
  </div>
  <div>
    <app-requisite *ngIf='warehouseType === warehouseTypeEnum.REQUISITE ' ></app-requisite>
    <app-poultry-food *ngIf='warehouseType === warehouseTypeEnum.POULTRY_FOOD ' ></app-poultry-food>
    <app-medicine *ngIf='warehouseType === warehouseTypeEnum.MEDICINE ' ></app-medicine>
    <app-appliance *ngIf='warehouseType === warehouseTypeEnum.APPLIANCES ' ></app-appliance>
  </div>
</div>
