<div>
  <nz-steps [nzCurrent]="indexStep">
    <nz-step *ngIf="data?.update?.multiple" nzTitle="Nhân viên đã chọn"></nz-step>
    <nz-step nzTitle="Bảng Phụ cấp khác"></nz-step>
  </nz-steps>

  <ng-template [ngIf]="indexStep === 0">
    <!--    Nhân viên đã chọn-->
  </ng-template>
  <ng-template [ngIf]="indexStep === 1">
    <form [formGroup]='formGroup' class='mx-3'>
      <div class='form-group'>
        <div>
          <div>
            <div class='row title-item mb-1'>
              <span>Tên phụ cấp</span>
              <span class='star'>*</span>
            </div>
            <div class='row mb-3' [formGroup]='formGroup'>
              <input type='text' nz-input placeholder='Nhập tên phụ cấp' formControlName='title'>
              <div *ngIf=' checkValid.title.errors?.required' class='invalid-feedback'>
                <div>Chưa nhập tên phụ cấp</div>
              </div>
            </div>
          </div>
          <div class='row d-flex align-items-center'>
            <div class='mb-1 col d-flex flex-column'>
              <label nz-checkbox formControlName="inOffice">
                Làm việc tại công ty
              </label>
              <label style="margin: 0px !important;"  nz-checkbox formControlName="inWorkday">
                Dựa theo ngày đi làm thực tế
              </label>
            </div>
            <div class='col'>
              <div class='title-item mb-1'>
                <span>Từ ngày đến ngày</span><span class="star">*</span>
              </div>
              <div>
                <nz-range-picker
                  nzMode='date'
                  [nzDisabledDate]="disableApprenticeDate"
                  formControlName="rangeDay"></nz-range-picker>
              </div>
              <button
                *ngIf="checkWorkedAt"
                nz-button
                nzSize="small"
                nzType="dashed"
                class="pointer mt-1"
                (click)="onSelectWorkedAt()">Bắt đầu từ ngày vào làm chính thức</button>
            </div>
          </div>
          <div class='unit-price'>
            <div class='row title-item mb-1'>
              <span>Mức phụ cấp</span>
              <div class='star'>*</div>
            </div>
            <div class='row mb-3' [formGroup]='formGroup'>
              <input type='text' class='px-1' nz-input placeholder='200,000' formControlName='price'
                     currencyMask
                     [options]="{ suffix: ' đ' }">
              <div *ngIf=' checkValid.price.errors?.required' class='invalid-feedback'>
                <div>Chưa nhập mức phụ cấp</div>
              </div>
            </div>
          </div>
          <div class='note'>
            <div class='row title-item mb-1'>
              <span>Chú thích</span>
            </div>
            <div class='row mb-3' [formGroup]='formGroup'>
              <input type='text' class='form-control  px-1' placeholder='Nhập chú thích' formControlName='note'>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <div class="steps-action">
    <button class="ml-2" nz-button nzType="default" (click)="move('next')" *ngIf="indexStep > 0">
      <span>Trở lại</span>
    </button>
    <button class="ml-2" nz-button nzType="default" (click)="move('pre')" *ngIf="indexStep < 1">
      <span>Tiếp theo</span>
    </button>
    <button class="ml-2" nz-button nzType="primary" [nzLoading]="submitting" (click)="onSubmit()"
            *ngIf="indexStep === 1 || !this.data.add?.multiple">
      <span>Xác nhận</span>
    </button>
  </div>
</div>
