<div class='fixTableHead border-top'
     style=' max-height: 32vh ; width: 100%'
     infiniteScroll
     [alwaysCallback]='true'
     [infiniteScrollDistance]='0.2'
     [scrollWindow]='false'
     (scrolled)='onScroll()'>
  <table>
    <thead [formGroup]='formGroup'>
    <tr>
      <th>
        <div >Ngày tạo</div>
        <input
          formControlName='createdAt'
          class='form-control  '
          type='date'>
      </th>
      <th>
        <div class=''>Điểm đến</div>
        <input
          formControlName='destination'
          class='form-control  '
          type='text'>
      </th>
      <th>
        <div class=''> Tiền đơn hàng</div>
        <input
          [disabled]='true'
          type='number'>
      </th>
      <th>
        <div class=''> Tiền thanh toán</div>
        <input
          [disabled]='true'
          type='number'>
      </th>
      <th *ngIf='delivered'>
        <div class=''>Ngày giao hàng</div>
        <input
          [disabled]='true'
          type='date'>
      </th>
      <th *ngIf='!delivered'>
        <div class=''>Diễn giải</div>
        <input
          formControlName='explain'
          class='form-control  '
          type='text'>
      </th>
      <th *ngIf='delivered'>
        <div class=''>Ẩn nợ</div>
        <input
          [disabled]='true'
          type='number'>
      </th>
      <th *ngIf='!delivered'>
        <div class=''>Hủy</div>
        <input
          [disabled]='true'
          type='number'>
      </th>
    </tr>
    </thead>
    <tbody *ngIf='(orders$| async) as orders'>
    <tr *ngFor='let order of orders'>
      <th *ngIf='order?.createdAt!== null ' (click)='detailOrder(order.id)'>
        {{order?.createdAt | date: 'dd/MM/yyyy'}}
      </th>
      <th *ngIf='order?.createdAt=== null' (click)='detailOrder(order.id)'>
        Đang cập nhật
      </th>
      <th  (click)='detailOrder(order.id)'>
        {{order?.destination?.name}} -
        {{order?.destination?.district?.name}} -
        {{order?.destination?.district?.province?.name}}
      </th>
      <th  (click)='detailOrder(order.id)' style='color: #f86c6b'>
        {{order.commodityTotal|number:'1.0-0'|notEmpty:'0'}} đ
      </th>
      <th  (click)='detailOrder(order.id)' style='color: #20c997'>
        {{order?.paymentTotal|number:'1.0-0'|notEmpty:'0'}} đ
      </th>
      <th *ngIf='delivered'  (click)='detailOrder(order.id)'>
        {{order?.deliveredAt | date: 'dd/MM/yyyy'}}
      </th>
      <th *ngIf='!delivered'  (click)='detailOrder(order.id)'>
        {{order?.explain}}
      </th>
      <th *ngIf='delivered'>
        <mat-slide-toggle [checked]='order.hide' (click)='updateOrder(order)' class='m-auto'></mat-slide-toggle>
      </th>
      <th *ngIf='!delivered' >
        <button *ngIf='order.paymentTotal === 0' class='btn btn-danger' (click)='deleteOrder(order)'>Hủy</button>
    </tr>
    <tr *ngIf='!orders || orders.length === 0 '
        style='height: 20vh'>
      <td colspan='7' class='font-xl font-weight-bold position-relative'>
        <span style='position: absolute;top: 40%;left: 40%'>
            Hiện chưa có đơn hàng nào!
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>



