<ngx-skeleton-loader *ngIf='!(loaded$|async) else payrollAllowance ' count='18' appearance='line'></ngx-skeleton-loader>
<ng-template #payrollAllowance>
  <div class='font-lg font-weight-bold my-2'>
    Đã chọn: {{salariesSelected.length}}/{{totalSalaryAllowance$|async}}
  </div>
  <div class='table-scroll mt-2 position-relative'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='10'
       [scrollWindow]='false'
       (scrolled)='onScroll()'
  >
    <table [formGroup]='formGroup' class='main-table' style='width: 2000px;'>
      <thead>
      <tr>
        <th>
          <div class='border-top text-center'>stt</div>
          <input type='text' disabled>
        </th>
        <th>
          <div class='border-top text-center'>Mã nhân viên</div>
          <input type='search' (keypress)="checkInputNumber($event)" class='form-control text-center' formControlName='code'>
        </th>
        <th style='width: 250px'>
          <div class='border-top text-center'>
            <div class='d-flex justify-content-center' style='height: 100%'>
              <span>Tên nhân viên</span>
              <mat-select style='width: 100px; margin-left: 3px ' formControlName='searchType'>
                <mat-option *ngFor='let item of searchTypeConstant' [value]='item.value'>{{item.name}}</mat-option>
              </mat-select>
            </div>
          </div>
          <input class='form-control text-center' placeholder='Nhập tên nhân viên' type='search' formControlName='name'>
        </th>
        <th style='width: 120px ; z-index: 3'>
          <div class='border-top border-bottom d-flex justify-content-center align-items-center '>
            <span *ngIf='salariesSelected.length === 0'>
                Chọn
            </span>
            <div *ngIf='salariesSelected.length > 0' class='w-100 d-flex justify-content-between px-2'>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='updateMultipleSalaryAllowance()'
                      class=' btn btn-primary d-flex justify-content-center align-items-center m-1 '>
                Sửa
              </button>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='deleteMultipleSalaryAllowance()'
                      class=' btn btn-danger d-flex justify-content-center align-items-center m-1 '>
                Xóa
              </button>
            </div>
          </div>
          <mat-checkbox class='example-margin mt-2 mx-auto'
                        [checked]='isSelectSalary'
                        [indeterminate]='someCompleteSalary()'
                        (change)='setAllSalary($event.checked)'>
          </mat-checkbox>
        </th>
        <th style='width: 200px'>
          <div class='title-profile'>Chức vụ</div>
          <input class='form-control' type='search' matInput [matAutocomplete]='position'
                 formControlName='position'>
          <mat-autocomplete #position='matAutocomplete'>
            <mat-option *ngFor='let position of positions$ | async' [value]='position.name'
                        (onSelectionChange)='onSelectPosition(position.name)'>
              {{position.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th style='width: 200px'>
          <div class='title-profile'>Đơn vị</div>
          <input class='form-control' type='search' matInput [matAutocomplete]='branchInput' formControlName='branch'>
          <mat-autocomplete #branchInput='matAutocomplete'>
            <mat-option *ngFor='let branch of branches$ | async' [value]='branch.name'
                        (onSelectionChange)='onSelectBranch(branch.name)'>
              {{branch.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th style='width: 220px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Tháng</div>
          <input type='month' class='form-control' formControlName='createdAt'>
        </th>
        <th style='min-width: 300px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Loại phụ cấp</div>
          <input class='form-control' type='text'
                 placeholder='Nhập têm phụ cấp'
                 formControlName='title'>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Đơn vị tính</div>
          <mat-select class='w-100 select border-top' formControlName='unit'>
            <mat-option *ngFor='let item of unitAllowance' [value]='item.type'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Đơn giá</div>
          <input type='text' disabled>
        </th>
      </tr>
      </thead>
      <tbody *ngIf='(payrollAllowance$|async) as payrollsAllowance'>
      <tr *ngFor='let payrollAllowance of payrollsAllowance; let i = index'
          [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'
      >
        <th class='pointer'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          {{i + 1}}
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAllowance)'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          {{payrollAllowance?.id}}
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAllowance)'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          {{payrollAllowance.employee.lastName}}
        </th>
        <th class='pointer'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          <div class=' d-flex align-items-center justify-content-center pointer '
               *ngFor='let item of payrollAllowance.salaries|filterTypeSalary:["ALLOWANCE"]'>
            <mat-checkbox
              [checked]='selectSalary(item)'
              (change)='updateSelectSalary(item,payrollAllowance.employee)'>
            </mat-checkbox>
          </div>
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAllowance)'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          {{payrollAllowance.employee.position?.name}}</th>
        <th class='pointer'
            (click)='readPayroll(payrollAllowance)'
            [ngStyle]='{"background":payrollsAllowance.length > 0 ? "white" : "#dddddd" }'>
          {{payrollAllowance.employee.branch?.name}}</th>
        <th class='pointer' style='width: 220px;'>
          <div class='border d-flex align-items-center justify-content-center pointer '
               *ngFor='let item of payrollAllowance.salaries|filterTypeSalary:["ALLOWANCE"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAllowance)'>
            {{this.createdAt |date:'yyyy-MM'}}
          </div>
        </th>
        <th class='pointer' style='min-width: 300px;'>
          <div class='border d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAllowance.salaries|filterTypeSalary:["ALLOWANCE"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAllowance)'>
            {{item.title}}  {{ item.allowance ? '+ ' + item.allowance.title : '' }}
          </div>
        </th>
        <th class='pointer'>
          <div class='border d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAllowance.salaries|filterTypeSalary:["ALLOWANCE"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAllowance)'>
            {{item?.times}}
            {{
            item.unit === "HOUR" ? "Giờ" :
              item.unit === "MONTH" ? "Tháng" : "Ngày"
            }}
          </div>
        </th>
        <th class='pointer'>
          <div class='border d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAllowance.salaries|filterTypeSalary:["ALLOWANCE"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAllowance)'>
            {{item?.price ? (item.price|number:'1.0-0') : 0}}VND
            {{ item.allowance ? '+ ' + (item.allowance.price |number:'1.0-0') + 'VND' : '' }}
          </div>
        </th>
      </tr>
      <tr *ngIf='!payrollsAllowance || payrollsAllowance.length === 0  ' style='height: 50vh'>
        <td colspan='11' class='text-center check-content font-weight-bold font-xl '>
          <span style='position: absolute ; top: 60%; left: 35%'> Hiện không có Phiếu tăng ca nào !</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<app-mouse-right [type]='pageType.PAYROLL_SALARY'
                 (addEvent)='addSalaryAllowance()'
                 (readEvent)='readPayroll($event)'
                 (deleteEvent)='deleteSalaryAllowance($event)'
                 #child>
</app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll tbody th > div {
    height: 30px;
    line-height: 1;
  }

  .table-scroll th:nth-child(4) {
    position: -webkit-sticky;
    position: sticky;
    left: 420px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3),
  .table-scroll thead th:nth-child(4) {
    z-index: 5;
  }

  @media screen and (min-width: 1500px) {
    .table-scroll th:nth-child(5) {
      position: -webkit-sticky;
      position: sticky;
      left: 540px;
      z-index: 2;
    }

    .table-scroll thead th:nth-child(5) {
      z-index: 5;
    }
  }

  .table-scroll tr:nth-child(odd) {
    background: white;
  }

  .table-scroll tr:nth-child(even) {
    background: #dddddd;
  }

  .table-scroll thead tr:nth-child(2) th {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
</style>



