<div style='min-width: 950px;' >
    <div class='fixTableHead ' style='height: 50vh'
         infiniteScroll
         [alwaysCallback]='true'
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='10'
         [scrollWindow]='false'>
      <table class='main-table' style='width: 950px;'>
        <thead>
        <tr>
          <th style='width: 50px'>
            <div class='border-top text-center'>stt</div>
            <input class=' input-profile'
                   type='text'
                   disabled
            >
          </th>
          <th style='width: 120px'>
            <div class='border-top text-center'>Mã nhân Viên</div>
            <input class=' input-profile'
                   type='search'
                   disabled
            >
          </th>
          <th>
            <div class='border-top text-center'>Tên nhân viên</div>
            <input class=' input-profile ' type='search'  disabled>
          </th>
          <th class=''>
            <div class='title-profile border-top '>Chức vụ</div>
            <input class='' type='search' disabled>
          </th>
          <th style='width: 120px' class='border-bottom '>
            <div class=' border-top border-bottom text-center'>Tất cả</div>
            <mat-checkbox class='example-margin mt-2 mx-auto '
                          [checked]='isSelectAllEmployee'
                          (change)='setAllEmployee($event.checked)'>
            </mat-checkbox>
          </th>
          <th style='width: 120px' *ngIf='checkAllowance'>
            <div class='border-top border-bottom text-center'>Phụ cấp thêm</div>
            <mat-checkbox class='example-margin mt-2 mx-auto'
                          [checked]='isSelectAllowance'
                          [disabled]='!isSelectAllEmployee'
                          [indeterminate]='someCompleteAllowance()'
                          (change)='setAllAllowance($event.checked)'>
            </mat-checkbox>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let employee of employees;let i = index'>
          <th class='content-profile pointer '> {{i + 1}}</th>
          <th class='content-profile pointer '> {{employee.id}}</th>
          <th class='content-profile  pointer'>{{employee.lastName}}</th>
          <th class='content-profile pointer'>{{employee.position?.name}}</th>
          <th class='content-profile  pointer'>
            <mat-checkbox class='checkID'
                          [checked]='selectEmployee(employee)'
                          (change)='updateSelectEmployee(employee)'>
            </mat-checkbox>
          </th>
          <th class='content-profile  pointer' *ngIf='checkAllowance'>
            <mat-checkbox class='checkID'
                          [disabled]='!selectEmployee(employee)'
                          [checked]='selectAllowanceEmployee(employee)'
                          (change)='updateSelectAllowance(employee)'>
            </mat-checkbox>
          </th>
        </tr>
        </tbody>
      </table>

    </div>
    <div class='col-6 my-2'>
      <div class='ml-2 font-lg'>Tổng nhân viên được chọn : {{employeesSelected.length}}</div>
      <div class='ml-2 font-lg' *ngIf='checkAllowance'>Tổng nhân viên được thêm phụ cấp : {{allowEmployeesSelected.length}}</div>
    </div>
</div>
