<div class='p-4'>
  <div class='p-3 row '>
    <div class='row col-12'>
      <div class='p-3'>
        <span class='h3'> Tổng quan</span>
      </div>

    </div>
    <div>
    </div>

    <div class='row col-12 mt-2'>
      <div class='col-4 p-1'>
        <div class='col-12 p-2  rounded bg-success'>
          <div class='h4'>Đơn hàng</div>
          <div class='d-flex'>
            <div class='h3 mr-2'> 10</div>
          </div>
          <div class='h5 d-flex'>
            <div>Tổng số xe :</div>
            <span class='ml-2'>5</span>
          </div>

        </div>
      </div>
      <div class='col-4 p-1  '>
        <div class='col-12 p-2 rounded  bg-warning'>
          <div class='h4'>Khách hàng </div>
          <div class='d-flex'>
            <div class='h3 mr-2'> 10</div>
            <div class='d-flex align-items-center'>
              <img src='/assets/icon/share/caret-up-fill.svg' alt='up'>
              <img *ngIf='false' src='/assets/icon/share/caret-down-fill.svg' alt='up'>
              <span class='ml-2'>50%</span>
            </div>
          </div>
          <div class='h5 d-flex'>
            <div>tháng trước :</div>
            <span class='ml-2'>5</span>
          </div>
        </div>
      </div>
      <div class='col-4 p-1 '>
        <div class='col-12 p-2 rounded  bg-primary'>
          <div class='h4'>Doanh thu</div>
          <div class='d-flex'>
            <div class='h3 mr-2'> 10</div>
            <div class='d-flex align-items-center'>
              <img src='/assets/icon/share/caret-up-fill.svg' alt='up'>
              <img *ngIf='false' src='/assets/icon/share/caret-down-fill.svg' alt='up'>
              <span class='ml-2'>50%</span>
            </div>
          </div>
          <div class='h5 d-flex'>
            <div>tháng trước :</div>
            <span class='ml-2'>5</span>
          </div>
        </div>
      </div>
    </div>
    <div class='row col-12 mt-5 d-flex justify-content-center ' >
      <div class='d-flex flex-column' [ngStyle]='{
      "width":statisticalProvince.length < 5 ? "33%" : "100%" }' >
        <div class='d-flex justify-content-sm-end'>
          <img (click)='onStatistical(statisticalXType.PROVINCE)' class='mr-2' src='/assets/icon/sell-layout/gear.svg' alt='setting'>
        </div>
        <span class='h4'>Thống kê doanh thu theo tỉnh</span>
          <app-vertical-bar-chart
            style='width: 100%;'
            [ngStyle]='{
            "height":statisticalProvince.length < 5 ? "400px" : "600px" }'
            [data]='statisticalProvince'
            [labelX]='"Tỉnh thành"'
            [labelY]='labelY'
            [legend]='statisticalProvince.length < 20'
          >
          </app-vertical-bar-chart>
      </div>
      <div class='d-flex flex-column col'>
        <div class='d-flex justify-content-sm-end'>
          <img (click)='onStatistical(statisticalXType.CHICKEN_TYPE)' class='mr-2' src='/assets/icon/sell-layout/gear.svg' alt='setting'>
        </div>
        <span class='h4'>Thống kê doanh thu theo loại gà</span>
        <app-pie-chart style='width: 100%; height: 400px' [data]='statisticalChicken'></app-pie-chart>
      </div>
      <div class='d-flex flex-column col'>
        <div class='d-flex justify-content-sm-end'>
          <img (click)='onStatistical(statisticalXType.AGENCY)' class='mr-2' src='/assets/icon/sell-layout/gear.svg' alt='setting'>
        </div>
        <span class='h4'>Thống kê Doanh thu từng đại lý</span>
        <app-staked-vertical-chart
          style='width: 100%; height: 400px'
          [data]='statisticalAgency'
          [labelY]='"Doanh thu"'
          [labelX]='"Đại lý"'>
        </app-staked-vertical-chart>
      </div>
    </div>
    <div class='row col-12 mt-5 '>
    </div>
  </div>
</div>
