<div class="container">
  <div class="row">
    <div class="col-12 mt-5 d-flex flex-wrap ml-2">
      <div
        class="d-flex flex-column mt-4 col-xm-12 px-2 border w-100"
        style="margin-right: 1%; position: relative"
      >
        <div class="mt-2 d-flex justify-content-between">
          <span class="mt-2 ml-3 mb-1 title-chart">Thống kê theo tỉnh</span>
          <app-pick-statical
            (EventStatistical)="onStatistical(filterOverview.NATION, $event)"
            (EventPrint)="
              printStatistical(
                Api.SELL.STATISTICAL.STATISTICAL_PROVINCE_PRINT,
                $event
              )
            "
          ></app-pick-statical>
        </div>
        <div>
          <app-swim-lane-chart
            [data]="statisticalProvince"
            [labelX]="'Tỉnh thành'"
            [labelY]="labelYProvince"
            [legend]="true"
          >
          </app-swim-lane-chart>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5 d-flex flex-wrap ml-2">
      <div
        class="d-flex flex-column mt-4 col-xm-12 px-2 border w-100"
        style="margin-right: 1%; position: relative"
      >
        <div class="mt-2 d-flex justify-content-between">
          <span class="mt-2 ml-3 mb-1 title-chart"
            >Thống kê theo khách hàng</span
          >
          <app-pick-statical
            [type]="filterOverview.CUSTOMER"
            (EventStatistical)="onStatistical(filterOverview.CUSTOMER, $event)"
            (EventPrint)="
              printStatistical(
                Api.SELL.STATISTICAL.STATISTICAL_AGENCY_PRINT,
                $event
              )
            "
          ></app-pick-statical>
        </div>
        <div>
          <app-swim-lane-chart
            [data]="statisticalAgency"
            [labelX]="'Khách hàng'"
            [labelY]="labelYProvince"
            [legend]="true"
          >
          </app-swim-lane-chart>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5 d-flex flex-wrap ml-2">
      <div
        class="d-flex flex-column mt-4 col-xm-12 px-2 border w-100"
        style="margin-right: 1%; position: relative"
      >
        <div class="mt-2 d-flex justify-content-between">
          <span class="mt-2 ml-3 mb-1 title-chart">Thống kê theo năm</span>
          <app-pick-statical
            [type]="filterOverview.YEAR"
            (EventStatistical)="onStatistical(filterOverview.YEAR, $event)"
            (EventPrint)="
              printStatistical(
                Api.SELL.STATISTICAL.STATISTICAL_AGENCY_PRINT,
                $event
              )
            "
          ></app-pick-statical>
        </div>
        <div>
          <app-swim-lane-chart
            [data]="statisticalYear"
            [labelX]="'Năm'"
            [labelY]="labelYProvince"
            [legend]="true"
          >
          </app-swim-lane-chart>
        </div>
      </div>
    </div>
  </div>
</div>
