<div style='min-width: 300px' *ngIf='!isConfirmed '>
  <div class='mt-2'>
    <span>Ngày xác nhận lương</span><span class='star'>*</span>
    <input class='form-control mt-1' type='date' [formControl]='accConfirmedAt'>
  </div>
  <div class='mt-2 text-danger'>(Vui lòng kiểm tra kỹ ngày trước khi xác nhận phiếu lương)</div>
  <div class='footer-popup row mt-3 ml-2'>
    <button nz-button nzType="primary" [nzLoading]="(loading$ | async)" (click)='confirmPayroll(false)'>Tạm
      tính
    </button>
  </div>
</div>

<div style='width: 100%; min-width: 1156px' *ngIf='isConfirmed'>
  <div id='content-payroll' style="overflow-x: hidden">
    <div class='header-payroll'>
      <div class='font-weight-bold font-xl row border-bottom py-3'>
        <span class='col'>
          Phiếu lương nhân viên
        </span>
      </div>
      <div class='row px-2 mt-1'>
        <div class=' col-6 d-flex flex-column'>
          <div class=' row mt-1 d-flex'>
            <div class='font-weight-bold col-4 '>Tên nhân viên:</div>
            <div class='col-8'>{{data.payroll.employee.lastName}}</div>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-4'>Chức vụ: </span>
            <span class='col-8'>{{data.payroll.position}}</span>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-4'>Lương tháng: </span>
            <span class='col-8'>{{data.payroll.createdAt|date:'MM/yyyy'}}</span>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-4'>Ngày xác nhận: </span>
            <span class='col-8'>{{data.payroll.accConfirmedAt | date:'dd/MM/yyyy'}}</span>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-4'>Ngày công chuẩn: </span>
            <span class='col-8'>{{data.payroll?.workday}}</span>
          </div>
        </div>
        <div class=' col-6 d-flex flex-column'>
          <div class=' row mt-1 d-flex'>
            <div class='font-weight-bold col-5 '>Mã số nhân viên:</div>
            <div class='col-7'>{{data.payroll.employee.id}}</div>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-5'>Mã phiếu lương: </span>
            <span class='col-7'>{{data.payroll.id}}</span>
          </div>
          <div class=' row mt-1'>
            <span class='font-weight-bold col-5'>Trạng thái: </span>
            <span class='col-7'>{{data.payroll?.paidAt ? 'Đã thanh toán' : 'chưa thanh toán'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class='border mt-2' *ngIf='data.payroll.employee.type === typeEmployee.FULL_TIME; else seasonal'>
      <div *ngIf='( payslip$ | async) as payslip else loadingPayslip'>
        <div class='mat-typography ' style='
                            position: relative;
                            margin: 0;
                            padding: 0 ;
                            overflow-x: hidden;
                            overflow-y: auto;
                            max-height: 45vh;' id='table-payroll'>
          <div class=' border-bottom d-flex' style='background: white;
                      position: sticky;
                      top: 0;
                      left: 0;
                      right: 0;
                      z-index: 1;'>
            <div class='col-3 font-weight-bold py-1 border-right text-center'>Tiêu đề:</div>
            <div class=' col-3 py-1  font-weight-bold border-right text-center'>Số lượng</div>
            <div class='col-1 font-weight-bold py-1 border-right text-center'>Đơn vị:</div>
            <div class=' col-2 py-1  font-weight-bold border-right text-center'> Thành tiền(VND)</div>
            <div class=' col-3 py-1  font-weight-bold text-center'> Chú thích</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Lương cơ bản</div>
            <div class=' col-3 py-1 border-right text-center'> -</div>
            <div class=' col-1 py-1 border-right text-center'> -</div>
            <div class='text-success col-2 py-1 border-right text-center '>
              {{payslip.basicSalary |number: '1.0-0'}}</div>
            <div class=' col-3 py-1  text-center'> -</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Tổng phụ cấp lương</div>
            <div class=' col-3 py-1 border-right text-center'> -</div>
            <div class=' col-1 py-1 border-right text-center'> -</div>
            <div class='text-success col-2 py-1 border-right text-center'>{{payslip.staySalary |number: '1.0-0'}}</div>
            <div class=' col-3 py-1   text-center'> -</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Tổng phụ cấp khác</div>
            <div class=' col-3 py-1 border-right text-center'> -</div>
            <div class=' col-1 py-1 border-right text-center'> -</div>
            <div class='text-success col-2 py-1 border-right text-center '>
              {{payslip.allowanceSalary || 0 |number: '1.0-0'}}
            </div>
            <div class=' col-3 py-1 text-center'> -</div>
          </div>
          <div style="width:100%; height: 2px; background: gray">
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Tổng tiền tăng ca</div>
            <div class='col-3 py-1 border-right text-center'> -</div>
            <div class='col-1 py-1 border-right text-center'> -</div>
            <div class='text-success col-2 py-1 border-right text-center '>
              {{payslip.overtimeSalary.total || 0 |number: '1.0-0'}}
            </div>
            <div class=' col-3 py-1 text-center'> -</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Tổng tiền khấu trừ</div>
            <div class=' col-3 py-1 border-right text-center'> -</div>
            <div class=' col-1 py-1 border-right text-center'> -</div>
            <div class='text-danger col-2 py-1 border-right text-center '>
              {{payslip.deductionSalary || 0 |number: '1.0-0'}}
            </div>
            <div class=' col-3 py-1 text-center'> -</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Ngày lễ đi làm</div>
            <div class=' col-3 border-right text-center py-1'>
              {{payslip.holiday.working.duration}}
            </div>
            <div class='col-1  py-1 border-right text-center'> Ngày</div>
            <div class=' col-2 py-1 border-right text-center'> {{payslip.holiday.working.total |number: '1.0-0'}}</div>
            <div class=' col-3 py-1  text-center'> -</div>

          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Ngày lễ không đi làm</div>
            <div class=' col-3 py-1 border-right text-center'>
              {{payslip.holiday.unWorking.duration}}
            </div>
            <div class='col-1  py-1 border-right text-center'> Ngày</div>
            <div
              class=' col-2 py-1 border-right text-center'> {{payslip.holiday.unWorking.total |number: '1.0-0'}}</div>
            <div class=' col-3 py-1   text-center'> -</div>
          </div>
          <div class='border-bottom d-flex '>
            <div class='col-3 font-weight-bold py-1 border-right'>Thuế</div>
            <div class=' col-3 py-1 border-right text-center'> -</div>
            <div class=' col-1 py-1 border-right text-center'> -</div>
            <div class='text-danger col-2 py-1 border-right text-center '>
              {{payslip.tax | number: '1.0-0'}}đ
            </div>
            <div class=' col-3 py-1 text-center'> -</div>
          </div>
          <div class=' d-flex'>
            <div class='col-3 font-weight-bold py-1 border-right'>Tổng Lương thực nhận</div>
            <div class=' col-3 py-1 border-right text-center'>{{payslip.total}}</div>
            <div class=' col-1 py-1 border-right text-center'>Ngày</div>
            <div class='text-success col-2 border-right py-1 text-center'>{{payslip.total || 0 |number: '1.0-0'}}
            </div>
            <div class=' col-3 py-1 text-center'> -</div>
          </div>
        </div>
      </div>
      <ng-template #loadingPayslip>
        <ngx-skeleton-loader count='5' appearance='line'>
        </ngx-skeleton-loader>
      </ng-template>
    </div>
    <ng-template #seasonal>
      <div *ngIf='( payslip$ | async) as payslip'>
        <div class='border mt-2'>
          <div
            style='position: relative;
                   margin: 0;
                   padding: 0 ;
                   overflow-x: hidden;
                   overflow-y: auto;
                   max-height: 45vh;'
            id='table-payroll-seasonal'>
            <div class=' border-bottom d-flex' style='background: white;
                      position: sticky;
                      top: 0;
                      left: 0;
                      right: 0;
                      z-index: 1;'>
              <div class='col-3 font-weight-bold py-1 border-right text-center'>Tiêu đề:</div>
              <div class=' col-3 py-1  font-weight-bold border-right text-center'>Số lượng</div>
              <div class='col-1 font-weight-bold py-1 border-right text-center'>Đơn vị:</div>
              <div class=' col-2 py-1  font-weight-bold border-right text-center'> Thành tiền(VND)</div>
              <div class=' col-3 py-1  font-weight-bold text-center'> Chú thích</div>
            </div>
            <div class=' border-bottom d-flex'>
              <div class='col-3 font-weight-bold py-1 border-right'>Tổng ngày đi làm</div>
              <div class=' col-3 py-1  border-right text-center'> {{payslip.workDay.duration || '-'}} </div>
              <div class='col-1  py-1 border-right text-center'> Ngày</div>
              <div class=' col-2 py-1 text-center border-right'></div>
              <div class=' col-3 py-1 text-center'> -</div>
            </div>
            <div class=' border-bottom d-flex'>
              <div class='col-3 font-weight-bold py-1 border-right'>Tổng giờ tăng ca</div>
              <div class=' col-3 py-1  border-right text-center'> {{payslip.overtimeSalary.duration}}</div>
              <div class='col-1  py-1 border-right text-center'> Giờ</div>
              <div class=' col-2 py-1 text-center border-right'>
                {{payslip.overtimeSalary.total
                |roundingnumber:100
                |number:'1.0-0'}}
              </div>
              <div class=' col-3 py-1   text-center'> -</div>
            </div>
            <div class=' d-flex'>
              <div class='col-3 font-weight-bold py-1 border-right'>Tổng Lương thực nhận</div>
              <div class=' col-3 py-1 border-right text-center'>-</div>
              <div class=' col-1 py-1 border-right text-center'>-</div>
              <div class='text-success col-2 border-right py-1 text-center'>{{payslip.total || 0 |number: '1.0-0'}}đ
              </div>
              <div class=' col-3 py-1 text-center'> -</div>
            </div>
          </div>
        </div>

      </div>
    </ng-template>
    <div>
      <div class=' row border-top mt-3'>
      </div>
      <div class='row assign-print'>
        <div class='col-6 d-flex flex-column  align-items-start'>
          <span style='width: fit-content; margin: 10px 0 0 100px' class='font-weight-bold'>Kế toán</span>
          <span style='width: fit-content; margin-top: 50px'> </span>
        </div>
        <div class='col-6 d-flex mt-3 flex-column justify-content-center align-items-center'>
          <span class='font-weight-bold' style='width: fit-content'>Kí nhận</span>
          <span style='width: fit-content; margin-top: 130px'>{{data.payroll.employee.lastName}} </span>
        </div>
      </div>
    </div>
  </div>
  <div id='footer' class='footer-popup row mt-3 ml-2 d-flex justify-content-end'>
    <button class='btn btn-primary mr-3 col-1 ' (click)='printPayroll()'>in</button>
    <button class='btn btn-primary mr-3 ' (click)='onCancelPayroll()'>Huỷ xác nhận</button>
    <button class='btn btn-primary mr-3 col-1 ' (click)='confirmPayroll(true)'>Xác nhận</button>
  </div>
</div>
<nz-spin *ngIf='adding' nzSimple></nz-spin>
