<div class='animated fadeIn container mb-3 ' *ngIf='(route$ | async)  as route' style='min-height: 80vh!important;'>

  <div class='row'>
    <div class='row mt-5'>
      <div class=' main-title  mr-5' style='font-size: 20px'>
        Chi tiết tuyến đường
      </div>
    </div>
  </div>
  <div class='row mt-5' style='color:#80828B' *ngIf='(route$ | async)  as route'>
    <div class='col-12'>
      <div class='row d-flex align-items-center'>
        <div class='col-2 align-items-center title-table'>Thông tin chung</div>
        <button
          data-toggle='tooltip'
          data-placement='top'
          title=' chỉnh sửa '
          class='edit animated'
          (click)='updateRoute(route)'>
          <img style='height: 15px;' src='/assets/icon/share/pencil-fill.svg' alt='edit icon'>
        </button>
      </div>
      <div class='row mt-3'>
        <div class='col-6  form-group'>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2  title-detail'>
              <span>Tên Tuyến đường:</span>
            </div>
            <div class='col-md-8 py-2 border-bottom '>
            <span class='title-detail' style=' color: #3C3B54'>
             {{route?.name}}
            </span>
            </div>
          </div>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2  title-detail'>
              <span>Ngày bắt đầu:</span>
            </div>
            <div class='col-md-8 py-2  border-bottom'>
            <span class='title-detail' style=' color: #3C3B54' *ngIf='route?.startedAt'>
             {{route?.startedAt|date:'dd/MM/yyyy'}}
            </span>
              <span style=' color: #3C3B54' *ngIf='route?.startedAt === null'>
             Chưa cập nhật
            </span>
            </div>
          </div>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2  title-detail '>
              <span>Ngày Kết thúc:</span>
            </div>
            <div class='col-md-8 py-2 border-bottom '>
            <span class='title-detail' style=' color: #3C3B54' *ngIf='route?.endedAt'>
             {{route?.endedAt|date:'dd/MM/yyyy'}}
            </span>
              <span *ngIf='route?.endedAt === null'>
             Chưa cập nhật
            </span>
            </div>
          </div>
          <div class='row ml-1 align-items-center '>
            <div class='col-md-4 py-2  title-detail '>
              <span>Tên tài xế:</span>
            </div>
            <div class='col-md-8 py-2 border-bottom '>
            <span class='title-detail' style=' color: #3C3B54' *ngIf='route.driver'>
             {{route?.driver}}
            </span>
              <span style=' color: #3C3B54' *ngIf='!route.driver'>
                chưa cập nhật
            </span>

            </div>
          </div>
          <div class='row ml-1 align-items-center '>
            <div class='col-md-4 py-2  title-detail'>
              <span>Tên nhà xe:</span>
            </div>
            <div class='col-md-8 py-2 border-bottom '>
            <span class='title-detail' style=' color: #3C3B54' *ngIf='route?.garage'>
             {{route?.garage}}
            </span>
              <span *ngIf='!route?.garage'>
             Chưa cập nhật
            </span>
            </div>
          </div>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2  title-detail'>
              <span>Biển số xe:</span>
            </div>
            <div class='col-md-8 py-2  border-bottom'>
            <span class='title-detail'>
             {{route?.bsx}}
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12 mt-5'>
        <div class='row d-flex justify-content-between '>
          <div class='row align-items-center title-table ml-2'>Đơn hàng</div>
          <button class='btn btn-primary mr-3' (click)='updateRoute(route, true)'>Thêm đơn hàng</button>
        </div>
        <div class='fixTableHead my-3'
             style=' max-height: 50vh; width: 100%'
             infiniteScroll
             [alwaysCallback]='true'
             [infiniteScrollDistance]='1'
             [infiniteScrollThrottle]='10'
             [scrollWindow]='false'>
          <table >
            <thead>
            <tr class=' mt-3 animated fadeIn'>
              <th >
                <div class=''>Khách hàng</div>
                <input
                  disabled
                  class='form-control '
                  type='date'>
              </th>
              <th >
                <div class=''>Ngày tạo</div>
                <input
                  disabled
                  class='form-control  '
                  type='date'>
              </th>
              <th >
                <div class=''>Điểm đến</div>
                <input
                  disabled
                  class='form-control  '
                  type='text'>
              </th>
              <th >
                <div class=''> Diễn giải</div>
                <input
                  disabled
                  class='form-control'
                  type='number'>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor='let order of route.orders'>
              <th class='  pointer ' *ngIf='order?.createdAt!== null '
                   (click)='detailOrder(order.id)'>
                {{order?.customer?.firstName}} {{order?.customer?.lastName}}
              </th>
              <th class='  pointer ' *ngIf='order?.createdAt!== null '
                   (click)='detailOrder(order.id)'>
                {{order?.createdAt | date: 'dd/MM/yyyy'}}
              </th>
              <th class='  pointer ' *ngIf='order?.createdAt=== null'
                   (click)='detailOrder(order.id)'>
                Đang cập nhật
              </th>
              <th class='  pointer ' (click)='detailOrder(order.id)'>
                {{order?.destination?.name}}
              </th>
              <th class='  pointer ' (click)='detailOrder(order.id)'>
                {{order.explain}}
              </th>
            </tr>
            <tr *ngIf='!route.orders || route.orders.length === 0 '>
              <td class='font-xl d-flex align-items-center'>
                  <span>
                    Hiện chưa có đơn hàng nào!
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

