<div class='container'>
  <div class='col-12 animated fadeIn'>
    <form [formGroup]='formSearch' class='header-profile mt-3 '>
      <div class='border-start title-header col-3'>
        <div class='title-profile'>Mã nhân Viên</div>
        <input class='form-control input-profile'
               type='text'
               placeholder='PN10001'
               formControlName='code'
        >
      </div>
      <div class='border-start title-header col-4'>
        <div class='title-profile'>Tên nhân viên</div>
        <input class='form-control input-profile '
               type='text'
               placeholder='Trần Gia Hiệu'
               formControlName='name'
        >
      </div>
      <div class='border-start title-header col-4'>
        <div class='title-profile'>Chức vụ</div>
        <input class='form-control input-profile '
               type='text'
               formControlName='position'
        >
      </div>
      <div class='border-start title-header col-1  '>
        <div class='title-profile'>all</div>
        <mat-checkbox  class='example-margin mt-2 mx-auto'
                      [checked]='isSelectAll'
                      [indeterminate]="someComplete()"
                      (change)='setAll($event.checked)'>
        </mat-checkbox>
      </div>
    </form>
    <div class='outer '
         style='height: 50vh'
         [ngStyle]="{'width': employees.length > 8? '102%' : '100%'}"
         infiniteScroll
         [alwaysCallback]='true'
         [infiniteScrollDistance]='1'
         [scrollWindow]='false'
    >
      <div class='row-content' *ngFor='let employee of employees'>
        <div class='content-profile col-3 pointer '> {{employee.code}}</div>
        <div class='content-profile col-4  pointer'>{{employee.firstName}} {{employee.lastName}}</div>
        <div class='content-profile col-4  pointer'>{{employee.position?.name}}</div>
        <div class='content-profile col-1  pointer'>
          <mat-checkbox class='checkID ml-1'
                        [checked]='employee.isSelect ? employee.isSelect: false'
                        [(ngModel)]='employee.isSelect'
                        (ngModelChange)='updateSelect(employee.id)'>
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class='mt-3'>
      <div class='d-flex'>
        <button class='btn btn-dark' (click)='onSubmit()'>Lưu</button>
        <input class='form-control col-4 ml-3' #inputTimekeeping type='date'>
      </div>
    </div>
  </div>
</div>


