
  <mat-toolbar class='px-3 pt-1 grid_on  shadow-sm'>
    <mat-toolbar-row class='row'>
      <div class='d-flex col-sm-12 col-lg-8'>
        <div class='col-sm-4 col-lg-6 d-flex align-items-center'>
          <button class='col-lg-1 col-sm-1 btn d-flex align-items-center justify-content-center'>
            <img src='assets/icon/sell-layout/grid-3x3-gap-fill.svg' alt='app'>
          </button>
          <span class='font-xl col-lg col-sm font-weight-bold'>Bán hàng</span>
        </div>
        <div class='col-sm-8 col-lg-6 d-flex justify-content-center align-items-center'>
          <input type='text' class='form-control col-8' placeholder='Tìm kiếm tiềm năng, liên hệ, Khách hàng '>
        </div>
      </div>
      <div class='  col-sm-12 col-lg-4  d-flex justify-content-center'>
        <button type='button' data-toggle="tooltip" data-placement="bottom" title="Facebook" class='col-1 btn d-flex align-items-center justify-content-center'>
          <a href='https://www.facebook.com/GatachonlocMinhDuBinhDinh' target="_blank" > <img  height='20px btn' src='../../assets/icon/sell-layout/facebook.svg' alt='facebook' ></a>
        </button>
        <button type='button' data-toggle="tooltip" data-placement="bottom" title="Tra cứu tồn kho"  class='col-1 btn d-flex align-items-center justify-content-center'>
          <img height='20px btn' src='../../assets/icon/sell-layout/box-seam.svg' alt='store'>
        </button>
        <button type='button' data-toggle="tooltip" data-placement="bottom" title="Lịch làm việc"  class='col-1 btn d-flex align-items-center justify-content-center'>
          <img height='20px btn' src='../../assets/icon/sell-layout/calendar2.svg' alt='notification'>
        </button>
        <button type='button' data-toggle="tooltip" data-placement="bottom" title="Thông báo" class='col-1 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='../../assets/icon/sell-layout/bell.svg' alt='notification'>
        </button>
        <button type='button' data-toggle="tooltip" data-placement="bottom" title="Cài đặt" class='col-1 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='../../assets/icon/sell-layout/gear.svg' alt='setting'>
        </button>
        <button class='col-1 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='../../assets/icon/sell-layout/question-circle.svg' alt='question'>
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class='row'>
      <div class='row col-12 '>
        <button class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/house-door.svg' alt='home'>
          Bàn làm việc </button>
        <button  routerLink="/customer" class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/building.svg' alt='home'>
          Khách hàng </button>
        <!--      <button routerLink="/commodity"  class='btn font-lg overflow-hidden d-flex align-items-center '>-->
        <!--        <img class='mr-1' src='../../assets/icon/sell-layout/box.svg' alt='home'>-->
        <!--        Hàng hóa </button>-->
        <button routerLink="/order" class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/cart.svg' alt='home'>
          Đơn hàng</button>
        <button routerLink="/route" class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/car.svg' alt='home'>
          Tuyến đường </button>
        <button routerLink="/bill"  class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/file-text.svg' alt='home'>
          Hóa đơn </button>

        <button routerLink="/statistical"  class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/graph-up.svg' alt='home'>
          Thống kê </button>

        <button class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/coin.svg' alt='home'>
          Báo giá </button>


        <button class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/bullseye.svg' alt='home'>
          Mục tiêu </button>
        <button class='btn font-lg overflow-hidden d-flex align-items-center '>
          <img class='mr-1' src='../../assets/icon/sell-layout/list.svg' alt='home'>
          Khác </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div >
    <router-outlet>

    </router-outlet>
  </div>
  <app-footer>
    <span><a href='https://uranus-solutions.com/' target='_blank'>Uranus Solutions</a> &copy; 2021.</span>
    <span class='ml-auto'>Powered by <a href='https://uranus-solutions.com/' target='_blank'>Công ty TNHH giải pháp phần
            mềm Uranus</a></span>
  </app-footer>


