button:hover {
  background: #5bc0de6e;
}
.button {
  border: none;
  height: 45px;
  outline: #5bc0de;
  border-radius: 4px;
  background: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: white;
}
.main-body {
  margin-top: 100px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.btn-border {
  border: solid 2px #5bc0de;
  color: #428bca;
}
@media only screen and (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .app-name {
    font-size: 13px;
    font-weight: bold;
    padding: 0 !important;
  }
  .menu-mobile {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 739px) {
  .hide-on-pc {
    display: none;
  }
  .app-name {
    font-size: 20px;
    font-weight: bold;
  }
}
