<div class='px-5 py-3 main-popup'>
  <div [mat-dialog-close]='onDelete(false)' class='close-popup '>
    <span class='mr-1 color-delete'> close</span>
    <div class='x-popup x-popup background-delete' style='border:solid 1px #BC3939'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <div class='title-popup row d-flex '>
    <img class='mr-2' src='assets/img/payroll/exclamation-triangle-fill.svg' alt='delete'>
    <span class='color-delete'> xác nhận xóa </span>
  </div>
  <div class='main-popup mt-4'>
    <div class='row mt-2 content-table'>
      <span>Bạn có chắc xóa {{data.title}} này</span>
    </div>
    <span class='row mt-2 color-delete'>
        Việc này có thể làm ảnh hưởng đến các hoạt động khác
      </span>
  </div>
  <div class='footer-popup row mt-4 '>
    <button [mat-dialog-close]='onDelete(false)' class='btn btn-cancel mr-3 '>Hủy</button>
    <button [mat-dialog-close]='onDelete(true)'  class='btn btn-ok background-delete '>Tôi chắc chắn
    </button>
  </div>
</div>


