<div [formGroup]="formGroup">
  <div class="d-flex justify-content-between mb-2">
    <nz-select style="width: 100px" formControlName="filterRoute">
      <nz-option [nzValue]="false" nzLabel="Tất cả"></nz-option>
      <nz-option [nzValue]="true" nzLabel="lọc"></nz-option>
    </nz-select>
    <div class='mb-2 font-weight-bold' *ngIf='!pickOne'>Đã chọn: ({{orderSelected.length}}/{{total$ | async}})</div>
  </div>
  </div>
<div>
  <nz-table
    #nestedTable
    [nzData]="orders"
    [nzShowPagination]="false"
    nzSize="small"
    [nzScroll]="{y:'35vh'}"
  >
    <thead [formGroup]="formGroup">
    <tr>
      <th nzWidth="50px"></th>
      <th *ngIf='!payment'>
        <div>Khách hàng</div>
        <input nz-input
               *ngIf="!isCheckOrderSelected"
               type='search'
               formControlName='name'
        >
        <input nz-input
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>Ngày tạo</div>
        <input nz-input
               *ngIf="!isCheckOrderSelected"
               type='date' formControlName='createdAt'
        >
        <input nz-input
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>Tiền hàng</div>
        <input type='number' nz-input disabled>
      </th>
      <th>
        <div>Tổng số hàng</div>
        <input type='number' nz-input disabled>
      </th>
      <th>
        <div>Thanh toán</div>
        <nz-select *ngIf="!isCheckOrderSelected"
                   formControlName='paidType'>
          <nz-option [nzValue]='paidType.PAID' nzLabel="Có thanh toán"></nz-option>
          <nz-option [nzValue]='paidType.DEBT' nzLabel="Chưa thanh toán"></nz-option>
          <nz-option nzValue='' nzLabel="tất cả"></nz-option>
        </nz-select>
        <input nz-input
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>lần thanh toán</div>
        <input
          disabled nz-input type='number'>
      </th>
      <th *ngIf='payment'>
        <div class=' '>Diễn giải</div>
        <input class='form-control '
               type='text' formControlName='explain'
        >
      </th>
      <th>
        <div>Tất cả</div>
        <div class='d-flex justify-content-center align-items-center'>
          <mat-checkbox *ngIf='data?.pickMore|| !pickOne'
                        class='checkID'
                        [checked]='isSelectAll'
                        [indeterminate]='someComplete()'
                        (change)='setAll($event.checked)'>
          </mat-checkbox>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-order [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="order.expand"></td>
        <td *ngIf='!payment'>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='pointer no-underline '>{{ order?.customer?.lastName}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='pointer no-underline '>
            {{order?.createdAt ? (order?.createdAt| date: 'dd/MM/yyyy') : 'Đang cập nhật'}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #f86c6b'>
            {{order.commodityTotal|number:'1.0-0'|notEmpty:'0'}} đ
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #f86c6b'>
            {{order.totalCommodity|number:'1.0-0'}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #20c997'>
            {{order?.paymentTotal|number:'1.0-0'|notEmpty:'0'}} đ
          </a>
        </td>
        <td>
          <a routerLink='/don-hang/lich-su-thanh-toan'
             style='color: black'
             [queryParams]='{data:order.paymentHistories|json}'
             target='_blank' class='   pointer hover-link '>
            {{order?.paymentHistories?.length}}
          </a>
        </td>
        <td *ngIf='payment'>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='  pointer no-underline '>
            {{order.explain}}
          </a>
        </td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <input (change)='pickOneOrder(order)'
                   *ngIf='data?.pickOne||pickOne'
                   type='radio'
                   [checked]='orderPickOne?.id === order.id'
            >
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div *ngIf="checkCommodityRoute(order)">
              <mat-checkbox
                #checkBoxOrder
                *ngIf='!pickOne||data?.pickMore'
                class='checkID'
                [checked]='checkOrder(order)'
                (change)='updateAllSelect(order,checkBoxOrder)'>
              </mat-checkbox>
            </div>
            <div *ngIf="!checkCommodityRoute(order)">
              <a *ngFor="let item of order.routes" [routerLink]='["/tuyen-duong/chi-tiet-tuyen-duong/",item.id]'
                 style='color: red'
                 target='_blank' class='pointer no-underline '>
                {{item.bsx}}
              </a>
            </div>
          </div>
        </td>
      </tr>
      <tr [nzExpand]="order.expand? order.expand: false">
        <nz-table #innerTable [nzData]="order.commodities" nzSize="small" [nzShowPagination]="false">
    <thead>
    <tr>
      <th class="text-center">Hàng hoá</th>
      <th class="text-center">Số lượng</th>
      <th class="text-center">Giá</th>
      <th class="text-center" *ngIf='!pickOne||data?.pickMore'>Chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commodity of innerTable.data">
      <td class="text-center">{{commodity.name}}</td>
      <td class="text-center">{{commodity.amount}}</td>
      <td class="text-center">{{commodity.price}}</td>
      <td *ngIf='!pickOne||data?.pickMore'>
        <div class="d-flex justify-content-center align-items-center">
          <mat-checkbox
            *ngIf="!commodity?.route"
            #checkbox
            class='checkID'
            [checked]='checkCommodity(commodity)'
            (change)='pickCommodity(commodity, order, checkbox)'>
          </mat-checkbox>
          <a *ngIf="commodity?.route"
             [routerLink]='["/tuyen-duong/chi-tiet-tuyen-duong/",commodity?.route?.id]'
             style='color: red'
             target='_blank' class='  pointer no-underline '>
            {{commodity?.route?.bsx}}
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>
<button *ngIf='data?.pickOne' class='btn btn-primary mt-2' (click)='closeDialog()' mat-dialog-close> xác nhận</button>



