<div style="width: 100px" class=" mt-2" [formGroup]="formGroup">
  <mat-select class="form-control" formControlName="isRoute">
    <mat-option value="">Tất cả</mat-option>
    <mat-option value="true">Lọc</mat-option>
  </mat-select>
</div>
<div class='mb-2 font-weight-bold' *ngIf='!pickOne'>Đã chọn: ({{orderSelected.length}}/{{total$ | async}})</div>
<div style='height: 60vh ; overflow: auto'
     infiniteScroll
     [infiniteScrollThrottle]='10'
     [alwaysCallback]='true'
     [infiniteScrollDistance]='1'
     [scrollWindow]='false'
     (scrolled)='onScroll()'>
  <nz-table #nestedTable [nzData]="orders" [nzShowPagination]="false">
    <thead [formGroup]="formGroup">
    <tr style="position: sticky; top: 0px; z-index: 10">
      <th></th>
      <th *ngIf='!payment'>
        <div>Khách hàng</div>
        <input class='form-control '
               *ngIf="!isCheckOrderSelected"
               type='search'
               formControlName='name'
        >
        <input class='form-control '
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>Ngày tạo</div>
        <input class='form-control '
               *ngIf="!isCheckOrderSelected"
               type='date' formControlName='createdAt'
        >
        <input class='form-control '
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>Tiền hàng</div>
        <input type='number' class="form-control" disabled>
      </th>
      <th>
        <div>Tổng số hàng</div>
        <input type='number' class="form-control" disabled>
      </th>
      <th>
        <div>Thanh toán</div>
        <select *ngIf="!isCheckOrderSelected"
                class='select border-top' style='width: 100%' formControlName='paidType'>
          <option value='{{paidType.PAID}}'>Có thanh toán</option>
          <option value='{{paidType.DEBT}}'>Chưa thanh toán</option>
          <option value=''>tất cả</option>
        </select>
        <input class='form-control '
               *ngIf="isCheckOrderSelected"
               type='search'
               disabled
        >
      </th>
      <th>
        <div>lần thanh toán</div>
        <input
          disabled class="form-control" type='number'>
      </th>
      <th *ngIf='payment'>
        <div class=' '>Diễn giải</div>
        <input class='form-control '
               type='text' formControlName='explain'
        >
      </th>
      <th style='z-index: 2;width: 100px'>
        <div>Tất cả</div>
        <div class='d-flex justify-content-center border-top align-items-center'>
          <mat-checkbox *ngIf='data?.pickMore|| !pickOne'
                        class='checkID'
                        [checked]='isSelectAll'
                        [indeterminate]='someComplete()'
                        (change)='setAll($event.checked)'>
          </mat-checkbox>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-order [ngForOf]="nestedTable.data">
      <tr>
        <td [(nzExpand)]="order.expand"></td>
        <td *ngIf='!payment'>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='pointer no-underline '>{{ order?.customer?.lastName}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='pointer no-underline '>
            {{order?.createdAt ? (order?.createdAt| date: 'dd/MM/yyyy') : 'Đang cập nhật'}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #f86c6b'>
            {{order.commodityTotal|number:'1.0-0'|notEmpty:'0'}} đ
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #f86c6b'>
            {{order.totalCommodity|number:'1.0-0'}}
          </a>
        </td>
        <td>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             target='_blank' class='  pointer no-underline ' style='color: #20c997'>
            {{order?.paymentTotal|number:'1.0-0'|notEmpty:'0'}} đ
          </a>
        </td>
        <td>
          <a routerLink='/don-hang/lich-su-thanh-toan'
             style='color: black'
             [queryParams]='{data:order.paymentHistories|json}'
             target='_blank' class='   pointer hover-link '>
            {{order?.paymentHistories?.length}}
          </a>
        </td>
        <td *ngIf='payment'>
          <a [routerLink]='["/don-hang/chi-tiet-don-hang/",order.id]'
             style='color: black'
             target='_blank' class='  pointer no-underline '>
            {{order.explain}}
          </a>
        </td>
        <td>
          <div class="d-flex justify-content-center align-items-center">
            <input (change)='pickOneOrder(order)'
                   *ngIf='data?.pickOne||pickOne'
                   type='radio'
                   [checked]='orderPickOne?.id === order.id'
            >
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div *ngIf="checkCommodityRoute(order)">
              <mat-checkbox
                #checkBoxOrder
                *ngIf='!pickOne||data?.pickMore'
                class='checkID'
                [checked]='checkOrder(order)'
                (change)='updateAllSelect(order,checkBoxOrder)'>
              </mat-checkbox>
            </div>
            <a *ngIf="!checkCommodityRoute(order)"
                 [routerLink]='["/tuyen-duong/chi-tiet-tuyen-duong/",getFirstRoute(order).id]'
                 style='color: red'
                 target='_blank' class='  pointer no-underline '>
              {{getFirstRoute(order).bsx}}
            </a>
          </div>
        </td>
      </tr>
      <tr [nzExpand]="order.expand? order.expand: false">
        <nz-table #innerTable [nzData]="order.commodities" nzSize="middle" [nzShowPagination]="false">

    <thead>
    <th class="text-center">Hàng hoá</th>
    <th class="text-center">Số lượng</th>
    <th class="text-center">Giá</th>
    <th class="text-center" *ngIf='!pickOne||data?.pickMore'>Chọn</th>
    </thead>
    <tbody>
    <tr *ngFor="let commodity of innerTable.data">
      <td class="text-center">{{commodity.name}}</td>
      <td class="text-center">{{commodity.amount}}</td>
      <td class="text-center">{{commodity.price}}</td>
      <td *ngIf='!pickOne||data?.pickMore'>
        <div class="d-flex justify-content-center align-items-center">
          <mat-checkbox
            *ngIf="!commodity?.route"
            #checkbox
            class='checkID'
            [checked]='checkCommodity(commodity)'
            (change)='pickCommodity(commodity, order, checkbox)'>
          </mat-checkbox>
          <a *ngIf="commodity?.route"
             [routerLink]='["/tuyen-duong/chi-tiet-tuyen-duong/",commodity?.route?.id]'
             style='color: red'
             target='_blank' class='  pointer no-underline '>
            {{commodity?.route?.bsx}}
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  </tr>
  </ng-template>
  </tbody>
  </nz-table>
</div>
<button *ngIf='data?.pickOne' class='btn btn-primary mt-2' (click)='closeDialog()' mat-dialog-close> xác nhận</button>
<style>
  ::ng-deep .mat-step-header[aria-selected="true"] {
    height: 30px !important;
  }

  th {
    padding: 5px !important;
  }

  td {
    padding: 5px !important;
  }
</style>


