<div class='px-2  main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <div class="font-weight-bold font-2xl mt-2">{{data.title}}</div>
  <div class="font-weight-bold mt-3">
    bạn có muốn {{data.type === 'REMOVE'? 'bỏ' :''}} chọn tất cả {{data.salary.title}} ngày {{data.salary.datetime|date:'dd-MM-yyyy'}} không ?
  </div>
  <div class="d-flex mt-3">
    <button class="btn btn-primary mr-2" (click)="onSubmit('ONE')">{{data.type === 'REMOVE'? 'bỏ' :''}} chọn một</button>
    <button class="btn btn-primary" (click)="onSubmit('ALL')">{{data.type === 'REMOVE'? 'bỏ' :''}} Chọn tất cả</button>
  </div>
</div>
