<div class='main-popup' style='width: 400px'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <h2 mat-dialog-title>Bản mẫu</h2>
  <mat-dialog-content class='mat-typography'>
    <form [formGroup]='formGroup'>
      <div class='m-4'>
        <div class=' main-popup mt-2'>
          <div><span class='main-title'>Khối lương</span><span class='star'>*</span></div>
          <mat-select formControlName='type' class='form-control'>
            <mat-option *ngFor='let item of blockSalary' [value]='item.type'>{{item.title}}</mat-option>
          </mat-select>
        </div>
        <div class=' main-popup mt-2'>
          <div><span class='main-title'>Tiêu đề</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='text' formControlName='title'>
        </div>
<!--        <div class=' mt-2 d-flex flex-column' [formGroup]='formGroup'>-->
<!--          <div>-->
<!--            <span class='ml-1 title-item'>Đơn vị</span>-->
<!--          </div>-->
<!--          <div>-->
<!--            <input class='form-control mt-1' type='text' matInput [formControl]='branches' [matAutocomplete]='branch'-->
<!--                   style='width: 100%'-->
<!--                   [matChipInputFor]='chipList'-->
<!--                   #branchesInput>-->
<!--            <mat-autocomplete #branch='matAutocomplete'>-->
<!--              <mat-option *ngFor='let branch of branches$ | async'-->
<!--                          [value]='!branch.id ? branchesInput.value : branch.name '-->
<!--                          (onSelectionChange)='onSelectBranch($event, branch, branchesInput)'>-->
<!--                {{branch.name}}-->
<!--              </mat-option>-->
<!--            </mat-autocomplete>-->
<!--            <mat-chip-list #chipList>-->
<!--              <mat-chip-->
<!--                *ngFor='let branch of branchesSelected'-->
<!--                [selectable]='true'-->
<!--                [removable]='true'-->
<!--                (removed)='removeBranchSelected(branch)'>-->
<!--                {{branch.name}}-->
<!--                <button class='btn' matChipRemove *ngIf='true'>-->
<!--                  <mat-icon style='position: absolute; top:4px ; right: 5px'>cancel</mat-icon>-->
<!--                </button>-->
<!--              </mat-chip>-->
<!--            </mat-chip-list>-->
<!--          </div>-->
<!--        </div>-->
        <div class=' main-popup mt-2'>
          <div><span class='main-title'>Mức lương</span></div>
          <input class='form-control mt-1' type='text' formControlName='price' placeholder='200,000' inputCurrency>
        </div>
      </div>
      <div class='footer-popup row ml-2'>
        <button (click)='onSubmit()' class=' btn btn-ok ml-2'>Lưu</button>
      </div>
    </form>
  </mat-dialog-content>
</div>


