<div class="d-flex mt-3 ml-2">
  <div class='d-flex flex-column ml-3 border p-2' style='height: 80vh; width:250px; overflow-y: scroll'>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader='Tìm kiếm'
        nzActive='true'>
        <div [formGroup]='formGroup'>
          <input nz-input class='form-control' type='search' formControlName='search'>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div>
      <minhdu-fontend-collapse-radios
        [formGroup]='formGroup' [controlName]="'inventoryType'" header='Tổng kho'
        [active]="true"
        [radios]='inventoryTitle'>
      </minhdu-fontend-collapse-radios>
    </div>
    <div>
      <minhdu-fontend-collapse-radios
        [formGroup]='formGroup' [controlName]="'warehouseType'" header='Loại kho'
        [active]="true"
        [radios]='(warehouse$|async)||[]'>
      </minhdu-fontend-collapse-radios>
    </div>
  </div>
  <div class="d-flex flex-column ml-2" style="width: 80vw">
    <div class="ml-2 d-flex justify-content-between">
      <div class="font-2xl font-weight-bold"> Hàng hoá</div>
      <div>
        <div>
          <button class='btn btn-primary font-sm mr-2 ' (click)='import()'>Nhập</button>
          <button class='btn btn-primary font-sm '>Xuất</button>
        </div>
      </div>
    </div>
    <nz-table #tableDashBoard class="mt-2"
              nzSize='small'
              [nzData]="(products$|async)|| []"
              [formGroup]='formGroup'
              (nzPageIndexChange)="onPagination($event)"
              [nzLoading]="(loading$|async)"
              [nzScroll]="{ x: '2000px',y: '60vh'}"
              [nzPageSize]="pageSizeTable"
    >
      <thead>
      <tr>
        <th>STT</th>
        <th>
          Mã hàng
        </th>
        <th>Tên hàng</th>
        <th *ngIf='!(warehouseSelected$ | async) || (warehouseSelected$ | async) === -1'>Loại kho</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th>Tổng tiền</th>
        <th>Mã vạch</th>
        <th>Nhà cung cấp</th>
        <th>Hạn sử dụng</th>
        <th>Chiếc khấu</th>
        <!--          <th>-->
        <!--            <div class='border-top text-center'>Số chứng từ</div>-->
        <!--            <input disabled>-->
        <!--          </th>-->
        <th>Đơn vị</th>
        <th>Ngày nhập kho</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-product [ngForOf]="tableDashBoard.data" let-i='index'>
        <tr class="pointer" (contextmenu)='child.onContextMenu($event,product)' (click)='onUpdate(product)'>
          <td>{{(i + 1) + ((tableDashBoard.nzPageIndex - 1) * 10)}}</td>
          <td>{{product?.code}}</td>
          <td>{{product?.name}}</td>
          <td *ngIf='!(warehouseSelected$ | async) || (warehouseSelected$ | async) === -1'>
            {{product.warehouse?.name}}
          </td>
          <td>{{product.price | number:'1.0'|notEmpty:'0'}} đ</td>
          <td> {{product?.amount}}</td>
          <td style='color: #4dbd74'>
            {{(product.price * product.amount) - ((product.price + product.amount) * (product?.discount || 0)) | number:'1.0'|notEmpty:'0'}}
          </td>
          <td>{{product?.code}}</td>
          <td>{{product?.provider?.name}}</td>
          <td>{{(product?.exp | date: 'dd/MM/yyyy') || 'Chưa có thông tin'}}</td>
          <td style='color: #4dbd74'> {{(product.discount || 0) * 100 + '%' }}</td>
          <!--          <th class='pointer'>-->
          <!--            {{product?.billCode}}-->
          <!--          </th>-->
          <td> {{product.unit | transform:medicineConstant}}</td>
          <td>{{(product?.createdAt | date: 'dd/MM/yyyy') || 'Đang cập nhật'}}</td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>

  </div>
</div>
<app-mouse-right #child
                 (onAdd)='import()'
                 (onDel)='onDelete($event)'
                 (onUpdate)='onUpdate($event)'></app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3) {
    z-index: 5;
  }
</style>
