<mat-spinner *ngIf='(adding$|async)' class='loading'></mat-spinner>
<div class='animated fadeIn container mb-3  '>
  <div class='row col-12 d-flex justify-content-between' *ngIf='(employee$ | async)  as employee'>
    <div class='row mt-5 mr-5'>
      <div class=' main-title  mr-5'>
        Thông tin nhân viên
      </div>
      <div class=' justify-content-center not-print'>
        <img
          class='rounded-circle row'
          alt='50x50'
          src='{{employee.avt}}'
          data-holder-rendered='true'
          height='160px'
        />
        <button
          class='row btn d-flex justify-content-between align-items-center mt-2  shadow-sm p-1 mb-3 bg-white rounded not-print'>
          <img src='../../../../../assets/img/share/person-circle.svg' alt='avatar'>
          <span class='ml-2' style='color: #80828B;'>
                  Đổi avatar
            </span>
        </button>
        <button (click)='deleteEmployee(employee, employee.leftAt)'
                class='row btn shadow-none p-2 mb-3 bg-light rounded'>
              <span style='text-align: center; font-weight: 600;font-size: 16px;line-height: 19px; width:240px;'>
                 {{employee.leftAt ? 'Khôi phục' : 'Xóa nhân viên' }}
              </span>
        </button>
      </div>
    </div>
    <div class="not-print">
      <button (click)='historySalary(employee )'
              class='mt-5 btn d-flex d-flex justify-content-center  align-items-center mr-3'
              style='border: solid 1px #4B3880'>
        <img class='mr-1' src='../../../../../assets/img/share/arrow-counterclockwise.svg' alt='history'><span>xem lịch sử lương</span>
      </button>
    </div>
    <div *ngIf="isOpen">
      <minhdu-fontend-employee-dialog [isOpen]='isOpen' [employeeInit]="employee"
                                      (eventEmit)='eventEmit($event)'></minhdu-fontend-employee-dialog>
    </div>

  </div>
  <div class='row mt-3' style='color:#80828B' *ngIf='(employee$ | async)  as employee'>
    <div class='col-12'>
      <div class='row d-flex align-items-center not-print'>
        <div class='col-2 align-items-center title-table'>Thông tin chung</div>
        <button
          *ngIf='!employee.leftAt'
          data-toggle='tooltip'
          data-placement='top'
          title=' chỉnh sửa '
          class='edit animated not-print'
          (click)='updateEmployee()'>
          <img style='height: 15px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
        </button>
      </div>
      <div class='row mt-3'>
        <div class='col-6  form-group'>
          <!--          <div class=' ml-1 row align-items-center'>-->
          <!--            <div class='col-md-4 py-2 title-employee title-detail'>-->
          <!--              <span>Mã số :</span>-->
          <!--            </div>-->
          <!--            <div class='col-md-8 py-2'>-->
          <!--            <span class='contain-detail' style='font-weight: 600 ;color: #3C3B54'>-->
          <!--              {{employee.code}}-->
          <!--            </span>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Họ và tên :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail' style=' color: #3C3B54'>
             {{employee.lastName}}
            </span>
            </div>
          </div>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Giới tính :</span>
            </div>
            <div class='col-md-8 d-flex flex-row'>
              <label class='col-md-2 py-2'
                     style='display: flex;justify-content: flex-start;align-items: center;color: #3C3B54'>
                <input disabled type='radio' name='group1[]' class='mr-1 ml-1'
                       [checked]="employee.gender === 'FEMALE'">
                Nữ
              </label>
              <label class='col-md-2 py-2'
                     style='display: flex;justify-content: flex-start;align-items: center;color: #3C3B54'>
                <input disabled type='radio' name='group1[]' class='mr-1' [checked]="employee.gender ==='MALE'">Nam
              </label>
              <label class='col-md-2 py-2'
                     style='display: flex;justify-content: flex-start;align-items: center;color: #3C3B54'>
                <input disabled type='radio' name='group1[]' class='mr-1'
                       [checked]="employee.gender === 'OTHER'">Khác
              </label>
            </div>
          </div>
          <div class='row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày sinh :</span>
            </div>
            <div class='col-md-8 py-2'>
                 <span class='contain-detail' *ngIf='employee.birthday === null'>
                    Chưa cập nhật
                 </span>
              <span *ngIf='employee.birthday'>
                  {{employee.birthday|date:'dd/MM/yyyy'}}
                </span>
            </div>
          </div>
          <div class='row ml-1  align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span> Nguyên quán :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail' style='color: #3C3B54'>
              {{employee.birthplace === null ? 'Chưa cập nhật' : employee.birthplace }}
            </span>
            </div>
          </div>
          <div class=' row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>CMND?CCCD:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
               {{employee.identify ? employee.identify : 'Chưa cập nhật'}}
            </span>
            </div>
          </div>
          <div class=' row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày cấp:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span class='contain-detail' *ngIf='employee.idCardAt === null '>
                Đang cập nhật
                </span>
              <span class='contain-detail' *ngIf='employee.idCardAt !== null '>
                {{ employee.idCardAt|date:'dd/MM/yyy'}}
                </span>
            </div>
          </div>
          <div class=' row ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Nơi cấp:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
              {{employee?.issuedBy ? employee.issuedBy : 'Chưa cập nhật' }}
            </span>
            </div>
          </div>
          <div class='row ml-1  align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span> Dân tộc :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
              {{employee.ethnicity === null ? 'Chưa cập nhật' : employee.ethnicity }}
            </span>
            </div>
          </div>
          <div class='row  ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày công chuẩn :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
               {{employee.workday}}
            </span>
            </div>
          </div>
          <div class='row ml-1  align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Công thức lương:</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
              {{employee.recipeType|transform:recipeConstant}}
            </span>
            </div>
          </div>
          <div class='row  ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày vào làm :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
               {{employee?.createdAt ? (employee.createdAt|date:'dd/MM/yyyy') : 'Chưa cập nhật'}}
            </span>
            </div>
          </div>
          <div class='row  ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày làm chính thức:</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
               {{employee?.workedAt ? (employee.workedAt |date:'dd/MM/yyyy') : 'Chưa cập nhật'}}
            </span>
            </div>
          </div>
          <div class='row  ml-1 align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày nghỉ việc:</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
               {{employee.leftAt ? (employee.leftAt |date:'dd/MM/yyyy') : 'Chưa cập nhật' }}
            </span>
            </div>
          </div>
        </div>
        <div class='col-6  form-group'>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Đơn vị :</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail' style='color: #3C3B54'>
              {{employee?.branch?.name}}
            </span>
            </div>

          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Chức vụ :</span>
            </div>
            <div class='col py-2 '>
              <div class='p-1 px-3 '
                   style='font-weight: 600; font-size: 16px; border: solid 1px #63c2de;width: fit-content'>
                {{employee.position.name}}
              </div>
            </div>
          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Địa chỉ :</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail' style='color: #3C3B54'>
              {{employee.address}}
            </span>
            </div>
          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Phường xã :</span>
            </div>
            <div class='col py-2 '>
              <div class='contain-detail'>
                <div>{{employee?.ward?.name}}</div>
              </div>
            </div>
          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Quận huyện :</span>
            </div>
            <div class='col py-2 '>
              <div class='contain-detail'>
                {{employee?.ward?.district?.name}}
              </div>
            </div>
          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Tỉnh thành:</span>
            </div>
            <div class=' col py-2 '>
              <div class='contain-detail'>
                {{employee?.ward?.district?.province?.name}}
              </div>
            </div>
          </div>
          <div class='row  align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Tôn giáo :</span>
            </div>
            <div class='col-md-8 py-2 '>
            <span class='contain-detail'>
               {{employee.religion === null ? 'Chưa cập nhật' : employee.religion }}
            </span>
            </div>
          </div>
          <div class='row  align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Thuộc diện hợp đồng :</span>
            </div>
            <div class='col-md-8 py-2 '>
              <div style='width: fit-content; height: fit-content'
                   (click)='updateContract(employee)'
              >
                <input

                  style='pointer-events: none'
                  disabled
                  type='checkbox'
                  [checked]='employee?.contracts?.length !==0'>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 mt-3'>
      <div class=' d-flex align-items-center'>
        <div class='align-items-center main-title ml-2 mr-4'>Thông tin liên hệ</div>
      </div>
      <div class='row pl-3'>
        <div class='col-6  form-group'>
          <div class='mt-3 row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>ĐT di động:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail' style='color: #7749F8  '>
                {{employee.phone === null ? 'Chưa cập nhật' : employee.phone}}
            </span>
            </div>
          </div>
          <div class='row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Số ĐT khác:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail' style='color: #7749F8  '>
                {{employee.workPhone === null ? 'Chưa cập nhật' : employee.workPhone}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Email cá nhân:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee.email === null ? 'Chưa cập nhật' : employee?.email}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Facebook:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee?.facebook === null ? 'Chưa cập nhật' : employee.facebook}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>zalo:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee?.zalo === null ? 'Chưa cập nhật' : employee?.zalo}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-3 py-2 title-employee title-detail'>
              <span>Nguyên quán:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee.birthplace === null ? 'Chưa cập nhật' : employee.birthplace}}
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12'>
      <div class=' d-flex align-items-center'>
        <div class='ml-2 mt-5  d-flex align-items-center main-title'>Thông tin bảo hiểm
          <button
            *ngIf='!employee.leftAt'
            data-toggle='tooltip'
            data-placement='top'
            title=' chỉnh sửa '
            class='edit animated ml-5 not-print'
            (click)='addOrUpdateBHYT(employee.bhyt)'>
            <img style='height: 15px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
          </button>
        </div>

      </div>
      <div class='row pl-3 '>
        <div class='col-6  form-group'>
          <div class='mt-3 row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày tham gia BH:</span>
            </div>
            <div class='col-md-8 py-2'>
              <span class='contain-detail' *ngIf='employee?.bhyt === null'>
                 Chưa cập nhật
              </span>
              <span class='contain-detail' *ngIf='employee?.bhyt !==null'>
               {{employee.bhyt| date: 'dd/MM/yyyy'}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Tỉ lệ đóng bảo hiểm:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa có thông tin' : employee?.bhyt }}
                </span>

            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>số sổ BHXH:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa có thông tin' : employee?.bhyt }}
                </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Mã số BHXH:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa có thông tin' : employee?.bhyt
                  }}
                </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Mã tỉnh cấp:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa có thông tin' : employee?.bhyt }}
                </span>
            </div>
          </div>
        </div>
        <div class='col-6  form-group'>
          <div class='mt-3 row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Số thẻ BHYT:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa cập nhật' : employee?.bhyt}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Ngày hết hạn:</span>
            </div>
            <div class='col-md-8 py-2'>
                <span *ngIf='employee?.bhyt === null'>
                  Chưa cập nhật
                </span>
              <span class='contain-detail'>
                    {{employee.bhyt|date:'dd/MM/yyyy'}}
                </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Nơi đăng kí KCB:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa cập nhật' : employee?.bhyt}}
            </span>
            </div>
          </div>
          <div class=' row align-items-center'>
            <div class='col-md-4 py-2 title-employee title-detail'>
              <span>Mã số nơi KCB:</span>
            </div>
            <div class='col-md-8 py-2'>
            <span class='contain-detail'>
                {{employee?.bhyt === null ? 'Chưa cập nhật' : employee?.bhyt }}
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 mt-5'>
      <div class='row d-flex align-items-center '>
        <div class=' align-items-center title-table mr-4'>Thành phần gia đình</div>
        <div class='col-md-4 add not-print' *ngIf='!employee.leftAt' (click)='addAndUpdateRelative(employee.id )'>
          <span class='mr-1 font-weight-bold '>Thêm mục</span>
          <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
               alt='add icon'>
        </div>
      </div>
      <div class='mt-3 '>
        <table class='mt-3'>
          <tr>
            <th class='text-center'>Họ và tên</th>
            <th class='text-center'>Quan hệ</th>
            <th class='text-center'>Ngày sinh</th>
            <th class='text-center'>Số điện thoại</th>
            <th class='text-center'>Email</th>
            <th class='text-center'>Liên hệ khẩn cấp</th>
            <th class='text-center not-print'>Xóa</th>
          </tr>
          <tr *ngFor='let relative of employee.relatives'>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)'
                class='text-center pointer'>{{relative.lastName}}</td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.FATHER'>Cha
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.MOTHER'>Mẹ
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.DAUGHTER'>Con gái
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.SON'>Con trai
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.HUSBAND'>Chồng
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)' class='text-center pointer'
                *ngIf='relative.relationship === relationship.WIFE'>Vợ
            </td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)'
                class='text-center pointer'>{{relative.birthday |date:'dd/MM/yyyy'}}</td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)'
                class='text-center pointer'>{{relative.phone ? relative.phone : 'Chưa cập nhật'}}</td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)'
                class='text-center pointer'>{{relative.email ? relative.email : 'Chưa cập nhật'}}</td>
            <td (click)='addAndUpdateRelative(employee.id, relative.id, relative)'>
              <input style='margin-left: 50%' disabled type='checkbox' [checked]='relative.sos'>
            </td>
            <td class="not-print">
              <button
                style='margin-left: 35%'
                data-toggle='tooltip'
                data-placement='top'
                title='xóa'
                class=' trash '
                (click)='deleteRelative(relative.id , employee.id)'
              >
                <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='col-12 mt-5'>
      <div class='row'>
        <div class=' align-items-center title-table mr-4'>Trình độ bằng cấp</div>
        <div class='col-md-4 add not-print' *ngIf='!employee.leftAt' (click)='addAndUpdateDegree(employee.id)'>
          <span class='mr-1 font-weight-bold'>Thêm mục</span>
          <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
               alt='add icon'>
        </div>
      </div>
      <div class='mt-3 '>
        <table class='mt-3'>
          <tr>
            <th class='text-center'>Bằng cấp</th>
            <th class='text-center'>Bắt đầu</th>
            <th class='text-center'>Kết thúc</th>
            <th class='text-center'>Chuyên ngành</th>
            <th class='text-center'>hình thức đào tạo</th>
            <th class='text-center'>Nơi đào tạo</th>
            <th class='text-center'>Mức tốt nghiệp</th>
            <th class='text-center'>Tốt nghiệp</th>
            <th class='text-center not-print'>Xóa</th>

          </tr>
          <tr *ngFor='let degree of employee.degrees'>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.type === degreeType.UNIVERSITY'> Đại học
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.type === degreeType.COLLEGE'> Cao đẳng
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.type === degreeType.PHILOSOPHY'> Tiến sĩ
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.type === degreeType.MASTER'> Thạc sĩ
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.type === degreeType.INTERMEDIATE'>Trung cấp
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
            >{{degree.startedAt |date:'dd/MM/yyyy'}}</td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
            >{{degree.endedAt |date:'dd/MM/yyyy'}}</td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
            >{{degree.major}}</td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.formality === null '>
              Chưa cập nhật
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.formality === formalityEnum.REMOTE '>
              Đào tạo từ xa
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.formality === formalityEnum.FORMAL '>
              Chính qui
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.formality === formalityEnum.TRAINING '>
              Trung cấp
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.formality === formalityEnum.INFORMAL '>
              Không chính qui
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
            >{{degree.school}}</td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.level === level.EXCELLENT '>Giỏi
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.level === null'>Chưa cập nhật
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.level === level.GOOD '>Khá
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.level === level.AVERAGE '>Trung bình
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.level === level.BELOW_AVERAGE '>Dưới trung bình
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.status === status.GRADUATED'> Đã tốt nghiệp
            </td>
            <td class='text-center pointer'
                (click)='addAndUpdateDegree(employee.id,degree.id , degree)'
                *ngIf='degree.status === status.NOT_GRADUATED'> Chưa tốt nghiệp
            </td>
            <td class="not-print">
              <button
                style='margin-left: 35%'
                data-toggle='tooltip'
                data-placement='top'
                title='xóa'
                class=' trash '
                (click)='deleteDegree(degree.id , employee.id)'
              >
                <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
              </button>
            </td>
          </tr>

        </table>
      </div>
    </div>
    <div class='col-12'>
      <div class=' mt-5 mb-3 row align-items-center title-table'>Lịch sử lương</div>
      <div class="border show-table-print" style="max-height: 300px; overflow: auto">
        <table>
          <tr style="position: sticky ; top: 0px ;">
            <th style="background: white" class='text-center border'>Loại lương</th>
            <th style="background: white" class='text-center border'>Mức lương</th>
            <th style="background: white" class='text-center border'>Ngày</th>
          </tr>
          <tr *ngFor='let salary of employee.salaryHistories|filterDay'>
            <td class='text-center'>{{salary?.title}}</td>
            <td class='text-center'>{{salary?.price ? (salary.price|number:'1.0') : ''}}đ</td>
            <td class='text-center'>{{salary?.datetime|date:'dd/MM/yyyy'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class='col-12'>
      <div class=' mt-5 mb-3 row align-items-center title-table'>Lịch sử công tác</div>
      <div class="border show-table-print" style="max-height: 300px; overflow: auto">
        <table>
          <tr style="position: sticky ; top: 0px ;">
            <th style="background: white" class='text-center border'>Từ ngày</th>
            <th style="background: white" class='text-center border'>Vị trí công việc</th>
            <th style="background: white" class='text-center border'>Đơn vị công tác</th>
            <th style="background: white" class='text-center border not-print'>Xoá</th>
          </tr>
          <tr *ngFor='let workHistory of employee.workHistories|filterDayWorkHistory'>
            <td class='text-center'>{{workHistory?.createdAt|date:'dd/MM/yyyy'}}</td>
            <td class='text-center'>{{workHistory?.position?.name}}</td>
            <td class='text-center'>{{workHistory?.branch?.name}}</td>
            <td class='text-center not-print' (click)="deleteWorkHistory(workHistory, employee.id)">
              <button class="btn btn-danger">
                Xoá
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  @media print {
    .show-table-print {
      height: auto !important;
      overflow: auto !important;
    }
  }
</style>
