<mat-spinner *ngIf='adding$|async' class='loading'></mat-spinner>
<div>
  <div class=' h3 '>Bản mẫu tăng ca</div>
  <div>
    <button (click)='templateOvertime()' class='btn btn-primary mt-3 '>Tạo mẫu</button>
  </div>
</div>
<div class='fixTableHead mt-5' style='width: 100%'
     infiniteScroll
     [infiniteScrollDistance]='0.5'
     [scrollWindow]='false'
     [alwaysCallback]='true'
     (scrolled)='onScroll()'>

  <table [formGroup]='formGroup'>
    <thead>
    <tr>
      <th>
        <div class='border-top text-center'>Tên bản mẫu</div>
        <input
          class='form-control '
          type='text'
          formControlName='title'
        >
      </th>
      <th>
        <div class='border-top text-center'>Giá</div>
        <input
          class='form-control  '
          type='text' formControlName='price'>
      </th>
      <th>
        <div class='border-top text-center'>Đơn vị tính</div>
        <select class='select border-top' style='width: 100%' matNativeControl required formControlName='unit'>
          <option value='{{unit.DAY}}'>Ngày</option>
          <option value='{{unit.HOUR}}'>Giờ</option>
          <option value=''>Tất cả</option>
        </select>
      </th>
      <th>
        <div class='border-top text-center'>Đơn vị</div>
        <input class='form-control ' type='text' formControlName='branch'>
      </th>
      <th>
        <div class='border-top text-center'>Chức vụ</div>
        <input
          class='form-control '
          type='text' formControlName='position'>
      </th>
      <th>
        <div class='border-top text-center'>Chú ý</div>
        <input
          class='form-control '
          type='search' formControlName='note'>
      </th>
    </tr>
    </thead>
    <tbody *ngIf='(templates$| async) as templates'>
    <tr *ngFor='let template of templates; let i = index'
        (contextmenu)='child.onContextMenu($event,template)'>

      <th class='  pointer ' (click)='templateOvertime(template)'>
          {{template.title}}
      </th>
      <th class='  pointer ' (click)='templateOvertime(template)'>
        {{template.price| number: '1.0-0'}} VND
      </th>
      <th class='  pointer' *ngIf='template.unit === unit.DAY'
          (click)='templateOvertime(template)'>
       Ngày
      </th>
      <th class='  pointer'
          *ngIf='template.unit === unit.HOUR || template.unit === unit.MINUTE'
          (click)='templateOvertime(template)'>
       Giờ
      </th>
      <th class='  pointer' *ngIf='template.unit === unit.MONTH'
          (click)='templateOvertime(template)'>
       Tháng
      </th>
      <th class='  pointer '
          (click)='templateOvertime(template)'
          *ngIf='template?.branch'
      >
        <div> {{template?.branch?.name}}</div>
      </th>
      <th class='  pointer '
          (click)='templateOvertime(template)'
          *ngIf='!template?.branch'
      >
      </th>
      <th class='  pointer p-1 '
          (click)='templateOvertime(template)'>
        <mat-chip-list>
          <mat-chip (click)='templateOvertime(template)'
            [ngStyle]='{"background": i%2 !== 0 ? "white" : "#dddddd" }'
            *ngFor='let position of template.positions'
            [selectable]='false'
            [removable]='false'>
            {{position.name}}
          </mat-chip>
        </mat-chip-list>
      </th>
      <th class=' pointer '
          (click)='templateOvertime(template)'>
        {{template.note}}
      </th>
    </tr>
    <tr *ngIf='!templates || templates.length === 0 ' style='height:50vh; '
        class=' d-flex justify-content-center align-content-center'>
      <td colspan='6' class='font-xl font-weight-bold d-flex align-items-center'>
        Hiện chưa có bản mẫu tăng ca nào!
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-mouse-right #child (addEvent)='templateOvertime($event)'
                 (readAndUpdateEvent)='templateOvertime($event)'
                 (deleteEvent)='deleteOvertime($event)'
></app-mouse-right>
