<div class='px-3 py-3 main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <mat-tab-group #tabGroup (selectedTabChange)='tabChanged($event)' dynamicHeight>
      <mat-tab class='col-12 ' label='Một nhân viên'>
        <div [formGroup]='formGroup' class='tab'>
          <div class='form-group '>
            <div class='row mp-5 title-popup'>
              <span>Thêm Phiếu lương</span>
            </div>
            <div class='mt-3'>
              <div class='row title-item mb-2'>
                <span>Thêm phiếu lương tháng</span>
                <div class='star'>*</div>
              </div>
              <div class='row mb-3' [formGroup]='formGroup'>
                <input type='date' class='form-control  px-1' formControlName='createdAt'
                       [ngClass]="{ 'is-invalid': submitted && f.createdAt.errors?.required }">
                <div *ngIf='submitted && f.createdAt.errors?.required' class='invalid-feedback'
                     [ngClass]="{ 'is-invalid': submitted && f.createdAt.errors?.required }">
                  <div>Chưa chọn tháng</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <!--      <mat-tab *ngIf='!this.data.id'  class="col-12 " label="Chọn nhân viên nhân viên">-->
      <!--        <app-pick-employee (checkEvent)='pickEmployees($event)' ></app-pick-employee>-->
      <!--      </mat-tab>-->
    </mat-tab-group>
    <div class='footer-popup row mt-3 ml-2'>
      <button class='btn btn-ok '>Lưu</button>
    </div>
  </form>
</div>
