<div class="d-flex mt-3 ml-2">
  <div class='d-flex flex-column ml-3 border p-2' style='height: 80vh; width:250px; overflow-y: scroll'>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader='Tìm kiếm'
        nzActive='true'>
        <div [formGroup]='formGroup'>
          <input nz-input class='form-control' type='search' formControlName='search'>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="d-flex flex-column ml-2" style="width: 80vw">
    <div class="mt-2 d-flex flex-column">
      <div class="d-flex mb-2 justify-content-between align-items-center">
        <div>
          <span class="font-weight-bold">Tổng: </span> {{total$|async}}
        </div>
        <div>
          <button nz-button nzType="primary" (click)="onAdd()">Thêm</button>
        </div>
      </div>
      <nz-table #tablePosition
                nzShowPagination="false"
                [nzLoading]="loading$|async"
                [nzScroll]="{ x: '1500px',y: '53vh'}"
                nzSize='small'
                [nzData]="(positions$|async)|| []"
      >
        <thead>
        <tr>
          <th nzLeft nzWidth="60px">STT</th>
          <th *ngIf="(currentUser$ | async)?.mode === modeEnum.INFO">Mã chức vụ</th>
          <th nzLeft>Tên chức vụ</th>
          <th>Đơn vị</th>
          <th> Ngày công chuẩn <br/> (Mỗi nhân viên có thể sẽ khác nhau)</th>
          <th>Tổng nhân viên</th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-position [ngForOf]="tablePosition.data" let-i='index'>
          <tr class="pointer"
              (click)="onUpdate(position)"
              (contextmenu)='child.onContextMenu($event,position)'>
            <td nzLeft>{{i + 1}}</td>
            <td *ngIf="(currentUser$ | async)?.mode === modeEnum.INFO">{{position.id}}</td>
            <td nzLeft>{{position.name}}</td>
            <td>
              <span class="font-weight-bold" *ngIf="position.branches.length === 0 else chip">Thuộc tất cả đơn vị</span>
              <ng-template #chip>
                <mat-chip-list>
                  <mat-chip
                    (click)="$event.stopPropagation()"
                    [contextMenu]='childChip'
                    [contextMenuSubject]='{position: position, branch: branch}'
                    [style]='{"background": formGroup.get("branch")?.value.id === branch.id ? "red" : "#00000040"}'
                    *ngFor='let branch of position.branches'>
                    {{branch.name}}
                  </mat-chip>
                </mat-chip-list>
              </ng-template>
            </td>
            <td>{{position.workday}}</td>
            <td>{{position._count.employees}}</td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
<app-mouse-right
  [items]='[itemContextMenu.PAYROLL, itemContextMenu.PROFILE, itemContextMenu.OVERTIME]'
  #child
  (onAdd)='onAdd()'
  (onUpdate)='onUpdate($event)'
  (onDel)='onDelete($event)'
  (onProfile)="onEmployee($event)"
  (onPayroll)="onPayroll($event, filterType.PAYROLL)"
  (onOvertime)="onPayroll($event, filterType.OVERTIME)"
></app-mouse-right>
<context-menu #childChip>
  <ng-template
    contextMenuItem
    (execute)='onEmployee($event.item.branch, $event.item.position)'>
    Nhân viên
  </ng-template>
  <ng-template
    contextMenuItem
    (execute)='onPayroll( $event.item.branch, filterType.PAYROLL, $event.item.position)'>
    Bảng lương
  </ng-template>
  <ng-template
    contextMenuItem
    (execute)='onPayroll( $event.item.branch,  filterType.OVERTIME, $event.item.position)'>
    Tăng ca
  </ng-template>
</context-menu>
