<div class='mx-auto' style='width: 98%'>
  <ngx-skeleton-loader *ngIf='!(medicines$ | async)  ; else medicine'
                       count='18' appearance='line'></ngx-skeleton-loader>
  <ng-template #medicine>
    <div class='table-scroll mt-2 animated fadeIn'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='10'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
    >
      <table [formGroup]='formGroup' style='width: 2500px'>
        <thead>
        <tr>
          <th>
            <div class='border-top text-center'>stt</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Mã thuốc</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Tên thuốc</div>
            <input
              formControlName='name'
              class='form-control input-profile '
              type='search'>
          </th>
          <th>
            <div class='border-top text-center'>Mã vạch</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Nhà cung cấp</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Hạn sử dụng</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Giá</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Chiếc khấu</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Hóa đơn</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Đơn vị</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Số lượng</div>
            <input disabled>
          </th>
          <th>
            <div class='border-top text-center'>Ngày nhập</div>
            <input disabled>
          </th>
        </tr>
        </thead>
        <tbody *ngIf='(medicines$| async) as medicines'>
        <tr *ngFor='let medicine of medicines; let i = index'
            (contextmenu)='child.onContextMenu($event,medicine)'
            (click)='updateMedicine(medicine)'>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{i + 1}}
          </th>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{medicine?.code}}
          </th>
          <th class='pointer'
              [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
            {{medicine?.name}}
          </th>
          <th class='pointer'>
            {{medicine?.barcode}}
          </th>
          <th class='pointer'>
            {{medicine?.provider}}
          </th>
          <th class='pointer' *ngIf='medicine?.expire !== null'>
            {{medicine?.expire | date: 'dd/MM/yyyy'}}
          </th>
          <th class='pointer' *ngIf='medicine?.expire === null'>
            Đang cập nhật
          </th>
          <th class='pointer' style='color: #4dbd74'>
            {{medicine.price|number:'1.0'|notEmpty:'0'}} đ
          </th>
          <th class='pointer' *ngIf='medicine.discount' style='color: #4dbd74'>
            {{medicine.discount * 100}}%
          </th>
          <th class='pointer' *ngIf='!medicine.discount' style='color: #4dbd74'>
            0%
          </th>
          <th class='pointer'>
            {{medicine?.invoice}}
          </th>
          <th class='pointer'>
            {{medicine.unit|transform:medicineConstant}}
          </th>
          <th class='pointer'>
            {{medicine?.amount}}
          </th>
          <th class='pointer' *ngIf='medicine?.createdAt !== null'>
            {{medicine?.createdAt | date: 'dd/MM/yyyy'}}
          </th>
          <th class='pointer' *ngIf='medicine?.createdAt === null'>
            Đang cập nhật
          </th>
        </tr>
        <tr *ngIf='medicines.length === 0'>
          <td colspan='20' style='height: 48vh'>
            <span class='d-block font-lg font-weight-bold'
                  style='position: absolute; top: 45%; left: 45%'>Chưa có loại thuốc nào!</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
<app-mouse-right #child
                 (onAdd)='importMedicine()'
                 (onDel)='deleteMedicine($event)'
                 (onUpdate)='updateMedicine($event)'></app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3) {
    z-index: 5;
  }
</style>
