<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kho hàng</title>
</head>
<div class='px-3 pt-1 grid_on   shadow-sm'>
  <div class='container'>
    <div class='row'>
      <div class='d-flex col-md-7 col-xm-12 '>
        <div class='col-md-4   d-flex align-items-center'>
          <button class='col-md-1 col-xm-1 btn d-flex align-items-center justify-content-center'>
            <img src='assets/icon/warehouse-layout/grid-3x3-gap-fill.svg' alt='app'>
          </button>
          <span class='col-md-11 col-xm-11 app-name font-weight-bold'>Kho hàng</span>
        </div>
        <div class='col-md-8  pt-2 col-xm-12 d-flex justify-content-center align-items-center'>
          <input type='text' class='form-control col-8' placeholder='Tìm kiếm  '>
        </div>
      </div>
      <div class=' col-md-5 col-xm-12   d-flex justify-content-center'>
        <button type='button'
                data-toggle="tooltip"
                data-placement="bottom"
                title="Facebook"
                class='col-md-1 col-xm-2 btn d-flex align-items-center justify-content-center'>
          <a href='https://www.facebook.com/GatachonlocMinhDuBinhDinh'
             target="_blank" >
            <img  height='20px btn' src='../../assets/icon/warehouse-layout/facebook.svg' alt='facebook' ></a>
        </button>
        <button type='button'
                data-toggle="tooltip"
                data-placement="bottom"
                title="Facebook"
                class='col-md-1 col-xm-2 btn d-flex align-items-center justify-content-center'>
          <img  height='20px btn' src='../../assets/icon/warehouse-layout/person-circle.svg' alt='account' >
        </button>
      </div>

    </div>
    <div class='row hide-on-mobile '>
      <button class='btn  font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/store-layout/house-door.svg' alt='home'>
        Bàn làm việc </button>
      <button  routerLink="/customer" class='btn font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/building.svg' alt='home'>
        Khách hàng </button>
      <button routerLink="/order" class='btn  font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/cart.svg' alt='home'>
        Đơn hàng</button>
      <button routerLink="/route" class='btn  font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/car.svg' alt='home'>
        Tuyến đường </button>
      <button routerLink="/bill"  class='btn  font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/file-text.svg' alt='home'>
        Hóa đơn </button>
      <button routerLink="/statistical"  class='btn  font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/graph-up.svg' alt='home'>
        Thống kê </button>

    </div>
    <div class='row hide-on-pc menu-mobile'>
      <button class='btn font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/house-door.svg' alt='home'>
        Bàn làm việc </button>
      <button (click)='pickMenuMobile()' class='btn font-lg overflow-hidden d-flex align-items-center '>
        <img class='mr-1' src='../../assets/icon/sell-layout/list.svg' alt='home'>
        Khác </button>
    </div>
  </div>
</div>
<div class='container'>
  <router-outlet >
  </router-outlet>
</div>

<app-footer class='container'>
  <span><a href='https://uranus-solutions.com/' target='_blank'>Uranus Solutions</a> &copy; 2021.</span>
  <span class='ml-auto'>Powered by <a href='https://uranus-solutions.com/' target='_blank'>Công ty TNHH giải pháp phần
            mềm Uranus</a></span>
</app-footer>

</html>
