<div class='d-flex container'>
  <div
    class='d-flex flex-column p-2 border ng-star-inserted'
    style='height: 81vh; overflow-y: auto'
  >
    <div class='mb-2'>
      <nz-collapse>
        <nz-collapse-panel nzHeader='Tìm kiếm' nzActive='true'>
          <div [formGroup]='formGroup'>
            <input
              nz-input
              class='form-control'
              type='search'
              formControlName='search'
            />
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div class='mb-2'>
      <minhdu-fontend-collapse-radios
        [active]='true'
        [formGroup]='formGroup'
        [controlName]="'status'"
        header='Trạng thái đơn hàng'
        [radios]='radios'
      >
      </minhdu-fontend-collapse-radios>
    </div>
    <div class='mb-2'>
      <md-collapse-datepicker
        [rangeDayInit]='{
          start: search.startedAt_start,
          end: search.startedAt_end
        }'
        title='Ngày tạo'
        (onCalendarChange)='onPickCreatedAt($event)'
      ></md-collapse-datepicker>
    </div>
    <div class='mb-2'>
      <md-collapse-datepicker
        [title]="'Ngày hẹn giao'"
        [rangeDayInit]='{
          start: search.endedAt_start,
          end: search.endedAt_end
        }'
        (onCalendarChange)='onPickEndedAt($event)'
      ></md-collapse-datepicker>
    </div>
    <div class='mb-2' *ngIf="formGroup.get('status')?.value === 1">
      <md-collapse-datepicker
        [rangeDayInit]='{
          start: search.deliveredAt_start,
          end: search.deliveredAt_end
        }'
        title='Ngày giao hàng'
        (onCalendarChange)='onPickDeliveryDay($event)'
      ></md-collapse-datepicker>
    </div>
    <div class='mb-2'>
      <nz-collapse>
        <nz-collapse-panel nzHeader='Hàng hoá' nzActive='false'>
          <div [formGroup]='formGroup'>
            <nz-radio-group formControlName='commodity'>
              <label
                nz-radio
                *ngFor='let item of commodities$ | async'
                [nzValue]='item.name'
              >{{ item.name }}</label
              >
              <label nz-radio [nzValue]="''">Tất cả</label>
            </nz-radio-group>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div class='ml-3' style='width: 80%'>
    <div class='d-flex justify-content-between align-items-end m-2'>
      <div class='d-flex ng-star-inserted' style='overflow-x: auto'>
        <div class='commodity-total-price'>
          <span class='font-weight-bold'>Tổng đơn hàng:</span>
          {{ (total$ | async) || 0 | number: '1.0-0' }}
        </div>
        <div class='commodity-total-price'>
          <span class='font-weight-bold'>Tổng hàng hoá:</span>
          <span class='ml-1' style='color: red'>
              {{ (totalCommodity$ | async) || 0 | number: '1.0-0' }}</span
          >
        </div>
        <div class='d-flex'>
          <div class='commodity-total-price' *ngFor='let item of commodityUniq$ | async'>
            <span class='font-weight-bold'>Tổng {{ item.name }}: </span>
            <span class='ml-1' style='color: red'>{{
              item.amount | number: '1.0-0'
              }}</span>
          </div>
        </div>
      </div>
      <div class='d-flex pr-2'>
        <div>
          <button
            nz-button
            nzGhost
            nzType='primary'
            (click)='orderComponentService.onAdd()'
          >
            Thêm
          </button>
        </div>
        <div>
          <button
            nzGhost
            nz-button
            nzType='primary'
            (click)='onPrint()'
          >
            Xuất
          </button>
        </div>
        <div>
          <button
            nz-button
            nzType='dashed'
            nz-popover
            nzPopoverTitle='Thêm cột'
            nzPopoverPlacement='bottomRight'
            nzPopoverTrigger='click'
            [(nzPopoverVisible)]='visible'
            [nzPopoverContent]='pinColumn'
          >
            Ghim
          </button>
        </div>
      </div>
    </div>
    <div>
      <nz-table
        #tableOrder
        nzSize='middle'
        [nzFrontPagination]='false'
        [nzShowPagination]='false'
        [nzScroll]="{ x: '2300px', y: '70vh' }"
        [nzLoading]='(loading$ | async) && (total$ | async) === 0'
        [nzData]='(orders$ | async) || []'
        [formGroup]='formGroup'
      >
        <thead>
        <tr *ngIf='ui$ | async as ui'>
          <th nzWidth='50px' nzLeft (click)='onExpandAll()'>
            <img
              *ngIf='expandedAll$ | async; else dash_square'
              src='assets/icon/share/dash-square.svg'
            />
            <ng-template #dash_square>
              <img src='assets/icon/share/plus-square.svg' />
            </ng-template>
          </th>
          <th
            nzWidth='50px'
            *ngIf='ui.stt?.visible'
            [nzLeft]='ui.stt?.pinned || false'
            class='text-center font-weight-bold'
          >
            STT
          </th>
          <th
            nzWidth='50px'
            *ngIf='(account$ | async)?.mode === ModeEnum.INFO'
            class='text-center font-weight-bold'
          >
            ID
          </th>
          <th
            *ngIf='ui.status.visible'
            [nzLeft]='ui.status?.pinned || false'
            class='text-center font-weight-bold'
          >
            Trạng thái đơn hàng
          </th>
          <th
            *ngIf='ui.createdAt.visible'
            [nzLeft]='ui.createdAt?.pinned || false'
            class='text-center font-weight-bold'
            [nzSortFn]='true'
            (nzSortOrderChange)='
                onSort({ orderBy: SortTypeOrderEnum.CREATED_AT, orderType: $event })
              '
          >
            Ngày tạo
          </th>
          <th
            *ngIf='ui.endedAt.visible'
            [nzLeft]='ui.endedAt?.pinned || false'
            class='text-center font-weight-bold'
            (nzSortOrderChange)='
                onSort({ orderBy: SortTypeOrderEnum.END, orderType: $event })
              '
            [nzSortFn]='true'
          >
            Ngày hẹn giao
          </th>
          <th
            *ngIf='ui.customer.visible'
            [nzLeft]='ui.customer?.pinned || false'
            [nzSortFn]='true'
            (nzSortOrderChange)='
                onSort({ orderBy: SortTypeOrderEnum.CUSTOMER, orderType: $event })
              '
            class='text-center font-weight-bold'
          >
            Khách hàng
          </th>
          <th
            *ngIf='ui.destination.visible'
            [nzLeft]='ui.destination?.pinned || false'
            class='text-center font-weight-bold'
            [nzSortFn]='true'
            (nzSortOrderChange)='
                onSort({ orderBy: SortTypeOrderEnum.PROVINCE, orderType: $event })
              '
          >
            Điểm đến
          </th>
          <th
            *ngIf='ui.vans.visible'
            [nzLeft]='ui.vans?.pinned || false'
            class='text-center font-weight-bold'
          >
            Xe xuất
          </th>
          <th
            [nzWidth]='widthConstant.amount'
            *ngIf='ui.totalCommodity.visible'
            [nzLeft]='ui.totalCommodity?.pinned || false'
            class='text-center font-weight-bold width-amount'
            style='color: red'
          >
            Tổng số lượng
          </th>
          <th
            [nzWidth]='widthConstant.price'
            *ngIf='ui.commodityTotal.visible'
            [nzLeft]='ui.commodityTotal?.pinned || false'
            class='text-center font-weight-bold'
          >
            Tiền hàng
          </th>
          <th
            *ngIf='ui.paymentTotal.visible'
            [nzLeft]='ui.paymentTotal?.pinned || false'
            class='text-center font-weight-bold'
          >
            Thanh toán
          </th>
          <th
            *ngIf='ui.explain.visible'
            [nzLeft]='ui.explain?.pinned || false'
            class='text-center font-weight-bold'
          >
            Diễn giải
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-template
          ngFor
          let-order
          [ngForOf]='tableOrder.data'
          let-i='index'
        >
          <tr
            class='pointer'
            (click)='orderComponentService.onDetail(order.id)'
            (contextmenu)='onContextMenu($event, menu)'
            *ngIf='ui$ | async as ui'
          >
            <nz-dropdown-menu #menu='nzDropdownMenu'>
              <ul class='context-menu' nz-menu>
                <li nz-menu-item *ngFor='let item of menus' (click)='item.click(order)'>
                  {{item.title}}
                </li>
              </ul>
            </nz-dropdown-menu>
            <td
              (click)='$event.stopPropagation()'
              style='padding-left: 15px'
              nzLeft
              [(nzExpand)]='order.expand'
            ></td>
            <td
              *ngIf='ui.stt.visible'
              [nzLeft]='ui.stt?.pinned || false'
              class='text-center'
            >
              {{ i + 1 }}
            </td>
            <td
              *ngIf='(account$ | async)?.mode === ModeEnum.INFO'
              class='text-center'
            >
              {{ order.id }}
            </td>
            <td
              *ngIf='ui.status.visible'
              [nzLeft]='ui.status?.pinned || false'
              [ngStyle]="{
                  color:
                    !order.deliveredAt && order.routes?.length ? '#32863d' : ''
                }"
            >
              {{
              (order.deliveredAt | date: 'dd/MM/YYYY') ||
              (!order.deliveredAt && order.routes?.length
                ? 'Đang giao'
                : 'Chưa giao')
              }}
            </td>
            <td
              *ngIf='ui.createdAt.visible'
              [nzLeft]='ui.createdAt?.pinned || false'
              class='text-center'
            >
              {{ order?.createdAt | date: 'dd/MM/yyyy' || 'Chưa cập nhật' }}
            </td>
            <td
              *ngIf='ui.endedAt.visible'
              [nzLeft]='ui.endedAt?.pinned || false'
              nzLeft
            >
              {{
              order?.endedAt
                ? (order?.endedAt | date: 'dd/MM/yyyy')
                : 'Chưa cập nhật'
              }}
            </td>
            <td
              *ngIf='ui.customer.visible'
              [nzLeft]='ui.customer?.pinned || false'
              class='text-center'
            >
              {{ order.customer?.lastName }}
            </td>
            <td
              *ngIf='ui.destination.visible'
              [nzLeft]='ui.destination?.pinned || false'
              class='text-center'
            >
              {{ order?.province?.name }}
              {{ order?.district?.name ? ' - ' + order?.district?.name : '' }}
              {{ order?.ward?.name ? ' - ' + order?.ward?.name : '' }}
            </td>
            <td
              class='text-center'
              *ngIf='ui.vans.visible'
              [nzLeft]='ui.vans?.pinned || false'
            >
              <div *ngIf='order?.routes?.length > 0; else notCar'>
                  <span *ngFor='let route of order?.routes'
                  >{{ route?.bsx }},
                  </span>
              </div>
              <ng-template #notCar>
                <div class='text-center'>-</div>
              </ng-template>
            </td>
            <td
              *ngIf='ui.totalCommodity.visible'
              [nzLeft]='ui.totalCommodity?.pinned || false'
              class='text-center'
            >
              {{ order.totalCommodity | number: '1.0-0' | notEmpty: '0' }}
            </td>
            <td
              *ngIf='ui.commodityTotal.visible'
              [nzLeft]='ui.commodityTotal?.pinned || false'
              class='text-center'
            >
              {{ order.commodityTotal | number: '1.0-0' | notEmpty: '0' }} đ
            </td>
            <td
              *ngIf='ui.paymentTotal.visible'
              [nzLeft]='ui.paymentTotal?.pinned || false'
              class='text-center'
            >
              {{ order?.paymentTotal | number: '1.0-0' | notEmpty: '0' }}
            </td>
            <td
              *ngIf='ui.explain.visible'
              [nzLeft]='ui.explain?.pinned || false'
              class='text-center'
            >
              {{ order?.explain || 'Chưa cập nhật' }}
            </td>
          </tr>
          <tr [nzExpand]='order.expand'>
            <nz-table
              #innerTable
              [nzData]='order.commodities'
              nzSize='middle'
              [nzShowPagination]='false'
            >
        <thead>
        <tr>
          <th class='text-center'>Hàng hoá</th>
          <th class='text-center' [nzWidth]='widthConstant.amount'>
            Số lượng
          </th>
          <th class='text-center' [nzWidth]='widthConstant.price'>
            Giá
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let commodity of innerTable.data'>
          <td class='text-center'>{{ commodity.name }}</td>
          <td class='text-center'>{{ commodity.amount }}</td>
          <td class='text-center'>{{ commodity.price }}</td>
        </tr>
        </tbody>
      </nz-table>
      </tr>
      </ng-template>
      <tr *ngIf='remain$ | async'>
        <td colspan='10'>
          <div
            class='w-100 d-flex justify-content-start'
            style='position: relative'
          >
            <button
              nz-button
              style='position: sticky; left: 45vw'
              nzGhost
              nzType='primary'
              (click)='onLoadMore()'
              [nzLoading]='loading$ | async'
            >
              Tải thêm {{ remain$ | async }} đơn hàng
            </button>
          </div>
        </td>
      </tr>
      </tbody>
      </nz-table>
    </div>
  </div>
</div>
<ng-template #pinColumn>
  <minhdu-fontend-pin-column-order></minhdu-fontend-pin-column-order>
</ng-template>
