<div class='h3 ml-5'>
  Danh sách đơn hàng
</div>
<div class='ml-5 d-flex justify-content-between'>
  <button (click)='add()' class='btn btn-primary font-lg mt-3'>Thêm</button>
  <button (click)='printOrder()' class='btn btn-primary font-lg mr-5 mt-3'>Xuất</button>
</div>

<ngx-skeleton-loader *ngIf='!(loaded$ | async); else order' count='10' appearance='line'></ngx-skeleton-loader>
<ng-template #order>
  <div class='table-scroll mx-auto my-5' style='width: 96%;' infiniteScroll [infiniteScrollDistance]='0.1'
       [infiniteScrollThrottle]='10' [alwaysCallback]='true' [immediateCheck]='true' [scrollWindow]='false'
       (scrolled)='onScroll()'>
    <table [formGroup]='formGroup' style='min-width: 3000px'>
      <thead>
      <tr>
        <th style='width: 200px'>
          <div>Ngày hẹn giao</div>
          <div class='d-flex border-top'>
            <mat-date-range-input [rangePicker]='rangePicker'>
              <input matStartDate formControlName='startedAt' placeholder='Từ ngày'>
              <input matEndDate formControlName='endedAt' placeholder='đến ngày'>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]='rangePicker'></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color='primary' matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </div>
        </th>
        <th style='min-width: 200px'>
          <div class=''>Khách hàng</div>
          <input formControlName='name' class='form-control' type='search'>
        </th>
        <th style='min-width: 300px'>
          <div class=''>Điểm đến</div>
          <input formControlName='ward' class='form-control' type='search'>
        </th>
        <th>
          <div class=''>Ngày tạo</div>
          <div class='d-flex border-top'>
<!--            <mat-date-range-input [rangePicker]='picker'>-->
<!--              <input matStartDate formControlName='createStartedAt' placeholder='Từ ngày'>-->
<!--              <input matEndDate formControlName='createEndedAt' placeholder='đến ngày'>-->
<!--            </mat-date-range-input>-->
<!--            <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>-->
<!--            <mat-date-range-picker #picker>-->
<!--              <mat-date-range-picker-actions>-->
<!--                <button mat-button matDateRangePickerCancel>Cancel</button>-->
<!--                <button mat-raised-button color='primary' matDateRangePickerApply>Apply</button>-->
<!--              </mat-date-range-picker-actions>-->
<!--            </mat-date-range-picker>-->
          </div>
        </th>
        <th>
          <div class=''>Xe xuất</div>
          <input formControlName='ward' class='form-control' type='text'>
        </th>
        <th style="width: 150px;">
          <div>Hàng hóa</div>
          <div class='d-flex'>
            <div class='d-flex flex-column w-100 ' *ngFor='let item of commodities$ | async'>
              <div class='border' style='width: 300px'>
                {{item.name}}
              </div>
              <div class='d-flex w-100'>
                <div class='border' style='width: 150px'>Số lượng</div>
                <div class='border' style='width: 150px'>Đơn giá</div>
              </div>
            </div>
          </div>
        </th>
        <th>
          <div class=''>Tiền hàng</div>
          <input formControlName='commodityTotal' class='form-control' type='number'>
        </th>
        <th>
          <div class=''> Thanh toán</div>
          <select class='select border-top' style='width: 100%' matNativeControl required formControlName='paidType'>
            <option value='{{paidType.PAID}}'>Có thanh toán</option>
            <option value='{{paidType.UNPAID}}'>Chưa thanh toán</option>
            <option value=''>tất cả</option>
          </select>
        </th>
        <!--        <th>-->
        <!--          <div>Đơn vị tiền</div>-->
        <!--          <input class='form-control' [disabled]='true'>-->
        <!--        </th>-->
        <th>
          <div class=''>Diễn giải</div>
          <input formControlName='explain' class='form-control' type='text' [disabled]='true'>
        </th>
        <th>
          <div class=''> Trạng thái đơn hàng</div>
          <mat-select class='select border-top' style='width: 100%' required formControlName='status'>
            <mat-option value='{{statusOrder.DELIVERED}}'>Đã giao</mat-option>
            <mat-option value='{{statusOrder.DELIVERING}}'>Đang giao</mat-option>
            <mat-option value='{{statusOrder.ALL}}'>tất cả</mat-option>
          </mat-select>
        </th>
      </tr>
      </thead>
      <tbody *ngIf='(orders$ | async) as orders'>
      <tr
        class='pointer'
        *ngFor='let order of orders; let i = index'
        (click)='readAndUpdate(order.id, false)'
        (contextmenu)='child.onContextMenu($event, order)'
      >
        <th [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{(order?.endedAt | date: 'dd/MM/yyyy')}}
        </th>
        <th>
          {{order.customer?.lastName}}
        </th>
        <th style='min-width: 300px'>
          {{order?.province?.name}}
          {{order?.district?.name ? ' - ' + order?.district?.name : ''}}
          {{order?.ward?.name ? ' - ' + order?.ward?.name : ''}}
        </th>
        <th>
          {{(order?.createdAt | date: 'dd/MM/yyyy' || 'Chưa cập nhật')}}
        </th>
        <th *ngIf='order?.routes?.length; else notCar'>
          <span *ngFor='let route of order?.routes'>
              {{route?.bsx}},
          </span>
        </th>
        <ng-template #notCar>
          <th>
            -
          </th>
        </ng-template>
        <th class='pointer d-flex' style='padding: 0px; border: none'>
          <div class='h-100 d-flex pointer border' *ngFor='let item of commodities$ | async'
               style='width: 300px; min-height: 32px'>
            <div *ngFor=' let commodity of order.commodities'>
              <div class='d-flex' *ngIf='item.code === commodity.code'>
                <div class='border-right d-flex justify-content-center align-items-center '
                     style='width: 150px ; min-height: 30px'>
                  {{commodity.amount | number:'1.0-0' | notEmpty:'0'}}
                </div>
                <div class='border-left d-flex justify-content-center align-items-center'
                     style='width: 150px; min-height: 30px'>
                  {{commodity.price | number:'1.0-0' | notEmpty:'0'}} đ
                </div>
              </div>
            </div>
          </div>
        </th>
        <th style='color: #f86c6b'>
          {{order.commodityTotal | number:'1.0-0' | notEmpty:'0'}} đ
        </th>
        <th style='color: #20c997'>
          {{order?.paymentTotal | number:'1.0-0' | notEmpty:'0'}}
        </th>
        <!--        <th>-->
        <!--          {{order.currency | transform:currenciesConstant}}-->
        <!--        </th>-->
        <th>{{order?.explain || 'Chưa cập nhật'}} </th>
        <th [ngStyle]="{'color': (!order.deliveredAt && order.routes.length) ? '#32863d' : ''}">
          {{(order.deliveredAt | date: 'dd/MM/YYYY') || ((!order.deliveredAt && order.routes.length) ? 'Đang giao' : 'Chưa giao')}}
        </th>
      </tr>
      <tr *ngIf='!orders || orders.length === 0' style='height:45vh'>
        <td colspan='20' class='font-weight-bold position-relative'>
            <span style='position: absolute; top: 40%; left: 40%; font-size: 23px'>
              Hiện tại chưa có đơn hàng nào!
            </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<app-mouse-right
  #child
  [items]='[ItemContextMenu.ENDED_AT]'
  (onAdd)='addOrder()'
  (onUpdate)='readAndUpdate($event.id, true)'
  (onEnd)='UpdateOrder($event)'
></app-mouse-right>
