<div class='d-flex'>
  <div class='d-flex flex-column ml-3 border p-2' style='height: 80vh; width:280px; overflow-y: scroll'>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader='Tìm kiếm'
        nzActive='true'>
        <div [formGroup]='formGroup'>
          <input nz-input class='form-control' type='search' formControlName='search'>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div class='mt-2'>
      <minhdu-fontend-collapse-radios
        [active]="true"
        [formGroup]='formGroup' [controlName]="'status'" header='Trạng thái đơn hàng'
        [radios]='radios'>
      </minhdu-fontend-collapse-radios>
    </div>
    <div class='mt-2'>
      <minhdu-fontend-collapse-datepicker
        [rangeDayInit]="stateSearch.createdAt"
        title='Ngày tạo'
        (onPicker)='onPickCreatedAt($event)'></minhdu-fontend-collapse-datepicker>
    </div>
    <div class='mt-2'>
      <minhdu-fontend-collapse-datepicker
        [title]="'Ngày hẹn giao'"
        [rangeDayInit]="stateSearch.endedAt"
        (onPicker)='onPickEndedAt($event)'></minhdu-fontend-collapse-datepicker>
    </div>
    <div class='mt-2' *ngIf="formGroup.get('status')?.value === 1">
      <minhdu-fontend-collapse-datepicker
        [rangeDayInit]="stateSearch?.deliveredAt"
        title='Ngày giao hàng'
        (onPicker)='onPickDeliveryDay($event)'></minhdu-fontend-collapse-datepicker>
    </div>
    <nz-collapse class='mt-2'>
      <nz-collapse-panel
        nzHeader='Hàng hoá'
        nzActive='false'>
        <div [formGroup]='formGroup'>
          <nz-radio-group formControlName='commodity'>
            <label nz-radio *ngFor='let item of (commodities$ | async)' [nzValue]='item.name'>{{item.name}}</label>
          </nz-radio-group>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class='ml-2 ' style='width: 76vw'>
    <div class='d-flex justify-content-between mb-2'>
      <div class='h3'>
        Danh sách đơn hàng
      </div>
      <div class='d-flex justify-content-between'>
        <button (click)='add()' nz-button nzType='primary'>Thêm</button>
        <button (click)='onPrint()' class='ml-2' nz-button nzType='primary'>Xuất</button>
        <button class='ml-2' nz-button nz-popover nzPopoverTitle='Thêm cột'
                [(nzPopoverVisible)]='visible'
                nzPopoverPlacement='bottomRight'
                [nzPopoverContent]='pinColumn'
                nzPopoverTrigger='click'
        >Ghim
        </button>
      </div>
    </div>
    <div><span class='font-weight-bold'>Tổng đơn hàng:</span> {{totalOrder$ | async}}</div>
    <div>
      <nz-table
        #tableOrder
        [nzScroll]="{ x: '2000px',y: '58vh'}"
        nzSize='middle'
        [nzPageSize]='pageSizeTable'
        [nzLoading]='loading$ | async'
        [nzData]='(orders$ | async) || []'
        nzShowPagination='true'
        [formGroup]='formGroup'
        (nzPageIndexChange)='onPagination($event)'
      >
        <thead>
        <tr *ngIf="(ui$|async) as ui">
          <th nzWidth='50px' nzLeft (click)='onExpandAll()'>
            <img *ngIf='(expanedAll$ | async) else dash_square' src='assets/icon/share/dash-square.svg'>
            <ng-template #dash_square>
              <img src='assets/icon/share/plus-square.svg'>
            </ng-template>
          </th>
          <th nzWidth='50px' *ngIf='ui.stt?.visible' [nzLeft]='ui.stt?.pinned||false'
              class='text-center font-weight-bold'>STT
          </th>
          <th *ngIf="ui.endedAt.visible" [nzLeft]='ui.endedAt?.pinned||false' class='text-center font-weight-bold'
              (nzSortOrderChange)='onSort({orderBy:sortOrderEnum.END ,orderType:$event})'
              [nzSortFn]='true'>
            Ngày hẹn giao
          </th>
          <th *ngIf="ui.customer.visible" [nzLeft]='ui.customer?.pinned||false'
              [nzSortFn]='true'
              (nzSortOrderChange)='onSort({orderBy:sortOrderEnum.CUSTOMER ,orderType:$event})'
              class='text-center font-weight-bold'>
            Khách hàng
          </th>
          <th *ngIf="ui.destination.visible" [nzLeft]='ui.destination?.pinned||false'
              class='text-center font-weight-bold' [nzSortFn]='true'
              (nzSortOrderChange)='onSort({orderBy:sortOrderEnum.PROVINCE ,orderType:$event})'>
            Điểm đến
          </th>
          <th *ngIf="ui.createdAt.visible" [nzLeft]='ui.createdAt?.pinned||false'
              class='text-center font-weight-bold' [nzSortFn]='true'
              (nzSortOrderChange)='onSort({orderBy:sortOrderEnum.CREATED_AT ,orderType:$event})'>
            Ngày tạo
          </th>
          <th *ngIf="ui.vans.visible" [nzLeft]='ui.vans?.pinned||false'
              class='text-center font-weight-bold'>
            Xe xuất
          </th>
          <th *ngIf="ui.totalCommodity.visible" [nzLeft]='ui.totalCommodity?.pinned||false'
              class='text-center font-weight-bold' style='color: red'>
            Tổng số lượng
          </th>
          <th *ngIf="ui.commodityTotal.visible" [nzLeft]='ui.commodityTotal?.pinned||false'
              class='text-center font-weight-bold'>
            Tiền hàng
          </th>
          <th *ngIf="ui.paymentTotal.visible" [nzLeft]='ui.paymentTotal?.pinned||false'
              class='text-center font-weight-bold'>
            Thanh toán
          </th>
          <th *ngIf="ui.explain.visible" [nzLeft]='ui.explain?.pinned||false'
              class='text-center font-weight-bold'>
            Diễn giải
          </th>
          <th *ngIf="ui.status.visible" [nzLeft]='ui.status?.pinned||false'
              class='text-center font-weight-bold'>
            Trạng thái đơn hàng
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-order [ngForOf]='tableOrder.data' let-i='index'>
          <tr class='pointer' (contextmenu)='child.onContextMenu($event, order)' *ngIf="(ui$|async) as ui">
            <td style='padding-left: 15px' nzLeft [(nzExpand)]='order.expand'></td>
            <td *ngIf="ui.stt.visible" [nzLeft]='ui.stt?.pinned||false'
                class='text-center'>{{(i + 1) + ((tableOrder.nzPageIndex - 1) * 10)}}</td>
            <td *ngIf="ui.endedAt.visible" [nzLeft]='ui.endedAt?.pinned||false' (click)='readOrUpdate(order.id, false)'
                nzLeft>
              {{(order?.endedAt ? (order?.endedAt | date: 'dd/MM/yyyy') : 'Chưa cập nhật')}}
            </td>
            <td *ngIf="ui.customer.visible" [nzLeft]='ui.customer?.pinned||false' class='text-center'
                (click)='readOrUpdate(order.id, false)'>
              {{order.customer?.lastName}}
            </td>
            <td *ngIf="ui.destination.visible" [nzLeft]='ui.destination?.pinned||false' class='text-center'
                (click)='readOrUpdate(order.id, false)'>
              {{order?.province?.name}}
              {{order?.district?.name ? ' - ' + order?.district?.name : ''}}
              {{order?.ward?.name ? ' - ' + order?.ward?.name : ''}}
            </td>
            <td *ngIf="ui.createdAt.visible" [nzLeft]='ui.createdAt?.pinned||false' class='text-center'
                (click)='readOrUpdate(order.id, false)'>
              {{(order?.createdAt | date: 'dd/MM/yyyy' || 'Chưa cập nhật')}}
            </td>
            <td class='text-center' (click)='readOrUpdate(order.id, false)' *ngIf="ui.vans.visible"
                [nzLeft]='ui.vans?.pinned||false'>
              <div *ngIf="order?.routes?.length > 0 else notCar">
                 <span *ngFor='let route of order?.routes'>{{route?.bsx}},
                </span>
              </div>
              <ng-template #notCar>
                <div class='text-center'>
                  -
                </div>
              </ng-template>
            </td>
            <td *ngIf="ui.totalCommodity.visible" [nzLeft]='ui.totalCommodity?.pinned||false'
                class='text-center'
                (click)='readOrUpdate(order.id, false)' style='color: red'>
              {{order.totalCommodity| number:'1.0-0' | notEmpty:'0'}}
            </td>
            <td *ngIf="ui.commodityTotal.visible" [nzLeft]='ui.commodityTotal?.pinned||false'
                class='text-center' (click)='readOrUpdate(order.id, false)' style='color: #f86c6b'>
              {{order.commodityTotal | number:'1.0-0' | notEmpty:'0'}} đ
            </td>
            <td *ngIf="ui.paymentTotal.visible" [nzLeft]='ui.paymentTotal?.pinned||false'
                class='text-center' (click)='readOrUpdate(order.id, false)' style='color: #20c997'>
              {{order?.paymentTotal | number:'1.0-0' | notEmpty:'0'}}
            </td>
            <!--        <th>-->
            <!--          {{order.currency | transform:currenciesConstant}}-->
            <!--        </th>-->
            <td *ngIf="ui.explain.visible" [nzLeft]='ui.explain?.pinned||false'
                class='text-center' (click)='readOrUpdate(order.id, false)'>{{order?.explain || 'Chưa cập nhật'}} </td>
            <td *ngIf="ui.status.visible" [nzLeft]='ui.status?.pinned||false'
                [ngStyle]="{'color': (!order.deliveredAt && order.routes?.length) ? '#32863d' : ''}">
              {{(order.deliveredAt | date: 'dd/MM/YYYY') || ((!order.deliveredAt && order.routes?.length) ? 'Đang giao' : 'Chưa giao')}}
            </td>
          </tr>
          <tr [nzExpand]='order.expand'>
            <nz-table #innerTable [nzData]='order.commodities' nzSize='small' [nzShowPagination]='false'>
        <thead>
        <tr>
          <th class='text-center'>Hàng hoá</th>
          <th class='text-center'>Số lượng</th>
          <th class='text-center'>Giá</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let commodity of innerTable.data'>
          <td class='text-center'>{{commodity.name}}</td>
          <td class='text-center'>{{commodity.amount}}</td>
          <td class='text-center'>{{commodity.price}}</td>
        </tr>
        </tbody>
      </nz-table>
      </tr>
      </ng-template>
      </tbody>
      </nz-table>
    </div>
    <div>
    </div>
    <div class='d-flex'>
      <div><span class='font-weight-bold'>Tổng hàng hoá:</span> <span class='ml-1'
                                                                      style='color: red'>{{totalCommodity$|async}}</span>
      </div>
      <div class='ml-3 ' *ngFor='let item of commodityUniq$|async'>
        <span class='font-weight-bold'>Tổng {{item.name}}:</span> <span class='ml-1'
                                                                        style='color: red'>{{item.amount}}</span>
      </div>
    </div>
  </div>
</div>
<app-mouse-right
  #child
  [items]='[ItemContextMenu.ENDED_AT,ItemContextMenu.CANCEL_ORDER,ItemContextMenu.PERMANENTLY]'
  (onAdd)='add()'
  (onUpdate)='readOrUpdate($event.id, true)'
  (onEnd)='update($event)'
  (onCancel)='cancel($event)'
  (onDelPerm)='delete($event)'
></app-mouse-right>
<ng-template #pinColumn>
  <minhdu-fontend-pin-column-order></minhdu-fontend-pin-column-order>
</ng-template>


