<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class=" main-popup">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="formGroup" [editable]="true">
      <form [formGroup]="formGroup" class='px-5' style='height: 30vh'>
        <ng-template matStepLabel>Thông tin thanh toán</ng-template>
        <div class='form-group'>
          <div class='row mt-5'>
            <div class='col-sm mt-2'>
              <label class='title-detail'>Loại thanh toán</label>
              <mat-select class='form-control' formControlName='payType' required>
                <mat-option value='{{payType.CASH}}'>
                  Tiền mặt
                </mat-option>
                <mat-option value='{{payType.TRANSFER}}'>
                  Chuyển khoản
                </mat-option>
              </mat-select>
              <div>
              </div>
            </div>
            <div class='col-sm title-detail'>
              <label id='total'> Tổng thanh toán<span class='star'>*</span></label>
              <input type="text" class="form-control" id='input-total' placeholder="Nhập mức giá"
                     formControlName="paidTotal" required inputCurrency>
            </div>
          </div>
          <div class='row mt-3'>
            <div class='col-sm'>
              <label class='title-detail'>Ngày Thanh toán</label>
              <input type='date' class='form-control' formControlName='paidAt' required>
            </div>
            <div class='col-sm'>
              <label>Chú thích</label>
              <input type='text' class='form-control' formControlName='note' required>
            </div>
          </div>
        </div>
      </form>
      <button class='btn btn-primary' (click)='check()' matStepperNext>Tiếp theo</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="true">
      <ng-template matStepLabel>Chọn đơn hàng</ng-template>
      <app-pick-order
        [orderIdDefault]='data?.paymentHistory?.orderId'
        [pickOne]='true'
        [payment]='true'
        [formGroup]="secondFormGroup"
        [customerId]='data.id'
        (checkEventPickOne)='pickOrders($event)'
      ></app-pick-order>
      <div class='mt-2'>
        <button class='btn btn-primary' matStepperPrevious>Trở lại</button>
        <button class='btn btn-primary ml-2' matStepperNext>Tiếp theo</button>
      </div>
    </mat-step>
    <mat-step>
      <div style='height: 30vh; overflow-y: auto; margin: 2%'>
        <ng-template matStepLabel>Hoàn Thành</ng-template>
        <div class="font-weight-bold font-lg">Xác nhận thanh toán</div>
        <div>
          <div><span class='font-weight-bold'>Loại thanh toán: </span>
            <span *ngIf='formGroup.value.payType === payType.CASH'> Tiền mặt </span>
            <span *ngIf='formGroup.value.payType === payType.TRANSFER'> Chuyển khoản</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class='font-weight-bold'>Tổng thanh toán: </span>
            <span> {{paidTotal|number:'1.0'|notEmpty:'0'}}</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class=' font-weight-bold'>Ngày thanh toán: </span>
            <span> {{formGroup.value.paidAt|date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class=' font-weight-bold'>Chú thích: </span>
            <span> {{formGroup.value.note}}</span>
          </div>
        </div>
        <div class='h5 mt-2'>Đơn hàng</div>
        <nz-table class='mt-2' style="width:100%"
                  [nzData]="[orderPicked]"
                  #tableOrder
                  nzSize="small"
                  nzShowPagination="false"
        >
          <thead>
          <tr>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền hàng</th>
            <th>Lần thanh toán</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-orderPicked [ngForOf]="tableOrder.data">
            <tr>
              <td>{{orderPicked?.customer?.lastName}}</td>
              <td>{{orderPicked?.createdAt|date:'dd/MM/yyyy'}}</td>
              <td>{{orderPicked?.commodityTotal|number:'0.0'}}</td>
              <td>{{orderPicked?.paymentHistories?.length}}</td>
            </tr>
          </ng-template>
          </tbody>
        </nz-table>
        <div>
        </div>
      </div>
      <button class='btn btn-primary mt-2' matStepperPrevious>Trở lại</button>
      <button class='btn btn-primary ml-2 mt-2' (click)="onSubmit()">Xác nhận</button>
    </mat-step>
  </mat-stepper>
</div>
