<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class=" py-3 main-popup">
  <div mat-dialog-close class="close-popup">
    <span class="mr-1"> close</span>
    <div class="x-popup">
      <img src='../../../../../assets/icon/share/x2-lg.svg' alt="cancel">
    </div>
  </div>
  <mat-stepper linear #stepper>
    <mat-step  [stepControl]="formGroup" [editable]="true" >
      <form [formGroup]="formGroup" class='px-5' style='height: 30vh' >
        <ng-template matStepLabel >Thông tin thanh toán</ng-template>
        <div class='form-group'>
          <div class='row mt-5'>
            <div class='col-sm mt-2'>
                <label class='title-detail' >Loại thanh toán</label>
                <mat-select class='form-control' formControlName='payType' required>
                  <mat-option value='{{payType.CASH}}'>
                    Tiền mặt
                  </mat-option>
                  <mat-option value='{{payType.TRANSFER}}'>
                    Chuyển khoản
                  </mat-option>
                </mat-select>
              <div>
              </div>
            </div>
            <div class='col-sm title-detail'>
              <label id='total'> Tổng thanh toán<span class='star'>*</span></label>
              <input type="text" class="form-control"  id='input-total' placeholder="Nhập mức giá" formControlName="paidTotal" required  inputCurrency>
            </div>
          </div>
          <div class='row mt-3'>
            <div class='col-sm' >
              <label class='title-detail' >Ngày Thanh toán</label>
              <input type='date' class='form-control'  formControlName='paidAt' required>
            </div>
            <div class='col-sm' >
              <label >Chú thích</label>
              <input type='text' class='form-control'  formControlName='note' required>
            </div>
          </div>
        </div>
      </form>
      <button  class='btn btn-primary' (click)='check()' matStepperNext>Tiếp theo</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup"  [editable]="true">
      <ng-template matStepLabel >Chọn đơn hàng</ng-template>
    <app-pick-order
      [formGroup]="secondFormGroup"
      [orders]='orders'
      [customerId]='data.id'
      (checkEvent)='pickOrders($event)'
    ></app-pick-order >
      <button  class='btn btn-primary' matStepperPrevious>trở lại</button>
      <button  class='btn btn-primary ml-2' matStepperNext >Tiếp theo</button>
    </mat-step>
    <mat-step >
      <div style='height: 30vh; overflow-y: scroll; margin: 2%'>
        <ng-template matStepLabel>Hoàn Thành</ng-template>
        <h4>Xác nhận thanh toán</h4>
        <div>
          <div> <span class='title-detail'>Loại thanh toán: </span>
            <span *ngIf='formGroup.value.payType === payType.CASH'> Tiền mặt </span>
            <span *ngIf='formGroup.value.payType === payType.TRANSFER'> Chuyển khoản</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class='title-detail'>Tổng thanh toán: </span>
            <span> {{paidTotal|number:'1.0'|notEmpty:'0'}}</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class=' title-detail'>Ngày thanh toán: </span>
            <span> {{formGroup.value.paidAt|date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
        <div>
          <div class='mt-1'><span class=' title-detail'>Chú thích: </span>
            <span> {{formGroup.value.note}}</span>
          </div>
        </div>
        <div class='h5 mt-2'>Đơn hàng</div>
        <table class='mt-2'  style="width:100%">
          <tr>
            <th>Khách hàng</th>
            <th>Ngày tạo </th>
            <th>Tổng tiền hàng</th>
            <th>Lần thanh toán</th>
          </tr>
          <tr *ngFor='let order of ordersPicked'>
            <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
            <td>{{order.createdAt|date:'dd/MM/yyyy'}}</td>
            <td>{{order.commodityTotal|number:'0.0'}}</td>
            <td>{{order.paymentHistories.length}}</td>
          </tr>
        </table>
        <div>
      </div>
      </div>
      <button  class='btn btn-primary mt-2' matStepperPrevious>Trở lại</button>
      <button  class='btn btn-primary ml-2 mt-2' mat-dialog-close (click)="onSubmit()">Xác nhận</button>
    </mat-step>
  </mat-stepper>
</div>
