<div class='main-popup'>
  <div class='mat-typography' style='height:45vh; overflow-y: scroll ; overflow-x: hidden' >
    <form [formGroup]='formGroup'>
      <div class='form-group'>
        <app-add-profile [formGroup]='formGroup' [submitted]='submitting' [form]='f'></app-add-profile>
        <app-pick-location
          [isUpdateEmployee]="true"
          [ward]='employeeInit?.ward'
          [isUpdate]='!!employeeInit'
          [formGroup]='formGroup'
          [submitting]='submitting'
          [form]='f'
        >
        </app-pick-location>
        <div class='row mt-3 d-flex'>
          <div class='col-sm'>
            <label>Đơn vị </label><span class='star'>*</span>
            <div>
              <nz-select
                nzShowSearch
                nzAllowClear
                style='width:100%'
                formControlName='branch'
                nzPlaceHolder='Chọn đơn vị'
                [compareWith]='compareFN'
                [ngClass]="{ 'is-invalid': submitting && f.branch.errors?.required }"
              >
                <nz-option
                  *ngFor='let branch of branches$ | async'
                  [nzLabel]='branch.name'
                  [nzValue]='branch'
                >
                </nz-option>
              </nz-select>
              <div *ngIf='submitting && f.branch.errors?.required' class='invalid-feedback'>
                <div *ngIf=' f.branch.errors?.required'>Chưa chọn đơn vị</div>
              </div>
            </div>
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label>Chức vụ </label><span class='star'>*</span>
            <div>
              <nz-select [compareWith]='compareFN'
                         style='width:100%;'
                         formControlName='position'
                         nzShowSearch
                         nzAllowClear
                         nzPlaceHolder='Chọn chức vụ'>
                <nz-option *ngFor='let position of lstPosition' [nzLabel]='position.name'
                           [nzValue]='position'></nz-option>
              </nz-select>
              <div *ngIf='submitting && f.position.errors?.required' class='invalid-feedback'>
                <div *ngIf=' f.position.errors?.required'>Chưa chọn chức vụ</div>
              </div>
            </div>
          </div>
          <div class='col-sm' [formGroup]='formGroup'
               [hidden]='this.formGroup.value.employeeType === typeEmployee.EMPLOYEE_SEASONAL'>
            <label>Ngày công chuẩn </label><span class='star'>*</span>
            <input class='form-control' type='number' formControlName='workday' min='0'
                   (keypress)='checkNumberInput($event)'
                   [ngClass]="{ 'is-invalid': submitting && f.workday.errors }"
            >
            <div *ngIf='submitting && f.workday.errors' class='invalid-feedback'>
              <div *ngIf='f.workday.errors?.required'>Chưa nhập ngày công chuẩn</div>
            </div>
          </div>
        </div>
        <div class='row mt-3'
             *ngIf='this.formGroup.value.employeeType === typeEmployee.EMPLOYEE_FULL_TIME'>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='isFlatSalary'>Loại lương </label><span class='star'>*</span>
            <mat-select id='isFlatSalary' class='form-control' formControlName='isFlatSalary'
                        [ngClass]="{ 'is-invalid': submitting && f.isFlatSalary.errors }">
              <mat-option value='{{flatSalary.FLAT_SALARY}}'>
                Lương cố định
              </mat-option>
              <mat-option value='{{flatSalary.NOT_FLAT_SALARY}}'>
                Lương không cố định
              </mat-option>
            </mat-select>
            <div *ngIf='submitting && f.isFlatSalary.errors' class='invalid-feedback'>
              <div *ngIf='f.isFlatSalary.errors?.required'>Chưa chọn loại lương</div>
            </div>
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label>Email </label>
            <input class='form-control' type='text' formControlName='email'>
          </div>
        </div>
        <div class='row mt-3' [formGroup]='formGroup'>
          <div class='col-sm'>
            <label for='createdAt'>Ngày vào làm </label><span class="star">*</span>
            <input id='createdAt' type='date' class='form-control' formControlName='createdAt'
                   [ngClass]="{ 'is-invalid': submitting && f.createdAt.errors }"
            >
            <div *ngIf='submitting && f.createdAt.errors' class='invalid-feedback'>
              <div *ngIf='f.createdAt.errors?.required'>Chưa nhập ngày vào làm</div>
            </div>
          </div>
          <div class='col-sm'>
            <label for='workedAt'>Ngày vào làm chính thức</label>
            <input id='workedAt' type='date' class='form-control' formControlName='workedAt'>
          </div>
        </div>
        <div class='row mt-3' *ngIf='employeeInit !== null' [formGroup]='formGroup'>
          <div class='col-sm'>
            <label for='facebook'>Facebook</label>
            <input id='facebook' type='text' class='form-control' formControlName='facebook'>
          </div>
          <div class='col-sm'>
            <label for='zalo'>Zalo</label>
            <input id='zalo' type='number' class='form-control' formControlName='zalo'>
          </div>
        </div>
        <div class='row mt-3' *ngIf='employeeInit === null' [formGroup]='formGroup'>
          <div class='col-sm'>
            <label for='facebook'>Ngày kí hợp đồng</label>
            <input id='createAtContract' type='date' class='form-control' formControlName='createAtContract'>
          </div>
          <div class='col-sm'>
            <label for='zalo'>ngày hết hạn hợp đồng</label>
            <input id='expiredAtContract' type='date' class='form-control' formControlName='expiredAtContract'>
          </div>
        </div>
        <div class='row mt-3' [formGroup]='formGroup'>
          <div class='col'>
            <label for='recipeType'>Chọn loại công thức <span class='star'>*</span></label>
            <mat-select
              [ngStyle]='{
                "background": this.formGroup.value.employeeType === typeEmployee.EMPLOYEE_SEASONAL ? "#dddddd":"white" ,
                "pointer-events": this.formGroup.value.employeeType === typeEmployee.EMPLOYEE_SEASONAL ? "none":"auto"
                }'
              id='recipeType' class='form-control' formControlName='recipeType'>
              <mat-option *ngFor='let item of recipeTypesConstant' [value]='item.value'>
                {{item.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class='col'>
            <label for='category'>Chọn danh mục </label>
            <mat-select
              id='category' class='form-control' formControlName='category'>
              <mat-option *ngFor='let item of categories$ | async' [value]='item.id'>
                {{item.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center mt-2">
  <button class="btn btn-primary" (click)="onSubmit()">Xác nhận</button>
</div>
<style>
  .invalid-feedback {
    display: block !important;
  }
</style>
