<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
<div class='main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <h2 mat-dialog-title>Mẫu tăng ca</h2>
  <mat-dialog-content class='mat-typography' style='max-height: 45vh'>
    <form [formGroup]='formGroup'>
      <div class='my-4 mx-2'>
        <div class=' main-popup'>
          <div><span class='main-title'>Tiêu đề tăng ca</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='text' formControlName='title' placeholder='Nhập tiêu đề'
                 [ngClass]="{ 'is-invalid': submitted && f.title.errors?.required }">
          <div *ngIf='submitted && f.title.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập tiêu đề</div>
          </div>
        </div>
        <div>
          <div class='main-title mt-3'>
            <span> Loại nhân viên</span><span class='star'>*</span>
          </div>
          <div class='mt-1'>
            <mat-select class='form-control' formControlName='employeeType'
                        [ngClass]="{ 'is-invalid': submitted && f.employeeType.errors?.required }">
              <mat-option value='{{employeeTypeEnum.FULL_TIME}}'>Nhân viên chính thức</mat-option>
              <mat-option value='{{employeeTypeEnum.SEASONAL}}'>Nhân viên thời vụ</mat-option>
            </mat-select>
            <div *ngIf='submitted && f.employeeType.errors?.required' class='invalid-feedback'>
              <div>Chưa chọn loại tăng ca</div>
            </div>
          </div>
        </div>
        <div class='main-popup mt-2'>
          <div class=' main-title mb-1'>
            <label class='main-title'>Loại tăng ca <span class='star'>*</span></label>
          </div>
          <div class=' mt-1'>
            <mat-select
              [ngStyle]='{
              "background":formGroup.value.employeeType ===employeeTypeEnum.SEASONAL?"#dddddd":"white",
               "pointer-events":formGroup.value.employeeType ===employeeTypeEnum.SEASONAL ?"none":"auto"
              }'
              class='form-control col'
              formControlName='unit'
              [ngClass]="{ 'is-invalid': submitted && f.unit.errors?.required }"
            >
              <mat-option *ngFor="let item of templateOverConstant" [value]="item.value">{{item.name}}</mat-option>
            </mat-select>
            <div *ngIf='submitted && f.unit.errors?.required' class='invalid-feedback'>
              <div>Chưa chọn loại tăng ca</div>
            </div>
          </div>
        </div>
        <div class=' mt-2' [formGroup]='formGroup'>
          <div><span class='main-title'>Chức vụ</span><span class='star'>*</span></div>
          <input class='form-control' type='text' matInput [formControl]='positions' [matAutocomplete]='position'
                 style='width: 100%'
                 #positionInput>
          <mat-autocomplete #position='matAutocomplete'>
            <mat-option *ngFor='let position of positions$ | async'
                        [value]='!position.id ? positionInput.value : position.name '
                        (onSelectionChange)='onCreatePosition($event, position, positionInput)'>
              {{position.name}}
            </mat-option>
          </mat-autocomplete>
          <div *ngIf="positionSelected.length > 0" class="border p-1 mt-1 " style="height: 120px ; overflow-y: scroll">
            <mat-chip-list>
              <mat-chip
                *ngFor='let position of positionSelected'
                [selectable]='true'
                [removable]='true'
                (removed)='removePosition(position)'>
                {{position.name}}
                <button class='btn' matChipRemove *ngIf='true'>
                  <mat-icon style='position: absolute; top:4px ; right: 5px'>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </div>
          <!-- <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
            <div *ngIf="f.position.errors?.required">Chưa chọn chức vụ</div>
          </div> -->
        </div>
        <div class='main-popup mt-2'>
          <div><span class='main-title'>Đơn vị</span></div>
          <input class='form-control' type='text' matInput [formControl]='branches' [matAutocomplete]='branch'
                 #branchInput>
          <mat-autocomplete #branch='matAutocomplete'>
            <mat-option *ngFor='let branch of branches$ | async' [value]='!branch.id ? branchInput.value : branch.name'
                        (onSelectionChange)='onCreateBranch($event,branchInput, branch)'>
              {{branch.name}}
            </mat-option>
          </mat-autocomplete>
          <div class="mt-2" *ngIf="branchesSelected.length > 0" class="border p-1 mt-1 "
               style="height: 120px ; overflow-y: scroll">
            <mat-chip-list>
              <mat-chip
                *ngFor="let branch of branchesSelected"
                [removable]='true'
                (removed)='onRemoveBranch(branch)'
                [selectable]='true'
                [removable]='true'>
                {{branch?.name}}
                <button class='btn' matChipRemove *ngIf='true'>
                  <mat-icon style='position: absolute; top:4px ; right: 5px'>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </div>

          <!-- <div *ngIf="submitted && f.branch.errors" class="invalid-feedback">
            <div *ngIf="f.branch.errors?.required">Chưa chọn đơn vị</div>
          </div> -->
        </div>
        <div class=' main-popup mt-2' [formGroup]='formGroup'>
          <div><span class='main-title'>Hệ số</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='number' formControlName='rate'
                 [ngClass]="{ 'is-invalid': submitted && f.rate.errors?.required }">
          <div *ngIf='submitted && f.price.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập hệ số</div>
          </div>
        </div>
        <div class='main-popup mt-2'>
          <div class=' main-title mb-1'>
            <label class='main-title'>Loại đơn giá<span class='star'>*</span></label>
          </div>
          <div class=' mt-1'>
            <nz-radio-group
              [ngStyle]='{
              "background":formGroup.value.employeeType ===employeeTypeEnum.SEASONAL?"#dddddd":"white",
               "pointer-events":formGroup.value.employeeType ===employeeTypeEnum.SEASONAL ?"none":"auto"
              }'
              formControlName="priceType">
              <label nz-radio nzValue="{{priceTypeEnum.PRICE}}">Theo đơn giá</label>
              <label nz-radio nzValue="{{priceTypeEnum.STANDARD}}">Theo lương chuẩn</label>
            </nz-radio-group>
            <div *ngIf='submitted && f.priceType.errors?.required' class='invalid-feedback'>
              <div>Chưa chọn loại tăng ca</div>
            </div>
          </div>
        </div>
        <div class=' main-popup mt-2' [formGroup]='formGroup' *ngIf="formGroup.value.priceType === priceTypeEnum.PRICE">
          <div><span class='main-title'>Mức tăng ca</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='text' formControlName='price' placeholder='200,000' inputCurrency
                 [ngClass]="{ 'is-invalid': submitted && f.price.errors?.required }">
          <div *ngIf='submitted && f.price.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập mức tăng ca</div>
          </div>
        </div>
        <div class='main-popup mt-2'>
          <div class=' main-title mb-1'>
            <span>Chú thích</span>
          </div>
          <div class=' mb-3' [formGroup]='formGroup'>
            <input class='form-control' placeholder='Nhập chú thích ' formControlName='note'>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <div class=' row ml-2'>
    <button (click)='onSubmit()' class=' btn btn-ok ml-2'>Lưu</button>
  </div>
</div>


