<mat-spinner *ngIf='adding$|async' class='loading'></mat-spinner>

<div class='row animated fadeIn   ' *ngIf='(payroll$ | async) as payroll'>

  <div class='container'>
    <div class='row' style='display: flex; justify-content: space-between'>
      <button (click)='prePayroll(payroll)' class='mb-5 create-salary'>
        <img class='mr-2' style='height: 14px;' src='assets/img/payroll/caret-left.svg' alt='edit icon'><span>Phiếu
          lương trước đó</span>
      </button>
      <button (click)='nextPayroll(payroll)' class='mb-5 mr-4 create-salary'>
        Phiếu lương tiếp theo
        <img class='mr-2' style='height: 14px;' src='assets/img/payroll/caret-right%20(1).svg' alt='edit icon'>
      </button>
    </div>
    <div class='row'>
      <div class='col-12  main-title font-2xl text-center mb-2'>
        Phiếu lương tháng {{payroll.createdAt|date: 'MM/yyyy'}}
      </div>
      <div class='row col-md-12'>
        <a routerLink='/ho-so/chi-tiet-nhan-vien/{{payroll.employee.id}}' class=' col-4 pointer '>
          <div class='employee row col-md-12 mt-3 d-flex flex-column align-items-center justify-content-center '
               style='min-height: 116px; padding: 10px '>
            <!--            <div class='row col-md-3 mr-1 info-employee'>-->
            <!--              <img-->
            <!--                class='rounded-circle'-->
            <!--                alt='50x50'-->
            <!--                src='{{payroll.employee?.avt}}'-->
            <!--                data-holder-rendered='true'-->
            <!--                height='64px'-->
            <!--              />-->
            <!--            </div>-->
            <div class='row d-flex flex-column ' style='width: 100%; color: black'>
              <div class='col-12 d-flex justify-content-start font-weight-bold'>
                {{payroll.employee.firstName}} {{payroll.employee.lastName}}
              </div>
              <div class='col-12 d-flex justify-content-start ' style='color: black'>
                <span class='d-inline-block font-weight-bold'>Ngày vào làm: </span>
                <span class='ml-1'>{{payroll.employee.createdAt|date: 'dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class='col-12 d-flex align-items-center mt-2'>
              <div class='row' style='width: 100%;'>
                <div class='col-6 ' style='border-radius: 20px;height: 24px ;min-width: 150px;'>
                  <div class='col-md position'>{{payroll.employee.position.name}}</div>
                </div>
              </div>
              <div class='col-6 ' style='border-radius: 20px;height: 24px ;min-width: 150px;'>
                <div class='col-md position'>
                  <span class='mr-2'>{{payroll.employee.recipeType}}</span>
                  |
                  <span class='ml-2'>{{payroll.employee.id}}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class='employee row col mt-3'>
          <div class='col' style='min-width: 170px'>
            <div class='row d-flex justify-content-center '>Ngày làm việc chuẩn</div>
            <div class='row content-title'>
              {{payroll.employee.workday}}
            </div>
          </div>
          <div class='col' style='min-width: 170px'>
            <div class='row justify-content-center'> Ngày làm việc thực tế</div>
            <div class='row content-title'>
              {{payroll.totalWorkday || "0"}}
            </div>
          </div>
          <div class='col' style='min-width: 170px'>
            <div class='row d-flex justify-content-center '>Số ngày trong tháng</div>
            <div class='row content-title'>
              {{daysInMonth}}
            </div>
          </div>
          <div class='col' style='min-width: 170px'>
            <div class='row justify-content-center'> Thuộc diện hợp đồng</div>
            <div class='row' style='display: flex;justify-content: center;align-items: center;height: 43px;'>
              <img
                [src]=" payroll.employee.contracts.length === 0 ?'../../../../../assets/img/share/x-lg.svg': ' ../../../../../assets/img/payroll/check.svg' "
                [alt]="payroll.employee.contracts.length === 0 ? 'contract' : 'not contract' ">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row' style='display: flex ; align-items: center'>
      <div class='col' style='border-top: 2px dashed #9FA2B4; margin: 50px 0;'></div>
    </div>
    <div class='row d-flex flex-column'>
      <div #basic class='d-flex'>
        <!--Lương cơ bản-->
        <div class='col-6'>
          <table>
            <thead>
            <tr style='background-color: #dddddd66;'>
              <th width='50%' class=' text-center '>Lương cơ bản</th>
              <th width='28%' class=' text-center '>Thành tiền</th>
              <th width='22%' class=' text-center ' (click)='addSalary(type.BASIC,payroll)'>
                <span class='mr-1 pointer' style='color: #1b8eb7'>Thêm mục</span>
                <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
                     alt='add icon'>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr style='background: white'
                *ngFor="let salary of payroll.salaries | filterTypeSalary:['BASIC_INSURANCE','BASIC' ] ">
              <th width='50%'> {{salary.title}}</th>
              <th width='28%' class=' text-center ' style='color: #4B3880'>
                {{salary.price|number:'1.0'|notEmpty:'0'}} đ
              </th>
              <th width='22%' class='col-md-2'>
                <div class='d-flex justify-content-around'>
                  <button data-toggle='tooltip' data-placement='top' title=' chỉnh sửa ' class='edit animated mr-2'
                          (click)='updateSalary(type.BASIC,salary)'>
                    <img style='height: 9px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
                  </button>
                  <button data-toggle='tooltip' data-placement='top' title='xóa' class='trash animated'
                          (click)='removeSalary(salary.id, payroll.id)'>
                    <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
                  </button>
                </div>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
        <!--Phụ cấp ở lại-->
        <div class='col-6'>
          <table>
            <thead>
            <tr style='background-color: #dddddd66;'>
              <th width='50%' class=' text-center '>Phụ cấp ở lại</th>
              <th width='28%' class=' text-center '>Thành tiền</th>
              <th width='22%' class=' text-center ' (click)='addSalary(type.STAY,payroll)'>
                <span class='mr-1 pointer' style='color: #1b8eb7'>Thêm mục</span>
                <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
                     alt='add icon'>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr style='background: white' *ngFor="let salary of payroll.salaries | filterTypeSalary:['STAY' ] ">
              <th width='50%'> {{salary.title}}</th>
              <th width='28%' class=' text-center ' style='color: #4B3880'>
                {{salary.price|number:'1.0'|notEmpty:'0'}} đ
              </th>
              <th width='22%'>
                <div class='d-flex justify-content-around'>
                  <button data-toggle='tooltip' data-placement='top' title=' chỉnh sửa ' class='edit animated mr-2'
                          (click)='updateSalary(type.STAY,salary)'>
                    <img style='height: 9px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
                  </button>
                  <button data-toggle='tooltip' data-placement='top' title='xóa' class='trash animated'
                          (click)='removeSalary(salary.id, payroll.id)'>
                    <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
                  </button>
                </div>
              </th>

            </tr>
            </tbody>

          </table>
        </div>
      </div>
      <!--Phụ cấp -->
      <div #allowance class='col-12 mt-5'>
        <table>
          <thead>
          <tr style='background-color: #dddddd66;'>
            <th width='25%' class=' title text-center '>Phụ cấp</th>
            <th width='15%' class=' title text-center '>Thời gian</th>
            <th width='10%' class=' title text-center '>Đơn vị</th>
            <th width='15%' class=' title text-center '>Thành tiền</th>
            <th width='25%' class=' title text-center '>Chú thích</th>
            <th width='10%' class='text-center' style='padding: 0; color: #1b8eb7'
                (click)='addSalary(type.ALLOWANCE, payroll ) '><span class='mr-1 pointer'>Thêm mục</span>
              <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
                   alt='add icon'>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let salary of payroll.salaries | filterTypeSalary:['ALLOWANCE'] "
              style='background: white !important;'>
            <th width='25%'>
              <span>{{salary.title}}</span>
            </th>
            <th width='15%' class=' text-center '>
              <span *ngIf='salary.unit === datetimeUnit.MONTH'>{{salary.datetime|date:'MM-yyyy'}} </span>
              <span *ngIf='salary.unit === datetimeUnit.DAY'>{{salary.datetime ? (salary.datetime|date:'dd-MM-yyyy') :
                '-'}} </span>
            </th>
            <th width='10%' class=' text-center '>
              <span *ngIf='salary.unit === datetimeUnit.MONTH'>Tháng</span>
              <span *ngIf='salary.unit === datetimeUnit.DAY'>Ngày</span>
            </th>
            <th width='15%' class=' text-center ' style='color: #29CC97'>{{salary.price|number:'1.0'| notEmpty:'0'}}đ
            </th>
            <th width='25%' class=' text-center '>
              <span>{{salary.note}}</span>
            </th>
            <th width='10%'>
              <div class='d-flex justify-content-around '>
                <button data-toggle='tooltip' data-placement='top' title=' chỉnh sửa ' class='edit animated'
                        (click)='updateSalary(type.ALLOWANCE ,salary , payroll)'>
                  <img style='height: 9px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
                </button>
                <button data-toggle='tooltip' data-placement='top' title='xóa' class='trash animated'
                        (click)='removeSalary(salary.id , payroll.id)'>
                  <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
                </button>
              </div>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Tăng ca -->
      <div #overtime class='col-12 mt-5'>
        <table>
          <thead>
          <tr style='background-color: #dddddd66;'>
            <th width='25%' class=' title text-center '>Tăng ca</th>
            <th width='15%' class=' title text-center '>Thời gian</th>
            <th width='10%' class=' title text-center '>Đơn vị</th>
            <th width='15%' class=' title text-center '>Thành tiền</th>
            <th width='25%' class=' title text-center '>Chú thích</th>
            <th width='10%' class='text-center' style='padding: 0; color: #1b8eb7'
                (click)='addSalary(type.OVERTIME, payroll ) '><span class='mr-1 pointer'>Thêm mục</span>
              <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
                   alt='add icon'>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let salary of payroll.salaries | filterTypeSalary:['OVERTIME'] "
              style='background: white !important;'>
            <th width='25%'>
              <div>
                <span>{{salary.title}}</span>
                <span class='ml-2' *ngIf='salary.allowance'> + {{salary.allowance.title}}</span>
              </div>

            </th>
            <th width='15%' class=' text-center '>
                <span>
                  {{salary.datetime ? (salary.datetime|date:'dd-MM-yyyy') : '-'}}
                </span>
            </th>
            <th width='10%' class=' text-center '>
              <span *ngIf='salary.unit === datetimeUnit.HOUR'> {{salary.times}} Giờ </span>
              <span *ngIf='salary.unit === datetimeUnit.DAY'>Ngày</span>
            </th>
            <th width='15%' class=' text-center ' style='color: #29CC97'>
                <span>
                  {{ (salary.times * salary.price)|number:'1.0'| notEmpty:'0'}}đ
                </span>
              <span *ngIf='salary.allowance'>
                  + {{salary.allowance.price}}
                </span>
            </th>
            <th width='25%' class=' text-center '>
              <span>{{salary.note}}</span>
            </th>
            <th width='10%'>
              <div class='d-flex justify-content-around '>
                <button data-toggle='tooltip' data-placement='top' title=' chỉnh sửa ' class='edit animated'
                        (click)='updateSalary(type.OVERTIME, salary)'>
                  <img style='height: 9px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
                </button>
                <button data-toggle='tooltip' data-placement='top' title='xóa' class='trash animated'
                        (click)='removeSalary(salary.id, payroll.id)'>
                  <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
                </button>
              </div>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <!--Khấu trừ-->
      <div #absent class='col-12 mt-5'>
        <table>
          <thead>
          <tr style='background-color: #dddddd66;'>
            <th width='25%' class=' title text-center '>Khấu trừ</th>
            <th width='15%' class=' title text-center '>Thời gian</th>
            <th width='13%' class=' title text-center '>Đơn vị</th>
            <th width='15%' class=' title text-center '>Thành tiền</th>
            <th width='22%' class=' title text-center '>Chú thích</th>
            <th width='10%' class='text-center' style='padding: 0; color: #1b8eb7'
                (click)='addSalary(type.ABSENT, payroll ) '><span class='mr-1 pointer'>Thêm mục</span>
              <img style='margin-left: 2px;width: 10px;' src='../../../../../assets/img/payroll/plus-lg.svg'
                   alt='add icon'>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let salary of payroll.salaries | filterTypeSalary:['ABSENT','DAY_OFF'] "
              style='background: white !important;'>
            <th width='25%'>
              <div>
                <span>{{salary.title}}</span>
                <span class='ml-2' *ngIf='salary.allowance'></span>
              </div>
            </th>
            <th width='15%' class=' text-center '>
                 <span *ngIf='salary.datetime'>
                  {{salary.datetime|date:'dd-MM-yyyy'}}
                </span>
                <span *ngIf='salary.startedAt && salary.endedAt'>
                   từ ngày {{salary.startedAt|date:'dd-MM-yyyy'}}
                  đến ngày {{salary.endedAt|date:'dd-MM-yyyy'}}
                </span>
              <span *ngIf='!salary.startedAt && !salary.endedAt &&!salary.datetime  '>
                   _
              </span>
            </th>
            <th width='13%' class=' text-center '>
                <span *ngIf='salary.unit === datetimeUnit.MINUTE'>
                  ({{salary.times | convertTime }} )
                </span>
              <span *ngIf='salary.unit === datetimeUnit.TIMES'> {{salary.times}} Lần </span>
              <span *ngIf='salary.unit === datetimeUnit.DAY'>Ngày</span>
            </th>
            <th width='15%' class=' text-center '>
              _
            </th>
            <th width='22%' class=' text-center '>
              <span>{{salary.note}}</span>
            </th>
            <th width='10%'>
              <div class='d-flex justify-content-around '>
                <button data-toggle='tooltip' data-placement='top' title=' chỉnh sửa ' class='edit animated'
                        (click)='updateSalary(type.ABSENT, salary, payroll)'>
                  <img style='height: 9px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
                </button>
                <button data-toggle='tooltip' data-placement='top' title='xóa' class='trash animated'
                        (click)='removeSalary(salary.id, payroll.id)'>
                  <img style='height: 9px;' src='../../../../../assets/img/payroll/trash.svg' alt='delete icon'>
                </button>
              </div>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <!--      ngày lễ-->
      <div #holiday class='col-12 mt-5'>
        <table>
          <thead>
          <tr style='background-color: #dddddd66;'>
            <th width='25%' class=' title text-center '>Đi làm ngày lễ</th>
            <th width='15%' class=' title text-center '>Ngày</th>
            <th width='10%' class=' title text-center '>Hệ số</th>
            <th width='15%' class=' title text-center '>Đơn giá</th>
            <th width='10%' style='color: #1b8eb7' (click)='scanHoliday(payroll.id)'><span
              class='mx-2 pointer'>Quét</span>
              <img class='pointer' style='margin-left: 2px;width: 13px;' src='./assets/icon/search.svg'
                   alt='add icon'>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let salary of payroll.salaries | filterTypeSalary:['HOLIDAY'] "
              style='background: white !important;'>
            <th width='25%'>
              <div>
                <span>{{salary.title}}</span>
                <span class='ml-2' *ngIf='salary.allowance'></span>
              </div>
            </th>
            <th width='15%' class=' text-center '>
                <span>
                  {{salary.times}} ngày {{salary.datetime | date: "dd/MM/yyyy"}}
                </span>
            </th>
            <th width='10%' class=' text-center '>
              <span>{{salary.rate}}</span>
            </th>
            <th width='25%' class=' text-center '>
              {{salary.price || "Theo hệ số lương cơ bản"}}
            </th>
            <th width='10%'>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='col-md-12' style='border-top: 2px dashed #9FA2B4; margin: 50px 0;'>
    </div>
    <div #footer>
      <div class='col-md-12' *ngIf='(payroll$ | async) as payroll' style='display: flex; justify-content: flex-end'>
        <button (click)='historySalary(payroll)'
                class='mb-5 btn d-flex d-flex justify-content-center  align-items-center mr-3'
                style='border: solid 1px #4B3880'>
          <img class='mr-1' src='../../../../../assets/img/share/arrow-counterclockwise.svg' alt='history'><span>xem
            lịch
            sử lương</span>
        </button>
        <button (click)='confirmPayroll(payroll)' class='mb-5 create-salary'>
          <img class='mr-2' style='height: 12px;' src='../../../../../assets/img/share/pencil-fill.svg' alt='edit icon'>
          Xác nhận phiếu lương
        </button>
      </div>
    </div>

  </div>
  <div class='sticky-scroll' #sticky>
    <div class='pointer' (click)='onSticky(sticky)'>Ẩn >></div>
    <div class='pointer ' (click)='scroll(basic)'>Lương cơ bản</div>
    <div class='pointer' (click)='scroll(basic)'>Phụ cấp ở lại</div>
    <div class='pointer' (click)='scroll(allowance)'>Phụ cấp</div>
    <div class='pointer' (click)='scroll(overtime)'>Tăng ca</div>
    <div class='pointer' (click)='scroll(absent)'>Khấu trừ</div>
    <div class='pointer' (click)='scroll(holiday)'>Đi làm ngày lễ</div>
    <div class='pointer' (click)='scroll(footer)'>Lịch sử và xác nhận lương</div>
  </div>
  <div class='sticky-scroll' *ngIf='isSticky'>
    <div class='pointer' (click)='onSticky(sticky)'>
      << Hiện
    </div>
  </div>
</div>
