<div class='px-2'>
  <nz-steps [nzCurrent]="indexStep">
    <nz-step *ngIf="data?.update?.multiple" nzTitle="Nhân viên đã chọn"></nz-step>
    <nz-step nzTitle="Bảng {{this.data.type | transformSalaryType}}"></nz-step>
  </nz-steps>

  <ng-template [ngIf]="indexStep === 0 && data?.update?.multiple">
    <!--    <app-table-salaries-selected-->
    <!--      [salaries]='salaryPayrolls'-->
    <!--      (EmitSalariesSelected)='changeSalariesSelected($event)'>-->
    <!--    </app-table-salaries-selected>-->
  </ng-template>
  <ng-template [ngIf]="indexStep === 1">
    <form [formGroup]='formGroup' class="px-2 pt-2" style="max-height: 40vh; overflow-y: scroll">
      <div class='mb-2'>
        <span class="font-weight-bold">Khoản {{this.data.type |transformSalaryType}}</span><span class='star'>*</span>
        <nz-select class="mt-1" style="width: 100%" formControlName="template"
                   [compareWith]="compareFN"
        >
          <nz-option *ngFor='let item of templateSalary$|async'
                     [nzValue]="item" [nzLabel]="item.title||''"></nz-option>
        </nz-select>
        <div *ngIf='checkValid.template.errors ' class='invalid-feedback'>
          <div>Chưa chọn loại khấu trừ</div>
        </div>
      </div>
      <div class='mb-3' *ngIf="formGroup.value?.template?.id === 0 else template">
        <span class='font-weight-bold'>Tiêu đề</span><span class='star'>*</span>
        <input class="mt-1" nz-input formControlName="title">
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Đơn vị</span><span class='star'>*</span>
        <nz-select formControlName="unit" style="width: 100%" nzDisabled>
          <nz-option *ngFor="let item of unitConstant" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
      <ng-template #template >
        <div class='mb-3'>
          <span class='font-weight-bold'>Buổi</span><span class='star'>*</span>
          <nz-select class="mt-1" style="width: 100%" formControlName='partialDay'>
            <nz-option *ngFor='let item of titleSession' [nzValue]='item' [nzLabel]="item.name"></nz-option>
          </nz-select>
          <div *ngIf='checkValid.partialDay.errors ' class='invalid-feedback'>
            <div>Chưa chọn buổi khấu trừ</div>
          </div>
        </div>
        <div class='mb-3 row'>
          <div class="col d-flex flex-column">
            <div class="font-weight-bold">Từ ngày đến ngày <span class="star">*</span></div>
            <nz-range-picker class="mt-1" formControlName="rangeDay"></nz-range-picker>
            <div *ngIf='checkValid.rangeDay.errors ' class='invalid-feedback'>
              <div>Chưa chọn từ ngày đến ngày</div>
            </div>
          </div>
          <div class="col d-flex">
            <div class="col">
              <span class="font-weight-bold">Từ giờ</span><span class="star">*</span>
              <nz-time-picker
                class="mt-1"
                [nzDisabled]="formGroup.value.partialDay?.value !== partialDayEnum.CUSTOM"
                formControlName="startTime"
                nzFormat="HH:mm"
                [nzDisabledHours]="disabledHoursStart"
                [nzDisabledMinutes]="disabledMinute"
              ></nz-time-picker>
              <div *ngIf='checkValid.startTime.errors ' class='invalid-feedback'>
                <div>Chưa chọn từ giờ</div>
              </div>
            </div>
            <div class="col">
              <span class="font-weight-bold">Đến giờ</span><span class="star">*</span>
              <nz-time-picker
                class="mt-1"
                [nzDisabled]="formGroup.value.partialDay?.value !== partialDayEnum.CUSTOM"
                formControlName="endTime"
                nzFormat="HH:mm"
                [nzDisabledHours]="disabledHoursEnd"
                [nzDisabledMinutes]="disabledMinute"
              ></nz-time-picker>
              <div *ngIf='checkValid.endTime.errors ' class='invalid-feedback'>
                <div>Chưa chọn đến giờ</div>
              </div>
            </div>
          </div>
        </div>
        <div class='mb-3'>
          <span class='font-weight-bold'>Hệ số</span><span class="star">*</span>
          <div class="form-control mt-1" style="background: #dddddd">{{formGroup.value.rate}}</div>
        </div>
        <div class='mb-3 d-flex flex-column'>
          <div>
            <span class='font-weight-bold'>Khấu trừ theo</span><span class="star">*</span>
          </div>
          <nz-radio-group nzDisabled="{{true}}" formControlName="reference">
            <label nz-radio [nzValue]="item.value" *ngFor="let item of recipesConstant">{{item.name}}</label>
          </nz-radio-group>
        </div>
        <div class='mb-3'>
          <span class='font-weight-bold'>Ràng buộc ngày lễ:</span>
          <label nz-checkbox nzDisabled="true" class="ml-2" formControlName="constraintHoliday"></label>
        </div>
        <div class='mb-3'>
          <span class='font-weight-bold'>Ràng buộc theo tăng ca:</span>
          <label nz-checkbox nzDisabled="true" class="ml-2" formControlName="constraintOvertime"></label>
        </div>
      </ng-template>
      <div class='mb-3'>
        <span class='font-weight-bold'>Đơn giá</span>
        <span *ngIf="formGroup.value?.template?.id === 0" class="star">*</span>
        <input *ngIf="formGroup.value?.template?.id === 0 else price" nz-input
               type="text" formControlName='price'
               currencyMask
               [options]="{ suffix: ' đ' }">
        <ng-template #price>
          <div *ngIf="formGroup.value?.template" class="form-control" style="background: #dddddd">{{
            (((formGroup.value.template?.price|number:'1.0-0')) || (formGroup.value.template?.totalOf|salarytype:'transform'))
            + ' / ' +
            (formGroup.value.template?.workday || 'Ngày công chuẩn')
            }} </div>
        </ng-template>
      </div>
      <div class=' d-flex align-items-center title-item mb-2' *ngIf="this.data.type === salaryTypeEnum.OVERTIME">
        <span>Phụ cấp tăng ca:</span>
        <input type='checkbox'  class='ml-2' formControlName="isAllowance">
      </div>
      <div class='allowance-overtime p-2 border' *ngIf='this.formGroup.value.isAllowance'>
        <div class=' mb-2'>
          <span class='title-item mb-2'>Tiêu đề phụ cấp tăng ca</span>
        </div>
        <div class=' mb-3' [formGroup]='formGroup'>
          <input type='text' class='form-control  px-1' formControlName='titleAllowance'>
        </div>
        <div class=''>
          <div class=' title-item mb-1'>
            <span>Mức Phụ cấp tăng ca</span>
          </div>
          <div class=' mb-3' [formGroup]='formGroup'>
            <input type='text'
                   class='form-control  px-1'
                   formControlName='priceAllowance'
                   currencyMask
                   [options]="{ suffix: ' đ' }"
            >
          </div>
        </div>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Chú thích</span>
        <input nz-input placeholder='Nhập chú thích ' formControlName='note'>
      </div>
    </form>
  </ng-template>
  <div class="steps-action">
    <button class="ml-2" nz-button nzType="default" (click)="pre()" *ngIf="indexStep > 0">
      <span>Trở lại</span>
    </button>
    <button class="ml-2" nz-button nzType="default" (click)="next()" *ngIf="indexStep < 1">
      <span>Tiếp theo</span>
    </button>
    <button class="ml-2" nz-button nzType="primary" [nzLoading]="submitting" (click)="onSubmit()"
            *ngIf="indexStep === 1">
      <span>Xác nhận</span>
    </button>
  </div>
</div>

