<div>
  <div class='d-flex justify-content-end mb-2'>
    <div class='pr-2 align-content-center'>
      <span class='font-weight-bold'>
        Đã chọn ({{ setOfCheckedId.size }} / {{ total$ | async }})
      </span>
    </div>
    <button
      nz-button
      nzType='primary'
      nzGhost
      (click)='onAdd()'
    >
      Thêm
    </button>
  </div>
  <div>
    <nz-table
      #tableCommodity
      nzSize='small'
      [nzFrontPagination]='false'
      [nzShowPagination]='false'
      [nzLoading]='(loading$ | async) && (total$ | async) === 0'
      [nzData]='(commodities$ | async) || []'
      [formGroup]='formGroup'
      [nzScroll]="{ x: '1800px', y: '50vh' }"
    >
      <thead>
      <tr>
        <th
          nzWidth='70px'
          nzLeft
          [nzChecked]='checked'
          [nzIndeterminate]='indeterminate'
          (nzCheckedChange)='onSetAll($event)'
        ></th>
        <th nzWidth='50px'>
          <div>STT</div>
          <input nz-input type='text' disabled />
        </th>
        <th nzWidth='50px' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
          <div>ID</div>
          <input nz-input type='text' disabled />
        </th>
        <th nzWidth='120px'>
          <div>Mã hàng</div>
          <input nz-input type='text' formControlName='code' />
        </th>
        <th nzWidth='200px'>
          <div>Tên Hàng hóa</div>
          <input nz-input type='search' formControlName='name' />
        </th>
        <th nzWidth='120px'>
          <div>Giá trước KM</div>
          <input nz-input disabled type='number' />
        </th>
        <th nzWidth='120px'>
          <div>Số lượng</div>
          <input nz-input type='number' disabled />
        </th>
        <th nzWidth='120px'>
          <div>Khuyến mãi</div>
          <input nz-input type='number' disabled />
        </th>
        <th nzWidth='120px'>
          <div>Mua thêm</div>
          <input nz-input type='number' disabled />
        </th>
        <th nzWidth='120px'>
          <div>Giá sau KM</div>
          <input nz-input type='number' disabled />
        </th>
        <th nzWidth='120px'>
          <div>Đơn vị</div>
          <input nz-input type='number' formControlName='unit' />
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-template
        ngFor
        let-commodity
        [ngForOf]='tableCommodity.data'
        let-i='index'
      >
        <tr
          (contextmenu)='child.onContextMenu($event, commodity)'
          class='pointer'
        >
          <td
            nzWidth='70px'
            nzLeft
            [nzChecked]='setOfCheckedId.has(commodity.id)'
            (nzCheckedChange)='onItemChecked(commodity.id, $event)'
          ></td>
          <td>{{ i + 1 }}</td>
          <td *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>{{ commodity.id }}</td>
          <td>{{ commodity.code }}</td>
          <td>{{ commodity.name }}</td>
          <td>{{ commodity.price ? (commodity.price | number: '1.0') : 'Theo thời giá'  }}</td>
          <td>{{ commodity.amount | number: '1.0' }}</td>
          <td>{{ (commodity.gift | number: '1.0') || '0' }}</td>
          <td>{{ (commodity?.more?.amount | number: '1.0') || '0' }}</td>
          <td>
            {{ commodity?.more?.price ? (commodity?.more?.price | number: '1.0') : 'Không có giá trị' }}
          </td>
          <td>{{ commodity.unit === CommodityUnit.KG ? 'KG' : 'Con' }}</td>
        </tr>
      </ng-template>
      <tr *ngIf='(remain$ | async)'>
        <td colspan='5'>
          <div
            class='w-100 d-flex justify-content-start'
            style='position: relative'
          >
            <button
              nz-button
              nzGhost
              nzType='primary'
              style='position: sticky; left: 45vw'
              [nzLoading]='loading$ | async'
              (click)='onLoadMore()'
            >
              Tải thêm {{ remain$ | async }} mặt hàng
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <button
    class='mt-1'
    *ngIf='data?.isUpdate'
    nz-button
    nzType='primary'
    (click)='closeDialog()'
  >
    Xác nhận
  </button>
</div>


<app-mouse-right
  #child
  (onAdd)='onAdd()'
  (onDel)='onRemove($event)'
  (onUpdate)='onUpdate($event)'
></app-mouse-right>
