<div class='d-flex'>
  <div
    class='d-flex flex-column border'
    style='height: 81vh; width: 18%; overflow-y: auto; padding: 10px'
  >
    <nz-collapse>
      <nz-collapse-panel nzHeader='Tìm kiếm' nzActive='true'>
        <div [formGroup]='formGroup'>
          <input
            nz-input
            class='form-control'
            type='search'
            formControlName='search'
          />
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class='ml-3' style='width: 80%'>
    <div class='d-flex justify-content-between align-items-end m-2'>
      <div>
        <span class='font-weight-bold'>Tổng: </span> {{ total$ | async }}
      </div>
      <div>
        <button nz-button nzType='primary' nzGhost class='ml-2' (click)='onAdd()'>
          Thêm
        </button>
      </div>
    </div>
    <div>
      <nz-table
        #tableTemplate
        nzSize='middle'
        *ngIf='templates$ | async as templates'
        [nzFrontPagination]='false'
        [nzShowPagination]='false'
        [nzScroll]="{ x: '', y: '70vh' }"
        [nzLoading]='(loading$ | async) && (total$ | async) === 0'
        [nzData]='templates'
      >
        <thead>
        <tr>
          <th nzLeft nzWidth='50px'>STT</th>
          <th nzWidth='50px' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
            ID
          </th>
          <th nzWidth='200px'>Mã</th>
          <th>Tên loại gà</th>
        </tr>
        </thead>
        <tbody>
        <tr class='pointer'
            *ngFor='let template of tableTemplate.data; let i = index'
            (click)='onUpdate(template)'
            (contextmenu)='onContextMenu($event, menu)'
        >
          <nz-dropdown-menu #menu='nzDropdownMenu'>
            <ul class='context-menu' nz-menu>
              <li nz-menu-item *ngFor='let item of menus' (click)='item.click(template)'>
                {{item.title}}
              </li>
            </ul>
          </nz-dropdown-menu>
          <td nzLeft>{{ i + 1}}</td>
          <td *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>{{template.id}}</td>
          <td>{{ template.code }}</td>
          <td>{{ template.name }}</td>
        </tr>
        <tr
          *ngIf='
              ((count$ | async) || 0) < ((total$ | async) || 0) &&
              (total$ | async) !== 0
            '
        >
          <td colspan='17'>
            <div
              class='w-100 d-flex justify-content-start'
              style='position: relative'
            >
              <button
                (click)='onLoadMore()'
                style='position: sticky; left: 45vw'
                nz-button
                nzType='primary'
                [nzLoading]='loading$ | async'
              >
                Tải thêm {{ remain$ | async }} giống gà
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
