<h2>{{data?.isUpdate ? 'Cập nhật' : 'Nhập'}} thông tin hàng hóa</h2>
<form [formGroup]='formGroup' (submit)='onSubmit()'>
  <div class='form-group'>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Kho<span class='star'>*</span></label>
<!--        <input class='form-control ' type='text' matInput  [matAutocomplete]='branch'-->
<!--               style='width: 100%'-->
<!--               [matChipInputFor]='chipList'-->
<!--               #positionInput>-->
<!--        <mat-autocomplete #branch='matAutocomplete'>-->
<!--          <mat-option *ngFor='let position of positions$ | async'-->
<!--                      [value]='!position.id ? positionInput.value : position.name '-->
<!--                      (onSelectionChange)='onCreatePosition($event, position,positionInput)'-->
<!--          >-->
<!--            {{position.name}}-->
<!--          </mat-option>-->
<!--        </mat-autocomplete>-->
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Loại kho<span class='star'>*</span></label>
        <input type='text' class='form-control' id='price' placeholder='200,000' formControlName='price' inputCurrency>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Mã hàng hóa</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='name'>Tên hàng hóa <span class='star'>*</span></label>
        <input type='text' class='form-control' id='name' placeholder='Anticoc' formControlName='name'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Ngày hạch toán</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Ngày chứng từ</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Số chứng từ</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='expire'>Ngày sản xuất (nếu có)</label>
        <input type='date' class='form-control' id='expire' placeholder='Gà loại 1' formControlName='expire'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='expire'>Hạn sử dụng (nếu có)</label>
        <input type='date' class='form-control' id='expire' placeholder='Gà loại 1' formControlName='expire'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Đơn giá<span class='star'>*</span></label>
        <input type='text' class='form-control' id='price' placeholder='200,000' formControlName='price' inputCurrency>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Số lượng<span class='star'>*</span></label>
        <input type='text' class='form-control' id='price' placeholder='200,000' formControlName='price' inputCurrency>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='discount'>Chiếc khấu (%)</label>
        <input type='number' min='0' max='1' step='0.01' class='form-control' id='discount' placeholder='10' formControlName='discount'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='unit'>Đơn vị<span class='star'>*</span></label>
        <mat-select id='unit' class='form-control' formControlName='unit'>
          <mat-option *ngFor='let item of medicineConstant' [value]='item.value'>
            {{item.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='amount'>Số lượng<span class='star'>*</span></label>
        <input type='number' class='form-control' id='amount' placeholder='1,000' formControlName='amount'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='createdAt'>Ngày nhập<span class='star'>*</span></label>
        <input type='date' class='form-control' id='createdAt' placeholder='1,000' formControlName='createdAt'>
      </div>
    </div>

    <div class='row d-flex mt-3 justify-content-center'>
      <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
      <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> Xác nhận</button>
    </div>
  </div>
</form>





