<h2>{{data?.isUpdate ? 'Cập nhật' : 'Nhập'}} thông tin hàng hóa</h2>
<form [formGroup]='formGroup' (submit)='onSubmit()'>
  <div class='form-group'>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='branch'>Nhập vào kho<span class='star'>*</span></label>
        <input
          matInput
          id='branch'
          class='form-control'
          type='search'
          [matAutocomplete]='branch'
          style='width: 100%'
          formControlName='branch'
        >
        <mat-autocomplete #branch='matAutocomplete'>
          <mat-option
            *ngFor='let branch of branches$ | async'
            [value]=' branch'
            (onSelectionChange)='onChangeAutoComp($event, branch, "branch")'
          >
            {{branch.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <!--      <div class='col-sm' [formGroup]='formGroup' *ngIf='isTransfer'>-->
      <!--        <label for='branch'>Nhập từ Kho<span class='star'>*</span></label>-->
      <!--        <input-->
      <!--          matInput-->
      <!--          id='branch'-->
      <!--          class='form-control'-->
      <!--          type='search'-->
      <!--          [matAutocomplete]='transferBranch'-->
      <!--          style='width: 100%'-->
      <!--          value='Kho tổng'-->
      <!--          formControlName='transferBranch'-->
      <!--        >-->
      <!--        <mat-autocomplete #transferBranch='matAutocomplete'>-->
      <!--          <mat-option-->
      <!--            *ngFor='let branch of transferBranches$ | async'-->
      <!--            [value]=' branch'-->
      <!--            (onSelectionChange)='onChangeBranch($event, branch)'-->
      <!--          >-->
      <!--            {{branch.name}}-->
      <!--          </mat-option>-->
      <!--        </mat-autocomplete>-->
      <!--      </div>-->
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='warehouse'>Loại kho<span class='star'>*</span></label>
        <input
          matInput
          class='form-control'
          type='search'
          id='warehouse'
          [matAutocomplete]='warehouse'
          style='width: 100%'
          formControlName='warehouse'
        >
        <mat-autocomplete #warehouse='matAutocomplete'>
          <mat-option
            *ngFor='let warehouse of warehouse$ | async'
            [value]=' warehouse'
            (onSelectionChange)='onChangeAutoComp($event, warehouse, "warehouse")'
          >
            {{warehouse.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Mã hàng hóa</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='name'>Tên hàng hóa <span class='star'>*</span></label>
        <input type='text' class='form-control' id='name' placeholder='Anticoc' formControlName='name'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='provider'>Nhà cung cấp</label>
        <input matInput type='search' [matAutocomplete]='provider' class='form-control' id='provider'
               placeholder='Nhà thuốc An Khang' formControlName='provider'>
        <mat-autocomplete #provider='matAutocomplete'>
          <mat-option
            *ngFor='let provider of providers$ | async'
            [value]='provider'
            (onSelectionChange)='onChangeAutoComp($event, provider, "provider")'
          >
            {{provider.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='billedAt'>Ngày hạch toán</label>
        <input type='date' class='form-control' id='billedAt' formControlName='billedAt'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='billedAt'>Ngày chứng từ</label>
        <input type='date' class='form-control' id='billedAt' formControlName='billedAt'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='billCode'>Số chứng từ</label>
        <input type='text' class='form-control' id='billCode' formControlName='billCode'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='mfg'>Ngày sản xuất (nếu có)</label>
        <input type='date' class='form-control' id='mfg' placeholder='Gà loại 1' formControlName='mfg'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='expire'>Hạn sử dụng (nếu có)</label>
        <input type='date' class='form-control' id='expire' placeholder='Gà loại 1' formControlName='exp'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Đơn giá<span class='star'>*</span></label>
        <input type='text' class='form-control' id='price' placeholder='200,000' formControlName='price' inputCurrency>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='amount'>Số lượng<span class='star'>*</span></label>
        <input type='text' class='form-control' id='amount' placeholder='200,000' formControlName='amount'
               inputCurrency>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='discount'>Chiếc khấu (%)</label>
        <input type='number' min='0' max='1' step='0.01' class='form-control' id='discount' placeholder='10'
               formControlName='discount'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='unit'>Đơn vị tính<span class='star'>*</span></label>
        <mat-select id='unit' class='form-control' formControlName='unit'>
          <mat-option *ngFor='let item of medicineConstant' [value]='item.value'>
            {{item.name}}
          </mat-option>
        </mat-select>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='createdAt'>Ngày nhập<span class='star'>*</span></label>
        <input type='date' class='form-control' id='createdAt' placeholder='1,000' formControlName='createdAt'>
      </div>
    </div>

    <div class='row d-flex mt-3 justify-content-center'>
      <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
      <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> Xác nhận</button>
    </div>
  </div>
</form>





