<div class='mx-auto' style='width: 98%; margin-top: 20px'>
  <nz-table #columnTable [nzData]='(data$ | async) || []' [nzScroll]="{ x: '1100px' }" [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzLeft>Tên hàng hóa</th>
      <th nzLeft>Xuất/nhập</th>
      <th>Số lượng</th>
      <th>Thời gian</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let data of columnTable.data'>
      <td nzLeft>{{ data.product.name }}</td>
      <td nzLeft>{{ data.type === MigrateEnum.IMPORT ? 'Nhập kho' : 'Xuất kho' }}</td>
      <td>{{ data.amount }}</td>
      <td>{{ data.timestamp | date: 'hh:mm:ss - dd/MM/YYYY'}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
