.title-detail {
  font-size: 16px;
}
.title-detail > span {
  line-height: 25px;
}
.contain-detail {
  font-size: 15px;
}

.trash {
  cursor: pointer;
  display: flex;
  background: #eb5757;
  padding: 4px;
  border: solid 1px #eb5757;
  border-radius: 4px;
}
