<div class="d-flex flex-column">
  <div class="d-flex justify-content-between">
    <div class="d-flex font-weight-bold font-lg align-items-center">Lô hàng</div>
    <div><button nz-button nzType="primary" (click)="onAdd()">Thêm</button></div>
  </div>
  <nz-table
    class="mt-2"
    #tableConsignment
    [nzData]="consignments$|async"
    [nzScroll]="{x:'500px', y:'50vh'}"
    [nzLoading]="loading$|async"
    nzSize="small"
  >
    <thead>
    <tr>
      <th style="width: 60px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th nzWidth="60px">STT</th>
      <th>Mã lô</th>
      <th>Ngày sản xuất</th>
      <th>Hạn sử dụng</th>
      <th>Số lượng</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-consignment [ngForOf]="tableConsignment.data" let-i='index'
    >
      <tr (contextmenu)='child.onContextMenu($event,consignment)'>
        <td [nzChecked]="idsSelected.has(consignment.data.id)" (nzCheckedChange)="onItemChecked(consignment.id, $event)"></td>
        <td>{{(i + 1) + ((tableConsignment.nzPageIndex - 1) * 10)}}</td>
        <td>{{consignment.code}}</td>
        <td>{{consignment.mfg|date:'dd-MM-yyyy'}}</td>
        <td>{{consignment.exp|date:'dd-MM-yyyy'}}</td>
        <td><input type="number" [ngModel]="consignment.amount" (ngModelChange)="onUpdateAmount($event, consignment)"></td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
<app-mouse-right #child
                 (onAdd)='onAdd($event)'
                 (onDel)='onDelete($event)'
                 (onUpdate)='onUpdate($event)'></app-mouse-right>
