<form [formGroup]='formGroup'>
        <div [formGroup]='formGroup'>
          <div>
            <div class='row'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='createdAt'>Ngày tạo đơn hàng<span class='star'>*</span>
                </label>
                <input type='date' class='form-control' id='createdAt' readonly='readonly' formControlName='createdAt'
                       [ngClass]="{ 'is-invalid': submitted && checkValid.createdAt.errors?.required }">
                <div *ngIf='submitted && checkValid.createdAt.errors?.required' class='invalid-feedback'>
                  <div>Chưa nhập ngày tạo đơn hàng</div>
                </div>
              </div>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='explain'>Diễn giải<span class='star'>*</span></label>
                <input type='text' class='form-control' id='explain' formControlName='explain'>
              </div>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='deliveredAt'>Ngày nhận hàng<span class='star'>*</span>
                </label>
                <input type='date' class='form-control' id='deliveredAt' formControlName='deliveredAt'>
              </div>
            </div>
            <app-pick-location
              [isUpdate]="!!data?.order"
              [province]='data.order.province'
              [district]='data.order?.district'
              [ward]='data.order?.ward'
              [isRequiredDistrict]='false'
              [isRequiredWard]='false'
              [formGroup]='formGroup'
              [form]='checkValid'
              [submitting]='submitted'
            >

            </app-pick-location>
          </div>
        </div>
    <div class='footer-popup mt-3 d-flex'>
      <button mat-dialog-close class='btn btn-cancel mr-3 '>Hủy</button>
      <button nz-button nzType="primary" (click)='onSubmit()' class='btn btn-ok '>Lưu</button>
      <button nz-button nzType="default" data-toggle='tooltip'
              data-placement='left'
              title='xóa'>
      </button>
    </div>
  </form>

