<div class=' py-3 main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='./assets/icon/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <form [formGroup]='formGroup'>
    <mat-tab-group dynamicHeight>
      <mat-tab class='col-12  ' label='Thông tin đơn hàng'>
        <div [formGroup]='formGroup' style='height: 30vh'>
          <div class='form-group' style='margin: 5% 10%'>
            <div class='row'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='createdAt'>Ngày tạo đơn hàng<span class='star'>*</span>
                </label>
                <input type='date' class='form-control' id='createdAt' readonly='readonly' formControlName='createdAt'>
              </div>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='explain'>Diễn giải<span class='star'>*</span></label>
                <input type='text' class='form-control' id='explain' formControlName='explain'>
              </div>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='deliveredAt'>Ngày nhận hàng<span class='star'>*</span>
                </label>
                <input type='date' class='form-control' id='deliveredAt' formControlName='deliveredAt'>
              </div>
            </div>
            <app-pick-location [ward]='data?.order?.destination' [formGroup]='formGroup'></app-pick-location>
          </div>
        </div>
      </mat-tab>
      <mat-tab class='col-12 pt-2 ' label='Chọn hàng hóa'>
        <div class='mt-2'>
          <app-pick-commodity [commodities]='commodities' (checkEvent)='pickCommodity($event)'></app-pick-commodity>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class='footer-popup row ml-4'>
      <button mat-dialog-close class='btn btn-cancel mr-3 '>Hủy</button>
      <button mat-dialog-close (click)='onSubmit()' class='btn btn-ok '>Lưu</button>
      <button type='button' class='btn award' data-toggle='tooltip'
              data-placement='left'
              title='xóa'>
      </button>
    </div>
  </form>
</div>
