<div class='px-2  main-popup'>
  <form [formGroup]='formGroup'>
    <nz-steps nzSize="small" [nzCurrent]="stepIndex">
      <nz-step [nzTitle]="data.type === salaryType.BASIC ? 'Lương cơ bản': 'Lương Phụ cấp'"></nz-step>
      <nz-step nzTitle="Chọn Nhân viên"></nz-step>
      <nz-step nzTitle="Nhân viên đã chọn"></nz-step>
    </nz-steps>
    <ng-template [ngIf]="stepIndex === 0">
      <div class='form-group' style='min-width: 400px'>
        <div *ngIf='false' class=' mb-5 title-popup'>
          <span> Lương cơ bản</span>
        </div>
        <div class='contract-salary mt-1'>
          <div class=' title-item mb-1'>
            <span>Loại lương</span><span class='star'>*</span>
          </div>
          <div class=' mb-3' [formGroup]='formGroup'>
            <nz-select style="width: 100%" formControlName='title'
                       [ngClass]="{ 'is-invalid':  checkValid.type.errors }">
              <nz-option *ngFor='let salary of templateSalary$|async' [nzValue]="salary">
                {{salary.title}}
              </nz-option>
            </nz-select>
            <div *ngIf=' checkValid.type.errors' class='invalid-feedback'>
              <div>Chưa chọn loại lương</div>
            </div>
          </div>
        </div>
        <div>
          <div class=' title-item my-1'>
            <span>Mức lương</span>
            <span class='star'>*</span>
          </div>
          <div class=' mb-3' [formGroup]='formGroup' *ngIf="formGroup.value.title.price > 1 else InputPrice">
            <nz-select class='form-control col' formControlName='price'
                       [ngClass]="{ 'is-invalid':checkValid.price.errors }">
              <nz-option *ngFor='let item of formGroup.value.title.price' [nzValue]="item">
                {{item|number:'1.0-0'}}đ
              </nz-option>
            </nz-select>
          </div>
          <ng-template #InputPrice>
            <div class=' mb-3' [formGroup]='formGroup'>
              <input class='form-control' type='text' placeholder='Nhập mức lương' formControlName='price' inputCurrency
                     [ngClass]="{ 'is-invalid':  checkValid.price.errors }">
              <div *ngIf='checkValid.price.errors?.required' class='invalid-feedback'>
                <div>Chưa nhập mức lương</div>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="data?.datetime">
          <div class=' title-item mt-2 mbt-2'>
            <span>Ngày tạo</span><span class='star'>*</span>
          </div>
          <div class=' mb-3' [formGroup]='formGroup'>
            <input class="form-control" type='date' formControlName='datetime'>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="stepIndex === 1">
      component chọn nhân viên
    </ng-template>
    <ng-template [ngIf]="stepIndex === 2">
      component nhân viên đã chọn
    </ng-template>
  </form>
  <div class="mt-2">
    <button class="mr-2" nz-button nzType="default" (click)="pre()" *ngIf="stepIndex > 0">
      <span>Trở lại</span>
    </button>
    <button class="mr-2" nz-button nzType="primary" (click)="next()" *ngIf="stepIndex < 2">
      <span>Tiếp theo</span>
    </button>
    <button nz-button nzType="primary" [nzLoading]="(added$|async) === false" (click)="onSubmit()">
      <span>Xác nhận</span>
    </button>
  </div>
</div>
