<div style='min-width: 900px;'>
  <ngx-skeleton-loader *ngIf='!(loaded$ | async); else employee' count='13' appearance='line'></ngx-skeleton-loader>
  <ng-template #employee>
    <div class='fixTableHead ' style='height: 50vh'>
      <table [formGroup]='formGroup' class='main-table' style='width: 900px;'
             infiniteScroll
             [alwaysCallback]='true'
             [infiniteScrollDistance]='1'
             [infiniteScrollThrottle]='10'
             [scrollWindow]='false'>
        <thead>
        <tr>
          <th style='width: 120px'>
            <div class='border-top text-center'>Mã nhân Viên</div>
            <input class='form-control input-profile'
                   type='text'
                   disabled
            >
          </th>
          <th>
            <div class='border-top text-center'>Tên nhân viên</div>
            <input class='form-control input-profile ' type='text' placeholder='Trần Gia Hiệu' formControlName='name'>
          </th>
          <th >
            <div class='border-top text-center'>Chức vụ</div>
            <input class='form-control input-profile ' type='text' disabled>
          </th>
          <th style='width: 120px'>
            <div class=' border-bottom text-center'>Tất cả</div>
            <mat-checkbox class='example-margin mt-2 mx-auto'
                          [checked]='isSelectEmployee'
                          [indeterminate]='someCompleteEmployee()'
                          (change)='setAllEmployee($event.checked)'>
            </mat-checkbox>
          </th>
          <th style='width: 120px'  *ngIf='checkAllowance'>
            <div class='border-bottom text-center'>Phụ cấp thêm</div>
            <mat-checkbox class='example-margin mt-2 mx-auto'
                          [checked]='isSelectAllowance'
                          [disabled]='!isSelectEmployee'
                          [indeterminate]='someCompleteAllowance()'
                          (change)='setAllAllowance($event.checked)'>
            </mat-checkbox>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let employee of employees'>
          <th class='content-profile pointer '> {{employee.id}}</th>
          <th class='content-profile  pointer'>{{employee.firstName}} {{employee.lastName}}</th>
          <th class='content-profile pointer'>{{employee.position?.name}}</th>
          <th class='content-profile  pointer'>
            <mat-checkbox class='checkID'
                          [checked]='employeeIds.includes(employee.id)'
                          (change)='updateSelectEmployee(employee.id)'>
            </mat-checkbox>
          </th>
          <th class='content-profile  pointer' *ngIf='checkAllowance'>
            <mat-checkbox class='checkID'
                          [disabled]='!employeeIds.includes(employee.id)'
                          [checked]='allowEmpIds.includes(employee.id)'
                          (change)='updateSelectAllowance(employee.id)'>
            </mat-checkbox>
          </th>
        </tr>
        </tbody>
      </table>

    </div>
    <div class='col-6 my-2'>
      <div class='ml-2 font-lg'>Tổng nhân viên được chọn : {{employeeIds.length}}</div>
      <div class='ml-2 font-lg' *ngIf='checkAllowance'>Tổng nhân viên được thêm phụ cấp : {{allowEmpIds.length}}</div>
    </div>
  </ng-template>
</div>
