<h2>{{data?.isUpdate ? 'Cập nhật' : 'Nhập'}} thông tin hàng hóa</h2>
<form [formGroup]='formGroup' autocomplete='off' (submit)='onSubmit()'>
  <div class='form-group'>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='code'>Mã hàng hóa</label>
        <input type='text' class='form-control' id='code' formControlName='code'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='product'>Tên hàng hóa<span class='star'>*</span></label>
        <input
          matInput
          class='form-control'
          type='search'
          id='product'
          [matAutocomplete]='product'
          style='width: 100%'
          formControlName='product'
        >
        <mat-autocomplete #product='matAutocomplete'>
          <mat-option
            *ngFor='let product of products$ | async'
            [value]='product'
            (onSelectionChange)='onSelectItem(product)'
          >
            {{product.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='provider'>Nhà cung cấp</label>
        <input nz-input type='search' [nzAutocomplete]='provider' class='form-control' id='provider'
               placeholder='Nhà thuốc An Khang' formControlName='provider' (ngModelChange)='onChangeProvider($event)'>
        <nz-autocomplete [nzDataSource]='providerOptions' #provider></nz-autocomplete>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='branch'>Nhập vào kho<span class='star'>*</span></label>
        <input
          matInput
          id='branch'
          class='form-control'
          type='search'
          [matAutocomplete]='branch'
          style='width: 100%'
          formControlName='branch'
        >
        <mat-autocomplete #branch='matAutocomplete'>
          <mat-option
            *ngFor='let branch of branches$ | async'
            [value]=' branch'
            (onSelectionChange)='onChangeAutoComp($event, branch, "branch")'
          >
            {{branch.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='warehouse'>Loại kho<span class='star'>*</span></label>
        <input
          matInput
          class='form-control'
          type='search'
          id='warehouse'
          [matAutocomplete]='warehouse'
          style='width: 100%'
          formControlName='warehouse'
        >
        <mat-autocomplete #warehouse='matAutocomplete'>
          <mat-option
            *ngFor='let warehouse of warehouse$ | async'
            [value]='warehouse'
            (onSelectionChange)='onChangeAutoComp($event, warehouse, "warehouse")'

          >
            {{warehouse.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
<!--    <div class='row mt-3'>-->
<!--      <div class='col-sm' [formGroup]='formGroup'>-->
<!--        <label for='accountedAt'>Ngày hạch toán</label>-->
<!--        <input type='date' class='form-control' id='accountedAt' formControlName='accountedAt'>-->
<!--      </div>-->
<!--      <div class='col-sm' [formGroup]='formGroup'>-->
<!--        <label for='billedAt'>Ngày chứng từ</label>-->
<!--        <input type='date' class='form-control' id='billedAt' formControlName='billedAt'>-->
<!--      </div>-->
<!--      <div class='col-sm' [formGroup]='formGroup'>-->
<!--        <label for='billCode'>Số chứng từ</label>-->
<!--        <input type='text' class='form-control' id='billCode' formControlName='billCode'>-->
<!--      </div>-->
<!--    </div>-->
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='mfg'>Ngày sản xuất (nếu có)</label>
        <input type='date' class='form-control' id='mfg' placeholder='Gà loại 1' formControlName='mfg'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='expire'>Hạn sử dụng (nếu có)</label>
        <input type='date' class='form-control' id='expire' placeholder='Gà loại 1' formControlName='exp'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='price'>Đơn giá<span class='star'>*</span></label>
        <input type='text' class='form-control' id='price' placeholder='200,000' formControlName='price' currencyMask
               [options]="{ suffix: ' đ' }">
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='amount'>Số lượng<span class='star'>*</span></label>
        <input type='text' class='form-control' id='amount' placeholder='200,000' formControlName='amount'
               currencyMask>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='discount'>Chiếc khấu (%)</label>
        <input type='number' min='0' max='1' step='0.01' class='form-control' id='discount' placeholder='10'
               formControlName='discount'>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='unit'>Đơn vị tính<span class='star'>*</span></label>
        <mat-select id='unit' class='form-control' formControlName='unit'>
          <mat-option *ngFor='let item of medicineConstant' [value]='item.value'>
            {{item.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <div class='row d-flex mt-3 justify-content-center'>
      <button type='button' class='btn btn-secondary'>Huỷ</button>
      <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> {{'Xác nhận'}}</button>
    </div>
  </div>
</form>





