<div>
  <mat-dialog-content class='mat-typography' style='max-height: 45vh'>
    <form [formGroup]='formGroup'>
      <div class='form-group'>
        <div class='row'>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='firstName'>Họ</label><span class='star'>*</span>
            <input type='text' class='form-control' id='firstName' placeholder='Trần' formControlName='firstName'
                   [ngClass]="{ 'is-invalid': submitted && checkValid.firstName.errors?.required  }">
            <div *ngIf='submitted && checkValid.firstName.errors?.required ' class='invalid-feedback'>
              <div>Chưa nhập tên</div>
            </div>
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='lastName'>Tên</label><span class='star'>*</span>
            <input
              class='form-control'
              formControlName='lastName'
              id='lastname'
              placeholder='Hiệu'
              type='text'
              [ngClass]="{ 'is-invalid': submitted && checkValid.lastName.errors?.required }"
            >
            <div *ngIf='submitted && checkValid.lastName.errors?.required ' class='invalid-feedback'>
              <div>Chưa nhập họ</div>
            </div>
          </div>
        </div>
        <div class='row mt-3'>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='address'>Địa chỉ</label><span class='star'>*</span>

            <input
              class='form-control'
              formControlName='address'
              id='address'
              placeholder='Số nhà / thôn xóm'
              type='text'
              [ngClass]="{ 'is-invalid': submitted && checkValid.address.errors?.required }"
            >
            <div *ngIf='submitted && checkValid.address.errors?.required ' class='invalid-feedback'>
              <div>Chưa nhập địa chỉ</div>
            </div>
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='note'>Ghi chú</label>
            <input
              id='note'
              type='text'
              class='form-control'
              formControlName='note'
            >
          </div>
        </div>
        <div class='row mt-3'>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='identify'>CMND/CCCD</label>
            <input type='number' class='form-control not-arrow-input' id='identify'
                   (keypress)="checkInputNumber($event)"
                   min='0'
                   placeholder='215421236' formControlName='identify'>
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='idCardAt'>Ngày cấp</label>
            <input
              type='date'
              placeholder='06/05/1997'
              class='form-control'
              id='idCardAt'
              formControlName='idCardAt'
            >
          </div>
          <div class='col-sm' [formGroup]='formGroup'>
            <label for='issuedBy'>Nơi cấp </label>
            <input type='text' class='form-control' id='issuedBy'
                   placeholder='Bình Định' formControlName='issuedBy'>
          </div>
        </div>
        <div class='row mt-3' [formGroup]='formGroup'>
          <div class='col'>
            <label for='recipeType'>Chọn loại công thức <span class='star'>*</span></label>
            <mat-select style='pointer-events: none ; background: #dddddd'  id='recipeType' class='form-control' formControlName='recipeType'>
              <mat-option value='{{recipeType.CT3}}'>Công thức 3
              </mat-option>
            </mat-select>
          </div>
          <div class='col' [formGroup]='formGroup'>
            <label for='gender'>Giới tính</label><span class='star'>*</span>
            <mat-radio-group class='d-flex justify-content-around' formControlName='gender' id='gender'>
              <mat-radio-button value='MALE'>Nam</mat-radio-button>
              <mat-radio-button value='FEMALE'>Nữ</mat-radio-button>
              <mat-radio-button value='OTHER'>Khác</mat-radio-button>
            </mat-radio-group>
            <div *ngIf='submitted && checkValid.gender.errors?.required '
                 style='font-size: 80%;
             color: #f86c6b;'>
              <div>Chưa chọn giới tính</div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </mat-dialog-content>
  <div class='row d-flex mt-3 justify-content-center'>
    <button (click)='onSubmit()' class='btn btn-dark ml-2'> Xác nhận</button>
  </div>
</div>
