<div class='row h3 ml-3'>Bảng lương nhân viên tháng {{monthPayroll| date: 'MM/yyyy'}}</div>
<div style='width: fit-content'>
  <select class='select ml-3 border px-2  ' matNativeControl required  (change)='onSelectPayroll()'>
    <option  [value]='true'>Phiếu lương</option>
    <option  [value]='false'>Phiếu tăng ca</option>
  </select>
</div>
<div class='row ml-3 mt-3 d-flex justify-content-between'>
  <div class='d-flex '>
    <div>
      <button (click)='addSalaryOvertime(salaryType.OVERTIME)' class='btn btn-primary mr-2'>Thêm tăng ca</button>
    </div>
    <div>
      <button (click)='Timekeeping()' class='btn btn-primary mr-2'>Báo vắng</button>
    </div>
    <div>
      <button (click)='exportPayroll()' class='btn btn-primary mr-2'>Xuất phiếu lương</button>
    </div>
    <div>
      <button (click)='exportTimekeeping()' class='btn btn-primary mr-2'>Xuất Phiếu chấm công</button>
    </div>
  </div>
  <div class='mr-2 d-flex'>
    <div>
      <button (click)='generate()' class='btn btn-primary mr-2'>Tự động tạo</button>
    </div>
  </div>

</div>
<div *ngIf='selectedPayroll'>
  <ngx-skeleton-loader *ngIf='!(loaded$ | async); else payroll' count='18' appearance='line'></ngx-skeleton-loader>
  <ng-template #payroll>
    <div class='main-profile '>
      <form [formGroup]='formGroup' #header class=' header-profile mt-1 animated fadeIn'>
        <div class='border-start title-header default'>
          <div class='title-profile'>Mã nhân viên</div>
          <input class='form-control input-profile' type='text' placeholder='PT100001'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Tên nhân viên</div>
          <input class='form-control input-profile ' type='search' formControlName='name' placeholder='Trần Gia Hiệu'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Chức vụ</div>
          <input class='form-control' type='text' matInput [matAutocomplete]='position' formControlName='position'>
          <mat-autocomplete #position='matAutocomplete'>
            <mat-option *ngFor='let position of positions$ | async' [value]='position.name'
                        (click)='onSelectPosition(position.name)' (onSelectionChange)='onSelectPosition(position.name)'>
              {{position.name}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Đơn vị</div>
          <input class='form-control' type='text' matInput [matAutocomplete]='branch' formControlName='branch'>
          <mat-autocomplete #branch='matAutocomplete'>
            <mat-option *ngFor='let branch of branches$ | async' [value]='branch.name'
                        (click)='onSelectBranch(branch.name)' (onSelectionChange)='onSelectBranch(branch.name)'>
              {{branch.name}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Tháng</div>
          <input class='form-control input-profile ' type='month' formControlName='createdAt' min='2021-01'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày công chuẩn</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày đi làm thực tế</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày đi làm trừ lễ tết</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày lễ đi làm</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày lễ không đi làm</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Ngày công làm thêm</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Vắng</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Tổng ngày công thực nhận</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Xác nhận</div>
          <select class='select' matNativeControl required formControlName='accConfirmedAt'>
            <option value='TRUE'>Đã xác nhận</option>
            <option value='FALSE'>chưa xác nhận</option>
            <option value=''>Mặc định</option>
          </select>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Quản lí Xác nhận</div>
          <select class='select' matNativeControl required formControlName='manConfirmedAt'>
            <option value='TRUE'>Đã xác nhận</option>
            <option value='FALSE'>chưa xác nhận</option>
            <option value=''>Mặc định</option>
          </select>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Lương cơ bản</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Phụ cấp</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Phụ cấp ở lại</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Tăng ca</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Lương đi làm ngày lễ</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header name'>
          <div class='title-profile'>Lương không đi làm ngày lễ</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Khấu trừ</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Thuế</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div disabled class='title-profile'>Tổng thu nhập</div>
          <input disabled class='form-control input-profile ' type='search'>
        </div>
        <div class='border-start title-header default'>
          <div class='title-profile'>Thanh toán</div>
          <select class='select' matNativeControl required formControlName='paidAt'>
            <option value='TRUE'>Đã Thanh toán</option>
            <option value='FALSE'>Chưa thanh toán</option>
            <option value=''>Mặc định</option>
          </select>
        </div>
      </form>
      <div class='outer   animated fadeIn' infiniteScroll [alwaysCallback]='true' [infiniteScrollDistance]='1'
           [infiniteScrollThrottle]='100' [scrollWindow]='false' (scrolled)='onScroll()'
           *ngIf='(payroll$|async) as payrolls'
           [ngStyle]="{'width':payrolls.length === 0 ? header.offsetWidth + 'px': 'fit-content',
         'overflow-y':payrolls.length === 0 ? 'hidden': 'scroll'}">
        <div class='row-content' *ngFor='let payroll of payrolls' (contextmenu)='child.onContextMenu($event,payroll)'>
          <app-mouse-right #child (addEvent)='addPayroll($event)' (readAndUpdateEvent)='readPayroll($event)'>
          </app-mouse-right>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.employee.id}}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.employee.firstName}} {{payroll.employee.lastName}}
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll?.employee?.position?.name}}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.employee?.branch?.name}}
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.createdAt|date:'MM/yyyy'}}
          </div>

          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.employee?.workday ? payroll.employee?.workday : 'Đang cập nhật'}}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.actualDay ? payroll.payslip?.actualDay : 'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.workdayNotInHoliday ? payroll.payslip?.workdayNotInHoliday : 'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.worksInHoliday ? payroll.payslip?.worksInHoliday?.length : 'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.worksNotInHoliday ? payroll.payslip?.worksNotInHoliday?.length : 'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.workdayNotInHoliday &&
          payroll.payslip?.workday
            ? payroll.payslip.workdayNotInHoliday -  payroll.payslip.workday  : 'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{'Đang cập nhật' }}
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.totalWorkday ? payroll.payslip?.totalWorkday : 'Đang cập nhật' }}
          </div>

          <div class='content-profile default pointer d-flex justify-content-center align-items-center '>
            <div (click)='updateConfirmPayroll(payroll.id,"accConfirmedAt")'
                 style='width:fit-content;height: fit-content'>
              <input style='pointer-events: none' disabled type='checkbox' [checked]='payroll.accConfirmedAt !== null'>
            </div>
          </div>
          <div class='content-profile default pointer d-flex justify-content-center align-items-center '>
            <div (click)='updateConfirmPayroll(payroll.id,"manConfirmedAt")'
                 style='width:fit-content;height: fit-content'>
              <input style='pointer-events: none' disabled type='checkbox' [checked]='payroll.manConfirmedAt !== null'>
            </div>
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.basic|number:'1.0-0'}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.stay |number:'1.0-0'}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.allowance |number:'1.0-0'}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{ payroll.payslip?.overtime || 0}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{ payroll.payslip?.payslipInHoliday || 0}} VND
          </div>
          <div class='content-profile name pointer ' (click)='readPayroll(payroll)'>
            {{ payroll.payslip?.payslipNotInHoliday || 0}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.deduction | number: '1.0-0'}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.tax | number: '1.0-0'}} VND
          </div>
          <div class='content-profile default pointer ' (click)='readPayroll(payroll)'>
            {{payroll.payslip?.total| number: '1.0-0'}} VND
          </div>
          <div class='content-profile default pointer d-flex justify-content-center align-items-center '>
            <div (click)='updateConfirmPayroll(payroll.id,"paidAt")' style='width:fit-content;height: fit-content'>
              <input style='pointer-events: none' disabled type='checkbox' [checked]='payroll.paidAt !== null'>
            </div>
          </div>
        </div>
        <div *ngIf='!payrolls || payrolls.length === 0 ' style='height:60vh; '
             class=' d-flex justify-content-center align-content-center'>
          <div class='font-xl font-weight-bold d-flex align-items-center'>
            Hiện chưa có phiếu lương nào!
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<div *ngIf='!selectedPayroll'>
  <app-overtime
    (EventSelectMonth)='selectMonth($event)'
    [createdAt]='this.formGroup.get("createdAt")!.value'></app-overtime>
</div>

