<div >

  <div>
    <button class='btn btn-primary mt-2 mr-2' (click)='importProduct()'>
      <img src='/assets/icon/warehouse-layout/arrow-bar-right.svg' alt='Nhập kho'>
      Nhập Trứng
    </button>
    <button class='btn btn-primary mt-2' (click)='importProduct()'>
      <img src='/assets/icon/warehouse-layout/arrow-bar-right.svg' alt='Xuất kho'>
      XUất Trứng
    </button>
    <table class='mt-2' style="width:100%">
      <tr>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>giá</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>
</div>
