<h2 mat-dialog-title>Bằng cấp</h2>
<mat-dialog-content class='mat-typography'>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <div>
      <div class='col-12 mt-3'>
        <div [formGroup]='formGroup'>
          <label for='type'>Bằng cấp</label> <span class='star'>*</span>
          <mat-select id='type' class='form-control' formControlName='type'>
            <mat-option [value]='degreeTypeEnum.UNIVERSITY'>
              Đại học
            </mat-option>
            <mat-option [value]='degreeTypeEnum.COLLEGE'>
              Cao đẳng
            </mat-option>
            <mat-option [value]='degreeTypeEnum.INTERMEDIATE'>
              Trung cấp
            </mat-option>
            <mat-option [value]='degreeTypeEnum.MASTER'>
              Thạc sĩ
            </mat-option>
            <mat-option [value]='degreeTypeEnum.PHILOSOPHY'>
              Tiến sĩ
            </mat-option>
          </mat-select>
          <label class='mt-2 text-danger' for='type'
                 *ngIf='formGroup.get("type")?.invalid'
          >Chưa chọn Bằng cấp </label>
        </div>
      </div>
      <div class='col-12 mt-3' [formGroup]='formGroup'>
        <label for='school'>Nơi đào tạo</label><span class='star'>*</span>
        <input type='text' class='form-control' id='school' placeholder='Đại học Quy Nhơn' formControlName='school'>
        <label class='mt-2 text-danger' for='school'
               *ngIf='formGroup.get("school")?.invalid'
        >Chưa Nhập nơi đào tạo</label>
      </div>
      <div class='col-12 mt-3' [formGroup]='formGroup'>
        <label for='startedAt'>Bắt đầu</label><span class='star'>*</span>
        <input type='date' id='startedAt' class='form-control' formControlName='startedAt'>
        <label class='mt-2 text-danger' for='startedAt'
               *ngIf='formGroup.get("startedAt")?.invalid'
        >Chưa Nhập ngày bắt đầu</label>
      </div>
      <div class='col-12 mt-3' [formGroup]='formGroup'>
        <label for='endedAt'>Kết thúc</label><span class='star'>*</span>
        <input type='date' id='endedAt' class='form-control' formControlName='endedAt'>
        <label class='mt-2 text-danger' for='endedAt'
               *ngIf='formGroup.get("endedAt")?.invalid'
        >Chưa Nhập ngày kết thúc</label>
      </div>
      <div class='col-12 mt-3' [formGroup]='formGroup'>
        <label for='major'>Chuyên nghành<span class='star'>*</span>
        </label>
        <input type='text' class='form-control' id='major' placeholder='Kế toán' formControlName='major'>
        <label class='mt-2 text-danger' for='major'
               *ngIf='formGroup.get("major")?.invalid'
        >Chưa Nhập chuyên nghành</label>
      </div>
      <div class='col-12 mt-3'>
        <div [formGroup]='formGroup'>
          <label for='formality'>Hình thức đào tạo</label><span class='star'>*</span>
          <mat-select id='formality' class='form-control' formControlName='formality'>
            <mat-option value='REMOTE'>
              Đao tạo từ xa
            </mat-option>
            <mat-option value='FORMAL'>
              Chính qui
            </mat-option>
            <mat-option value='INFORMAL'>
              Không chính qui
            </mat-option>
            <mat-option value='TRAINING'>
              Đang đào tạo
            </mat-option>
          </mat-select>
          <label class='mt-2 text-danger' for='formality'
                 *ngIf='formGroup.get("formality")?.invalid'
          >Chưa chọn hình thức đào tạo</label>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div [formGroup]='formGroup'>
          <label for='level'>Xếp loại</label><span class='star'>*</span>
          <mat-select id='level' class='form-control' formControlName='level'>
            <mat-option [value]='degreeLevelEnum.BELOW_AVERAGE'>
              Dưới trung bình
            </mat-option>
            <mat-option [value]='degreeLevelEnum.AVERAGE'>
              Trung bình
            </mat-option>
            <mat-option [value]='degreeLevelEnum.GOOD'>
              Khá
            </mat-option>
            <mat-option [value]='degreeLevelEnum.EXCELLENT'>
              Giỏi
            </mat-option>
          </mat-select>
          <label class='mt-2 text-danger' for='level'
                 *ngIf='formGroup.get("level")?.invalid'
          >Chưa chọn xếp loại</label>
        </div>
      </div>
      <div class='col-12 mt-3'>
        <div [formGroup]='formGroup'>
          <label for='status'>Hoàn thành</label><span class='star'>*</span>
          <mat-select id='status' class='form-control' formControlName='status'>
            <mat-option [value]='degreeStatusEnum.NOT_GRADUATED'>
              Chưa hoàn thành
            </mat-option>
            <mat-option [value]='degreeStatusEnum.GRADUATED'>
              Hoàn thành
            </mat-option>
          </mat-select>
          <label class='mt-2 text-danger' for='status'
                 *ngIf='formGroup.get("status")?.invalid'
          >Chưa chọn Hoàn thành</label>
        </div>
      </div>
      <div class='row d-flex mt-3 justify-content-center'>
        <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
        <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> Xác nhận</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
