<div class='mt-2'>
  <div class='table-scroll'>
    <table [formGroup]='formGroup' style='min-width: 1800px'>
      <thead>
      <tr>
        <th>
          <div class='border text-center'> stt</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'> Mã chưa thu</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'>Tên Khoản chưa thu</div>
          <input class='form-control text-center' formControlName='name'>
        </th>
        <th>
          <div class='border text-center'>ngày nợ</div>
          <input type='date' class='form-control text-center' formControlName='createdAt' >
        </th>
        <th>
          <div class='border text-center'>Nguồn nợ</div>
          <input class='form-control text-center' formControlName='income'>
        </th>
        <th>
          <div class='border text-center'>Hạn thu tiền</div>
          <input class='form-control text-center' type='date' formControlName='deadline' >
        </th>
        <th>
          <div class='border text-center'>Tổng tiền</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'>Chú thích</div>
          <input class=' text-center' disabled>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
      </tr>
      </tbody>
    </table>
  </div>
</div>
