<ngx-skeleton-loader *ngIf='!(loaded$|async) else payrollAbsent' count='18' appearance='line'></ngx-skeleton-loader>
<ng-template #payrollAbsent>
  <div class='font-lg font-weight-bold my-2'>
    Đã chọn: {{salariesSelected.length}}/{{totalSalaryAbsent$|async}}
  </div>
  <div class='table-scroll mt-2 position-relative'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='10'
       [scrollWindow]='false'
       (scrolled)='onScroll()'
  >
    <table [formGroup]='formGroup' class='main-table' style='width: 2000px;'>
      <thead>
      <tr>
        <th>
          <div class='border-top text-center'>stt</div>
          <input type='search' disabled>
        </th>
        <th>
          <div class='border-top text-center'>Mã nhân viên</div>
          <input type='search' (keypress)='checkInputNumber($event)' class='form-control text-center' formControlName='code'>
        </th>
        <th style='width: 250px'>
          <div class='border-top text-center'>
            <div class='d-flex justify-content-center' style='height: 100%'>
              <span>Tên nhân viên</span>
              <mat-select style='width: 100px; margin-left: 3px ' formControlName='searchType'>
                <mat-option *ngFor='let item of searchTypeConstant' [value]='item.value'>{{item.name}}</mat-option>
              </mat-select>
            </div>
          </div>
          <input class='form-control text-center' placeholder='Nhập tên nhân viên' type='search' formControlName='name'>
        </th>
        <th style='width: 120px ; z-index: 3'>
          <div class='border-top border-bottom d-flex justify-content-center align-items-center'>
            <span *ngIf='salariesSelected.length === 0'>Chọn</span>
            <div *ngIf='salariesSelected.length > 0' class='w-100 d-flex justify-content-between'>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='updateMultipleSalaryAbsent()'

                      class=' btn btn-primary d-flex justify-content-center align-items-center m-1 '>
                Sửa
              </button>
              <button style='height: 30px ; font-size: 13px ;margin: 3px auto 0'
                      (click)='deleteMultipleSalaryAbsent()'
                      class=' btn btn-danger d-flex justify-content-center align-items-center m-1 '>
                Xóa
              </button>
            </div>
          </div>
          <mat-checkbox class='example-margin mt-2 mx-auto'
                        [checked]='isSelectSalary'
                        [indeterminate]='someCompleteSalary()'
                        (change)='setAllSalary($event.checked)'>
          </mat-checkbox>
        </th>
        <th style='width: 200px'>
          <div class='title-profile'>Chức vụ</div>
          <input class='form-control' type='search' matInput [matAutocomplete]='position'
                 formControlName='position'>
          <mat-autocomplete #position='matAutocomplete'>
            <mat-option *ngFor='let position of positions$ | async' [value]='position.name'
                        (onSelectionChange)='onSelectPosition(position.name)'>
              {{position.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th style='width: 200px'>
          <div class='title-profile'>Đơn vị</div>
          <input class='form-control' type='search' matInput [matAutocomplete]='branchInput' formControlName='branch'>
          <mat-autocomplete #branchInput='matAutocomplete'>
            <mat-option *ngFor='let branch of branches$ | async' [value]='branch.name'
                        (onSelectionChange)='onSelectBranch(branch.name)'>
              {{branch.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th style='width: 220px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Tháng</div>
          <div class='d-flex border'>
            <mat-date-range-input [rangePicker]='picker'>
              <input matStartDate formControlName='startedAt' placeholder='Từ ngày'>
              <input matEndDate formControlName='endedAt' placeholder='Đến ngày'>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </div>
        </th>
        <th style='min-width: 300px;'>
          <div class='border-top d-flex justify-content-center align-items-center'>Loại khấu trừ</div>
          <input class='form-control' type='search'
                 placeholder='Nhập têm phụ cấp'
                 formControlName='title'>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Đơn vị tính</div>
        <mat-select class='select w-100 border-top'  formControlName='unit'>
          <mat-option *ngFor='let item of unitAbsent' [value]='item.type'>
            {{item.name}}
          </mat-option>
        </mat-select>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Quên giấy phép</div>
          <input type='text' disabled>
        </th>
      </tr>
      </thead>
      <tbody *ngIf='(payrollAbsent$|async) as payrollsAbsent'>
      <tr *ngFor='let payrollAbsent of payrollsAbsent; let i = index'
          [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
        <th class='pointer'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{i + 1}}
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAbsent)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payrollAbsent.payrollId}}
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAbsent)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payrollAbsent.employee.lastName}}
        </th>
        <th class='pointer'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          <div class=' d-flex align-items-center justify-content-center pointer '
               *ngFor='let item of payrollAbsent.salaries|filterTypeSalary:["ABSENT","DAY_OFF"]'>
            <mat-checkbox
              [checked]='selectSalary(item)'
              (change)='updateSelectSalary(item,payrollAbsent.employee)'>
            </mat-checkbox>
          </div>
        </th>
        <th class='pointer'
            (click)='readPayroll(payrollAbsent)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payrollAbsent.employee.position?.name}}</th>
        <th class='pointer'
            (click)='readPayroll(payrollAbsent)'>
          {{payrollAbsent.employee.branch?.name}}</th>
        <th class='pointer' style='width: 220px;'>
          <div class=' d-flex align-items-center justify-content-center pointer '
               *ngFor='let item of payrollAbsent.salaries|filterTypeSalary:["ABSENT","DAY_OFF"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAbsent)'>
                <span *ngIf='item.datetime'>
                  {{item.datetime|date:'dd-MM-yyyy'}}
                </span>
            <span *ngIf='item.startedAt && item.endedAt'>
                   từ ngày {{item.startedAt|date:'dd-MM-yyyy'}}
              đến ngày {{item.endedAt|date:'dd-MM-yyyy'}}
                </span>
            <span *ngIf='!item.startedAt && !item.endedAt &&!item.datetime  '>
                  {{this.createdAt|date:'yyyy-MM'}}
              </span>
          </div>
        </th>
        <th class='pointer' style='min-width: 300px;'>
          <div class=' d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAbsent.salaries|filterTypeSalary:["ABSENT","DAY_OFF"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAbsent)'>
            {{item.title}}  {{ item.allowance ? '+ ' + item.allowance.title : '' }}
          </div>
        </th>
        <th class='pointer'>
          <div class=' d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAbsent.salaries|filterTypeSalary:["ABSENT","DAY_OFF"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAbsent)'>
           <span *ngIf='item.unit === datetimeUnit.MINUTE'>
                  ({{item.times | convertTime }} )
                </span>
            <span *ngIf='item.unit === datetimeUnit.TIMES'> {{item.times}} Lần </span>
            <span *ngIf='item.unit === datetimeUnit.DAY'>Ngày</span>
          </div>
        </th>
        <th class='pointer'>
          <div class=' d-flex align-items-center justify-content-center pointer'
               *ngFor='let item of payrollAbsent.salaries|filterTypeSalary:["ABSENT","DAY_OFF"]'
               (contextmenu)='child.onContextMenu($event,item)'
               (click)='readPayroll(payrollAbsent)'>
            {{item.forgot ? 'Có' : 'Không'}}
          </div>
        </th>
      </tr>
      <tr *ngIf='!payrollsAbsent || payrollsAbsent.length === 0  ' style='height: 50vh'>
        <td colspan='11' class='text-center check-content font-weight-bold font-xl '>
          <span style='position: absolute ; top: 60%; left: 35%'> Hiện không có Phiếu tăng ca nào !</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<app-mouse-right [type]='pageType.PAYROLL_SALARY'
                 (addEvent)='addSalaryAbsent()'
                 (readEvent)='readPayroll($event)'
                 (deleteEvent)='deleteSalaryAbsent($event)'
                 #child>
</app-mouse-right>
<style>
  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }

  .table-scroll tbody th > div {
    height: 30px;
    line-height: 1;
  }

  .table-scroll th:nth-child(4) {
    position: -webkit-sticky;
    position: sticky;
    left: 420px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3),
  .table-scroll thead th:nth-child(4){
    z-index: 5;
  }

  @media screen and (min-width: 1500px) {
    .table-scroll th:nth-child(5) {
      position: -webkit-sticky;
      position: sticky;
      left: 540px;
      z-index: 2;
    }

    .table-scroll thead th:nth-child(5) {
      z-index: 5;
    }
  }

  .table-scroll tr:nth-child(odd) {
    background: white;
  }

  .table-scroll tr:nth-child(even) {
    background: #dddddd;
  }

  .table-scroll thead tr:nth-child(2) th {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
</style>



