<div class='mt-2'>
  <div class='table-scroll'>
    <table [formGroup]='formGroup' style='min-width: 1800px'>
      <thead>
      <tr>
        <th>
          <div class='border text-center'> stt</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'> Mã khoản thu</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'>Tên khoản thu</div>
          <input class='form-control text-center' formControlName='name'>
        </th>
        <th>
          <div class='border text-center'>Thu ngày</div>
          <input type='date' class='form-control text-center' formControlName='createdAt' >
        </th>
        <th>
          <div class='border text-center'>Nguồn thu</div>
          <input class='form-control text-center' formControlName='income'>
        </th>
        <th>
          <div class='border text-center'>Thành tiền</div>
          <input class=' text-center' disabled>
        </th>
        <th>
          <div class='border text-center'>Chú thích</div>
          <input class=' text-center' disabled>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>

      </tr>
      </tbody>
    </table>
  </div>
</div>
