<div class=' main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <mat-stepper linear>
    <mat-step [editable]='true'>
      <ng-template matStepLabel> Thông tin tăng ca</ng-template>
      <div class=' mb-3 title-popup'>
        <span>Lương ngoài giờ</span>
      </div>
      <mat-dialog-content style='max-height: 40vh'>
        <div [formGroup]='formGroup' style='min-width: 800px'>
          <div *ngIf='!data.isUpdate;else unitOvertime' class='flex-column d-flex  justify-content-center '>
            <div class=' title-item mb-1'>
              <span>Đơn vị tăng ca</span>
            </div>
            <div class=' mb-3'>
              <mat-select class='form-control '>
                <mat-option [value]='datetimeUnitEnum.DAY' (click)='selectUnitOvertime(datetimeUnitEnum.DAY)'>Ngày
                </mat-option>
                <mat-option [value]='datetimeUnitEnum.HOUR' (click)='selectUnitOvertime(datetimeUnitEnum.HOUR)'>Giờ
                </mat-option>
                <mat-option [value]='datetimeUnitEnum.OPTION' (click)='selectUnitOvertime(datetimeUnitEnum.OPTION)'>Tùy
                  chọn
                </mat-option>
              </mat-select>
            </div>
          </div>
          <ng-template #unitOvertime>
            <div>
              <div class=' title-item mb-1'>
                Loại tăng ca
              </div>
              <div class='form-control mb-2' style='background: #e4e7ea; pointer-events: none'>
                {{data.salary.title}}
              </div>
              <div class=' title-item mb-1'>
                <span>Đơn vị tăng ca</span>
              </div>
              <div class=' mb-3'>
                <div class='form-control' style='' *ngIf='data.salary.unit === "HOUR"; else DAY '>Giờ</div>
                <ng-template #DAY>
                  <div class='form-control' style='background: #e4e7ea; pointer-events: none'>Ngày</div>
                </ng-template>
              </div>
            </div>
          </ng-template>
          <div *ngIf='unit !== datetimeUnitEnum.OPTION'>
            <div *ngIf='!data.isUpdate'>
              <div class='date-or-time'>
                <div class=' title-item mb-2'>
                  <span class='mr-2'> Chức vụ</span>
                </div>
                <div>
                  <input class='form-control row mb-2' type='text' matInput [formControl]='positions'
                    style='width: 100%; margin: 0' [matAutocomplete]='position' #positionInput>
                  <mat-autocomplete #position='matAutocomplete'>
                    <mat-option *ngFor='let position of positions$ | async' [value]='position.name'
                      (click)='onSelectPosition(position,$event,positionInput)'
                      (onSelectionChange)='onSelectPosition(position,$event,positionInput )'>
                      {{position.name}}
                    </mat-option>
                  </mat-autocomplete>
                </div>
                <div *ngIf="positionsSelected.length > 0" class="border p-1 mb-2 " style="height: 120px ; overflow-y: scroll">
                <mat-chip-list>
                  <mat-chip style='font-size: 12px ' *ngFor='let position of positionsSelected' [selectable]='true'
                            [removable]='true' (removed)='removePosition(position)'>
                    {{position.name}}
                    <button class='btn' matChipRemove *ngIf='true'>
                      <mat-icon style='position: absolute; top:4px ; right: 5px'>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
                </div>
              </div>
              <div>
                <div class='row datepicker'>
                  <div class='date-or-time col '>
                    <div class=' title-item mb-1'>
                      <span> Loại tăng ca</span>
                      <span class='star'>*</span>
                    </div>
                    <div>
                      <mat-chip-list>
                        <mat-chip *ngFor='let item of positionOfTempOver' [selectable]='true'>
                          {{item.name}}
                        </mat-chip>
                      </mat-chip-list>
                      <input class='form-control mt-2 mb-3' type='text' matInput [formControl]='titleOvertimes'
                        [matAutocomplete]='titleOvertime'>
                      <mat-autocomplete #titleOvertime='matAutocomplete'>
                        <mat-option *ngFor='let templateOvertime of templateOvertime$ | async'
                          [value]='templateOvertime.title' (onSelectionChange)='pickOverTime(templateOvertime)'>
                          {{templateOvertime.title}}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                    <div *ngIf='data.isUpdate'>
                      <div class=' form-control' style='background: #e4e7ea '>{{data.salary.title}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='d-flex row'>
              <div *ngIf=" unit =='DAY'" class='col'>
                <div class=' title-item mb-1'>
                  <span>Số ngày tăng ca</span>
                </div>
                <div class=' mb-3' [formGroup]='formGroup'>
                  <input style='pointer-events: none; background: #e4e7ea' type='number' class='form-control'
                    formControlName='days' min='1'>
                </div>
              </div>
              <div class='work-time col' *ngIf="unit === 'HOUR'">
                <div class=''>
                  <div class='col mr-2'>
                    <div class='row title-item mb-1'>
                      <span>Giờ làm việc</span>
                      <div class='star'>*</div>
                    </div>
                    <div class=' mb-3' [formGroup]='formGroup'>
                      <input type='number' class='row form-control' placeholder='Nhập số giờ làm việc' min='0'
                        formControlName='times'>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf='!(formGroup.get("days")?.value > 1) || unit === datetimeUnitEnum.HOUR  '
                class='date-or-time col '>
                <div class=' title-item mb-1'>
                  <span>Ngày</span>
                  <span class='star'>*</span>
                </div>
                <div *ngIf='data?.isUpdate else datetimeOvertime' class=' mb-3' [formGroup]='formGroup'>
                  <input type='date' class='form-control' formControlName='datetime' min='{{firstDayInMonth}}'
                    max='{{lastDayInMonth}}' [ngClass]="{ 'is-invalid': submitted && f.datetime.errors }">
                  <div *ngIf='submitted && f.datetime.errors?.required' class='invalid-feedback'>
                    <div>Chưa nhập ngày</div>
                  </div>
                </div>
                <ng-template #datetimeOvertime>
                  <div class=' mb-3' [formGroup]='formGroup'>
                    <input type='date' class='form-control' formControlName='datetime'
                      [ngClass]="{ 'is-invalid': submitted && f.datetime.errors }">
                    <div *ngIf='submitted && f.datetime.errors?.required' class='invalid-feedback'>
                      <div>Chưa nhập ngày</div>
                    </div>
                  </div>
                </ng-template>

              </div>
              <div *ngIf=' formGroup.get("days")?.value > 1 && unit === datetimeUnitEnum.DAY '
                class='date-or-time col '>
                <div class=' title-item mb-1'>
                  <span>Tháng</span>
                  <span class='star'>*</span>
                </div>
                <div class=' mb-3' [formGroup]='formGroup'>
                  <input type='month' class='form-control' formControlName='month'>
                </div>
              </div>
            </div>
            <div *ngIf=" unit =='DAY'">
              <div class='unit-price'>
                <div class=' title-item mb-1'>
                  <span>Giá tăng ca</span>
                  <span class='star'>*</span>
                </div>
                <div class=' mb-3' [formGroup]='formGroup'>
                  <input type='number' class='form-control  px-1' value='{{price}}' disabled>
                </div>
              </div>
            </div>
            <div *ngIf="unit === 'HOUR'">
              <div class='unit-price'>
                <div class=' title-item mb-1'>
                  <span>Đơn giá (1 giờ)</span>
                  <span class='star'>*</span>
                </div>
                <div class=' mb-3' [formGroup]='formGroup'>
                  <input type='number' class='form-control  px-1' placeholder='{{data?.salary?.price}}'
                    value='{{price}}' disabled>
                </div>
              </div>
            </div>
            <div *ngIf='!data?.isUpdate' class=' d-flex align-items-center title-item mb-2'>
              <span>Phụ cấp tăng ca:</span>
              <input type='checkbox' [checked]='onAllowanceOvertime' class='ml-2' (click)='checkAllowanceOvertime()'>
            </div>
            <div class='allowance-overtime p-2 border' *ngIf='onAllowanceOvertime'>
              <div class=' mb-2'>
                <span class='title-item mb-2'>Tiêu đề phụ cấp tăng ca</span>
              </div>
              <div class=' mb-3' [formGroup]='formGroup'>
                <input type='text' class='form-control  px-1' formControlName='titleAllowance'>
              </div>
              <div class=''>
                <div class=' title-item mb-1'>
                  <span>Mức Phụ cấp tăng ca</span>
                </div>
                <div class=' mb-3' [formGroup]='formGroup'>
                  <input type='text' class='form-control  px-1' formControlName='priceAllowance' inputCurrency>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='unit === datetimeUnitEnum.OPTION'>
            <div class='mb-2'>
              <span class=' title-item mb-1'>Buổi </span>
              <mat-select class='form-control'>
                <mat-option *ngFor='let item of titleSession ; let i = index' [value]='i'
                  (click)='selectPartialDay(item)'>
                  {{item.title}}
                </mat-option>
              </mat-select>
            </div>
            <div class=' title-item mb-1'>
              <span>Tháng</span>
              <span class='star'>*</span>
            </div>
            <div class=' mb-3' [formGroup]='formGroup'>
              <input type='month' class='form-control ' formControlName='month'>
            </div>
            <div class=' title-item mb-1'>
              <span>Số ngày</span>
              <span class='star'>*</span>
            </div>
            <div class=' mb-3' [formGroup]='formGroup'>
              <input type='number' class='form-control ' formControlName='times'>
            </div>
          </div>
          <div>
            <div class=' title-item mb-1 mt-3'>
              <span>Chú thích</span>
            </div>
            <div class=' mb-3' [formGroup]='formGroup'>
              <input class='form-control' placeholder='Nhập chú thích ' formControlName='note'>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <button *ngIf='payrollsSelected.length === 0 && !data.isUpdate' class='btn btn-primary mt-2' (click)='check()'>
        Tiếp theo
      </button>
      <button *ngIf='payrollsSelected.length > 0 || data.isUpdate' class='btn btn-primary mt-2'
              (click)='onSubmit()'>Lưu
      </button>
    </mat-step>
    <mat-step *ngIf='unit &&  (formGroup.get("month")?.value || formGroup.get("datetime")?.value)'>
      <ng-template matStepLabel>
        <span (click)='check()'>Chọn phiếu lương</span>
      </ng-template>
      <app-pick-payroll-overtime *ngIf='!data?.isUpdate' [payrollsSelected]="payrollsSelected"
                                 [allowPayrollsSelected]="allowPayrollSelected" [checkAllowance]="onAllowanceOvertime"
                                 [search]='{templateId: templateId ,
                                             createdPayroll:  formGroup.get("month")?.value?
                                              formGroup.get("month")?.value : formGroup.get("datetime")?.value,
                                             employeeType: this.employeeType,
                                             recipeType: this.recipeType
                                             }'
                                 (EventSelectAllowance)="pickAllowance($event)"
                                 (EventSelectPayroll)="pickPayrolls($event)"
      >

      </app-pick-payroll-overtime >
      <button class='btn btn-primary mr-2' matStepperPrevious>Trở lại
      </button>
      <button class='btn btn-primary' matStepperNext>Tiếp theo
      </button>
    </mat-step>
    <mat-step *ngIf='unit &&  (formGroup.get("month")?.value || formGroup.get("datetime")?.value)'
      label='Phiếu lương đã chọn ({{payrollsSelected.length}})'>
      <app-table-allowance-Payroll [checkAllowance]="onAllowanceOvertime" [payrolls]="payrollsSelected"
                                   [allowancePayrollSelected]="allowPayrollSelected" (EventSelectPayroll)="pickPayrolls($event)"
                                   (EventSelectAllowance)="pickAllowance($event)"
      >

      </app-table-allowance-Payroll>

      <button class='btn btn-primary mr-2' matStepperPrevious>Trở lại
      </button>
      <button class='btn btn-primary' (click)='onSubmit()'>Lưu
      </button>
    </mat-step>
  </mat-stepper>
</div>
<style>
  ::ng-deep .mat-step-header[aria-selected="true"] {
    height: 30px !important;
  }
</style>
