<div class="px-5 py-3 main-popup">
  <div mat-dialog-close class="close-popup">
    <span class="mr-1"> close</span>
    <div class="x-popup">
      <img src="assets/icon/share/x2-lg.svg" alt="cancel">
    </div>
  </div>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-tab-group  dynamicHeight >
      <mat-tab class="col-12 " label='Thông tin đơn'>
        <div [formGroup]='formGroup'>
          <div class='form-group'>
            <div class='row'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='name'>Tên tuyến đường<span class='star'>*</span>
                </label>
                <input type='text' class='form-control' id='name'  formControlName='name'>
              </div>
            </div>
            <div class='row mt-2'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='driver'>Tên tài xế<span class='star'>*</span>
                </label>
                <input type='text' class='form-control' id='driver'  formControlName='driver'>
              </div>
            </div>
            <div class='row mt-3'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='startedAt'>Ngày bắt đầu</label><span class='star'>*</span>
                <input
                  class='form-control'
                  formControlName='startedAt'
                  id='startedAt'
                  type='date'
                >
              </div>
            </div>
            <div class='row mt-3'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='endedAt'>Ngày Kết thúc</label><span class='star'>*</span>
                <input
                  class='form-control'
                  formControlName='endedAt'
                  id='endedAt'
                  type='date'
                >
              </div>
            </div>
            <div *ngIf='data' class='row mt-3'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='latitude'>Vĩ độ</label><span class='star'>*</span>
                <input
                  class='form-control'
                  formControlName='latitude'
                  id='latitude'
                  type='text'
                >
              </div>
            </div>
            <div *ngIf='data'  class='row mt-3'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='longitude'>Kinh độ</label><span class='star'>*</span>
                <input
                  class='form-control'
                  formControlName='longitude'
                  id='longitude'
                  type='text'
                >
              </div>
            </div>
            <div class='row mt-3'>
              <div class='col-sm' [formGroup]='formGroup'>
                <label for='endedAt'>Biển số xe</label><span class='star'>*</span>
                <input
                  class='form-control'
                  formControlName='bsx'
                  id='bsx'
                  type='text'
                >
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab class="col-12 " label="Chọn nhân viên">
        <app-pick-employee [pickOne]='true' (checkEventPickOne)='pickEmployees($event)'></app-pick-employee>
      </mat-tab>
    </mat-tab-group>
    <div class="footer-popup row ml-4 mt-3">
      <button mat-dialog-close class="btn btn-cancel mr-3 ">Hủy</button>
      <button type="submit" mat-dialog-close class="btn btn-ok ">Lưu</button>
    </div>
  </form>
</div>
