<div>
  <form [formGroup]="formGroup">
    <nz-steps nzSize="small" [nzCurrent]="stepIndex">
      <nz-step nzTitle="Thông tin tuyến đường"></nz-step>
      <nz-step
        *ngIf="!data?.isUpdate || data?.updateType !== updateTypeEnum.GENERAL"
        nzTitle="Chọn đơn hàng"
      ></nz-step>
    </nz-steps>
    <ng-template [ngIf]="stepIndex === 0">
      <div
        [formGroup]="formGroup"
        class="px-3"
        style="height: 35vh; overflow-y: auto"
      >
        <div class="form-group">
          <div class="row mt-2">
            <div class="col-sm" [formGroup]="formGroup">
              <label for="name"
                >Tên tuyến đường<span class="star">*</span>
              </label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Tuyến Bình Định - Hà Nội"
                [ngClass]="{
                  'is-invalid': submitted && f.name.errors?.required
                }"
              />
              <div
                *ngIf="submitted && f.name.errors?.required"
                class="invalid-feedback"
              >
                <div>Chưa nhập tên tuyến đường</div>
              </div>
            </div>
            <div class="col-sm" [formGroup]="formGroup">
              <label for="driver">Tên tài xế<span class="star">*</span> </label>
              <input
                type="text"
                class="form-control"
                id="driver"
                formControlName="driver"
                placeholder="Trần Văn A"
                [ngClass]="{
                  'is-invalid': submitted && f.driver.errors?.required
                }"
              />
              <div
                *ngIf="submitted && f.driver.errors?.required"
                class="invalid-feedback"
              >
                <div>Chưa nhập tên tài xế</div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm" [formGroup]="formGroup">
              <label for="driver">Tên nhà xe </label>
              <input
                type="text"
                class="form-control"
                id="garage"
                formControlName="garage"
                placeholder="nhà xe Phước Sơn"
              />
            </div>
            <div class="col-sm" [formGroup]="formGroup">
              <label for="endedAt">Biển số xe</label><span class="star">*</span>
              <input
                class="form-control"
                formControlName="bsx"
                id="bsx"
                type="text"
                placeholder="77c-55555"
                [ngClass]="{
                  'is-invalid': submitted && f.bsx.errors?.required
                }"
              />
              <div
                *ngIf="submitted && f.bsx.errors?.required"
                class="invalid-feedback"
              >
                <div>Chưa nhập biển số xe</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm" [formGroup]="formGroup">
              <label for="startedAt">Ngày bắt đầu</label
              ><span class="star">*</span>
              <input
                class="form-control"
                formControlName="startedAt"
                id="startedAt"
                type="date"
                [ngClass]="{
                  'is-invalid': submitted && f.startedAt.errors?.required
                }"
              />
              <div
                *ngIf="submitted && f.startedAt.errors?.required"
                class="invalid-feedback"
              >
                <div>Chưa nhập ngày bắt đầu</div>
              </div>
            </div>
            <div class="col-sm" [formGroup]="formGroup">
              <label for="endedAt">Ngày Kết thúc</label>
              <input
                class="form-control"
                formControlName="endedAt"
                id="endedAt"
                type="date"
              />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template
      [ngIf]="stepIndex === 1 && data?.updateType !== updateTypeEnum.GENERAL"
    >
      <div class="pt-2" style="max-width: 80vw">
        <minhdu-fontend-pick-order
          [formGroup]="formGroup"
          [columns]="[
            orderEnum.CUSTOMER,
            orderEnum.CREATED_AT,
            orderEnum.TOTAL_COMMODITIES,
            orderEnum.TOTAL_AMOUNT_COMMODITY,
            orderEnum.PAYMENT,
            orderEnum.AMOUNT_PAYMENT
          ]"
          [disableReselect]="true"
        >
        </minhdu-fontend-pick-order>
      </div>
    </ng-template>
  </form>
  <div class="mt-2">
    <button
      class="mr-2"
      nz-button
      nzType="default"
      (click)="pre()"
      *ngIf="stepIndex > 0"
    >
      <span>Trở lại</span>
    </button>
    <button
      class="mr-2"
      nz-button
      nzType="primary"
      (click)="next()"
      *ngIf="stepIndex < 1 && data?.updateType !== updateTypeEnum.GENERAL"
    >
      <span>Tiếp theo</span>
    </button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="loading$ | async"
      (click)="onSubmit()"
      *ngIf="stepIndex === 1 || data?.isUpdate"
    >
      <span>Xác nhận</span>
    </button>
  </div>
</div>
