<div class='main-popup'>
  <div mat-dialog-close class='close-popup' *ngIf='closeable'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='assets/icon/share/x2-lg.svg' alt='cancel' />
    </div>
  </div>
  <div class='d-flex justify-content-end'>
    <button
      nz-button
      nzType='primary'
      nzGhost
      (click)='onAdd()'
    >
      Thêm
    </button>
  </div>
  <div class='mt-2'>
    <nz-table
      #tablePickCustomer
      nzSize='middle'
      [nzFrontPagination]='false'
      [nzShowPagination]='false'
      [formGroup]='formGroupCustomer'
      [nzData]='customers'
      [nzScroll]="{ y: '50vh' }"
    >
      <thead>
      <tr>
        <th>
          <div>Tất cả</div>
          <mat-checkbox
            *ngIf='!pickOne'
            class='example-margin m-auto'
            [checked]='isSelectAll'
            [indeterminate]='someComplete()'
            (change)='setAll($event.checked)'
          >
          </mat-checkbox>
          <input disabled *ngIf='pickOne' />
        </th>
        <th nzWidth='50px' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
          STT
        </th>
        <th nzWidth='50px' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
          ID
        </th>
        <th>
          <div>Tên Khách hàng</div>
          <input
            nz-input
            type='search'
            placeholder='tran gia hieu'
            formControlName='name'
          />
        </th>
        <th>
          <div>Số điện thoại</div>
          <input disabled type='search' nz-input />
        </th>
        <th>
          <div>Loại khách hàng</div>
          <nz-select style='width: 100%' formControlName='type'>
            <nz-option
              nzValue='{{ CustomerType.RETAIL }}'
              nzLabel='Bán lẻ'
            ></nz-option>
            <nz-option
              nzValue='{{ CustomerType.AGENCY }}'
              nzLabel='Đại lý'
            ></nz-option>
            <nz-option nzValue='' nzLabel='tất cả'></nz-option>
          </nz-select>
        </th>
        <th>
          <div>Nguồn khách hàng</div>
          <input disabled nz-input />
        </th>
      </tr>
      </thead>
      <tbody [formGroup]='formGroup'>
      <ng-template
        ngFor
        let-customer
        [ngForOf]='tablePickCustomer.data'
        let-i='index'
      >
        <tr>
          <td class='py-2' *ngIf='pickOne; else pickAll'>
            <input
              type='radio'
              formControlName='customerId'
              name='customerId'
              value='{{ customer.id }}'
            />
          </td>
          <td>{{ i + 1 }}</td>
          <td *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>{{ customer.id }}</td>
          <ng-template #pickAll>
            <td>
              <mat-checkbox
                *ngIf='!pickOne'
                class='checkID'
                [checked]='customerIds.includes(customer.id)'
                (change)='updateAllSelect(customer.id)'
              >
              </mat-checkbox>
            </td>
          </ng-template>
          <td class='pointer'>{{ customer.lastName }}</td>
          <td class='pointer'>{{ customer.phone }}</td>
          <td>
            {{ customer?.type | transformconstant: CustomerConstant }}
          </td>
          <td>
            {{
            customer?.resource | transformconstant: ResourcesConstant
            }}
          </td>
        </tr>
      </ng-template>
      <tr *ngIf='(remain$ | async)'>
        <td colspan='5'>
          <div
            class='w-100 d-flex justify-content-start'
            style='position: relative'
          >
            <button
              nz-button
              nzGhost
              nzType='primary'
              style='position: sticky; left: 45vw'
              [nzLoading]='loading$ | async'
              (click)='onLoadMore()'
            >
              Tải thêm {{ remain$ | async }} khách hàng
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div>
    <button
      class='justify-content-end'
      *ngIf='data?.isDialog'
      nz-button
      nzType='primary'
      (click)='closeDialog()'
      mat-dialog-close
    >
      xác nhận
    </button>
  </div>
</div>
