<h2 mat-dialog-title>Thông tin Khách hàng</h2>
<mat-dialog-content class='mat-typography'>
  <form [formGroup]='formGroup'>
    <div class='form-group'>
      <div class='row'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='firstName'>Họ<span class='star'>*</span>
          </label>
          <input type='text' class='form-control' id='firstName' placeholder='Trần' formControlName='firstName'
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors?.required }">
          <div *ngIf='submitted && f.firstName.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập họ khác hàng</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='lastName'>Tên<span class='star'>*</span>
          </label>
          <input
            class='form-control'
            formControlName='lastName'
            id='lastname'
            placeholder='Hiệu'
            type='text'
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors?.required }"
          >
          <div *ngIf='submitted && f.lastName.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập tên khác hàng</div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='religion'>Tôn giáo
          </label>
          <input type='text' class='form-control' id='religion' placeholder='Không' formControlName='religion'>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='ethnicity'>Dân tộc
          </label>
          <input
            class='form-control'
            formControlName='ethnicity'
            id='ethnicity'
            placeholder='Kinh'
            type='text'
          >
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='birthplace'>Nguyên quán</label><span class='star'>*</span>
          <input
            class='form-control'
            formControlName='birthplace'
            id='birthplace'
            placeholder='Phước Sơn - Tuy Phước - Bình Định '
            type='text'
            [ngClass]="{ 'is-invalid': submitted && f.birthplace.errors?.required }"
          >
          <div *ngIf='submitted && f.birthplace.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập nguyên quán</div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='address'>Địa chỉ</label> <span class='star'>*</span>
          <input
            class='form-control'
            formControlName='address'
            id='address'
            placeholder='Số nhà / thôn xóm'
            type='text'
            [ngClass]="{ 'is-invalid': submitted && f.address.errors?.required }"
          >
          <div *ngIf='submitted && f.address.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập địa chỉ</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='note'>Ghi chú</label>
          <input
            id='note'
            type='text'
            class='form-control'
            formControlName='note'
          >
        </div>
      </div>
      <app-pick-location [ward]='data?.ward' [formGroup]='formGroup' [submitted]='submitted'
                         [form]='f'></app-pick-location>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='cmnd'>CMND/CCCD</label>
          <input type='number' class='form-control' id='cmnd' placeholder='215421236' formControlName='identify'
                 [ngClass]="{ 'is-invalid': submitted && f.identify.errors?.required }">
          <div *ngIf='submitted && f.identify.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập CMND/CCCD</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='idCardAt'>Ngày cấp<span class='star'>*</span></label>
          <input
            type='date'
            placeholder='06/05/1997'
            class='form-control'
            id='idCardAt'
            formControlName='idCardAt'
            [ngClass]="{ 'is-invalid': submitted && f.idCardAt.errors?.required }"
          >
          <div *ngIf='submitted && f.idCardAt.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập ngày cấp</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='issuedBy'>Nơi cấp <span class='star'>*</span></label>
          <input type='text' class='form-control' id='issuedBy' placeholder='Bình Định' formControlName='issuedBy'
                 [ngClass]="{ 'is-invalid': submitted && f.issuedBy.errors?.required }">
          <div *ngIf='submitted && f.issuedBy.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập nơi cấp</div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='phone'>Số điện thoại <span class='star'>*</span></label>
          <input type='tel' class='form-control' id='phone' placeholder='0337552146' formControlName='phone'
                 [ngClass]="{ 'is-invalid': submitted && f.phone.errors?.required }">
          <div *ngIf='submitted && f.phone.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập số điện thoại</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='birthday'>Ngày sinh <span class='star'>*</span></label>
          <input type='date' id='birthday' class='form-control' formControlName='birthday'
                 [ngClass]="{ 'is-invalid': submitted && f.birthday.errors?.required }">
          <div *ngIf='submitted && f.birthday.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập ngày sinh</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='gender'>Giới tính<span class='star'>*</span></label>
          <div id='gender'>
            <mat-radio-group class='d-flex justify-content-around' formControlName='gender'>
              <mat-radio-button value='MALE'>Nam</mat-radio-button>
              <mat-radio-button value='FEMALE'>Nữ</mat-radio-button>
              <mat-radio-button value='OTHER'>Khác</mat-radio-button>
            </mat-radio-group>
            <div *ngIf='submitted && f.gender.errors?.required'
                 style='width: 100%;
                  margin-top: 0.25rem;
                  font-size: 80%;
                  color: #f86c6b;'>
              <div>Chưa chọn giới tính</div>
            </div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='type'>Loại Khách hàng<span class='star'>*</span></label>
          <mat-select id='type' class='form-control' formControlName='type'
                      [ngClass]="{ 'is-invalid': submitted && f.type.errors?.required }">
            <mat-option value='{{customerType.RETAIL}}'>
              Khách lẻ
            </mat-option>
            <mat-option value='{{customerType.AGENCY}}'>
              Đại lí
            </mat-option>
          </mat-select>
          <div *ngIf='submitted && f.type.errors?.required' class='invalid-feedback'>
            <div>Chưa chọn loại khách hàng</div>
          </div>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='resource'>Nguồn khác hàng<span class='star'>*</span></label>
          <mat-select id='resource' class='form-control' formControlName='resource'
                      [ngClass]="{ 'is-invalid': submitted && f.resource.errors?.required }">
            <mat-option value='{{resourceType.SELF_FIND}}'>
              Tự tìm
            </mat-option>
            <mat-option value='{{resourceType.INTRODUCED}}'>
              Giới thiệu
            </mat-option>
            <mat-option value='{{resourceType.RESEARCH}}'>
              Tra cứu
            </mat-option>
            <mat-option value='{{resourceType.OTHER}}'>
              Khác
            </mat-option>
          </mat-select>
          <div *ngIf='submitted && f.type.errors?.required' class='invalid-feedback'>
            <div>Chưa chọn nguồn khách hàng</div>
          </div>
        </div>
      </div>
      <div class='row mt-3'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='religion'>Email
          </label>
          <input type='text' class='form-control' id='email' placeholder='trangiahieu@gmail.com'
                 formControlName='email'>
        </div>
      </div>
      <div class='row mt-3' [formGroup]='formGroup'>
        <div class='col-sm'>
          <label for='facebook'>Tìm năng</label><span class='star'>*</span>
          <input
            id='facebook'
            type='checkbox'
            class='form-control'
            formControlName='isPotential'
          >
        </div>
      </div>
      <div class='row d-flex mt-3 justify-content-center'>
        <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
        <button (click)='onSubmit()' class='btn btn-dark ml-2'> Xác nhận</button>
      </div>
    </div>
  </form>
</mat-dialog-content>



