<nz-table
  #tablePayroll
  [nzData]="payrolls"
  [nzPageSize]="pageSize"
  [formGroup]='formGroup'
  (nzPageIndexChange)="onPagination($event)"
  [nzScroll]="scroll"
  [nzLoading]="(loading$|async)"
  nzSize="small"
>
  <thead>
  <tr>
    <th nzLeft nzWidth="70px">
      <div>stt</div>
      <input nz-input disabled type='text'>
    </th>
    <th nzLeft nzWidth="150px">
      <div>Mã phiếu lương</div>
      <input nz-input type='search' formControlName='code'>
    </th>
    <th>
      <div>Tên nhân viên</div>
      <input nz-input type='search' formControlName='name'
             placeholder='Trần Gia Hiệu'>
    </th>
    <th>
      <div>Đơn vị</div>
      <input nz-input disabled>
    </th>
    <th>
      <div>Chức vụ</div>
      <nz-select
        nzShowSearch
        nzAllowClear
        style='width:100%'
        formControlName='position'
        nzPlaceHolder='chọn chức vụ'
        [compareWith]='compareFN'
      >
        <nz-option
          *ngFor='let position of positions$|async'
          [nzLabel]='position.name'
          [nzValue]='position'
        >
        </nz-option>
      </nz-select>
    </th>
    <th>
      <div>Ngày tạo phiếu lương</div>
      <input nz-input disabled>
    </th>
    <th>
      <div>Ngày công chuẩn</div>
      <input nz-input type='number' disabled>
    </th>
    <ng-template [ngIf]="formGroup.value.filterType === filterTypeEnum.TIME_SHEET">
      <th nzWidth="100px" *ngFor='let item of daysInMonth' >
        <div>
          {{item.key}}
        </div>
      </th>
    </ng-template>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-payroll [ngForOf]="tablePayroll.data" let-i='index'>
    <tr (contextmenu)='child.onContextMenu($event,payroll)' class="pointer">
      <td nzLeft>
        {{i + 1}}
      </td>
      <td nzLeft>
        {{payroll.id}}
      </td>
      <td>
        {{payroll.employee.lastName}}
      </td>
      <td>
        {{payroll.branch}}
      </td>
      <td>
        {{payroll.position}}
      </td>
      <td>
        {{payroll.createdAt|date:'dd-MM-yyyy'}}
      </td>
      <td>
        {{payroll.workday || 'Đang cập nhật'}}
      </td>
      <ng-template>
        <td class='text-center' *ngFor='let item of daysInMonth ; let i = index'
            [ngStyle]='{"color": payroll.timesheet ? payroll.timesheet.datetime[i]["color"] : "black" }'>
          <div>
            {{payroll?.timesheet ? payroll.timesheet.datetime[i][item.key] : ''}}
          </div>
        </td>
      </ng-template>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
<app-mouse-right
  #child
  [items]='[ItemContextMenu.RESTORE, ItemContextMenu.HISTORY_PAYROLL,ItemContextMenu.PRINT]'
  (onAdd)='onAdd($event)'
  (onDel)='onDelete($event)'
  (onUpdate)='onUpdate($event)'
  (onRestore)='onRestore($event)'
  (onHisPayroll)='onHistory($event)'
  (onPrint)='onPrint($event)'
>
</app-mouse-right>
