<ngx-skeleton-loader *ngIf='!(loaded$ | async)  ; else payroll'
                     count='18' appearance='line'></ngx-skeleton-loader>
<ng-template #payroll>
  <div class='table-scroll mt-3 mx-auto'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='1'
       [infiniteScrollThrottle]='10'
       [scrollWindow]='false'
       (scrolled)='onScroll()'>
    <table [formGroup]='formGroup' class='mt-3' style='width: 2600px '>
      <thead>
      <tr>
        <th>
          <div class='border-top text-center'>stt</div>
          <input class='form-control text-center' type='text'>
        </th>
        <th>
          <div class='border-top text-center'>Mã nhân viên</div>
          <input class='form-control text-center' type='text'>
        </th>
        <th style='width: 250px'>
          <div class='border-top text-center'>Tên nhân viên</div>
          <input class='form-control text-center ' type='search' formControlName='name'
                 placeholder='Trần Gia Hiệu'>
        </th>
        <th style='width: 250px'>
          <div class='title-profile'>Chức vụ</div>
          <input class='form-control' type='text' matInput [matAutocomplete]='position'
                 formControlName='position'>
          <mat-autocomplete #position='matAutocomplete'>
            <mat-option *ngFor='let position of positions$ | async' [value]='position.name'
                        (onSelectionChange)='onSelectPosition(position.name)'>
              {{position.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th>
          <div class='title-profile'>Đơn vị</div>
          <input class='form-control' type='text' matInput [matAutocomplete]='branch' formControlName='branch'>
          <mat-autocomplete #branch='matAutocomplete'>
            <mat-option *ngFor='let branch of branches$ | async' [value]='branch.name'
                        (onSelectionChange)='onSelectBranch(branch.name)'>
              {{branch.name}}
            </mat-option>
          </mat-autocomplete>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Tháng</div>
          <input class='form-control text-center ' type='month' formControlName='createdAt' min='2021-01'>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Tổng ngày làm</div>
          <input class='form-control text-center ' type='number' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Tổng tiền ngày làm</div>
          <input class='form-control text-center ' type='number' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Tổng giờ tăng ca</div>
          <input class='form-control text-center ' type='number' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Tổng tiền tăng ca</div>
          <input class='form-control text-center ' type='number' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Thành tiền</div>
          <input class='form-control text-center ' type='number' disabled>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Xác nhận</div>
          <select class='select border-top' matNativeControl required formControlName='accConfirmedAt'>
            <option value='TRUE'>Đã xác nhận</option>
            <option value='FALSE'>chưa xác nhận</option>
            <option value=''>Mặc định</option>
          </select>
        </th>
        <th>
          <div class='text-center'>Quản lý xác nhận</div>
          <select style='width: 100%' class='select border-top' matNativeControl required
                  formControlName='manConfirmedAt'>
            <option value='TRUE'>Đã xác nhận</option>
            <option value='FALSE'>chưa xác nhận</option>
            <option value=''>Mặc định</option>
          </select>
        </th>
        <th>
          <div class='border-top d-flex justify-content-center align-items-center'>Thanh toán</div>
          <select class='select border-top ' matNativeControl required formControlName='paidAt'>
            <option value='TRUE'>Đã Thanh toán</option>
            <option value='FALSE'>Chưa thanh toán</option>
            <option value=''>Mặc định</option>
          </select>
        </th>
      </tr>
      </thead>
      <tbody *ngIf='(payroll$|async) as payrolls'>
      <tr *ngFor='let payroll of payrolls; let i = index'
          (contextmenu)='child.onContextMenu($event,payroll)'>
        <th class='pointer' (click)='readPayroll(payroll)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{i + 1}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payroll.employee.id}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payroll?.employee?.lastName}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'
            [ngClass]='{"odd": i % 2 === 0, "even": i % 2 !== 0 }'>
          {{payroll.employee?.position?.name}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll.employee?.branch?.name}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll.createdAt|date:'yyyy-MM'}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll.payslip?.workdays || 'Đang cập nhật'}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll?.payslip ?
          (payroll?.payslip?.totalSalaryWorkday |number:'1.0-0') + 'đ'
          : 'Đanbg cập nhật'}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll.payslip?.times || 'Đang cập nhật'}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll?.payslip?.totalSalaryTimes ?
          (payroll?.payslip?.totalSalaryTimes |number:'1.0-0') + 'đ'
          : 'Đanbg cập nhật'}}
        </th>
        <th class='pointer' (click)='readPayroll(payroll)'>
          {{payroll?.payslip?.total ?
          (payroll?.payslip?.total |number:'1.0-0') + 'đ'
          : 'Đanbg cập nhật'}}
        </th>
        <th class='pointer'>
          <div (click)='updateConfirmPayroll(payroll.id,"accConfirmedAt")'
               style='height: fit-content'>
            <input style='pointer-events: none' disabled type='checkbox'
                   [checked]='payroll.accConfirmedAt !== null'>
          </div>
        </th>
        <th class='pointer text-center'>
          <div (click)='updateManConfirm(payroll.id,payroll.manConfirmedAt, payroll.createdAt)'
               style='height: fit-content'>
            <input style='pointer-events: none' disabled type='checkbox'
                   [checked]='payroll.manConfirmedAt !== null'>
          </div>
        </th>
        <th class='pointer'>
          <div (click)='updateConfirmPayroll(payroll.id,"paidAt")' style='height: fit-content'>
            <input style='pointer-events: none' disabled type='checkbox' [checked]='payroll.paidAt !== null'>
          </div>
        </th>
      </tr>
      <tr *ngIf='payrolls.length === 0' style='height: 50vh'>
        <td colspan='100' class='text-center check-content font-weight-bold font-xl '>
          <span style='position: absolute ; top: 50%; left: 50%'> Hiện không có Phiếu lương nào !</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-mouse-right [type]='pageType.PAYROLL'
                   #child
                   (addEvent)='addPayroll($event)'
                   (deleteEvent)='deletePayroll($event)'
                   (restore)='restorePayroll($event)'
                   (HistoryPayroll)='historyPayroll($event)'
                   (readEvent)='readPayroll($event)'>
  </app-mouse-right>
</ng-template>
<style>

  .table-scroll th:nth-child(3) {
    position: -webkit-sticky;
    position: sticky;
    left: 170px;
    z-index: 2;
  }
  .table-scroll th:nth-child(4) {
    position: -webkit-sticky;
    position: sticky;
    left: 420px;
    z-index: 2;
  }

  .table-scroll thead th:nth-child(3),
  .table-scroll thead th:nth-child(4)
  {
    z-index: 5;
  }
</style>
