<div class='px-3 pt-1 grid_on header  shadow-sm'>
  <div class=' py-2'>
    <div class='row'>
      <div class='d-flex col-md-7 col-xm-12 '>
        <div class='col d-flex align-items-center'>
          <div class='d-flex mr-1 align-items-center justify-content-center'>
          </div>
          <span class='app-name font-xl font-weight-bold'>{{appName$|async}}</span>
        </div>
      </div>
      <div class=' col-md-5 col-xm-12   d-flex justify-content-end'>
        <button class="mr-2">
          Thiết lập
        </button>
      </div>
    </div>
  </div>
  <div class=' mt-2 ml-2 row '>
    <div>

    </div>
    <div class='mr-3 position-relative' *ngFor='let item of menuWarehouse'
         routerLinkActive='active'>
      <div class="pointer" (click)="onUpdateStateAppName(item.name,item.href)">
        <img class='m-1' src='{{item.icon}}' alt='{{item.state}}'>{{item.name}}
      </div>
      <div *ngIf="(routerActive$|async) === item.href && item.children"
           class="submenu d-flex position-absolute ml-2 animate-submenu"
           style="top:30px; width: 300%">
        <div class="pointer"
          style="margin-right:10px; font-weight: 500; font-size: 14px"
             *ngFor="let subMenu of item.children"
             (click)="onUpdateStateAppName(subMenu.name,subMenu.href)">
          {{subMenu.name}}
        </div>
      </div>
    </div>
  </div>
</div>
<div style='margin: 127px 0 0; overflow: auto; background: #eee'>
  <router-outlet>
  </router-outlet>
</div>
<app-footer class='footer'>
  <span><a href='https://dratech-solutions.com/' target='_blank'>Dratech Solutions</a> &copy; 2021.</span>
  <span class='ml-auto'>Powered by <a href='https://dratech-solutions.com/' target='_blank'>Công ty TNHH giải pháp phần
      mềm Dratech</a></span>
</app-footer>
