<ngx-skeleton-loader *ngIf='!(loaded$ | async); else salary' count='18' appearance='line'></ngx-skeleton-loader>
<ng-template #salary>
  <div style='width: 100%; overflow-x: scroll'>
    <div class='fixTableHead mt-5'>
      <table [formGroup]='formGroup' style='width: 2300px;'>
        <thead>
        <tr>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Mã nhân viên</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Tên nhân viên</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Giới tính</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Chức vụ</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Tháng</div>
            <div class='d-flex border'>
              <mat-date-range-input [rangePicker]='picker'>
                <input matStartDate formControlName='startAt' placeholder='Từ ngày'>
                <input matEndDate formControlName='endAt' placeholder='Đến ngày'>
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </div>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Loại tăng ca</div>
            <input class='form-control' type='text' matInput [matAutocomplete]='templateOvertime'
                   formControlName='title'>
            <mat-autocomplete #templateOvertime='matAutocomplete'>
              <mat-option *ngFor='let template of templateOvertime$ | async' [value]='template.title'
                          (onSelectionChange)='onSelectTemplateOvertime($event, template.title)'>
                {{template.title}}
              </mat-option>
            </mat-autocomplete>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Đơn vị tính</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Đơn giá</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Thành tiền</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Tổng đơn vị tính</div>
            <input type='text' disabled>
          </th>
          <th>
            <div class='border-top d-flex justify-content-center align-items-center'>Tổng thành tiền</div>
            <input type='text' disabled>
          </th>
        </tr>
        </thead>
        <tbody *ngIf='(overtime$|async) as overtimes'>
        <tr *ngFor='let overtime of overtimes'
            [ngStyle]='{"background":overtime.salaries.length > 0 ? "white" : "#8080801a" }'
        >
          <th>{{overtime?.id}}</th>
          <th>{{overtime.firstName}} {{overtime.lastName}}</th>
          <th> {{
            overtime?.gender === 'MALE' ? 'Nam' :
              overtime?.gender === 'FEMALE' ? 'Nữ' :
                'Khác'
            }}</th>
          <th>{{overtime.position?.name}}</th>
          <th>
            <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
                 (click)='readPayroll(overtime)'>
              {{item.title}}  {{ item.allowance ? '+ ' + item.allowance.title : '' }}
            </div>
          </th>
          <th>
            <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
                 (click)='readPayroll(overtime)'>
              {{item.title}}  {{ item.allowance ? '+ ' + item.allowance.title : '' }}
            </div>
          </th>
          <th>
            <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
                 (click)='readPayroll(overtime)'>
              {{item?.times}} {{item?.unit === unit.DAY ? 'Ngày' : 'Giờ'}}
            </div>
          </th>
          <th>
            <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
                 (click)='readPayroll(overtime)'>
              {{item?.price ? item.price : 0}}VND
            </div>
          </th>
          <th>
            <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
                 (click)='readPayroll(overtime)'>
              {{item.price && item?.times ? item.price * item.times : 0 }}
              VND  {{ item.allowance ? '+ ' + item.allowance.price + 'VND' : '' }}
            </div>
          </th>
          <th
            *ngIf='overtime.salary'> {{overtime.salary.times}} {{overtime.salary.unit === unit.DAY ? 'Ngày' : 'Giờ'}}</th>
          <th *ngIf='!overtime.salary'></th>
          <th *ngIf='overtime.salary'> {{overtime.salary.total}} VND</th>
          <th *ngIf='!overtime.salary'></th>
        </tr>
        <tr   *ngIf='overtimes.length === 0 ' style='height: 50vh'>
          <td colspan='11' class='text-center check-content font-weight-bold font-xl '>Hiện không có phiếu tăng ca nào </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
