<ngx-skeleton-loader *ngIf='!(loaded$ | async); else salary' count='18' appearance='line'></ngx-skeleton-loader>
<ng-template #salary>
  <div class='main-profile' style='width: fit-content; margin: 0 auto'>
    <form [formGroup]='formGroup' #header class=' header-profile mt-1 animated fadeIn'>
      <div class='border-start title-header default'>
        <div class='title-profile'>Mã nhân viên</div>
        <input class='form-control input-profile' type='text' disabled>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tên nhân viên</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header gender' [formGroup]='formGroup'>
        <div class='title-profile'>Giới tính</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Chức vụ</div>
        <input class='form-control' type='text' matInput disabled>
      </div>

      <div class='border-start title-header name'>
        <div class='title-profile'>Tháng</div>
        <div class='d-flex'>
          <mat-date-range-input [rangePicker]='picker'>
            <input matStartDate formControlName='startAt' placeholder='Từ ngày'>
            <input matEndDate formControlName='endAt' placeholder='Đến ngày'>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>

      </div>
      <div class='border-start title-header note'>
        <div class='title-profile'>Loại tăng ca</div>
        <input class='form-control' type='text' matInput [matAutocomplete]='templateOvertime' formControlName='title'>
        <mat-autocomplete #templateOvertime='matAutocomplete'>
          <mat-option *ngFor='let template of templateOvertime$ | async' [value]='template.title'
                      (onSelectionChange)='onSelectTemplateOvertime($event, template.title)'>
            {{template.title}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Đơn vị tính</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Đơn giá</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Thành tiền</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tổng đơn vị tính</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tổng thành tiền</div>
        <input class='form-control input-profile ' type='search' disabled>
      </div>
    </form>
    <div class='outer animated fadeIn'
         infiniteScroll [alwaysCallback]='true'
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='100'
         [scrollWindow]='false'
         *ngIf='(overtime$|async) as overtimes'
         [ngStyle]="{'width':overtimes.length === 0 ? header.offsetWidth + 'px': 'fit-content',
         'overflow-y':overtimes.length === 0 ? 'hidden': 'scroll'}">
      <div class='row-content' style='margin-top:0; padding: 0' *ngFor='let overtime of overtimes'
           (contextmenu)='child.onContextMenu($event,overtime)'
      [ngStyle]='{"background":overtime.salaries.length > 0 ? "white" : "#80808047" }'
      >
        <app-mouse-right #child (readAndUpdateEvent)='readPayroll($event)'>
        </app-mouse-right>
        <div class='border content-profile default pointer d-flex justify-content-center align-items-center '
             (click)='readPayroll(overtime)'>
          {{overtime?.id}}
        </div>
        <div class='border content-profile name pointer  d-flex justify-content-center align-items-center '
             (click)='readPayroll(overtime)'>
          {{overtime?.firstName}} {{overtime?.lastName}}
        </div>
        <div class='border content-profile gender pointer  d-flex justify-content-center align-items-center '> {{
          overtime?.gender === 'MALE' ? 'Nam' :
            overtime?.gender === 'FEMALE' ? 'Nữ' :
              'Khác'
          }}</div>
        <div class='border content-profile default pointer  d-flex justify-content-center align-items-center '
             (click)='readPayroll(overtime)'>
          {{overtime.position?.name}}
        </div>
        <div class='content-profile name pointer  ' (click)='readPayroll(overtime)'>
          <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
               (click)='readPayroll(overtime)'>
            {{item?.datetime |date: 'dd-MM-yyyy'}}
          </div>
        </div>
        <div class='content-profile note pointer ' (click)='readPayroll(overtime)'>
          <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
               (click)='readPayroll(overtime)'>
            {{item.title}}  {{ item.allowance? '+ ' + item.allowance.title: '' }}
          </div>
        </div>
        <div class='content-profile default pointer ' (click)='readPayroll(overtime)'>
          <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
               (click)='readPayroll(overtime)'>
            {{item?.times}} {{item?.unit === unit.DAY ? 'Ngày' : 'Giờ'}}
          </div>
        </div>
        <div class='content-profile name pointer ' (click)='readPayroll(overtime)'>
          <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
               (click)='readPayroll(overtime)'>
            {{item?.price ? (item.price |number:'1.0-0') : 0}}VND
          </div>
        </div>
        <div class='content-profile name pointer ' (click)='readPayroll(overtime)'>
          <div class='border d-flex align-items-center justify-content-center' *ngFor='let item of overtime.salaries'
               (click)='readPayroll(overtime)'>
            {{item.price && item?.times ? (item.price * item.times|number:'1.0-0' ) : 0 }} VND
            {{ item.allowance? '+ ' + (item.allowance.price|number:'1.0-0' ) + 'VND' : '' }}
          </div>
        </div>
        <div  *ngIf='overtime.salary' class='content-profile name pointer border d-flex justify-content-center align-items-center ' (click)='readPayroll(overtime)'>
          {{overtime.salary.times}} {{overtime.salary.unit === unit.DAY ? 'Ngày' : 'Giờ'}}
        </div>
        <div  *ngIf='!overtime.salary' class='content-profile name pointer border d-flex justify-content-center align-items-center ' (click)='readPayroll(overtime)'>
        </div>
        <div *ngIf='overtime.salary' class='content-profile name pointer border d-flex justify-content-center align-items-center ' (click)='readPayroll(overtime)'>
          {{overtime.salary.total|number:'1.0-0'}} VND
        </div>
        <div  *ngIf='!overtime.salary' class='content-profile name pointer border d-flex justify-content-center align-items-center ' (click)='readPayroll(overtime)'>
        </div>
      </div>
      <div *ngIf='!overtimes || overtimes.length === 0 ' style='height:60vh; '
           class=' d-flex justify-content-center align-content-center'>
        <div class='font-xl font-weight-bold d-flex align-items-center'>
          Hiện chưa có phiếu lương nào!
        </div>
      </div>
    </div>
  </div>
</ng-template>
