<div class="px-5 main-popup">
  <div mat-dialog-close class="close-popup">
    <span class="mr-1"> close</span>
    <div class="x-popup">
      <img src="../../../../../../assets/img/share/x2-lg.svg" alt="cancel" />
    </div>
  </div>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <div class="form-group" style="min-width: 400px">
      <div class="mb-5 title-popup">
        <span> Lương cơ bản</span>
      </div>
      <div class="contract-salary mt-1">
        <div class="title-item mb-1">
          <span>Loại lương</span>
          <span class="star">*</span>
        </div>
        <div class="mb-3" [formGroup]="formGroup">
          <div
            class="form-control"
            style="background: #dddddd; pointer-events: none"
          >
            {{ data.salariesSelected.title }} ({{
              this.data.salaryIds.length
            }}/{{ this.data.totalPayroll }})
          </div>
        </div>
      </div>
      <div class="basic-salary">
        <div class="title-item mb-1">
          <span>Mức lương</span>
          <span class="star">*</span>
        </div>
        <div class="mb-3" [formGroup]="formGroup" *ngIf="!checkSalary">
          <input
            class="form-control"
            type="text"
            placeholder="Nhập mức lương"
            formControlName="price"
            inputCurrency
            [ngClass]="{ 'is-invalid': submitted && checkValid.price.errors }"
          />
          <div
            *ngIf="submitted && checkValid.price.errors?.required"
            class="invalid-feedback"
          >
            <div>Chưa nhập mức lương</div>
          </div>
        </div>
        <div class="mb-3" [formGroup]="formGroup" *ngIf="checkSalary">
          <mat-select
            class="form-control col"
            formControlName="price"
            [ngClass]="{ 'is-invalid': submitted && checkValid.price.errors }"
          >
            <mat-option
              *ngFor="let item of templateBasicSalary$ | async"
              [value]="item.price"
            >
              {{ item.price | number: '1.0-0' }}đ
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class="mt-2 row">
      <button class="btn btn-ok">Lưu</button>
      <a
        *ngIf="role === roleEnum.HUMAN_RESOURCE"
        class="btn btn-ok ml-3"
        routerLink="/ban-mau"
        target="_blank"
        >Tạo mới</a
      >
      <button
        type="button"
        class="btn award"
        data-toggle="tooltip"
        data-placement="left"
        title="xóa"
      >
        ?
      </button>
    </div>
  </form>
</div>
