<div class="animated main-popup p-3">
  <div mat-dialog-close class="close-popup">
    <span class="mr-1"></span>
  </div>
  <div class="title-popup">
    <span>Tên file excel </span>
  </div>
  <div class="row mt-4 ml-3 content-popup" >
   <input type='text' class='form-control' [formControl]='name'>
  </div>
  <div class="row mt-4 ml-3">
    <button mat-dialog-close
            style='font-size: 12px'
            class="  col-md-2 btn btn-cancel d-flex justify-content-center">Hủy</button>
    <button (click)='submit()'
            style='font-size: 12px'
            class="ml-3 col-md-3 btn btn-ok d-flex justify-content-center">Đồng ý
    </button>
  </div>
</div>

