<div>
  <button (click)='addCommodity()' class='btn border d-flex align-items-center '>
    <img src='../../../../assets/icon/share/plus-lg.svg' alt='add'>
    <span class='ml-1 font-xl' style='color:#20a8d8;'> Thêm hàng hóa</span>
  </button>
  <div class=' animated fadeIn '  style='overflow-x: scroll '>
    <form [formGroup]='formGroup' class='header-profile mt-3' >
      <div class='border-start title-header pick '>
        <div class='title-profile'>Tất cả</div>
        <mat-checkbox class='example-margin mt-2 ml-1 '
                      [checked]='isSelectAll'
                      [indeterminate]='someComplete()'
                      (change)='setAll($event.checked)'>
        </mat-checkbox>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Mã hàng </div>
        <input
          [disabled]='true'
          class='form-control input-profile'
          type='text'
          placeholder='PN10001'
        >
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tên Hàng hóa </div>
        <input [disabled]='true' class='form-control input-profile'
               type='text'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Giá trước KM</div>
        <input class='form-control input-profile'
               [disabled]='true'
               type='number'
               placeholder='PN10001'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Số lượng</div>
        <input class='form-control input-profile'
               type='number'
               [disabled]='true'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Khuyến mãi</div>
        <input class='form-control input-profile'
               type='number'
               [disabled]='true'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Mua thêm</div>
        <input class='form-control input-profile'
               type='number'
               [disabled]='true'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Giá sau KM</div>
        <input class='form-control input-profile'
               type='number'
               [disabled]='true'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Đơn vị</div>
        <input class='form-control input-profile'
               type='number'
               [disabled]='true'
        >
      </div>
    </form>
    <div class='outer example '
         style='height: 30vh'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='100'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
    >
      <div class='row-content' *ngFor='let commodity of commodities'
           (contextmenu)='child.onContextMenu($event,commodity)'>
        <app-mouse-right
          #child (addEvent)='addCommodity()'
          (deleteEvent)='deleteCommodity($event)'
          (readAndUpdateEvent)='UpdateCommodity($event)'></app-mouse-right>

        <div class='content-profile pick  pointer'>
          <mat-checkbox class='checkID'
                        [checked]='commodity.isSelect ? commodity.isSelect: false'
                        [(ngModel)]='commodity.isSelect'
                        (ngModelChange)='updateAllSelect(commodity.id)'>
          </mat-checkbox>
        </div>
        <div class='content-profile default  pointer'>{{commodity.code}} </div>
        <div class='content-profile name  pointer'>{{commodity.name}} </div>
        <div class='content-profile default  pointer'>
          {{commodity.price|number:'1.0'|notEmpty:'0'}} đ
          </div>
        <div class='content-profile default  pointer'>{{commodity.amount|number :'1.0'}} </div>
        <div class='content-profile default  pointer'>{{commodity.gift|number :'1.0'}} </div>
        <div class='content-profile default  pointer'>{{commodity.more.amount|number :'1.0'}} </div>
        <div class='content-profile default  pointer'>
          {{commodity.more.price|number:'1.0'|notEmpty:'0'}} đ
        </div>
        <div class='content-profile  default ' *ngIf='commodity?.unit === commodityUnit.KG'> Kilogam</div>
        <div class='content-profile  default ' *ngIf='commodity?.unit === commodityUnit.CON'> Con</div>
      </div>
    </div>
  </div>
  <button *ngIf='data.type === "DIALOG"' (click)='closeDialog()' class='my-2 btn btn-primary'>xác nhận</button>
</div>


