<h2 mat-dialog-title>Mẫu lương cơ bản</h2>
<mat-dialog-content class='mat-typography'>
  <form [formGroup]='formGroup'>
    <div class='m-4'>
      <div class=' main-popup mt-2' [formGroup]='formGroup'  >
        <div><span class='main-title'>Loại lương</span><span class='star'>*</span></div>
        <input  class='form-control mt-1' type='text' formControlName='title'  [attr.disabled]='true'>
      </div>
      <div class=' main-popup mt-2' [formGroup]='formGroup'>
        <div><span class='main-title'>Mức tăng ca</span><span class='star'>*</span></div>
        <input class='form-control mt-1' type='text' formControlName='price' placeholder='200,000' inputCurrency
               [ngClass]="{ 'is-invalid': submitted && f.price.errors?.required }">
        <div *ngIf='submitted && f.price.errors?.required' class='invalid-feedback'>
          <div>Chưa nhập mức lương</div>
        </div>
      </div>
    </div>
    <div class='footer-popup row ml-2'>
      <button mat-dialog-close class=' btn btn-cancel '>Hủy</button>
      <button (click)='onSubmit()' class=' btn btn-ok ml-2'>Lưu</button>
    </div>
  </form>
</mat-dialog-content>

