<div class='main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <h2 mat-dialog-title>Mẫu lương cơ bản</h2>
  <mat-dialog-content class='mat-typography'>
    <form [formGroup]='formGroup'>
      <div class='m-4'>
        <div class=' main-popup mt-2' [formGroup]='formGroup'>
          <div><span class='main-title'>Loại lương</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='text' formControlName='title' [attr.disabled]='true'>
        </div>
        <div class=' main-popup mt-2' [formGroup]='formGroup'>
          <div><span class='main-title'>Mức tăng ca</span><span class='star'>*</span></div>
          <input class='form-control mt-1' type='text' formControlName='price' placeholder='200,000' inputCurrency
                 [ngClass]="{ 'is-invalid': submitted && f.price.errors?.required }">
          <div *ngIf='submitted && f.price.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập mức lương</div>
          </div>
        </div>
      </div>
      <div class='footer-popup row ml-2'>
        <button (click)='onSubmit()' class=' btn btn-ok ml-2'>Lưu</button>
      </div>
    </form>
  </mat-dialog-content>
</div>


