<h2 mat-dialog-title>Thân nhân</h2>
<mat-dialog-content class='mat-typography'>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <div>
      <app-add-profile [formGroup]='formGroup'></app-add-profile>
      <div class='row mt-3' [formGroup]='formGroup'>
        <div class='col-sm'>
          <label for='career'>Nghề nghiệp<span class='star'>*</span>
          </label>
          <input
            class='form-control'
            formControlName='career'
            id='career'
            placeholder='nông'
            type='text'
          >
        </div>

      </div>
      <div class='row mt-3' [formGroup]='formGroup'>
        <div class='col-sm'>
          <label for='relationship'>Quan hệ<span class='star'>*</span>
          </label>
          <mat-select id='relationship' class='form-control' formControlName='relationship'>
            <mat-option value='FATHER'>
              Cha
            </mat-option>
            <mat-option value='MOTHER'>
              Mẹ
            </mat-option>
            <mat-option value='SON'>
              Con trai
            </mat-option>
            <mat-option value='DAUGHTER'>
              Con gái
            </mat-option>
            <mat-option value='SON'>
              Con trai
            </mat-option>
            <mat-option value='WIFE'>
              Con gái
            </mat-option>
            <mat-option value='HUSBAND'>
              Chồng
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class='row mt-3 d-flex align-items-center '>
        <div class='col-3 star font-weight-bold'>
          Liên hệ khẩn cấp :
        </div>
        <div class='col-1'>
          <input
            style='height: 20px;
           width: 20px;'
            class='form-control'
            formControlName='sos'
            id='sos'
            type='checkbox'
          >
        </div>
      </div>
      <div class='row d-flex mt-3 justify-content-center'>
        <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
        <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> Xác nhận</button>
      </div>
    </div>
  </form>
</mat-dialog-content>
