<div class="px-5 py-3 main-popup">
  <div mat-dialog-close class="close-popup">
    <span class="mr-1"> close</span>
    <div class="x-popup">
      <img src="../../../../../assets/img/share/x2-lg.svg" alt="cancel">
    </div>
  </div>
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-tab-group (selectedTabChange)="tabChanged($event)" dynamicHeight >
      <mat-tab class="col-12 " label='Thông tin đơn'>
        <div [formGroup]="formGroup" class='tab'>
          <!--Basic - Lương cơ bản-->
          <div *ngIf="data.type === type.BASIC " class="form-group">
            <div class="row mb-5 title-popup">
              <span>Thêm lương cơ bản</span>
            </div>
            <div class="contract-salary">
              <div class="row title-item mb-1">
                <span>Loại lương</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <mat-select
                  [disabled]='data.salary'
                  class="form-control col"
                  formControlName="type"
                >
                  <mat-option value="{{type.BASIC}}">Lương cơ bản</mat-option>
                  <mat-option value="{{type.BASIC_ISNURANCE}}">Lương cơ bản trước bảo hiểm</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="basic-salary">
              <div class="row title-item mb-1">
                <span>Mức lương</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input
                  class="form-control"
                  type="number"
                  placeholder="Nhập mức lương"
                  formControlName="price"
                >
              </div>
            </div>
          </div>
          <!--Allowance stayed - Phụ cáp ở lại ảnh hưởng tới lương + / - -->
          <div *ngIf="data.type === type.STAY " class="form-group" [formGroup]="formGroup">
            <div class="row mb-5 title-popup">
              <span> Sửa tiền phụ cấp</span>
            </div>
            <div class="name-allowance">
              <div class="row title-item mb-1">
                <span>Tên phụ cấp</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input class="form-control" placeholder="Nhập phụ cấp" formControlName="title">
              </div>
            </div>
            <div class=level-allowance>
              <div class="row title-item mb-1">
                <span>Mức phụ cấp</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input type="number" class="form-control" placeholder="Nhập mức phụ cấp" formControlName="price">
              </div>
            </div>
          </div>
          <!--Allowance - Phụ cáp không ảnh hưởng tới các khoảng trừ / cộng-->
          <div *ngIf="data.type === type.ALLOWANCE " class="form-group">
            <div class="row mb-5 title-popup">
              <span> Phụ cấp khác</span>
            </div>
            <div>
              <div>
                <div class="row title-item mb-1">
                  <span>Tên phụ cấp</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup">
                  <input
                    type="text"
                    class="form-control px-1"
                    placeholder="Nhập tên phụ cấp"
                    formControlName="title"
                  >
                </div>
              </div>
              <div class="row date-or-time">
                <div class="col">
                  <div class="row title-item mb-1">
                    <span> Đơn vị</span>
                    <div class="star">*</div>
                  </div>
                  <div class="row mb-3" [formGroup]="formGroup" >
                    <mat-select
                      class="form-control col"
                      formControlName="unit"
                    >
                      <mat-option value="MONTH">Tháng</mat-option>
                      <mat-option value="DAY">Ngày</mat-option>
                      <mat-option value="HOUR">Giờ</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div *ngIf="formGroup.value.unit === 'HOUR' || formGroup.value.unit === 'DAY'" class="date-or-time col ml-2">
                  <div class="row title-item mb-1">
                    <span>Ngày</span>
                    <div class="star">*</div>
                  </div>
                  <div class="row mb-3" [formGroup]="formGroup">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="datetime"
                    >
                  </div>
                </div>
                <div *ngIf="formGroup.value.unit === 'MONTH'" class="date-or-time col ml-2">
                  <div class="row title-item mb-1">
                    <span>Tháng</span>
                    <div class="star">*</div>
                  </div>
                  <div class="row mb-3" [formGroup]="formGroup">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="datetime"
                    >
                  </div>
                </div>
              </div>
              <div  *ngIf="formGroup.value.unit === 'HOUR'">
                <div class="row title-item mb-1">
                  <span>Số giờ</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup">
                  <input
                    type="number"
                    class="form-control px-1"
                    placeholder="Nhập số giờ"
                    formControlName="times"
                    min="0"
                  >
                </div>
              </div>
              <div class="unit-price">
                <div class="row title-item mb-1">
                  <span>Mức phụ cấp</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup">
                  <input type="number" class="form-control  px-1" placeholder="200,000" formControlName="price">
                </div>
              </div>
              <div class="note">
                <div class="row title-item mb-1">
                  <span>Chú thích</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup">
                  <input type="text" class="form-control  px-1" placeholder="Nhập chú thích" formControlName="note">
                </div>
              </div>

            </div>
          </div>
          <!--Overtime - Tăng ca -->
          <div *ngIf="data.type === type.OVERTIME " class="form-group" >
            <div class="row mb-5 title-popup">
              <span>Thêm lương ngoài giờ</span>
            </div>
            <div>
              <div class="row datepicker" >
                <div class="date-or-time col ">
                  <div class="row title-item mb-1">
                    <span> Loại tăng ca</span>
                    <div class="star">*</div>
                  </div>
                  <div class="row mb-3"  *ngIf='(templateOvertime$|async) as templateOvertime' >
                    <mat-select
                      class="form-control col"
                      formControlName="unit"
                    >
                      <mat-option  *ngFor='let overtime of templateOvertime' value="{{overtime.unit}}" (click)='getPrice(overtime)'>
                        {{overtime.title}}
                        <input [style.display]="'none'" value='{{overtime.title}}' formControlName='title'>
                      </mat-option>

                    </mat-select>
                  </div>
                </div>
                <div class="date-or-time col ml-2">
                  <div class="row title-item mb-1">
                    <span>Ngày</span>
                    <div class="star">*</div>
                  </div>
                  <div class="row mb-3" [formGroup]="formGroup">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="datetime"
                    >
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf=" formGroup.value.unit =='DAY'">
              <div class="row">
                <div class="col">
                  <div class="row title-item mb-1">
                    <span>Hệ số</span>
                    <div style="color: red">*</div>
                  </div>
                  <div class="row mb-3" [formGroup]="formGroup">
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Nhập hệ số"
                      formControlName="rate"
                    >
                  </div>
                </div>
              </div>
              <div class="unit-price">
                <div class="row title-item mb-1">
                  <span>Giá tăng ca</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup" >
                  <input type="number" class="form-control  px-1" placeholder="200,000" formControlName="price"
                         [(ngModel)]='price' [attr.disabled]='data.type === type.OVERTIME'
                  >
                </div>
              </div>
            </div>
            <div *ngIf="formGroup.value.unit === 'HOUR'">
              <div class="work-time">
                <div class="row">
                  <div class="col mr-2">
                    <div class="row title-item mb-1">
                      <span>Giờ làm việc</span>
                      <div class="star">*</div>
                    </div>
                    <div class="row mb-3" [formGroup]="formGroup">
                      <input
                        type="number"
                        class="form-control px-1"
                        placeholder="Nhập số giờ làm việc"
                        formControlName="times"
                        min="0"
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="unit-price">
                <div class="row title-item mb-1">
                  <span>Đơn giá (1 giờ)</span>
                  <div class="star">*</div>
                </div>
                <div class="row mb-3" [formGroup]="formGroup" >
                  <input type="number" class="form-control  px-1" placeholder="200,000" formControlName="price"
                  [(ngModel)]='price' [attr.disabled]='data.type === type.OVERTIME'
                  >
                </div>
              </div>
            </div>
            <div class="note">
              <div class="row title-item mb-1">
                <span>Chú thích</span>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input class="form-control" placeholder="Nhập chú thích " formControlName="note">
              </div>
            </div>
          </div>
          <!--Đeuction - Các khoảng trừ-->
          <div *ngIf=" data.type === type.ABSENT ">
            <div class="Deductions">
              <div class="row mb-5 title-popup">
                <span>Thêm tiền khấu trừ</span>
              </div>
              <div class="row title-item mb-2">
                <span>Khoảng khấu trừ </span>
                <span class="star">*</span>
              </div>
              <div class="row mb-3">
                <mat-select
                  class="form-control"
                  [formGroup]="formGroup"
                  formControlName="unit"
                >
                  <mat-option value="DAY">Vắng</mat-option>
                  <mat-option value="HOUR">Đi muộn</mat-option>
                </mat-select>
              </div>
            </div>
            <div>
              <div class=" row mb-2" style="align-items: center">
                <div class="col title-item">
                  <span>Ngày</span>
                  <span class="star">*</span>
                  <div class="row mb-3 mt-1" [formGroup]="formGroup">
                    <input
                      type="date"
                      placeholder="06/05/1997"
                      class="form-control"
                      formControlName="datetime"
                    >
                  </div>
                </div>
                <div class="col" [formGroup]="formGroup" *ngIf="formGroup.value.unit === 'DAY'">
                  <mat-checkbox
                    formControlName="forgot"
                    labelPosition="before"
                    class="example-margin"
                    style="font-size: 12px"
                  >
                    Quên giấy phép và bsc
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div *ngIf="formGroup.value.unit === 'HOUR' ">
              <div class="row title-item mb-1">
                <span>số giờ đi trễ (1 giờ)</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input class="form-control" type="number" formControlName="times">
              </div>
            </div>
            <div class="note">
              <div class="row title-item mb-1">
                <span>Chú thích</span>
                <div class="star">*</div>
              </div>
              <div class="row mb-3" [formGroup]="formGroup">
                <input class="form-control" placeholder="Nhập chú thích " formControlName="note">
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf='data.type === type.OVERTIME ' class="col-12 " label="Chọn nhân viên">
      <app-pick-employee (checkEvent)='pickEmployees($event)'></app-pick-employee>
      </mat-tab>
    </mat-tab-group>
    <div class="footer-popup row ml-4">
      <button mat-dialog-close class="btn btn-cancel mr-3 ">Hủy</button>
      <button type="submit" [mat-dialog-close]="onSubmit()" class="btn btn-ok ">Lưu</button>
      <button type="button" class="btn  award"  data-toggle="tooltip"
              data-placement="left"
              title="xóa">
        ?
      </button>
    </div>
  </form>
</div>


