<div [formGroup]='formGroupTable'>
  <div class='d-flex justify-content-between mb-2'>
    <nz-select
      style='width: 100px'
      formControlName='filterRoute'
      tooltip="Lọc ra những đơn hàng/đơn hàng có hàng hoá chưa được đưa lên xe nào."
    >
      <nz-option [nzValue]='false' nzLabel='Tất cả'></nz-option>
      <nz-option nzLabel='Lọc' [nzValue]='true'>
      </nz-option>
    </nz-select>
    <div class='mb-2 font-weight-bold' *ngIf='!selectOne'>
      Đã chọn: ({{ orderSelected.size }}/{{ total$ | async }})
    </div>
  </div>
</div>
<div>
  <nz-table
    nzSize='small'
    [nzShowPagination]='false'
    [nzFrontPagination]='false'
    [nzData]='orders'
    [nzLoading]='loading$ | async'
    [nzScroll]="{ y: '32vh' }"
  >
    <thead [formGroup]='formGroupTable'>
    <tr>
      <th
        nzWidth='60px'
        [nzShowCheckbox]='!selectOne'
        [(nzChecked)]='checked'
        [nzIndeterminate]='indeterminate'
        (nzCheckedChange)='onAllChecked($event)'
      ></th>
      <th *ngIf='!selectOne' nzWidth='50px'></th>
      <th *ngIf='(account$ | async)?.mode === ModeEnum.INFO' nzWidth='50px'>ID</th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.CUSTOMER)'>
        <div>Khách hàng</div>
        <input nz-input type='search' formControlName='search' />
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.CREATED_AT)'>
        <div>Ngày tạo</div>
        <nz-range-picker formControlName='startedAt'></nz-range-picker>
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.TOTAL_COMMODITIES)'>
        <div>Tiền hàng</div>
        <input type='number' nz-input disabled />
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.TOTAL_AMOUNT_COMMODITY)'>
        <div>Tổng số hàng</div>
        <input type='number' nz-input disabled />
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.PAYMENT)'>
        <div>Thanh toán</div>
        <nz-select formControlName='paidType'>
          <nz-option
            [nzValue]='PaidType.PAID'
            nzLabel='Có thanh toán'
          ></nz-option>
          <nz-option
            [nzValue]='PaidType.DEBT'
            nzLabel='Chưa thanh toán'
          ></nz-option>
          <nz-option nzValue='' nzLabel='tất cả'></nz-option>
        </nz-select>
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.AMOUNT_PAYMENT)'>
        <div>Lần thanh toán</div>
        <input disabled nz-input type='number' />
      </th>
      <th *ngIf='columns.includes(SortTypeOrderEnum.EXPLAIN)'>
        <div class=' '>Diễn giải</div>
        <input class='form-control' type='text' formControlName='explain' />
      </th>
    </tr>
    </thead>
    <tbody [formGroup]='formGroup'>
    <ng-template ngFor let-order [ngForOf]='orders'>
      <tr>
        <td *ngIf='selectOne; else selectMultiple'>
          <input
            type='radio'
            name='order'
            [checked]='formGroup.value?.order?.id === order.id'
            [value]='order'
            (change)='pickOneOrder(order)'
          />
        </td>
        <ng-template #selectMultiple>
          <td
            [nzDisabled]="isOrderSelected(order)"
            [nzChecked]='checkOrderSelect(order)'
            (nzCheckedChange)='onItemChecked(order, $event)'
          ></td>
          <td [(nzExpand)]='order.expand'></td>
        </ng-template>
        <td *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
          {{order.id}}
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.CUSTOMER)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            style='color: black'
            target='_blank'
            class='pointer no-underline'
          >{{ order?.customer?.lastName }}
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.CREATED_AT)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            style='color: black'
            target='_blank'
            class='pointer no-underline'
          >
            {{
            order?.createdAt
              ? (order?.createdAt | date: 'dd/MM/yyyy')
              : 'Đang cập nhật'
            }}
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.TOTAL_COMMODITIES)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            target='_blank'
            class='pointer no-underline'
            style='color: #f86c6b'
          >
            {{ order.priceTotal | number: '1.0-0' | notEmpty: '0' }} đ
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.TOTAL_AMOUNT_COMMODITY)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            target='_blank'
            class='pointer no-underline'
            style='color: #f86c6b'
          >
            {{ order.totalCommodity | number: '1.0-0' }}
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.PAYMENT)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            target='_blank'
            class='pointer no-underline'
            style='color: #20c997'
          >
            {{ order?.paymentTotal | number: '1.0-0' | notEmpty: '0' }} đ
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.AMOUNT_PAYMENT)'>
          <a
            routerLink='/don-hang/lich-su-thanh-toan'
            style='color: black'
            [queryParams]='{ data: order.paymentHistories | json }'
            target='_blank'
            class='pointer hover-link'
          >
            {{ order?.paymentHistories?.length }}
          </a>
        </td>
        <td *ngIf='columns.includes(SortTypeOrderEnum.EXPLAIN)'>
          <a
            [routerLink]="['/don-hang/chi-tiet-don-hang/', order.id]"
            style='color: black'
            target='_blank'
            class='pointer no-underline'
          >
            {{ order.explain }}
          </a>
        </td>
      </tr>
      <tr [nzExpand]='order.expand ? order.expand : false'>
        <nz-table
          #innerTable
          [nzData]='order.commodities'
          nzSize='small'
          [nzShowPagination]='false'
        >
    <thead>
    <tr>
      <th class='text-center' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
        ID
      </th>
      <th class='text-center'>Hàng hoá</th>
      <th class='text-center'>Số lượng</th>
      <th class='text-center'>Giá</th>
      <th class='text-center' *ngIf='!selectOne'>Chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let commodity of innerTable.data'>
      <td class='text-center' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
        {{ commodity.id }}
      </td>
      <td class='text-center'>{{ commodity.name }}</td>
      <td class='text-center'>{{ commodity.amount }}</td>
      <td class='text-center'>{{ commodity.price }}</td>
      <td
        [nzShowCheckbox]='!commodity?.route'
        [nzChecked]='commoditySelected.has(commodity)'
        (nzCheckedChange)='onItemCheckedCommodity(commodity, order, $event)'
      >
        <a
          class='pointer no-underline'
          style='color: red'
          target='_blank'
          *ngIf='commodity?.route'
          [routerLink]='[RouterConstants.ROUTE.DETAIL, commodity?.route?.id]'
        >
          {{ commodity?.route?.bsx }}
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  </tr>
  </ng-template>
  <tr *ngIf='remain$ | async'>
    <td colspan='9'>
      <div
        class='w-100 d-flex justify-content-start'
        style='position: relative'
      >
        <button
          nz-button
          nzGhost
          style='position: sticky; left: 45vw'
          nzType='primary'
          (click)='onLoadMore()'
          [nzLoading]='loading$ | async'
        >
          Tải thêm {{ remain$ | async }} đơn hàng
        </button>
      </div>
    </td>
  </tr>
  </tbody>
  </nz-table>
</div>
