<div>
  <nz-steps [nzCurrent]='indexStep'>
    <nz-step nzTitle='Onsite'></nz-step>
    <nz-step nzTitle='Chọn nhân viên'></nz-step>
  </nz-steps>
  <ng-template [ngIf]='indexStep === 0'>
    <form [formGroup]='formGroup'>
      <div>
        <div class='row mb-3'>
          <div [formGroup]='formGroup' class='col-12'>
            <span class='font-weight-bold'>Tiêu đề</span><span class='star'>*</span>
            <nz-select style="width: 100%" formControlName="type">
              <nz-option *ngFor="let item of remoteConstant" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </div>
        </div>
        <div class='mb-3'>
          <span class='font-weight-bold'>Buổi</span><span class='star'>*</span>
          <nz-select class='mt-1' style='width: 100%' formControlName='partial'>
            <nz-option
              *ngFor='let item of titleSession|partialday: datetimeUnit.DAY'
              [nzValue]='item.value'
              [nzLabel]='item.name'
            ></nz-option>
          </nz-select>
          <div *ngIf='checkValid.partial.errors ' class='invalid-feedback'>
            <div>Chưa chọn buổi khấu trừ</div>
          </div>
        </div>
        <div class='row mb-3'>
          <div [formGroup]='formGroup' class='col-12'>
            <div class="font-weight-bold">Từ ngày đến ngày <span class="star">*</span></div>
            <nz-range-picker
              nzFormat="dd-MM-yyyy"
              class="mt-1"
              formControlName="rangeDay"
              [nzDisabledDate]="disableApprenticeDate"
            ></nz-range-picker>
            <div *ngIf='checkValid.rangeDay.errors ' class='invalid-feedback'>
              <div>Chưa chọn từ ngày đến ngày</div>
            </div>
          </div>
        </div>
        <div class='row mb-3'>
          <div [formGroup]='formGroup' class='col-12'>
            <span class='font-weight-bold'>Chú thích</span>
            <input class='form-control' placeholder='Nhập chú thích ' formControlName='note'>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template [ngIf]='indexStep=== 1 && data.add'>
    <minhdu-fontend-select-payroll
      [formGroup]="formGroup"
      [createdAt]="data.add.payroll.createdAt"
    >
    </minhdu-fontend-select-payroll>
  </ng-template>
  <div>
    <button class="mr-2" nz-button nzType='default' (click)="move('previous')" *ngIf='indexStep > 0'>
      <span>Trở lại</span>
    </button>
    <button class="mr-2" nz-button nzType='default' (click)='move("next")' *ngIf='indexStep < 1'>
      <span>Tiếp theo</span>
    </button>
    <button nz-button nzType='primary'
            [nzLoading]="submitting"
            (click)='onSubmit()'>
      <span>Xác nhận</span>
    </button>
  </div>
</div>

