
<div class='px-3 pt-1 grid_on header  shadow-sm'>
  <div class=' py-2'>
    <div class='row'>
      <div class='d-flex col-md-7 col-xm-12 '>
        <div class='col-md-4   d-flex align-items-center'>
          <div class='col-md-1 col-xm-1  d-flex align-items-center justify-content-center'>
            <img class='pointer' routerLink='/quan-tri'  src='/assets/icon/admin-layout/grid-3x3-gap-fill.svg' alt='app'>
          </div>
          <span routerLink='/quan-tri'  class='pointer col-md-11 col-xm-11 app-name font-xl font-weight-bold'>Quản trị</span>
        </div>
      </div>
      <div class=' col-md-5 col-xm-12   d-flex justify-content-end'>
        <button type='button'
                data-toggle="tooltip"
                data-placement="bottom"
                title="Facebook"
                class='col-md-1 col-xm-2 mr-2 btn d-flex align-items-center justify-content-center'>
          <a href='https://www.facebook.com/GatachonlocMinhDuBinhDinh'
             target="_blank" >
            <img  height='20px btn' src='/assets/icon/admin-layout/facebook.svg' alt='facebook' ></a>
        </button>
        <button (click)='logout()' type='button' data-toggle="tooltip" data-placement="bottom" title="Đăng xuất" class='col-md-1 col-xm-2 btn d-flex align-items-center justify-content-center'>
          <img height='20px' src='./assets/icon/admin-layout/box-arrow-right.svg' alt='setting'>
        </button>
      </div>
    </div>
  </div>
  <div class='flex justify-content-start my-1'>
    <button class=' button   btn-header font-lg overflow-hidden d-flex align-items-center '
            (click)='changeTab($event.target)'
            routerLink='/quan-tri' mat-menu-item>Tổng quan bán hàng</button>
    <button class=' button   btn-header font-lg overflow-hidden d-flex align-items-center '
            (click)='changeTab($event.target)'
            routerLink='/quan-tri/kho' mat-menu-item>Tổng quan kho</button>
  </div>
</div>
<div class=' px-5'  style='margin-top: 124px' >
  <router-outlet >
  </router-outlet>
</div>
<app-footer class='footer' >
  <span><a href='https://uranus-solutions.com/' target='_blank'>Uranus Solutions</a> &copy; 2021.</span>
  <span class='ml-auto'>Powered by <a href='https://uranus-solutions.com/' target='_blank'>Công ty TNHH giải pháp phần
            mềm Uranus</a></span>
</app-footer>

