<nz-spin *ngIf='added$|async' class="loading"></nz-spin>
<div class='main-content'>
  <div class='row h3 ml-3'>Hồ sơ nhân viên</div>
  <div class='d-flex align-items-center justify-content-between '>
    <div class='d-flex'>
      <div class="ml-3" [formGroup]="formGroup">
        <div class="font-weight-bold">
          Tình trạng nhân viên
        </div>
        <nz-select style='width:200px' formControlName="status">
          <nz-option *ngFor='let item of empStatusContain' [nzValue]='item.value' [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
      <div class="ml-2" [formGroup]="formGroup">
        <div class="font-weight-bold">
          Chi nhánh
        </div>
        <nz-select
          nzShowSearch
          nzAllowClear
          style="width: 230px"
          formControlName='branch'
          nzPlaceHolder='Chọn đơn vị'
          [compareWith]='compareFN'
        >
          <nz-option
            *ngFor='let branch of branches$ | async'
            [nzLabel]='branch.name'
            [nzValue]='branch'
          >
          </nz-option>
        </nz-select>
      </div>
      <div class="ml-3">
        <div class="font-weight-bold">Phòng ban</div>
        <div class="d-flex">
          <div style='width: fit-content'>
            <nz-select class='px-2' style='width:200px' [formControl]='categoryControl'>
              <nz-option [nzValue]='""' nzLabel="Tất cả"></nz-option>
              <nz-option *ngFor='let item of categories$ | async' [nzValue]='item.id' [nzLabel]="item.name"></nz-option>
              <nz-option [nzValue]='0' (click)='addCategory()' nzLabel="Tạo mới"></nz-option>
            </nz-select>
          </div>
          <button *ngIf='categoryControl.value && categoryControl.value !==0 && this.role !== roleEnum.HUMAN_RESOURCE '
                  class='btn btn-primary ml-2'
                  (click)='updateCategory()'>Sửa
          </button>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf='formGroup.value.status === 0'
              (click)='add()' class='mr-2 btn btn-primary'>Thêm
      </button>
      <button class='btn btn-primary mr-4' (click)='printEmployee()'>Xuất</button>
    </div>
  </div>
  <div class='mx-auto' style='width: 98%'>
    <div class='my-5'>
      <nz-table
        #tableEmployee
        [nzPageSize]="pageSize"
        [formGroup]='formGroup'
        [nzScroll]="{x:'3200px',y:'60vh'}"
        [nzData]="(employees$|async) || []"
      >
        <thead>
        <tr>
          <th>
            <div>STT</div>
            <input nz-input type='text' disabled>
          </th>
          <!--            <th style='background:white'>-->
          <!--              <div mat-sort-header='{{sortEnum.STT}}' class='border-top text-center'>Sort</div>-->
          <!--              <input class=' text-center' type='text' disabled>-->
          <!--            </th>-->
          <th>
            <div>Mã nhân viên</div>
            <input nz-input type='search'>
          </th>
          <th>
            <div>Tên nhân viên</div>
            <input nz-input type='search' formControlName='name' placeholder='Trần Gia Hiệu'>
          </th>
          <th>
            <div>Loại nhân viên</div>
            <nz-select style='width: 100%;' formControlName='employeeType'>
              <nz-option
                *ngFor="let item of employeeTypeConstant"
                [nzValue]='item.value'
                [nzLabel]="item.name">
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='5%'>
            <div>Ngày sinh</div>
            <input class='text-center' disabled>
          </th>
          <th>
            <div>Giới tính</div>
            <nz-select style='min-width:100px' formControlName='gender'>
              <nz-option *ngFor="let item of genderTypeConstant" [nzValue]="item.value"
                         [nzLabel]="item.name"></nz-option>
              <nz-option [nzValue]="genderType.ALL" nzLabel="Tất cả"></nz-option>
            </nz-select>
          </th>
          <th nzWidth='5%'>
            <div>Ngày vào làm</div>
            <input nz-input disabled>
          </th>
          <th nzWidth='5%'>
            <div>Loại lương</div>
            <nz-select style='min-width: 170px' formControlName='flatSalary'>
              <nz-option *ngFor="let item of flatSalaryTypeConstant" [nzValue]="item.value" [nzLabel]="item.name">Lương
                cố định
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='5%'>
            <div>Số điện thoại</div>
            <input nz-input type='search' formControlName='phone'>
          </th>
          <th>
            <div>Đơn vị</div>
            <input nz-input type='search' disabled>
          </th>
          <th>
            <div>Chức vụ</div>
            <nz-select
              nzShowSearch
              nzAllowClear
              style='width:100%'
              formControlName='position'
              nzPlaceHolder='Chọn chức vụ'
              [compareWith]='compareFN'
            >
              <nz-option
                *ngFor='let position of positions$|async'
                [nzLabel]='position.name'
                [nzValue]='position'
              >
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='5%'>
            <div>CMND / CCCD</div>
            <input type='search' nz-input formControlName='identity'>
          </th>
          <th>
            <div>Tỉnh / Thành phố</div>
            <nz-select
              nzShowSearch
              nzAllowClear
              style='width:100%'
              formControlName='province'
              nzPlaceHolder='Chọn tỉnh thành'
            >
              <nz-option
                *ngFor='let province of provinces$|async'
                [nzLabel]='province.name'
                [nzValue]='province'
              >
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='5%'>
            <div>Quận / Huyện</div>
            <nz-select
              nzShowSearch
              nzAllowClear
              style='width:100%'
              formControlName='district'
              nzPlaceHolder='Chọn Quận/Huyện'
            >
              <nz-option
                *ngFor='let district of districts'
                [nzLabel]='district.name'
                [nzValue]='district'
              >
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='7%'>
            <div>Phường / Xã</div>
            <nz-select
              nzShowSearch
              nzAllowClear
              style='width:100%'
              formControlName='ward'
              nzPlaceHolder='Chọn Quận/Huyện'
            >
              <nz-option
                *ngFor='let ward of wards'
                [nzLabel]='ward.name'
                [nzValue]='ward'
              >
              </nz-option>
            </nz-select>
          </th>
          <th nzWidth='12%'>
            <div>Địa chỉ</div>
            <input nz-input type='search' formControlName='address'>
          </th>
          <th>
            <div>Chú thích</div>
            <input nz-input disabled type='search'>
          </th>
        </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)='onDrop($event)'>
        <ng-template ngFor let-employee [ngForOf]="tableEmployee.data" let-i='index'>
          <tr
            class="pointer"
            (contextmenu)='child.onContextMenu($event,employee)'
            (click)='readAndUpdate(employee)'
            cdkDrag>
            <td>
              <div>{{(i + 1) + ((tableEmployee.nzPageIndex - 1) * pageSize)}}</div>
            </td>
            <td>
              <div>{{employee?.id}}</div>
            </td>
            <td>
              <div>{{employee?.lastName}}</div>
            </td>
            <td>
              <div>{{employee.type|employeetype}}</div>
            </td>
            <td>
              <div>{{employee?.birthday | date:'dd/MM/yyyy'}}</div>
            </td>
            <td>
              <div>
                {{employee.gender|gendertype}}
              </div>
            </td>
            <td>
              <div>
                {{employee?.createdAt ? (employee?.createdAt|date: 'dd/MM/yyyy') : 'Chưa cập nhật'}}
              </div>
            </td>
            <td>
              <div>
                {{employee?.isFlatSalary ? 'Lương cố định' : 'Lương không cố định'}}
              </div>
            </td>
            <td>
              <div>
                {{employee?.phone ? employee.phone : 'Chưa cập nhật'}}
              </div>
            </td>
            <td>
              <div>
                {{employee?.branch?.name}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.position?.name}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.identify ? employee.identify : 'Chưa cập nhật'}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.ward?.district?.province?.name}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.ward?.district?.name}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.ward?.name}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.address}}
              </div>
            </td>
            <td class='pointer'>
              <div>
                {{employee?.note}}
              </div>
            </td>
          </tr>
          <tr *ngIf='employees.length === 0' style='height: 50vh'>
            <td colspan='100' class='text-center check-content font-weight-bold font-xl relative '>
              <span style='position: absolute; top: 50%;left: 50%;'>Hiện không có nhân viên nào !</span>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<app-mouse-right
  #child
  [items]='formGroup.value.status === 1 ? [ItemContextMenu.RESTORE] : []'
  (onAdd)='add($event)'
  (onDel)='delete($event)'
  (onRestore)='onRestore($event)'
  (onUpdate)='readAndUpdate($event,true)'>
</app-mouse-right>

