<div *ngIf='(branch$|async) as branch'>
  <div class='w-100 d-flex justify-content-center my-2 '>
    <div class='w-100 px-5'>
      <div class='w-100'>
        <div class='rounded px-3  py-2 shadow-lg p-2' style="width:fit-content">
          <div class=' h5 '>Đơn vị {{branch.name}}</div>
          <div class='mt-2'><span class='font-sm font-weight-bold'>Mã đơn vị</span>: {{branch.id}}</div>
          <div class='mt-2'><span
            class='font-sm font-weight-bold'>Tổng số nhân viên</span>: {{branch?._count?.employees}}</div>
          <div class='mt-2'>
            <button class="mr-2" nz-button nzType="primary" (click)='onListPosition(branch.id)'>Danh sách chức vụ</button>
            <button class="mr-2" nz-button nzType="primary"  (click)='updateBranch(branch)'>Sửa đơn vị</button>
            <button class="mr-2" nz-button nzDanger (click)='onDelete(branch)'>Xóa đơn vị</button>
          </div>
        </div>
      </div>
      <div class='d-flex my-2 justify-content-between'>
        <div class='font-weight-bold font-lg d-flex align-items-center'>
          <span>
           Bảng dach sách phụ cấp
        </span>
        </div>
       <button nz-button nzType="primary" (click)="onAddAllowance(branch)">Thêm mục</button>
      </div>
      <nz-table
        nzShowPagination="false"
        [nzScroll]="{x:'', y:'50vh'}"
        class="shadow-lg"
        nzSize="small"
        [nzData]="branch.allowances|| []"
      >
        <thead>
        <tr>
          <th nzWidth="60px">STT</th>
          <th>Mã phụ cấp</th>
          <th>Ngày</th>
          <th>Tên phụ cấp</th>
          <th>Mức phụ cấp</th>
          <th style='width: 100px'>Xoá</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let allowance of branch.allowances let i = index'
            (click)='onUpdateAllowance(allowance)'
            class='pointer'
        >
          <td>
            {{i + 1}}
          </td>
          <td>
            {{allowance.id}}
          </td>
          <td>
            {{allowance?.datetime|date:'MM/yyyy'}}
          </td>
          <td>
            {{allowance.title}}
          </td>
          <td>
            {{allowance?.price|number:'1.0-0'}} đ
          </td>
          <td class='pointer'>
            <button nz-button nzDanger
                    (click)='deleteAllowance(allowance); $event.stopPropagation()'>
              Xóa
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
