<div class='px-2'>
  <nz-steps [nzCurrent]="indexStep">
    <nz-step *ngIf="data?.update?.multiple" nzTitle="Nhân viên đã chọn"></nz-step>
    <nz-step nzTitle="Bảng khấu trừ"></nz-step>
  </nz-steps>
  <ng-template [ngIf]="indexStep === 0">
    <form [formGroup]='formGroup' class="px-2 pt-2" style="max-height: 40vh; overflow-y: scroll">
      <div class='mb-3'>
        <span class='font-weight-bold'>Tiêu đề</span><span class='star'>*</span>
        <input class="mt-1" nz-input formControlName="title">
        <div *ngIf='checkValid.title.errors?.required' class='invalid-feedback'>
          <div>Chưa nhập tiêu đề</div>
        </div>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Đơn giá</span><span class='star'>*</span>
        <input
          nz-input
          class="mt-1"
          type="text"
          currencyMask
          [options]="{ suffix: ' đ' }"
          formControlName="price">
        <div *ngIf='checkValid.price.errors?.required' class='invalid-feedback'>
          <div>Chưa nhập đơn giá</div>
        </div>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Chú thích</span>
        <input nz-input placeholder='Nhập chú thích ' formControlName='note'>
      </div>
    </form>
  </ng-template>
  <ng-template [ngIf]="indexStep === 1 && data.add">
    <minhdu-fontend-select-payroll
      [formGroup]="formGroup"
      [createdAt]="data.add.payroll.createdAt"
    >
    </minhdu-fontend-select-payroll>
  </ng-template>
  <ng-template [ngIf]="indexStep === 1 && data.update?.multiple">
    <!--    <app-table-salaries-selected-->
    <!--      [salaries]='salaryPayrolls'-->
    <!--      (EmitSalariesSelected)='changeSalariesSelected($event)'>-->
    <!--    </app-table-salaries-selected>-->
  </ng-template>

  <div class="steps-action">
    <button class="ml-2" nz-button nzType="default" (click)="move('previous')" *ngIf="indexStep > 0">
      <span>Trở lại</span>
    </button>
    <button class="ml-2" nz-button nzType="default" (click)="move('next')" *ngIf="indexStep < 1">
      <span>Tiếp theo</span>
    </button>
    <button class="ml-2" nz-button nzType="primary" [nzLoading]="submitting" (click)="onSubmit()">
      <span>Xác nhận</span>
    </button>
  </div>
</div>

