
<div class='container'>
  <div class=' animated fadeIn'>
    <form [formGroup]='formGroup' class='header-profile mt-3 '>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tên nhân viên</div>
        <input class='form-control input-profile '
               type='text'
               placeholder='Trần Gia Hiệu'
               formControlName='name'
        >
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Chức vụ</div>
        <input class='form-control' type="text" matInput [matAutocomplete]="position" formControlName='position'>
        <mat-autocomplete #position="matAutocomplete">
          <mat-option *ngFor="let position of positions$ | async"
                      [value]="position.name" (click)='onSelectPosition(position.name)'
                      (onSelectionChange)='onSelectPosition(position.name)' >
            {{position.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Đơn vị</div>
        <input class='form-control' type="text" matInput [matAutocomplete]="branch" formControlName='branch'>
        <mat-autocomplete #branch="matAutocomplete" >
          <mat-option *ngFor="let branch of branches$ | async" [value]='branch.name'
                      (click)='onSelectBranch(branch.name)' (onSelectionChange)='onSelectBranch(branch.name)'
          >
            {{branch.name}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class='border-start title-header default  '>
        <div class='title-profile'>Tất cả</div>
        <mat-checkbox  class='example-margin mt-2 mx-auto'
                      [checked]='isSelectAll'
                      [indeterminate]="someComplete()"
                      (change)='setAll($event.checked)'>
        </mat-checkbox>
      </div>
    </form>
    <div class='outer '
         style='height: 50vh; max-height: 35vh'
         infiniteScroll
         [alwaysCallback]='true'
         [infiniteScrollDistance]='1'
         [scrollWindow]='false'
    >
      <div class='row-content' *ngFor='let employee of employees'>
        <div class='content-profile name  pointer'>{{employee.firstName}} {{employee.lastName}}</div>
        <div class='content-profile default  pointer'>{{employee.position?.name}}</div>
        <div class='content-profile name  pointer'>{{employee.branch?.name}}</div>
        <div class='content-profile default  pointer'>
          <mat-checkbox
                 (change)='updateSelect(employee.id)'
                 [checked]='employeeIds.includes(employee.id)'>
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>


