<nz-steps [nzCurrent]="stepIndex">
  <nz-step nzTitle="Danh mục"></nz-step>
  <nz-step nzTitle="Chọn nhân viên"></nz-step>
</nz-steps>
<ng-template [ngIf]="stepIndex === 0">
  <form [formGroup]='formGroup'>
    <div class='col-12 mt-3'>
      <label class="font-weight-bold">Tên danh mục</label><span class='star'>*</span>
      <input type='text' nz-input formControlName='name'>
      <div *ngIf='checkValid.name.errors' class='invalid-feedback'>
        <div>Chưa nhập Tên danh mục</div>
      </div>
    </div>
    <div class='col-12 mt-2 d-flex flex-column'>
      <div>
        <span class='ml-1 font-weight-bold'>Đơn vị</span><span class='star'>*</span>
      </div>
      <div>
        <nz-select style="width: 100%" formControlName="branch">
          <nz-option *ngFor="let item of branches$|async" [nzValue]="item" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
    </div>
    <div class='col-12 mt-2'>
      <label>Chú thích</label>
      <input type='text' nz-input formControlName='note'>
    </div>
  </form>
</ng-template>
<ng-template [ngIf]="stepIndex === 1">
  <minhdu-fontend-pick-employee [formGroup]="formGroup"></minhdu-fontend-pick-employee>
</ng-template>
<div class="mt-2 ml-2" >
  <button nz-button nzType="default" (click)="move('pre')" *ngIf="stepIndex > 0">
    <span>Trở lại</span>
  </button>
  <button class="ml-2" nz-button nzType="default" (click)="move('next')" *ngIf="stepIndex < 1">
    <span>Tiếp theo</span>
  </button>
  <button class="ml-2" nz-button nzType="primary" [nzLoading]="submitting" (click)="onSubmit()" *ngIf="stepIndex === 1">
    <span>Xác nhận</span>
  </button>
</div>
