<div class='row h3 ml-3'>Hồ sơ nhân viên</div>
<div class='main-profile'>
  <button (click)='add()' class='btn btn-primary'>Thêm Khách hàng</button>
  <div class='header-profile mt-3 animated fadeIn'>
    <div class='border-start title-header name'>
      <div class='title-profile'>Tên khách hàng</div>
      <input class='form-control input-profile ' type='search' placeholder='Trần Gia Hiệu'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày sinh</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header gender'>
      <div class='title-profile'>Giới tính</div>
      <select class='select' matNativeControl required>
        <option value='MALE'>Nam</option>
        <option value='FEMALE'>Nữ</option>
        <option value='OTHER'>Khác</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Ngày vào làm</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Loại lương</div>
      <select class='select' matNativeControl required>
        <option value='MALE'>Lương cố định</option>
        <option value='FEMALE'>Lương không cố định</option>
      </select>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Số điện thoại</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Đơn vị</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Bộ phận</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>Chức vụ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header default'>
      <div class='title-profile'>CMND / CCCD</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header address'>
      <div class='title-profile'>Địa chỉ</div>
      <input class='form-control input-profile ' type='search'>
    </div>
    <div class='border-start title-header note'>
      <div class='title-profile'>Chú thích</div>
      <input class='form-control input-profile ' type='search'>
    </div>
  </div>
</div>


