<div class="d-flex align-items-stretch">
  <div class='d-flex flex-column border p-2' style='height: 75vh; width:260px; overflow-y: scroll'>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader='Tìm kiếm'
        nzActive='true'>
        <div [formGroup]='formGroup'>
          <input nz-input class='form-control' type='search' formControlName='search'>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div class='mt-2'>
      <minhdu-fontend-collapse-radios
        [active]="true"
        [formGroup]='formGroup' [controlName]="'status'" header='Trạng thái'
        [radios]='radios'>
      </minhdu-fontend-collapse-radios>
    </div>
  </div>
  <div style="flex-grow: 1">
    <nz-table class="ml-2"
              #columnTable
              [nzData]='[]'>
      <thead>
      <tr>
        <th>Mã hàng</th>
        <th>Tên Hàng hoá</th>
        <th>tồn kho</th>
        <th>Số lượng</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let data of columnTable.data'>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="d-flex flex-column ml-2">
    <div class='d-flex flex-column border p-2 mb-2' style='width:260px'>
      <div class="font-weight-bold font-lg">Thông tin phiếu chuyển</div>
      <div>
        <div>Chi nhánh chuyển đến</div>
        <div class="my-1">
          <nz-select
            style="width: 235px"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder='Chọn đơn vị'
            [compareWith]='compareFN'
            [formControl]='formCtrlBranch'
          >
            <nz-option
              *ngFor='let branch of branches$ | async'
              [nzLabel]='branch.name'
              [nzValue]='branch'
            >
            </nz-option>
          </nz-select>
        </div>
        <div>
          <div>Tham chiếu</div>
          <input nz-input>
        </div>
      </div>

    </div>
    <div class='d-flex flex-column border p-2' style='width:260px'>
      <div class="mb-2">
        <div>Ghi chú</div>
        <textarea nz-input></textarea>
      </div>
      <div>
        <div>Tag</div>
        <textarea nz-input></textarea>
      </div>
    </div>
  </div>

</div>
