@import '~@coreui/coreui-pro/scss/coreui';

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */

.ng-star-inserted::-webkit-scrollbar {
  background-color: #fff;
  width: 16px
}

/* background of the scrollbar except button or resizer */
.ng-star-inserted::-webkit-scrollbar-track {
  background-color: #fff
}

.ng-star-inserted::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

/* scrollbar itself */
.ng-star-inserted::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  border: 5px solid #fff;
}

.ng-star-inserted:hover::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
}

.ng-star-inserted::-webkit-scrollbar-thumb:hover {
  background-color: #a5a0a0;
  border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.ng-star-inserted::-webkit-scrollbar-button {
  display: none
}

/* div box */
body {
  background-color: #babac0
}

.scrollbar {
  height: 75vh;
  width: 25vw;
  min-width: 150px;
  background: #fff;
  overflow-y: scroll
}

@media (min-width: 720px) {
  .container {
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1250px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1350px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1880px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2400px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

body {
  background: rgba(255, 255, 255, 0.71) !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.example::-webkit-scrollbar {
  display: none;
}

.context-menu {
  width: 150px !important;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';
.star {
  color: red;
  font-size: 15px;
}

.background-snackbar {
  background: #4dbd74d1;
}

.background-snackbar-validate {
  background: #f86c6ba6;
}

app-dashboard {
  height: fit-content !important;
  min-height: auto !important;
}

.chart-legend {
  position: absolute;
  bottom: 0px;
  left: 10px;
  max-width: 520px;
  overflow: hidden;
}

.main {
  background: white;
  font-family: Roboto, serif;
}

.no-underline {
  text-decoration: none !important;
}

.ngx-charts-outer {
  margin: auto;
}

.btn-border {
  border: solid 2px #5bc0de;
  color: #428bca;
}

.main-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.title-table {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #1f2229;
}

.required {
  color: red;
}

.required-input {
  border: solid 1px red;
}

.title-detail {
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #1f2229;
  padding-right: 8px;
}

.label-input {
  font-size: 16px;
  line-height: 19px;
  color: #3c3b54;
}

.star {
  margin-left: 5px;
  color: red;
}

.title-popup {
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.2px;
}

.btn-cancel {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #ebebeb;
  border-radius: 4px;
}

.content-table {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3c3b54;
  vertical-align: inherit !important;
}

.content-popup {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #80828b;
}

.btn-ok {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #3c3b54;
  border-radius: 4px;
}

.main-popup {
  position: relative;
}

.main-popup .close-popup {
  font-size: 16px;
  color: #7749f8;
  display: flex;
  align-items: center;
  position: absolute;
  right: -10px;
  top: -10px;
}

.main-popup .close-popup .x-popup > img {
  width: 7px;
}

.x-popup {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 14px;
  height: 14px;
  border: solid 1px #7749f8;
  border-radius: 50%;
  background: #7749f8;
}

.color-delete {
  color: #eb5757 !important;
}

.background-delete {
  background: #eb5757 !important;
}

.success {
  background: #b5eebb;
}

.fail {
  background: #eeb5b5;
}

.attention {
  background: #edeeb5;
}

.btn-print {
  border: solid 1px #95aaf8;
  background: #95aaf8;
  border-radius: 32px;
}

.title-input {
  font-size: 16px;
  line-height: 19px;
  color: #3c3b54;
}

.share-table {
  border: solid 1px #c8ced3;
}

.title-child {
  font-size: 16px;
  color: #3c3b54;
  line-height: 19px;
}

.context-menu {
  cursor: context-menu;
}

.pointer {
  cursor: pointer;
}

.btn-edit {
  border: solid 1px #80828b;
  border-radius: 20%;
}

input[type='checkbox'] {
  width: 14px !important;
  height: 14px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: white;
}

input[type='checkbox']:checked:after {
  content: '✔';
  color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.main-profile {
  width: max-content;
  padding: 1rem;
}

.tab {
  position: relative;
  margin-top: 10px;
  left: 5%;
  width: 80%;
}

.edit {
  cursor: pointer;
  display: flex;
  margin-right: 10px;
  background: #4b3880;
  padding: 4px;
  border: solid 1px #4b3880;
  border-radius: 4px;
}

.add {
  display: flex;
  cursor: pointer;
  font-size: 12px;
  line-height: 28px;
  color: #7749f8;
}

.loading {
  position: fixed !important;
  left: 50%;
  top: 50%;
  z-index: 2000;
}

input[type='search'] {
  -webkit-appearance: searchfield;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

table td,
table th {
  text-align: center !important;
}

table thead tr th {
  background: #dddddd !important;
  font-weight: 700 !important;
}

.ant-table .ant-table-small {
  float: right;
  width: 60%;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.invalid-feedback {
  display: block !important;
}

@import 'scss/custom-scroll-table';
@import '~ng-zorro-antd/ng-zorro-antd.min.css';
