@import "~@coreui/coreui-pro/scss/coreui";

body {
  margin: 0 !important;
  background: white !important;
  overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

$spinkit-spinner-color: $body-color;
@import '~spinkit/scss/spinkit.scss';
.star {
  color: red;
  font-size: 15px;
}

//override-lib-chart
.chart-legend {
  position: absolute;
  bottom: 0;
  left: 10px;
  max-width: 520px;
  overflow: hidden;
}

.ngx-charts-outer {
  margin: auto;
}

.main {
  background: white;
  font-family: Roboto, serif;
}

.no-underline {
  text-decoration: none !important
}

.main-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.title-table {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #1f2229;
}

.content-table {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #3C3B54;
  vertical-align: inherit !important;
}

.title-detail {
  font-size: 13px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #1f2229;
  padding-right: 8px;
}

.label-input {
  font-size: 16px;
  line-height: 19px;
  color: #3C3B54;
}

.star {
  margin-left: 5px;
  color: red;
}


.title-popup {
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.2px;
}


.title-input {
  font-size: 16px;
  line-height: 19px;
  color: #3C3B54;
}

.title-child {
  font-size: 16px;
  color: #3C3B54;
  line-height: 19px;
}

.context-menu {
  cursor: context-menu;
}


input[type='checkbox'] {
  width: 14px !important;
  height: 14px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: white;
}

input[type='checkbox']:checked:after {
  content: '✔';
  color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pointer {
  cursor: pointer;
}

.main-profile {
  width: max-content;
  padding: 1rem;
}

@import "scss/custom-scroll-table";
@import "scss/custom-color";
@import "scss/custom-btn";
@import "scss/custom-popup";
