<div class="d-flex mt-3 ml-2">
  <div class='d-flex flex-column ml-3 border p-2' style='height: 80vh; width:250px; overflow-y: scroll'>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader='Tìm kiếm'
        nzActive='true'>
        <div [formGroup]='formGroup'>
          <input nz-input class='form-control' type='search' formControlName='search'>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div class="mt-2">
      <nz-collapse>
        <nz-collapse-panel
          nzHeader='Ngành hàng'
          nzActive='true'>
          <div [formGroup]='formGroup'>
            <nz-select
              class='ml-2'
              nzShowSearch
              nzAllowClear
              style='width:100%'
              nzPlaceHolder='Chọn ngành hàng'
              [compareWith]='compareFN'
              formControlName="category"
            >
              <nz-option
                *ngFor='let category of categories$ | async'
                [nzLabel]='category.name'
                [nzValue]='category'
              >
              </nz-option>
            </nz-select>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div class="mt-2">
      <nz-collapse>
        <nz-collapse-panel
          nzHeader='Nhà cung cấp'
          nzActive='true'>
          <div [formGroup]='formGroup'>
            <nz-select
              class='ml-2'
              nzShowSearch
              nzAllowClear
              style='width:100%'
              nzPlaceHolder='Chọn nhà cung cấp'
              [compareWith]='compareFN'
              formControlName="supplier"
            >
              <nz-option
                *ngFor='let supplier of supplier$ | async'
                [nzLabel]='supplier.name'
                [nzValue]='supplier'
              >
              </nz-option>
            </nz-select>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div class="d-flex flex-column ml-2" style="width: 80vw">
    <div class="ml-2 d-flex justify-content-between">
      <div class="font-2xl font-weight-bold">Sản phẩm</div>
      <div>
        <div>
          <button nz-button nzType="primary" class="ml-2" (click)="onAdd()">Thêm</button>
          <button class='ml-2' nz-button nz-popover nzPopoverTitle='Ghim'
                  [(nzPopoverVisible)]='visible'
                  nzPopoverPlacement='bottomRight'
                  [nzPopoverContent]='pinned'
                  nzPopoverTrigger='click'>Ghim
          </button>
        </div>
      </div>
    </div>
    <div>
      <minhdu-fontend-table-product
        [products]="(products$|async)|| []"
        [pageSize]="pageSizeTable"
        [loading]="(loading$|async)||false"
        (pageIndexChange)="onPagination($event)"
      ></minhdu-fontend-table-product>
    </div>

  </div>
</div>
<ng-template #pinned>
  <minhdu-fontend-pinned-product></minhdu-fontend-pinned-product>
</ng-template>

