<div class='container'>
  <div class='col-12 animated fadeIn'>
    <form [formGroup]='formGroup' class='header-profile mt-3 '>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Mã hàng hóa</div>
        <input class='form-control input-profile'
               type='text'
               placeholder='PN10001'
               formControlName='code'
        >
      </div>
      <div class='border-start title-header col-3'>
        <div class='title-profile'>Tên Hàng hàng</div>
        <input class='form-control input-profile'
               type='text'
               placeholder='PN10001'
               formControlName='name'
        >
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Đơn vị</div>
        <select class='select' matNativeControl required formControlName='unit'>
          <option value='{{commodityUnit.KG}}'>Kilogam</option>
          <option value='{{commodityUnit.CON}}'>Con</option>
        </select>
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Giá</div>
        <input class='form-control input-profile'
               type='number'
               placeholder='PN10001'
               formControlName='price'
        >
      </div>
      <div class='border-start title-header col-2'>
        <div class='title-profile'>Số lượng</div>
        <input class='form-control input-profile'
               type='number'
               formControlName='amount'
        >
      </div>
      <div class='border-start title-header col-1  '>
        <div class='title-profile'>All</div>
        <mat-checkbox class='example-margin mt-2 ' style='margin-left: 40%'
                      [checked]='isSelectAll'
                      [indeterminate]="someComplete()"
                      (change)='setAll($event.checked)'>
        </mat-checkbox>
      </div>
    </form>
    <div class='outer '
         style='width: 101%; height: 50vh'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='100'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
    >
      <div class='row-content' *ngFor='let commodity of commodities'>
        <div class='content-profile col-2  pointer'>{{commodity.code}} </div>
        <div class='content-profile col-3  pointer'>{{commodity.name}} </div>
        <div class='content-profile  col-2 ' *ngIf='commodity?.unit === commodityUnit.KG'> Kilogam</div>
        <div class='content-profile  col-2 ' *ngIf='commodity?.unit === commodityUnit.CON'> Con</div>
        <div class='content-profile col-2  pointer'>{{commodity.price}} </div>
        <div class='content-profile col-2  pointer'>{{commodity.amount}} </div>
        <div class='content-profile col-1  pointer'>
          <mat-checkbox class='checkID'
                        [checked]='commodity.isSelect ? commodity.isSelect: false'
                        [(ngModel)]='commodity.isSelect'
                        (ngModelChange)='updateAllSelect(commodity.id)'>
          </mat-checkbox>
        </div>
      </div>
    </div>
    <button *ngIf='data.type === "DIALOG"' (click)='close()' class='bt-3 btn btn-primary'>xác nhận</button>
  </div>
</div>


