<div class='px-2  main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <mat-stepper linear>
    <mat-step *ngIf='data.updateMultiple'>
      <ng-template matStepLabel>Nhân viên đã chọn ({{salariesSelected.length}})</ng-template>
      <app-table-salaries-selected
        [salaries]='salariesSelected'
        (EmitSalariesSelected)='changeSalariesSelected($event)'>
      </app-table-salaries-selected>
      <button class='btn btn-primary' matStepperNext>Tiếp theo</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>khấu trừ</ng-template>
      <mat-dialog-content style='max-height: 40vh'>
        <form [formGroup]='formGroup' (submit)='onSubmit()'>
          <div>
            <div class='row mb-2 d-flex flex-column '>
              <div class='title-item col-12 mt-2 '>
                <span>Khoảng khấu trừ </span>
                <span class='star'>*</span>
              </div>
              <div class=' my-2 col-12 '>
                <nz-select style="width: 100%" formControlName="title">
                  <nz-option *ngFor='let item of templateSalary$|async'
                             [nzValue]="item">{{item.title}}</nz-option>
                </nz-select>
              </div>
            </div>
            <div class='row mb-3 '>
              <span class=' title-item mb-1'>Buổi</span>
              <nz-select style="width: 100%" formControlName='partialDay'>
                <nz-option *ngFor='let item of titleSession' [nzValue]='item.type'>{{item.title}}</nz-option>
              </nz-select>
            </div>
            <div class='mb-3 d-flex'>
              <nz-range-picker formControlName="rangeday"></nz-range-picker>

              <div class='row mb-3'>
                <div [formGroup]='formGroup' class='col-12'>
                  <span class='title-item'>Chú thích</span>
                  <input class='form-control' placeholder='Nhập chú thích ' formControlName='note'>
                </div>
              </div>
            </div>
            <div class=' row '>
              <button *ngIf='data.updateMultiple' class='btn btn-primary mr-2' matStepperPrevious>Trở lại</button>
              <button class='btn btn-ok '>Lưu</button>
              <button type='button' class='btn  award' data-toggle='tooltip' data-placement='left' title='xóa'>
                ?
              </button>
            </div>
          </div>
        </form>
      </mat-dialog-content>
    </mat-step>
  </mat-stepper>
</div>
<style>
  ::ng-deep .mat-step-header[aria-selected="true"] {
    height: 30px !important;
  }
</style>
