<div class='px-2'>
  <nz-steps [nzCurrent]="indexStep">
    <nz-step *ngIf="data?.salary" nzTitle="Nhân viên đã chọn"></nz-step>
    <nz-step nzTitle="Bảng khấu trừ"></nz-step>
  </nz-steps>

  <ng-template [ngIf]="indexStep === 0 && data?.salary">
    <app-table-salaries-selected
      [salaries]='salariesSelected'
      (EmitSalariesSelected)='changeSalariesSelected($event)'>
    </app-table-salaries-selected>
  </ng-template>
  <ng-template [ngIf]="indexStep === 1">
    <form [formGroup]='formGroup' class="px-2 pt-2">
      <div class='mb-2'>
        <span class="font-weight-bold">Khoảng khấu trừ </span><span class='star'>*</span>
        <nz-select class="mt-1" style="width: 100%" formControlName="template"
                   [compareWith]="compareFN"
        >
          <nz-option *ngFor='let item of templateSalary$|async'
                     [nzValue]="item" [nzLabel]="item.title"></nz-option>
        </nz-select>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Buổi</span><span class='star'>*</span>
        <nz-select class="mt-1" style="width: 100%" formControlName='partialDay'>
          <nz-option *ngFor='let item of titleSession' [nzValue]='item' [nzLabel]="item.name"></nz-option>
        </nz-select>
      </div>
      <div class='mb-3 row'>
        <div class="col">
          <span class="font-weight-bold">Từ ngày đến ngày</span>
          <nz-range-picker formControlName="rangeDay"></nz-range-picker>
        </div>
        <div class="col d-flex">
          <div class="col">
            <span class="font-weight-bold">Từ giờ</span>
            <nz-time-picker
              [nzDisabled]="formGroup.value.partialDay?.value !== partialDayEnum.OTHER"
              formControlName="startTime"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </div>
          <div class="col">
            <span class="font-weight-bold">Đến giờ</span>
            <nz-time-picker
              [nzDisabled]="formGroup.value.partialDay?.value !== partialDayEnum.OTHER"
              formControlName="endTime"
              nzFormat="HH:mm"
            ></nz-time-picker>
          </div>
        </div>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Hệ số</span><span class="star">*</span>
        <div class="form-control mt-1" style="background: #dddddd">{{formGroup.value.rate}}</div>
      </div>
      <div class='mb-3 d-flex flex-column'>
        <div>
          <span class='font-weight-bold'>Khấu trừ theo</span><span class="star">*</span>
        </div>
        <nz-radio-group nzDisabled="{{true}}">
          <label nz-radio [nzValue]="item.value" *ngFor="let item of priceTypeConstant">{{item.name}}</label>
        </nz-radio-group>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Ràng buộc ngày lễ:</span>
        <label nz-checkbox nzDisabled="true" class="ml-2" formControlName="constraintHoliday"></label>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Ràng buộc theo tăng ca:</span>
        <label nz-checkbox nzDisabled="true" class="ml-2" formControlName="constraintOvertime"></label>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Đơn giá</span>
        <input *ngIf="formGroup.value?.template?.id === 0 else price" nz-input type="number" formControlName='price'>
        <ng-template #price>
          <div class="form-control" style="background: #dddddd">{{
            this.formGroup.value?.price ?(this.formGroup.value?.price|number:'1.0-0' ):
              formGroup.value.template.
            }} </div>
        </ng-template>
      </div>
      <div class='mb-3'>
        <span class='font-weight-bold'>Chú thích</span>
        <input nz-input placeholder='Nhập chú thích ' formControlName='note'>
      </div>
    </form>
  </ng-template>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="indexStep > 0 && data?.salary">
      <span>Trở lại</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="indexStep < 1">
      <span>Tiếp theo</span>
    </button>
    <button nz-button nzType="primary" (click)="onSubmit()" *ngIf="indexStep === 1">
      <span>Xác nhận</span>
    </button>
    <button nz-button nzType="default" (click)="onClose()">
      <span>Huỷ</span>
    </button>
  </div>
</div>

