<div>
  <button (click)='addCustomer()' class='btn border ml-3 mt-2 d-flex align-items-center'>
    <img src='../../../../assets/icon/share/plus-lg.svg' alt='add'>
    <span class='ml-1 font-xl' style='color:#20a8d8;'> Thêm khách hàng</span>
  </button>
  <div class='fixTableHead mt-2 border-top' style='width: 100%; max-height: 40vh'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='0.1'
       [scrollWindow]='false'
       (scrolled)='onScroll()'>
    <table [formGroup]='formGroup'>
      <thead>
      <tr >
        <th >
          <div >Tất cả</div>
          <mat-checkbox *ngIf='data.pickMore'
                        class='example-margin m-auto '
                        [checked]='isSelectAll'
                        [indeterminate]='someComplete()'
                        (change)='setAll($event.checked)'>
          </mat-checkbox>
          <input  disabled *ngIf='data.pickOne||pickOne'>
        </th>
        <th>
          <div >Tên Khách hàng</div>
          <input class='form-control input-profile'
                 type='text'
                 placeholder='PN10001'
                 formControlName='name'
          >
        </th>
        <th>
          <div >Loại khách hàng</div>
          <select class='select border-top border-bottom' style='width: 100%' matNativeControl required formControlName='type'>
            <option value='{{customerType.RETAIL}}'>Bán lẻ</option>
            <option value='{{customerType.AGENCY}}'>Đại lý</option>
            <option value=''>Tất cả</option>
          </select>
        </th>
        <th>
          <div class=' border-top'>Nguồn khách hàng</div>
          <select class='select border-top border-bottom' style='width: 100%' matNativeControl required formControlName='resource'>
            <option value='{{resourceType.RESEARCH}}'>Tra cứu</option>
            <option value='{{resourceType.INTRODUCED}}'>Giới thiệu</option>
            <option value='{{resourceType.SELF_FIND}}'>Tự tìm</option>
            <option value='{{resourceType.OTHER}}'>Khác</option>
            <option value=''>Tất cả</option>
          </select>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let customer of customers'>
        <th class='py-2'>
          <mat-checkbox *ngIf='data.pickMore'
                        class='checkID'
                        [checked]='customer.isSelect ? customer.isSelect: false'
                        [(ngModel)]='customer.isSelect'
                        (ngModelChange)='updateAllSelect(customer.id)'>
          </mat-checkbox>
          <input
            style='height: 12px ; margin: auto'
            (change)='pickOneCustomer()'
            *ngIf='data.pickOne||pickOne'
            type='radio' name='pick-one'
            value='{{customer.id}}'>
        </th>
        <th class='pointer'>{{customer.firstName}} {{customer.lastName}}</th>
        <th *ngIf='customer?.type === customerType.AGENCY'> Đại lý</th>
        <th *ngIf='customer?.type === customerType.RETAIL'> Bán lẻ</th>
        <th *ngIf='customer?.type === undefined'> Chưa cập nhật</th>
        <th *ngIf='customer?.resource === resourceType.RESEARCH'> Tra cứu</th>
        <th *ngIf='customer?.resource === resourceType.INTRODUCED'> Giới thiệu</th>
        <th *ngIf='customer?.resource === resourceType.SELF_FIND'>Tự tìm</th>
        <th *ngIf='customer?.resource === resourceType.OTHER'> Khác</th>
        <th *ngIf='!customer?.resource'>Chưa cập nhật</th>
      </tr>
      <tr *ngIf='!customers || customers.length === 0 ' style='height: 150px'
          class=' d-flex justify-content-center align-content-center'>
        <td colspan='10'>
          Hiện chưa có khách hàng nào!
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button *ngIf='data.pickOne' class='btn btn-primary mt-2' (click)='closeDialog()' mat-dialog-close> xác nhận
  </button>
</div>


