<div class="main-popup">
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='assets/icon/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <button (click)='addCustomer()' class='btn border  mt-2 d-flex align-items-center'>
    <img src='../../../../assets/icon/share/plus-lg.svg' alt='add'>
    <span class=' font-xl ml-1' style='color:#20a8d8;'> Thêm khách hàng</span>
  </button>
  <div class='fixTableHead mt-2 border-top' style='width: 100%; max-height: 40vh'
       infiniteScroll
       [alwaysCallback]='true'
       [infiniteScrollDistance]='0.1'
       [infiniteScrollThrottle]='10'
       [scrollWindow]='false'
       (scrolled)='onScroll()'>
    <table [formGroup]='formGroup'>
      <thead>
      <tr>
        <th style='width: 150px'>
          <div>Tất cả</div>
          <mat-checkbox
            *ngIf='data.pickMore'
            class='example-margin m-auto '
            [checked]='isSelectAll'
            [indeterminate]='someComplete()'
            (change)='setAll($event.checked)'>
          </mat-checkbox>
          <input disabled *ngIf='data.pickOne || pickOne'>
        </th>
        <th>
          <div>Tên Khách hàng</div>
          <input
            class='form-control input-profile'
            type='text'
            placeholder='PN10001'
            formControlName='name'
          >
        </th>
        <th>
          <div>Số điện thoại</div>
          <input
            [disabled]='true'
            class='form-control input-profile'
            type='text'
            placeholder='0123456789'
            formControlName='name'
          >
        </th>
        <th>
          <div>Loại khách hàng</div>
          <select class='select border-top border-bottom' style='width: 100%' matNativeControl required
                  formControlName='type'>
            <option value='{{customerType.RETAIL}}'>Bán lẻ</option>
            <option value='{{customerType.AGENCY}}'>Đại lý</option>
            <option value=''>Tất cả</option>
          </select>
        </th>
        <th>
          <div class=' border-top'>Nguồn khách hàng</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let customer of customers'>
        <th class='py-2'>
          <mat-checkbox
            *ngIf='data.pickMore'
            class='checkID'
            [checked]='customerIds.includes(customer.id)'
            (change)='updateAllSelect(customer.id)'>
          </mat-checkbox>
          <input
            style='height: 12px ; margin: auto'
            (change)='pickOneCustomer()'
            [checked]='customer.id === customerId'
            *ngIf='data.pickOne || pickOne'
            type='radio' name='pick-one'
            value='{{customer.id}}'>
        </th>
        <th class='pointer'>{{customer.lastName}}</th>
        <th class='pointer'>{{customer.phone}}</th>
        <th>{{customer?.type  | transform:CustomerTypeConstant }} </th>
        <th> {{customer?.resource | transform:customerResourcesConstant}}</th>
      </tr>
      <tr *ngIf='!customers || customers.length === 0 ' style='height: 150px'
          class=' d-flex justify-content-center align-content-center'>
        <td colspan='10'>
          Hiện chưa có khách hàng nào!
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button *ngIf='data.pickOne' class='btn btn-primary mt-2' (click)='closeDialog()' mat-dialog-close> xác nhận
  </button>
</div>


