<div class='main-customer' style='width: 85%; margin-left: 7%;'>
  <div class='row h3 ml-3 mt-3'>Danh sách Tuyến đường</div>
  <div class='main-profile'>
    <button (click)='add()' class='btn btn-primary'>Thêm Tuyến đường</button>
    <div class='header-profile mt-3 animated fadeIn'>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tên Tuyến đường</div>
        <input class='form-control input-profile ' type='text' placeholder='Trần Gia Hiệu'>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Ngày bắt đầu</div>
        <input class='form-control input-profile ' type='date'>
      </div>
      <div class='border-start title-header default'>
        <div class='title-profile'>Ngày Kết thúc</div>
        <input class='form-control input-profile ' type='date'>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Tên Tài xế</div>
        <input class='form-control input-profile ' type='text' placeholder='Trần Gia Hiệu'>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Biển số xe</div>
        <input class='form-control input-profile ' type='text' placeholder='77G1-55555'>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>Nhà xe</div>
        <input class='form-control input-profile ' type='text' placeholder='Nhập nhà xe'>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>latitude</div>
        <input class='form-control input-profile ' type='number'>
      </div>
      <div class='border-start title-header name'>
        <div class='title-profile'>longitude</div>
        <input class='form-control input-profile ' type='number'>
      </div>
    </div>

    <div class='outer   animated fadeIn'
         infiniteScroll
         [infiniteScrollDistance]='1'
         [infiniteScrollThrottle]='100'
         [scrollWindow]='false'
         (scrolled)='onScroll()'
         *ngIf='(routes$| async) as routes'
    >
      <div class='row-content' *ngFor='let route of routes'
           (click)='detailRoute(route.id)'
           (contextmenu)='child.onContextMenu($event,route)'>
        <app-mouse-right
          #child (addEvent)='add()'
          (deleteEvent)='deleteRoute($event)'>
        </app-mouse-right>
        <div class='content-profile name pointer '>{{route?.name}}</div>
        <div class='content-profile default pointer ' *ngIf='route.startedAt !== null'>
          {{route?.startedAt|date:'dd/MM/yyyy'}}
        </div>
        <div class='content-profile default pointer ' *ngIf='route.startedAt === null'>
          Chưa cập nhật
        </div>
        <div class='content-profile default pointer ' *ngIf='route.endedAt !== null'>
          {{route?.endedAt|date:'dd/MM/yyyy'}}
        </div>
        <div class='content-profile default pointer ' *ngIf='route.endedAt === null'>
          Chưa cập nhật
        </div>
        <div class='content-profile name pointer' *ngIf='route.driver'>{{route?.driver}}</div>
        <div class='content-profile name pointer' *ngIf='!route.driver'>
          {{route?.employee?.firstName}} {{route?.employee?.lastName}}</div>
        <div class='content-profile name pointer '>{{route?.bsx}}</div>
        <div class='content-profile name pointer '>{{route?.garage}}</div>
        <div class='content-profile name pointer '>{{route?.latitude}}</div>
        <div class='content-profile name pointer '>{{route?.longitude}}</div>
      </div>
    </div>
  </div>
</div>


