<div class="d-flex">
  <div class="d-flex flex-column ml-3 border p-2" style="height: 80vh;overflow-y: scroll; width:280px ">
    <nz-collapse>
      <nz-collapse-panel
        nzHeader="Tìm kiếm"
        nzActive="true">
        <div [formGroup]="formGroup">
          <input nz-input class="form-control" type="search" formControlName="search">
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <div class="mt-2">
      <minhdu-fontend-collapse-status [formGroup]="formGroup" [active]="true"  header="Trạng thái tuyến xe" [radios]="radios">
      </minhdu-fontend-collapse-status>
    </div>
    <div class='mt-2'>
      <minhdu-fontend-collapse-datepicker [title]="'Ngày bắt đầu'"
                                          (onPicker)='onPickStartedDay($event)'></minhdu-fontend-collapse-datepicker>
    </div>
    <div class='mt-2'>
      <minhdu-fontend-collapse-datepicker title='Ngày kết thúc'
                                          (onPicker)='onPickEndedAtDay($event)'></minhdu-fontend-collapse-datepicker>
    </div>
  </div>
  <div class="ml-3" style='width: 76vw; height: 80vh'>
    <div class="d-flex justify-content-between">
      <div class=' h3 mt-3 '>
        Danh sách tuyến đường
      </div>
      <div class='d-flex justify-content-between mt-3'>
        <button (click)='add()' class='btn btn-primary font-lg '>Thêm</button>
        <a (click)='printRouter()' target='_blank' download='data.xlsx'
           class='btn text-white btn-primary font-lg ml-3'>Xuất</a>
      </div>
    </div>
    <div class='my-3'>
      <nz-table #tableRoute
                [nzScroll]="{ x: '2000px',y: '70vh'}"
                nzSize='default'
                [nzFrontPagination]='true'
                [nzShowPagination]='false'
                [nzData]="(routes$|async)">
        <thead>
        <tr>
          <th nzWidth="50px"></th>
          <th nzWidth="70px">STT</th>
          <th>
            Tên Tuyến đường
          </th>
          <th>
            Ngày bắt đầu
          </th>
          <th>
            Ngày Kết thúc
          </th>
          <th>
            Tên Tài xế
          </th>
          <th>
            Khách hàng
          </th>
          <th>
            Biển số xe
          </th>
          <th>
            Nhà xe
          </th>
          <th>
            Trạng thái chuyến xe
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-template ngFor let-route [ngForOf]="tableRoute.data" let-i='index'>
          <tr (contextmenu)='child.onContextMenu($event, route)' class='pointer'>
            <td [(nzExpand)]='route.expand'></td>
            <td (click)='detailRoute(route.id, false)'>{{i + 1}}</td>
            <td (click)='detailRoute(route.id, false)'>{{route?.name || 'Chưa cập nhật'}}</td>
            <td (click)='detailRoute(route.id, false)'>
              {{(route?.startedAt | date:'dd/MM/yyyy') || 'Chưa cập nhật'}}
            </td>
            <td (click)='detailRoute(route.id, false)'>
              {{(route?.endedAt | date:'dd/MM/yyyy') || 'Chưa cập nhật'}}
            </td>
            <td (click)='detailRoute(route.id, false)'>{{route?.driver || route?.employee?.lastName}}</td>
            <td (click)='detailRoute(route.id, false)'>
              <div class=' d-flex align-items-center justify-content-center pointer ' [ngClass]='{
              "border-top": route.orders.length > 1 && index  !== 0
              }' *ngFor='let order of route.orders; let index = index'>
                {{order.customer.lastName}}
              </div>
            </td>
            <td (click)='detailRoute(route.id, false)'>{{route?.bsx || 'Chưa cập nhật'}}</td>
            <td (click)='detailRoute(route.id, false)'>{{route?.garage || 'Chưa cập nhật'}}</td>
            <td (click)='detailRoute(route.id, false)'>
              {{route.endedAt && route.endedAt.getTime() < today ? 'Hoàn thành' : 'Đang chạy' }}
            </td>
          </tr>
          <tr [nzExpand]='route.expand'>
            <nz-table #innerTable [nzData]='route.orders' nzSize='small' [nzShowPagination]='false'>
        <thead>
        <tr>
          <th class="text-center">Tên khách hàng</th>
          <th class="text-center">Ngày tạo</th>
          <th class="text-center">Điểm đến</th>
          <th class="text-center">Tiền hàng</th>
          <th class="text-center">Tổng hàng hoá</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of innerTable.data">
          <td>{{order.customer.lastName}}</td>
          <td>{{order.createdAt|date:'dd-MM-yyyy'}}</td>
          <td>{{order?.province?.name}} - {{order?.district?.name}} - {{order?.ward?.name}}</td>
          <td>{{order?.commodityTotal|number:'1.0-0'}} đ</td>
          <td>{{order?.totalCommodity|number:'1.0-0'}}</td>
        </tr>
        </tbody>
      </nz-table>
      </tr>
      </ng-template>
      </tbody>
      </nz-table>
    </div>
  </div>
</div>


<app-mouse-right
  #child
  [items]='[ItemContextMenu.ENDED_AT]'
  (onAdd)='add()'
  (onDel)='deleteRoute($event)'
  (onUpdate)='detailRoute($event.id, true)'
  (onEnd)='onEnd($event)'
>
</app-mouse-right>
