<h2 mat-dialog-title>{{data.isUpdate ? 'Sửa nhân viên' : 'Thêm nhân viên'}} </h2>
<mat-dialog-content class='mat-typography'>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <div class='form-group'>
      <div class='row'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='name'>{{data.isUpdate ? 'Sửa nhân viên' : 'Thêm nhân viên'}} <span>*</span>
          </label>
          <input type='text' class='form-control' id='name' placeholder='Trần Hữu Long' formControlName='name'>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='address'>Địa chỉ</label>
          <input
            class='form-control'
            formControlName='address'
            id='address'
            placeholder='Tạp hoá Xuân Phước Hiệp'
            type='text'
          >
        </div>
      </div>
      <div class='row'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='cmnd'>CMND/CCCD <span>*</span></label>
          <input type='number' class='form-control' id='cmnd' placeholder='215421236' formControlName='identify'>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='idCardAt'>Ngày cấp <span>*</span></label>
          <input
            type='date'
            placeholder='06/05/1997'
            class='form-control'
            id='idCardAt'
            formControlName='idCardAt'
          >
        </div>
      </div>
      <div class='row'>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='branch'>Đơn vị công tác <span>*</span></label>
          <mat-select
            id='branch'
            class='form-control'
            formControlName='branch'
          >
<!--            <mat-option *ngFor='let branch of branches$ | async' [value]='branch' (click)='onBranch(branch)'>-->
<!--              {{branch.name}}-->
<!--            </mat-option>-->
          </mat-select>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='department'>Bộ phận công tác <span>*</span></label>
          <mat-select name='department' id='department' class='form-control' formControlName='department'>
<!--            <mat-option *ngFor='let department of departments' [value]='department' (click)='onDepartment(department)'>-->
<!--              {{department.name}}-->
<!--            </mat-option>-->
          </mat-select>
        </div>
        <div class='col-sm' [formGroup]='formGroup'>
          <label for='position'>Chức vụ <span>*</span></label>
          <mat-select id='position' class='form-control' formControlName='position'>
<!--            <mat-option *ngFor='let position of positions' [value]='position'>-->
<!--              {{position.name}}-->
<!--            </mat-option>-->
          </mat-select>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='phone'>Số điện thoại <span>*</span></label>
        <input type='tel' class='form-control' id='phone' placeholder='0337552146' formControlName='phone'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='birthday'>Ngày sinh <span>*</span></label>
        <input type='date' id='birthday' class='form-control' formControlName='birthday'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='gender'>Giới tính<span>*</span></label>
        <div id='gender'>
          <mat-radio-group class='d-flex justify-content-around' formControlName='gender'>
            <mat-radio-button value='MALE'>Nam</mat-radio-button>
            <mat-radio-button value='FEMALE'>Nữ</mat-radio-button>
            <mat-radio-button value='OTHER'>Khác</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='salary-type'>Loại lương <span>*</span></label>
        <mat-select name='position' id='salary-type' class='form-control' formControlName='salaryType'>
          <mat-option value='flat'>
            Lương cố định
          </mat-option>
          <mat-option value='notFlat'>
            Lương không cố định
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div *ngIf='data.isUpdate' class='mt-4' [formGroup]='formGroup'>
      <label for='stayedAt'>Ngày khai báo tạm trú tạm vắng</label>
      <input
        id='stayedAt'
        type='date'
        class='form-control'
        formControlName='stayedAt'
      >
    </div>
    <div class='mt-4' [formGroup]='formGroup'>
      <label for='workedAt'>Ngày vào làm chính thức</label>
      <input
        id='workedAt'
        type='date'
        class='form-control'
        formControlName='workedAt'
      >
    </div>
    <div class='mt-4' [formGroup]='formGroup'>
      <label for='createdAt'>Ngày vào làm </label>
      <input
        id='createdAt'
        type='date'
        class='form-control'
        formControlName='createdAt'
      >
    </div>

    <div class='mt-4' [formGroup]='formGroup'>
      <label for='note'>Ghi chú</label>
      <input
        id='note'
        type='text'
        class='form-control'
        formControlName='note'
      >
    </div>

    <div class='row d-flex mt-3 justify-content-center'>
      <button type='button' mat-dialog-close class='btn btn-secondary'>Huỷ</button>
      <button type='submit' mat-dialog-close class='btn btn-dark ml-2'> Xác nhận</button>
    </div>
  </form>
</mat-dialog-content>
