<div>
  <nz-table
    #tableOrder
    nzSize='middle'
    [nzScroll]="{ y: '450px' }"
    [nzData]='orders'
    [nzLoading]='loading'
    [nzPageSize]='pageSizeTable'
    [nzShowPagination]='false'
    [nzFrontPagination]='false'
    [nzBordered]='true'
  >
    <thead [formGroup]='formGroup'>
    <tr>
      <th nzWidth='50px'>
        STT
      </th>
      <th nzWidth='50px' *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
        ID
      </th>
      <th>
        <div>Ngày tạo</div>
        <nz-range-picker
          formControlName='createdAt'
          [tooltip]="tooltipRanges('createdAt')"
        ></nz-range-picker>
      </th>
      <th>
        <div class=''>Điểm đến</div>
        <input formControlName='province' nz-input type='search' />
      </th>
      <th>
        Tiền đơn hàng
      </th>
      <th>
        Tiền thanh toán
      </th>
      <th *ngIf='type === OrderTypeEnum.DELIVERED'>
        <div>Ngày giao hàng</div>
        <nz-range-picker
          formControlName='deliveredAt'
          [tooltip]="tooltipRanges('deliveredAt')"
        ></nz-range-picker>
      </th>
      <th *ngIf='type === OrderTypeEnum.DELIVERING'>
        Diễn giải
      </th>
      <th *ngIf='type !== OrderTypeEnum.CANCELLED' nzWidth='120px'>
        <div>Thanh toán</div>
      </th>
      <th *ngIf='type === OrderTypeEnum.CANCELLED'>
        Ngày huỷ
      </th>
      <th *ngIf='type === OrderTypeEnum.DELIVERING' nzWidth='120px'>
        Đã giao
      </th>
      <th [nzWidth]='type === OrderTypeEnum.DELIVERING ? "80px" : "120px"'>
        {{type === OrderTypeEnum.DELIVERING ? 'Hủy' : 'Khôi phục'}}
      </th>
      <th nzWidth='90px' *ngIf='type === OrderTypeEnum.DELIVERED'>
        Ẩn nợ
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-order [ngForOf]='tableOrder.data' let-i='index'>
      <tr class='pointer' (click)='onDetail(order.id)'>
        <td>
          {{ i + 1 }}
        </td>
        <td *ngIf='(account$ | async)?.mode === ModeEnum.INFO'>
          {{ order.id }}
        </td>
        <td>
          {{ (order?.createdAt | date: 'dd/MM/yyyy') || 'Đang cập nhật' }}
        </td>
        <td>
          {{ order?.ward ? (order.ward?.name + ' - ') : ''}}
          {{ order?.district ? (order.district?.name + ' - ') : '' }}
          {{ order.province.name }}
        </td>
        <td style='color: #f86c6b'>
          {{ order.priceTotal | number: '1.0-0' | notEmpty: '0' }} đ
        </td>
        <td style='color: #20c997'>
          {{ order?.paymentTotal | number: '1.0-0' | notEmpty: '0' }} đ
        </td>
        <td *ngIf='type === OrderTypeEnum.DELIVERED'>
          {{ order?.deliveredAt | date: 'dd/MM/yyyy' }}
        </td>
        <td *ngIf='type === OrderTypeEnum.DELIVERING'>
          {{ order?.explain || 'Không có nội dung' }}
        </td>
        <td *ngIf='type !== OrderTypeEnum.CANCELLED' (click)='$event.stopPropagation()'>
          <button nz-button nzType='primary' (click)='payment(order)'>
            Thanh toán
          </button>
        </td>
        <td *ngIf='type === OrderTypeEnum.CANCELLED'>
          {{ order?.cancelledAt | date: 'dd/MM/yyyy' }}
        </td>
        <td *ngIf='type === OrderTypeEnum.DELIVERING' (click)='$event.stopPropagation()'>
          <button nz-button nzType='default' (click)='onConfirm(order)'>
            Đã giao
          </button>
        </td>
        <td (click)='$event.stopPropagation()'>
          <button
            nz-button
            nzDanger
            nzType='primary'
            (click)='cancel(order)'
          >
            {{type === OrderTypeEnum.DELIVERING ? 'Huỷ' : 'Khôi phục'}}
          </button>
        </td>
        <td *ngIf='type === OrderTypeEnum.DELIVERED' (click)='$event.stopPropagation()'>
          <nz-switch
            class='m-auto'
            [(ngModel)]='order.hide'
            (ngModelChange)='hide(order)'
          ></nz-switch>
        </td>
      </tr>
    </ng-template>
    <tr *ngIf='orderRemaining()'>
      <td colspan='10'>
        <div
          class='w-100 d-flex justify-content-start'
          style='position: relative'
        >
          <button
            nz-button
            nzGhost
            nzType='primary'
            style='position: sticky; left: 45vw'
            [nzLoading]='orderLoading()'
            (click)='onLoadMore()'
          >
            Tải thêm
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
