<button
  mat-dialog-close
  routerLink="/customer"
  class="btn font-lg overflow-hidden d-flex align-items-center"
>
  <img
    class="mr-1"
    src="../../assets/icon/sell-layout/building.svg"
    alt="home"
  />
  Khách hàng
</button>
<!--      <button routerLink="/commodity"  class='btn font-lg overflow-hidden d-flex align-items-center '>-->
<!--        <img class='mr-1' src='../../assets/icon/sell-layout/box.svg' alt='home'>-->
<!--        Hàng hóa </button>-->
<button
  mat-dialog-close
  routerLink="/order"
  class="btn font-lg overflow-hidden d-flex align-items-center"
>
  <img class="mr-1" src="./assets/icon/sell-layout/cart.svg" alt="home" />
  Đơn hàng
</button>
<button
  mat-dialog-close
  routerLink="/route"
  class="btn font-lg overflow-hidden d-flex align-items-center"
>
  <img class="mr-1" src="/assets/icon/sell-layout/car.svg" alt="home" />
  Tuyến đường
</button>
<button
  mat-dialog-close
  routerLink="/bill"
  class="btn font-lg overflow-hidden d-flex align-items-center"
>
  <img class="mr-1" src="/assets/icon/sell-layout/file-text.svg" alt="home" />
  Hóa đơn
</button>
<button
  routerLink="/statistical"
  class="btn font-lg overflow-hidden d-flex align-items-center"
>
  <img class="mr-1" src="/assets/icon/sell-layout/graph-up.svg" alt="home" />
  Thống kê
</button>
