<form [formGroup]='formGroup'>
  <div class='form-group'>
    <div class='row'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='firstName'>Họ</label><span class='star'>*</span>
        <input type='text' class='form-control' id='firstName' placeholder='Trần' formControlName='firstName'
               [ngClass]="{ 'is-invalid': submitted && form.firstName.errors?.required  }">
        <div *ngIf='submitted && form.firstName.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập tên</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='lastName'>Tên</label><span class='star'>*</span>
        <input
          class='form-control'
          formControlName='lastName'
          id='lastname'
          placeholder='Hiệu'
          type='text'
          [ngClass]="{ 'is-invalid': submitted && form.lastName.errors?.required }"
        >
        <div *ngIf='submitted && form.lastName.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập họ</div>
        </div>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='religion'>Tôn giáo
        </label>
        <input type='text' class='form-control' id='religion' placeholder='Không' formControlName='religion'>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='ethnicity'>Dân tộc
        </label>
        <input
          class='form-control'
          formControlName='ethnicity'
          id='ethnicity'
          placeholder='Kinh'
          type='text'
        >
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='birthplace'>Nguyên quán</label><span class='star'>*</span>
        <input
          class='form-control'
          formControlName='birthplace'
          id='birthplace'
          placeholder='Phước Sơn - Tuy Phước - Bình Định '
          type='text'
          [ngClass]="{ 'is-invalid': submitted && form.birthplace.errors?.required }"
        >
        <div *ngIf='submitted && form.birthplace.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập nguyên quán</div>
        </div>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='address'>Địa chỉ</label><span class='star'>*</span>

        <input
          class='form-control'
          formControlName='address'
          id='address'
          placeholder='Số nhà / thôn xóm'
          type='text'
          [ngClass]="{ 'is-invalid': submitted && form.address.errors?.required }"
        >
        <div *ngIf='submitted && form.address.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập địa chỉ</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='note'>Ghi chú</label>
        <input
          id='note'
          type='text'
          class='form-control'
          formControlName='note'
        >
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='identify'>CMND/CCCD</label><span class='star'>*</span>
        <input type='number' class='form-control' id='identify' placeholder='215421236' formControlName='identify'
               [ngClass]="{ 'is-invalid': submitted && form.identify.errors?.required }">
        <div *ngIf='submitted && form.identify.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập CMND/CCCD</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='idCardAt'>Ngày cấp</label><span class='star'>*</span>
        <input
          type='date'
          placeholder='06/05/1997'
          class='form-control'
          id='idCardAt'
          formControlName='idCardAt'
          [ngClass]="{ 'is-invalid': submitted && form.idCardAt.errors?.required }"
        >
        <div *ngIf='submitted && form.idCardAt.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập ngày cấp</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='issuedBy'>Nơi cấp </label><span class='star'>*</span>
        <input type='text' class='form-control' id='issuedBy' placeholder='Bình Định' formControlName='issuedBy'
               [ngClass]="{ 'is-invalid': submitted && form.issuedBy.errors?.required }">
        <div *ngIf='submitted && form.issuedBy.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập nơi cấp</div>
        </div>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='phone'>Số điện thoại </label><span class='star'>*</span>
        <input type='tel' class='form-control' id='phone' placeholder='0337552146' formControlName='phone'
               [ngClass]="{ 'is-invalid': submitted && form.phone.errors?.required }">
        <div *ngIf='submitted && form.phone.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập số điện thoại</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='birthday'>Ngày sinh </label><span class='star'>*</span>
        <input type='date' id='birthday' class='form-control' formControlName='birthday'
               [ngClass]="{ 'is-invalid': submitted && form.birthday.errors?.required }">
        <div *ngIf='submitted && form.birthday.errors?.required ' class='invalid-feedback'>
          <div>Chưa nhập ngày sinh</div>
        </div>
      </div>
      <div class='col-sm' [formGroup]='formGroup'>
        <label for='gender'>Giới tính</label><span class='star'>*</span>
          <mat-radio-group class='d-flex justify-content-around' formControlName='gender' id='gender'>
            <mat-radio-button value='MALE'>Nam</mat-radio-button>
            <mat-radio-button value='FEMALE'>Nữ</mat-radio-button>
            <mat-radio-button value='OTHER'>Khác</mat-radio-button>
          </mat-radio-group>
        <div *ngIf='submitted && form.gender.errors?.required ' class='invalid-feedback ng-star-inserted' >
          <div>Chưa chọn giới tính</div>
        </div>
      </div>
    </div>
  </div>
</form>

