  <div>
     <div (click)='selectTypeAddMultiple(salaryType.BASIC)'
          class='pointer border rounded  border-primary p-1 my-1 w-100 d-flex align-items-center justify-content-between'>
       <span style='color: #1b8eb7' class='title-item col'>Thêm lương cơ bản</span>
     </div>
    <div (click)='selectTypeAddMultiple(salaryType.STAY)'
         class='pointer border rounded  border-primary p-1 my-1 w-100 d-flex align-items-center justify-content-between'>
      <span style='color: #1b8eb7' class='title-item col'>Thêm Phụ cấp</span>
    </div>
  </div>

