<div class='px-5 py-3 main-popup'>
  <div mat-dialog-close class='close-popup'>
    <span class='mr-1'> close</span>
    <div class='x-popup'>
      <img src='../../../../../assets/img/share/x2-lg.svg' alt='cancel'>
    </div>
  </div>
  <form [formGroup]='formGroup' (submit)='onSubmit()'>
    <div *ngIf='data.type === type.BASIC ' class='form-group'>
      <div class='row mb-5 title-popup'>
        <span> Lương cơ bản</span>
      </div>
      <div class='contract-salary'>
        <div class='row title-item mb-1'>
          <span>Loại lương</span>
          <div class='star'>*</div>
        </div>
        <div class='row mb-3' [formGroup]='formGroup'>
          <mat-select [disabled]='data.salary' class='form-control col' formControlName='type'
            [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <mat-option *ngFor="let salary of salaries" value='{{salary.type}}'
              (click)='onCheckValue(salary.type !== type.BASIC_INSURANCE)'>
              {{salary.title}}
            </mat-option>
          </mat-select>
          <div *ngIf='submitted && f.type.errors?.required' class='invalid-feedback'>
            <div>Chưa chọn loại lương</div>
          </div>
        </div>
      </div>
      <div class='basic-salary'>
        <div class='row title-item mb-1'>
          <span>Mức lương</span>
          <div class='star'>*</div>
        </div>
        <div class='row mb-3' [formGroup]='formGroup' *ngIf='checkSalary'>
          <input class='form-control' type='text' placeholder='Nhập mức lương' formControlName='price' inputCurrency
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
          <div *ngIf='submitted && f.price.errors?.required' class='invalid-feedback'>
            <div>Chưa nhập mức lương</div>
          </div>
        </div>
        <div class='row mb-3' [formGroup]='formGroup' *ngIf='!checkSalary'>
          <mat-select class='form-control col' formControlName='price'
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
            <mat-option *ngFor='let item of templateBasicSalary$ | async' [value]='item.price'>
              {{item.price|number:'1.0-0'}}đ
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div class='footer-popup row'>
      <button class='btn btn-ok '>Lưu</button>
      <button type='button' class='btn  award' data-toggle='tooltip' data-placement='left' title='xóa'>
        ?
      </button>
    </div>
  </form>
</div>
